<div class="managed-content" id="090040be803bd7e2">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<h1>Latest News</h1>


<p>&nbsp;</p>


<p>Here is the latest news on what&rsquo;s happening on AIA Vitality:</p>


<div class="news_articles">

<div class="news_article">

<div class="clearfix">

<div class="article_img hidden-xs">
<img src="/vitality_aia_au/web/linked_content/images/about_us/aia_mobile_app.jpg"></div>


<div class="article_content">

<h3 class="title">
<a class="article_link" href="vitality_aia_mobile_app">Introducing the AIA Vitality mobile app</a>
</h3>


<p class="descr">The AIA Vitality mobile app is your mobile wellness partner that&rsquo;ll help you keep track of your health and fitness progress on the go.</p>

</div>

</div>


<p class="link">
<a class="article_link" href="vitality_aia_mobile_app">Read More</a>
</p>

</div>

</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div id="insert_date_selection_block" style=" display: block;">

<div id="insert_date_selection_block" style=" display: block;">

<div class="product-box">

<div class="title blue">

<h1>News Archive</h1>

</div>


<div class="box-content">

<div class="content-text"></div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>

</div>
</div>
