<div class="managed-content" id="090040be803bd7e0">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man" style=" display: block;"></div>


<div>

<h1>
<b>Introducing the AIA Vitality mobile app</b>
</h1>


<hr align="left" size="1" width="100%">

<p>The AIA Vitality mobile app is your mobile wellness partner that&rsquo;ll help you keep track of your health and fitness progress on the go. You can use this app to log your daily food intake, track your workouts, calculate your calorie budget and even monitor your weight and BMI.</p>


<p>There&rsquo;s a great range of AIA Vitality tools to help you track your progress, and the AIA Vitality app will make your journey to better health easier and enjoyable!<br>

<br>
Use these great tools and make AIA Vitality a part of your daily routine.</p>


<h3 align="left">
<b>Record workouts</b>
</h3>


<p>The AIA Vitality app can track your running, walking, biking and more by using your phone&rsquo;s GPS. It remembers your preferred routes and also allows you to save them as favourites. You can monitor your speed, pace, distance, time and calories as you record each workout.</p>


<p>For AIA Vitality members, this app is very helpful as it not only records workouts; it helps you earn AIA Vitality Points at the same time. Recorded workouts sync automatically to your AIA Vitality account and you earn points for every qualifying workout.</p>


<h3>
<b>Log food intake and find out your calorie budget</b>
</h3>


<p>You can search and enter your food and beverage consumption over the course of a day and get nutritional analysis of foods selected. You can also keep track of your daily calories consumed, burned and how many you have remaining.</p>


<h4>
<b>BMI calculator and weight tracker</b>
</h4>


<p>Calculate your body mass index and compare against standard ranges to assess whether you are overweight, underweight, or normal weight.</p>


<h4>
<b>View AIA Vitality Points and Status</b>
</h4>


<p>AIA Vitality members can view their points statement and status on the go.</p>


<p>Download the app and start tracking your progress today!</p>


<p>
<a href="https://itunes.apple.com/au/app/aia-vitality-australia/id740456913?mt=8"><img src="/vitality_aia_au/web/linked_content/images/general/app_store.png"></a>&nbsp;<a href="https://play.google.com/store/apps/details?id=com.vitality.aia.au"><img src="/vitality_aia_au/web/linked_content/images/general/app_android.png"></a>
</p>


<p>
<span style=" font-size: x-small;">*Your participation in the AIA Vitality program is subject to the AIA Vitality Terms and Conditions. Health and wellness information contained in this news article or in the AIA Mobile app is for general information only, and does not constitute medical or other advice, for which you should seek appropriate professional advice; AIA Australia accepts no liability in this regard. AIA Australia Limited (ABN 79 004 837 861 AFSL 230043) 02/14 &ndash; VIT1959</span>
</p>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div id="insert_date_selection_block" style=" display: block;">

<div class="product-box">

<div class="title blue">

<h1>News Archive</h1>

</div>


<div class="box-content">

<div class="content-text"></div>

</div>

</div>

</div>
</div>
</div>
</div>

</div>
</div>
