<div class="managed-content" id="090040be804266e4">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div id="insert_running_man" style=" display: block;"></div>


<h1>Latest News</h1>


<p>&nbsp;</p>


<p>Here is the latest news on what&rsquo;s happening on AIA Vitality:</p>


<div class="news_articles">

<div class="news_article">

<div class="clearfix">

<div class="article_img hidden-xs">
<img src="/vitality_aia_au/web/linked_content/images/about_us/terms_conditions_update.jpg"></div>


<div class="article_content">

<h3 class="title">
<a class="article_link" href="terms_and_conditions_update">AIA Vitality Terms and Conditions update</a>
</h3>


<p class="descr">We&rsquo;ve made some changes to the AIA Vitality Terms and Conditions.</p>

</div>

</div>


<p class="link">
<a class="article_link" href="terms_and_conditions_update">Read More</a>
</p>

</div>

</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div id="insert_date_selection_block" style=" display: block;">

<div class="product-box">

<div class="title blue">

<h1>News Archive</h1>

</div>


<div class="box-content">

<div class="content-text"></div>

</div>

</div>

</div>
</div>
</div>
</div>

</div>
</div>
