<div class="managed-content" id="090040be8042673e">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man" style=" display: block;"></div>


<div>

<h1>
<b>AIA Vitality Terms and Conditions update</b>
</h1>


<hr align="left" size="1" width="100%">

<p>We&rsquo;ve made some changes to the AIA Vitality Terms and Conditions. A summary of the changes is listed below. Full Terms and Conditions can be viewed <a class="dialog_trigger rd_norm" data-href="/vmp-au/terms_and_conditions" data-target="terms_and_conditions_dialog" href="javascript:void(0)">here</a>.</p>


<ul class="disc">

<li>Amendments to take into account the additional policies that qualify as eligible policies.</li>


<li>Inclusion of offset functionality provisions setting out how we intend to treat payments received that differ from those due. Refer to page 8, section 9 for details.</li>


<li>Inclusion of a preventative activity section setting out how and when points can be claimed for preventative activities. Refer to page 6, section 6.6 for details.</li>


<li>Inclusion of a provision permitting us to undertake verification checks and other reviews of AIA Vitality memberships.</li>

</ul>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div id="insert_date_selection_block" style=" display: block;">

<div class="product-box">

<div class="title blue">

<h1>News Archive</h1>

</div>


<div class="box-content">

<div class="content-text"></div>

</div>

</div>

</div>
</div>
</div>
</div>

</div>
</div>
