<div class="managed-content" id="090040be803bda5d">
<div class="col-md-8 col-sm-12">
<h1>Know Your Health</h1>
</div>
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<p>AIA Vitality is the science-backed wellness programme that works with you to make real change to your health by adding up the benefits of every healthy choice you make, however small. So, you can live a healthy life that&rsquo;s rewarding in every way. Take the first step by completing your Vitality Health Review for a comprehensive view of how healthy you are.</p>
</div>
</div>
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>Assessments</h1>

</div>


<div class="box-content">

<p>When you sign up to AIA Vitality, you can earn AIA Vitality Points for learning about your health and can start your journey to better health here.</p>


<h4>Online Assessments</h4>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img class="image-right hidden-xs" src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_health_review_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/vitality_health_review"><span>Vitality Health Review</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn 1,000 points</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img class="image-right hidden-xs" src="/vitality_aia_au/web/linked_content/images/know_your_health/mental_wellbeing_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/mental_wellbeing"><span>Mental Wellbeing Assessment</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn up to 800 points</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img class="image-right hidden-xs" src="/vitality_aia_au/web/linked_content/images/know_your_health/non_smoker_declaration_icon.png"></td>
<td class="link"><a href="/vmp-au/improve_your_health/stop_smoking"><span>Non-smoker's Declaration</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn 1,000 points</span></td>

</tr>


</tbody>
</table>

</div>


<h4>Other Assessments</h4>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img class="image-right hidden-xs" src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_health_check_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/vitality_health_check"><span>AIA Vitality Health Check</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn up to 6,000 points</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img class="image-right hidden-xs" src="/vitality_aia_au/web/linked_content/images/know_your_health/screening_prevention_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/screening_and_prevention"><span>Advanced screenings</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn 1,000 points</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img class="image-right hidden-xs" src="/vitality_aia_sg/web/linked_content/images/know_your_health/vaccinations.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/screening_and_prevention"><span>Vaccinations</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn up to 1,500 points</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img class="image-right hidden-xs" src="/vitality_aia_au/web/linked_content/images/know_your_health/dental_assessment_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/screening_and_prevention"><span>Dental Assessment</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn 500 points</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img class="image-right hidden-xs" src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_nutrition_assessment_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/vitality_nutrition_assessment"><span>AIA Vitality Nutrition Assessment</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn up to 1,500 points</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img class="image-right hidden-xs" src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_fitnes_assessment_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/fitness_assessment"><span>AIA Vitality Fitness Assessment</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn up to 3,000 points</span></td>

</tr>


</tbody>
</table>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title blue">

<h1>Your Vitality Age</h1>

</div>


<div class="box-content">

<p>Your Vitality Age is a measure of how healthy you are relative to your real age. Fill out the <a href="/vmp-au/know_your_health/vitality_health_review">Vitality Health Review</a> to find out your Vitality Age</p>

</div>

</div>
</div>
</div>
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/improve_your_health/goals"><img src="/vitality_aia_au/web/linked_content/images/general/goals_lo.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
