<div class="managed-content" id="090040be8042300e">
                
<div class="row row-fluid">

<div class="row ">

<div class="col-md-8 col-sm-12 ">

<div id="insert_points_submission"></div>

</div>

</div>

</div>

</div>
