<div class="managed-content" id="090040be80427b38">
<div class="col-md-8 col-sm-12">
<h1>Screening and Prevention</h1>
</div>
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<p>Earn AIA Vitality Points for completing specified advanced screenings, health screenings, vaccinations and dental assessments. Find out where you can complete any of the <a href="/vitality_aia_au/web/linked_content/pdfs/rewards/aia_vitality_screenings_and_assessments.pdf" target="_blank">Screening and Prevention assessments here</a>. Assessments must be undertaken while you are a current AIA Vitality member and in your current membership year.</p>


<p>
<b>Claiming points</b>
</p>


<ol>

<li>Print the <a href="/vitality_aia_au/web/linked_content/pdfs/rewards/aia_vitality_advanced_screening_form.pdf" target="_blank">AIA Vitality Advanced Screening form</a> if you are not attending Chemmart, or an AIA Vitality Fitness Assessment or an AIA Vitality Nutrition Assessment with an AIA Vitality partner and take the form with you to your assessment</li>


<li>Have the form completed and signed by your Health Professional that undertook the assessment</li>


<li>
<a href="https://www.aiavitality.com.au/vmp-au/points_submission">Submit</a> your completed form</li>


<li>Points will be allocated within 24 hours of submission.</li>

</ol>
</div>
</div>
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="well white">

<div class="box-content">
<img class="image-left hidden-xs pad_tb10" src="/vitality_aia_au/web/linked_content/images/know_your_health/screening_prevention_icon.png" style=" max-width: 65px;"> 

<div class="col-md-10 col-sm-10">

<h3>
<b>Advanced Screenings</b>
</h3>

</div>


<table class="table-bordered table-condensed table-small rd_transpose">

<tr class="gradient2">

<td><b>Screen</b></td>
<td><b>Eligibility</b></td>
<td><b>Points awarded</b></td>
<td><b>Frequency</b></td>

</tr>


<tr>

<td>Mammogram</td>
<td>Females 50+ or as clinically appropriate</td>
<td>1,000</td>
<td>Every 2 years</td>

</tr>


<tr>

<td>Pap smear</td>
<td>Females 18+</td>
<td>1,000</td>
<td>Every 2 years</td>

</tr>


<tr>

<td>Colon cancer screen (FOBT)</td>
<td>Adults 50+ or as clinically appropriate</td>
<td>1,000</td>
<td>Every 2 years</td>

</tr>

</table>


<div class="pull-right">

<p>
<a class="btn_blue pull-right" href="/vmp-au/points_submission" style=" padding-bottom: 10px; padding-right: 10px; padding-top: 10px; padding-left: 10px;"><b>Claim Points</b></a>
</p>

</div>

</div>

</div>
</div>
</div>
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="well white">

<div class="box-content">
<img class="image-left hidden-xs pad_tb10" src="/vitality_aia_au/web/linked_content/images/know_your_health/vaccinations.png" style=" max-width: 65px;"> 

<div class="col-md-10 col-sm-10">

<h3>
<b>Vaccinations</b>
</h3>

</div>


<table class="table-bordered table-small table-condensed rd_transpose">

<tr class="gradient2">

<td><b>Vaccinations</b></td>
<td><b>Eligibility</b></td>
<td><b>Points awarded</b></td>
<td><b>Frequency</b></td>

</tr>


<tr>

<td>Flu vaccination</td>
<td>All AIA Vitality members 18+</td>
<td>500</td>
<td>Annually</td>

</tr>


<tr>

<td>HPV</td>
<td>Females 18 to 26 years</td>
<td>1,000</td>
<td>Once only on completion of the course</td>

</tr>

</table>


<div class="pull-right">

<p>
<a class="btn_blue pull-right" href="/vmp-au/points_submission" style=" padding-bottom: 10px; padding-right: 10px; padding-top: 10px; padding-left: 10px;"><b>Claim Points</b></a>
</p>

</div>

</div>

</div>
</div>
</div>
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="well white">

<div class="box-content">
<img class="image-left hidden-xs pad_tb10" src="/vitality_aia_au/web/linked_content/images/know_your_health/dental_assessment_icon.png" style=" max-width: 65px;"> 

<div class="col-md-10 col-sm-10">

<h3>
<b>Dental Assessments</b>
</h3>


<p>You can earn 500 AIA Vitality Points when you complete an annual dental assessment.</p>


<p>A dental assessment is an evaluation performed by a qualified dentist to check if there have been any changes in your dental and medical health status since your last comprehensive or periodic examination.</p>

</div>


<table class="table-bordered table-small table-condensed rd_transpose">

<tr class="gradient2">

<td><b>Assessment</b></td>
<td><b>Eligibility</b></td>
<td><b>Points awarded</b></td>
<td><b>Frequency</b></td>

</tr>


<tr>

<td>Annual dental check-ups</td>
<td>All Vitality members 18+</td>
<td>500</td>
<td>Annually</td>

</tr>

</table>


<div class="pull-right">

<p>
<a class="btn_blue pull-right" href="/vmp-au/points_submission" style=" padding-bottom: 10px; padding-right: 10px; padding-top: 10px; padding-left: 10px;"><b>Claim Points</b></a>
</p>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
