<div class="managed-content" id="090040be803bbf7e">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>Vitality Fitness Assessment</h1>

</div>


<div class="right earnPoints">
<span class="leftArrow">&nbsp;</span>&nbsp;<span class="centerEarns greenText">Up to 3,000 Points</span><span class="rightArrow">&nbsp;</span>
</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_fitnes_assessment_icon.png"></div>


<p>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn Vitality Points</span></a>
</p>

</div>


<div class="assessment-content">

<p>Before you start a fitness program, it's important to know more about your current fitness levels. AIA Vitality offers you a Fitness Assessment at Virgin Active or selected Anytime Fitness locations. You do not have to be a member of the gym to have this assessment done. The cost of this assessment is $35 inclusive of GST at Virgin Active, and $40 inclusive of GST at Anytime Fitness.</p>


<p>You can earn up to 3,000 AIA Vitality Points for completing the assessment if your results are in the healthy range.</p>


<p>&nbsp;</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_fitnes_assessment_icon.png"></div>


<p>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn Vitality Points</span></a>
</p>

</div>


<div class="assessment-content">

<p>The AIA Vitality Fitness Assessment is made up of:</p>


<ul>

<li>Medical history</li>


<li>Physical activity and readiness assessment</li>


<li>Fitness goals</li>


<li>Biometrics (blood pressure, height, weight, waist circumference and body fat percentage)</li>


<li>Step test</li>

</ul>


<p>You do not have to be a Virgin Active or Anytime Fitness member to have this assessment done.</p>


<p>You can earn up to 1,500 AIA Vitality Points for each AIA Vitality Fitness Assessment. Fitness Assessment points are capped at 3,000 points each membership year. You can earn the full 3,000 points from your AIA Vitality Fitness Assessment in a membership year if the assessments are done 6 months apart and the results are in the healthy range.</p>


<p>If your Fitness Assessment results are not in the healthy range you will only earn 300 points for doing each assessment.</p>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_fitnes_assessment_icon.png"></div>


<p>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn Vitality Points</span></a>
</p>

</div>


<div class="assessment-content">

<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> now to enjoy this benefit and start earning points</p>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>

</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>


<p>&nbsp;</p>
</div>
</div>
</div>

</div>
</div>
