<div class="managed-content" id="090040be803dfd68">
<div class="row row-fluid">
              
               
                
<div class="row">

<div class="col-md-8 col-sm-12">

<div id="insert_running_man"></div>

</div>

</div>


<div class="row">

<div class="col-md-12 col-sm-12">

<div id="insert_online_nutrition_assessment"></div>

</div>

</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner"></div>
</div>
</div>

</div>
</div>
