<div class="managed-content" id="090040be803b708e">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>AIA Vitality Health Check</h1>

</div>


<div class="right earnPoints">
<span class="leftArrow">&nbsp;</span>&nbsp;<span class="centerEarns greenText">Earn up to 6,000 points</span><span class="rightArrow">&nbsp;</span>
</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li class="">
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li class="">
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/chemmart_logo.jpg"> 

<p>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</p>

</div>

</div>


<div class="assessment-content">

<p>Find out about the risk of chronic disease and earn AIA Vitality Points by going for an AIA Vitality Health Check.</p>


<p>The health check consists of measures of your Body Mass Index (BMI), blood pressure, cholesterol and random blood glucose. It only costs $20 when you have it done at Chemmart&reg; Pharmacies and you will receive a $10 voucher to spend in store.</p>


<p>You can have any of the screening tests done at another healthcare provider and claim your AIA Vitality Points by submitting proof of your results.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/chemmart_logo.jpg"> 

<p>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</p>

</div>

</div>


<div class="assessment-content">

<p>There are no limits on the number of health checks that you can have, but points will only be awarded once a year. You will earn 300 AIA Vitality Points for each screening in the AIA Vitality Health Check, and up to 1,200 points for each screening where they are in the healthy range.</p>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>


<p>&nbsp;</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/chemmart_logo.jpg"> 

<p>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</p>

</div>

</div>


<div class="assessment-content">

<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a>&nbsp;now to enjoy this benefit.</p>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
