<div class="managed-content" id="090040be803bf16d">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man"></div>


<div class=" product-box">

<div class="title">

<h1>AIA Vitality Health Check</h1>

</div>


<div class="right earnPoints">
<span class="leftArrow">&nbsp;</span>&nbsp;<span class="centerEarns greenText">Earn up to 6,000 points</span><span class="rightArrow">&nbsp;</span>
</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/chemmart_logo.jpg"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</div>

</div>


<div class="assessment-content">

<p>Find out about the risk of chronic disease and earn AIA Vitality Points by going for an AIA Vitality Health Check.</p>


<p>The health check consists of measures of your Body Mass Index (BMI), blood pressure, cholesterol and random blood glucose.</p>


<p>It only costs $20 when you have it done at participating Chemmart&reg; Pharmacies and you will receive a $10 voucher to spend in that Chemmart&reg; store.</p>


</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/chemmart_logo.jpg"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</div>

</div>


<div class="assessment-content">

<p>There are no limits to the number of AIA Vitality Health checks that you can have, but we only award points once a year. You will earn 300 AIA Vitality Points for each screening in the health check, and up to 1,200 points for each result that is within the healthy range.</p>


<p>Having your annual flu jab will help protect you throughout the cold and flu season and earn you 500 AIA Vitality Points. Check to see if your local Chemmart Pharmacy is participating.</p>


<p>For full terms and conditions refer to the AIA Vitality <a href="#" target="_blank">terms and conditions</a> and the <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/chemmart_pharmacy_ben_guide.pdf" target="_blank">Chemmart benefit guide</a> .</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/chemmart_logo.jpg"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</div>

</div>


<div class="assessment-content">

<ol type="1">

<li>Browse to the AIA Vitality/Chemmart booking page <a href="http://chemmart.com.au/wellbeing/in-store-wellbeing-services/vitality" target="_blank">here</a> to make a booking for an AIA Vitality Health Check. You can have it done at Chemmart&reg; Pharmacies across Australia.</li>


<li>Confirm your booking date, time and Chemmart&reg; store location.</li>


<li>Take your AIA Vitality membership card and go for your Vitality Health Check.</li>

</ol>


<p>Claim points if you had any of the screening tests done at another healthcare provider by <a href="/vmp-au/points_submission">submitting proof</a> of your results.</p>


<p>
<a class="dialog_trigger" data-target="terms_and_conditions_dialog" href="javascript:void(0)">View</a> the full benefits and terms and conditions.</p>

</div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<p>This is general information only.&nbsp; The results of each of these assessments or tools cannot replace any advice from a doctor or other health professional.&nbsp; You should obtain professional advice from a medical practitioner, pharmacist, dentist, nutritionist or other appropriate health professional in relation to your own personal circumstances or in relation to the diagnosis or treatment of any medical condition.&nbsp; You should not discontinue any treatment you may be receiving on the basis of information reflected on this site without first consulting your healthcare provider. Medicines you use for your physical or mental health may also affect the results of your assessments or tools.&nbsp; You should also seek professional advice immediately should any symptoms you may be experiencing persist.&nbsp; If necessary, you should regularly consult with such a professional.&nbsp; For further information, please see our <a class="dialog_trigger rd_norm" data-href="/vmp-au/terms_and_conditions" data-target="terms_and_conditions_dialog" href="javascript:void(0)">Terms and Conditions.</a>
</p>


<p>Any information you provide as part of the assessments or tools will not be provided to the underwriting or claims departments of AIA Australia Ltd and therefore will not be used in the making of any future underwriting or claims decisions.&nbsp; Under no circumstances will AIA Australia Ltd be deemed to have knowledge of any AIA Vitality-related information in respect of its underwriting and claims functions.&nbsp; In accordance with your statutory duty of disclosure, you are still obliged to disclose any of this information to the extent it may be relevant in the event of any future application for insurance cover with AIA Australia Ltd.&nbsp; For more information please see our <a class="dialog_trigger rd_norm" data-href="/vmp-au/privacy_policy" data-target="privacy_statement_dialog" href="javascript:void(0)">Privacy Policy</a> and <a class="dialog_trigger rd_norm" data-href="/vmp-au/terms_and_conditions" data-target="terms_and_conditions_dialog" href="javascript:void(0)">Terms and Conditions.</a>
</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/tools/overview"><img src="/vitality_aia_au/web/linked_content/images/general/aia_vit_toolbox_banner.jpg">&nbsp;</a>
</div>
</div>
</div>
</div>

</div>
</div>
