<div class="managed-content" id="090040be803bbf79">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>AIA Vitality Nutrition Assessment</h1>

</div>


<div class="right earnPoints">
<span class="leftArrow">&nbsp;</span><span class="centerEarns greenText">Earn up to 1,500 points a year</span><span class="rightArrow">&nbsp;</span>
</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/vna_dieticians_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn Vitality Points</span></a>
</div>

</div>


<div class="assessment-content">

<p>AIA Vitality offers you a nutrition assessment that can help you learn more about your eating habits and offers tools and incentives to assist with improving them. Earn up to 1,500 AIA Vitality Points by completing a nutrition assessment with an Accredited Practising Dietitian (APD). You can get 30% off the initial consultation cost for the AIA Vitality Nutrition Assessment.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/vna_dieticians_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn Vitality Points</span></a>
</div>

</div>


<div class="assessment-content">

<p>You can complete one AIA Vitality Nutrition Assessment a year. You can earn a maximum of 1,500 points for completing the AIA Vitality Nutrition Assessment and attending Weight Watchers meetings. If you earn points for attending Weight Watchers meetings and then complete the AIA Vitality Nutrition Assessment, we will award points up to the 1,500 point limit.</p>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/vna_dieticians_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn Vitality Points</span></a>
</div>

</div>


<div class="assessment-content">

<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> now to enjoy this benefit and start earning AIA Vitality Points.</p>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
