<div class="managed-content" id="090040be804578b4">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man"></div>


<div class=" product-box">

<div class="title">

<h1>AIA Vitality Fitness Assessment</h1>

</div>


<div class="right earnPoints">
<span class="leftArrow">&nbsp;</span><span class="centerEarns greenText">Up to 3,000 Points</span><span class="rightArrow">&nbsp;</span>
</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_fitnes_assessment_icon.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</div>

</div>


<div class="assessment-content">

<p>Before you start a fitness program, it's important to know more about your current fitness levels. AIA Vitality offers you a Fitness Assessment at Virgin Active or Anytime Fitness. You do not have to be a member of the gym to have this assessment done. The cost of this assessment is $35 inclusive of GST at Virgin Active, and $40 inclusive of GST at Anytime Fitness.</p>


<p>You can earn up to 3,000 AIA Vitality Points for completing the assessment if your results are in the healthy range.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_fitnes_assessment_icon.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</div>

</div>


<div class="assessment-content">

<p>The AIA Vitality Fitness Assessment is made up of:</p>


<ul>

<li>Medical history</li>


<li>Health measurements including: 

<ul>

<li>Blood pressure</li>


<li>Height</li>


<li>Weight</li>


<li>Waist circumference</li>


<li>Body fat percentage (optional)</li>


<li>Fitness test (step test)</li>

</ul>

</li>

</ul>


<p>You do not have to be a Virgin Active or Anytime Fitness member to have this assessment done.</p>


<p>You can earn up to 1,500 AIA Vitality Points for each AIA Vitality Fitness Assessment. Fitness Assessment points are capped at 3,000 points each membership year. You can earn the full 3,000 points from your AIA Vitality Fitness Assessment in a membership year if the assessments are done 6 months apart and the results are in the healthy range.</p>


<p>If your Fitness Assessment results are not in the healthy range you will only earn 300 points for doing each assessment.</p>


<p>Click <a class="dialog_trigger rd_norm" data-href="http://dvdtibesb01.discsrv.co.za:7001/vmp-au/terms_and_conditions" data-target="terms_and_conditions_dialog" href="javascript:void(0)">here</a> for more detailed benefit information and a full set of terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_fitnes_assessment_icon.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</div>

</div>


<div class="assessment-content">

<ol>

<li>Find your preferred Virgin Active or Anytime Fitness location.</li>


<li>Call your preferred partner gym branch to make an appointment for the Vitality Fitness Assessment.</li>


<li>Go for your assessment. Remember to bring your AIA Vitality membership card with you to enjoy the exclusive rate.</li>


<li>Receive the results from the personal trainer.</li>

</ol>


<p>
<b>AIA Vitality Fitness Assessment locations</b>
</p>



<table class="table-condensed locationsSearchTable">
<tbody>

<tr>

<td><label>State:</label></td>
<td><select id="selectState">
<option>Select a State</option>
</select></td>

</tr>


</tbody>
</table>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 

<table class="table table-bordered table-condensed" id="fitnessAssessmentLocationsTable">

<tr>

<th>State</th>
<th>Branch</th>
<th>Address</th>
<th>Telephone</th>

</tr>


<tr>

<td valign="top">

<p>ACT</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Kingston</p>

</td>
<td valign="top">

<p>71/71 Giles St,<br>
Kingston, Canberra<br>
ACT 2604</p>

</td>
<td valign="top">(02) 6295 9952</td>

</tr>


<tr>

<td valign="top">

<p>NSW</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Caringbah</p>

</td>
<td valign="top">

<p>329 Kingsway<br>
Caringbah NSW 2229</p>

</td>
<td valign="top">(02) 9524 1088</td>

</tr>


<tr>

<td valign="top">

<p>NSW</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Circular Quay</p>

</td>
<td valign="top">

<p>Level 1/22 Pitt Street,<br>
Sydney NSW 2000</p>

</td>
<td valign="top">(02) 9247 0946</td>

</tr>


<tr>

<td valign="top" width="91">

<p>NSW</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Edgecliff</p>

</td>
<td valign="top">

<p>179-191 New South Head Rd,<br>
Edgecliff<br>
NSW 2027</p>

</td>
<td valign="top">(02) 9327 1498</td>

</tr>


<tr>

<td valign="top" width="91">

<p>NSW</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Hyde Park</p>

</td>
<td valign="top">

<p>227 Elizabeth Street,<br>
Sydney NSW 2000</p>

</td>
<td valign="top">0404 485 665</td>

</tr>


<tr>

<td valign="top" width="91">

<p>NSW</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Merrylands</p>

</td>
<td valign="top">

<p>Level 4, 14 Military Road,<br>
Merrylands NSW 2160</p>

</td>
<td valign="top">(02) 9682 5407</td>

</tr>


<tr>

<td valign="top" width="91">

<p>NSW</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Newcastle West</p>

</td>
<td valign="top">

<p>Shop S01 &amp; A01 Marketown East Shopping Centre,<br>
23 Steel St, Newcastle West,<br>
NSW 2302</p>

</td>
<td valign="top">(02) 4925 2226</td>

</tr>


<tr>

<td valign="top" width="91">

<p>NSW</p>

</td>
<td valign="top">

<p>Virgin Active</p>


<p>Frenchs Forest</p>

</td>
<td valign="top">

<p>16 Rodborough Road<br>
(Just off Warringah Rd)<br>
Frenchs Forest<br>
NSW 2086</p>

</td>
<td valign="top">(08) 9975 8600</td>

</tr>


<tr>

<td valign="top" width="91">

<p>NSW</p>

</td>
<td valign="top">

<p>Virgin Active</p>


<p>Norwest</p>

</td>
<td valign="top">

<p>2 Brookhollow Avenue<br>
Norwest Business Park<br>
Baulkham Hills<br>
NSW 2153</p>

</td>
<td valign="top">(02) 8848 6600</td>

</tr>


<tr>

<td valign="top" width="91">

<p>NSW</p>

</td>
<td valign="top">

<p>Virgin Active</p>


<p>Pitt St Mall</p>

</td>
<td valign="top">

<p>Level 2, MidCity Centre&nbsp;</p>


<p>197 Pitt Street Mall Sydney&nbsp;</p>


<p>NSW 2000</p>

</td>
<td valign="top">(02) 8240 6000</td>

</tr>


<tr>

<td valign="top" width="91">

<p>NSW</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Randwick</p>

</td>
<td valign="top">

<p>73 Belmore Road,<br>
Royal Randwick Shopping Centre,<br>
Randwick NSW 2031</p>

</td>
<td valign="top">(02) 9326 6155</td>

</tr>


<tr>

<td valign="top" width="91">

<p>NSW</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Warner Bay</p>

</td>
<td valign="top">

<p>323 Hillsborough Rd,<br>
Warners Bay NSW 2282</p>

</td>
<td valign="top">(02) 4954 4288</td>

</tr>


<tr>

<td valign="top" width="91">

<p>QLD</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Kallangur</p>

</td>
<td valign="top">

<p>1473 Anzac Avenue<br>
Kallangur<br>
QLD 4503</p>

</td>
<td valign="top">(07) 3385 0222</td>

</tr>


<tr>

<td valign="top" width="91">

<p>QLD</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Ormeau</p>

</td>
<td valign="top">

<p>19 Peachey Rd<br>
Ormeau<br>
QLD 4208</p>

</td>
<td valign="top">(07) 5549 1549</td>

</tr>


<tr>

<td valign="top" width="91">

<p>QLD</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Toowoomba</p>

</td>
<td valign="top">

<p>323 Ruthven St<br>
Toowoomba<br>
QLD 4350</p>

</td>
<td valign="top">(07) 4613 1177</td>

</tr>


<tr>

<td valign="top" width="91">

<p>SA</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Athelstone</p>

</td>
<td valign="top">

<p>21/320 Gorge Rd,<br>
Athelstone SA 5076</p>

</td>
<td valign="top">(08) 8336 2027</td>

</tr>


<tr>

<td valign="top" width="91">

<p>SA</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Campbelltown</p>

</td>
<td valign="top">

<p>519 Lower North East Rd<br>
Campbelltown SA 5074</p>

</td>
<td valign="top">(08) 81653100</td>

</tr>


<tr>

<td valign="top" width="91">

<p>SA</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Findon</p>

</td>
<td valign="top">

<p>205-209 Grange Rd,<br>
Findon SA 50234</p>

</td>
<td valign="top">(08) 8345 0986</td>

</tr>


<tr>

<td valign="top" width="91">

<p>SA</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Glenelg</p>

</td>
<td valign="top">

<p>115-123 Jetty Rd<br>
Glenelg<br>
SA 5045</p>

</td>
<td valign="top">(08) 8294 3669</td>

</tr>


<tr>

<td valign="top" width="91">

<p>SA</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Greenacres</p>

</td>
<td valign="top">

<p>13-15 Fosters Rd,<br>
Greenacres SA 5086</p>

</td>
<td valign="top">(08) 8261 1505</td>

</tr>


<tr>

<td valign="top" width="91">

<p>SA</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Kilkenny</p>

</td>
<td valign="top">

<p>10 - 14 Regency Road,<br>
Kilkenny SA 5009</p>

</td>
<td valign="top">(08) 8244 0908</td>

</tr>


<tr>

<td valign="top" width="91">

<p>SA</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Munno Para</p>

</td>
<td valign="top">

<p>Munno Para Shopping City,&nbsp;</p>


<p>Munno Para SA 5114</p>

</td>
<td valign="top">(08) 8254 8156</td>

</tr>


<tr>

<td valign="top" width="91">

<p>SA</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Munno Parra West</p>

</td>
<td valign="top">

<p>234 Curtis Road<br>
Munno Para West<br>
SA 51149</p>

</td>
<td valign="top">0478 800 315</td>

</tr>


<tr>

<td valign="top" width="91">

<p>SA</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Noarlunga&nbsp;</p>

</td>
<td valign="top">

<p>Centro Colonnades,<br>
Noarlunga, SA 5168</p>

</td>
<td valign="top">(08) 8186 0942</td>

</tr>


<tr>

<td valign="top" width="91">

<p>SA</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Norwood</p>

</td>
<td valign="top">

<p>253 Magill Road,<br>
Maylands SA 5069</p>

</td>
<td valign="top">0413373250</td>

</tr>


<tr>

<td valign="top" width="91">

<p>SA</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Seaford</p>

</td>
<td valign="top">

<p>Seaford Shopping Centre<br>
108 Commercial Road<br>
Seaford<br>
SA 5169</p>

</td>
<td valign="top">(08) 8327 0707</td>

</tr>


<tr>

<td valign="top" width="91">

<p>SA</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Unley</p>

</td>
<td valign="top">

<p>14 Arthur Street,<br>
Unley SA 5061</p>

</td>
<td valign="top">(08) 8271 4144</td>

</tr>


<tr>

<td valign="top" width="91">

<p>SA</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Woodcroft</p>

</td>
<td valign="top">

<p>217 Pimpala Road<br>
Woodcroft<br>
SA 5162</p>

</td>
<td valign="top">0417 244 502</td>

</tr>


<tr>

<td valign="top" width="91">

<p>VIC</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Ferntree Gully</p>

</td>
<td valign="top">

<p>10A/1845 Ferntree Gully Road<br>
Ferntree Gully<br>
VIC 3156</p>

</td>
<td valign="top">(03) 9758 2803</td>

</tr>


<tr>

<td valign="top" width="91">

<p>VIC</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Mornington</p>

</td>
<td valign="top">

<p>Level 1, 105 - 107<br>
Main Street Mornington<br>
VIC 3931</p>

</td>
<td valign="top">(03) 5973 6667</td>

</tr>


<tr>

<td valign="top" width="91">

<p>VIC</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>Prahran</p>

</td>
<td valign="top">

<p>16 Grattan St,<br>
Prahran VIC 3182</p>

</td>
<td valign="top">(03) 9529 4443</td>

</tr>


<tr>

<td valign="top" width="91">

<p>VIC</p>

</td>
<td valign="top">

<p>Anytime Fitness</p>


<p>South Melbourne</p>

</td>
<td valign="top">

<p>63-69 Market Street,<br>
South Melbourne VIC 3205</p>

</td>
<td valign="top">(03) 9682 1453</td>

</tr>


<tr>

<td valign="top" width="91">

<p>VIC</p>

</td>
<td valign="top">

<p>Virgin Active&nbsp;</p>


<p>Bourke St</p>

</td>
<td valign="top">

<p>138 Bourke Street<br>
Melbourne VIC 3000</p>

</td>
<td valign="top">(03) 9268 5300</td>

</tr>


<tr>

<td valign="top" width="91">

<p>WA</p>

</td>
<td valign="top">

<p>Anytime Fitness&nbsp;</p>


<p>Currambine</p>

</td>
<td valign="top">

<p>2/1F Hobsons Gate<br>
Currambine WA 6028</p>

</td>
<td valign="top">(08) 9304 0303</td>

</tr>


<tr>

<td valign="top" width="91">

<p>WA</p>

</td>
<td valign="top">

<p>Anytime Fitness&nbsp;</p>


<p>Malaga</p>

</td>
<td valign="top">

<p>655/1 Marshall Rd<br>
Malaga WA 6090</p>

</td>
<td valign="top">(08) 9249 6555</td>

</tr>


<tr>

<td valign="top" width="91">

<p>WA</p>

</td>
<td valign="top">

<p>Anytime Fitness&nbsp;</p>


<p>Subiaco</p>

</td>
<td valign="top">

<p>335 Churchill Ave,<br>
Subiaco WA 6008</p>

</td>
<td valign="top">(08) 9381 5126</td>

</tr>

</table>


<div id="missingAssessmentLocationMessage">

<p>
<i>Sorry there are no participating locations in your state at this time</i>
</p>


<p>
<i>Please check back from time to time as we continue to add more participating locations</i>
</p>

</div>


<div id="assessmentLocationMessage">

<p>Please note: Please keep reviewing this page as we add additional Fitness Assessment partners.</p>

</div>

</div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/improve_your_health/fitness_devices"><img src="/vitality_aia_au/web/linked_content/images/general/running_device_02_banner.jpg"></a>
</div>
</div>
</div>
</div>

</div>
</div>
