<div class="managed-content" id="090040be803c701e">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man" style=" display: block;"></div>


<div>

<h1>
<b>AIA Vitality launches in Australia, and we stage our 2014 National Forum</b>
</h1>


<hr align="left" size="1" width="100%">

<p>We&rsquo;re in pack-down mode after an incredible event on Thursday, March 6 &ndash; thanks to everyone who helped us put the presentation together; and thanks to all the attendees who made it a success &ndash; and asked such great questions of our panel!</p>


<p>
<img src="/vitality_aia_au/web/linked_content/images/general/vitality_launch_wide_shot.jpg"></p>


<p>Not only did we officially bring the world&rsquo;s largest health and wellness program - Vitality - to Australia, but we held what we hope will be the first in a long line of national forums focused on incentivising a healthier Australia.&nbsp;</p>


<p>The forum was designed to focus on the massive preventative health challenge faced in Australia today, a situation which is affecting all parts of life in Australia including the life insurance industry. &nbsp;</p>


<p>Under the MC-ship of Dr Cindy Pan, we were treated to insights from a range of influential experts.</p>


<h3 align="left">
<b>Behavioural economics</b>
</h3>


<p>After an introductory address from AIA Australia CEO Peter Crewe, we heard from keynote speaker Professor Kevin Volpp&nbsp; (University of Pennsylvania).</p>


<p>Professor Volpp talked us through his research on how financial and organisational incentives can impact on health outcomes &ndash; by &ldquo;acknowledging irrationality and decision errors&rdquo;, &ldquo;nudging people in desired directions&rdquo; and &ldquo;automated hovering&rdquo; &ndash; amongst other things.</p>


<p>If you&rsquo;re not sure what &ldquo;automated hovering&rdquo; means, or any of those concepts, we suggest you read the<a href="http://resources.aia.com.au/rs/aiaaustralia1/images/AIA-Vitality-white-paper-AU.PDF" target="_blank"> AIA Vitality White Paper</a><b>:</b> &ldquo;The Case for Incentivising Health: Using behavioural economics to improve health and wellness&rdquo;.</p>


<p>
<img src="/vitality_aia_au/web/linked_content/images/general/vitality_launch_damiem_susie_simone_etc.jpg">&nbsp;AIA Australia General Manager, Life Insurance Damien Mu with Susie O&rsquo;Neill, Professor Simone Pettigrew and Professor Kevin Volpp</p>


<p>It was great hearing from former Olympic swimmer Susie O&rsquo;Neill, now mother of two (and AIA Vitality Ambassador) who says being a mum means you don&rsquo;t get cheered on by thousands of proud Aussies for the good things you do.&nbsp; But it&rsquo;s still a great job.&nbsp; And she says AIA Vitality &ldquo;mirrors her values&rdquo;.</p>


<p>
<img src="/vitality_aia_au/web/linked_content/images/general/vitality_launch_tracy.jpg"></p>


<p>Also speaking at the event was Dr Tracy Kolbe-Alexander who explained the dramatic changes in healthy behaviours and the reduction in chronic disease experienced in other Vitality regions, in particular her native country South Africa where the Vitality program was established 15 years ago.</p>


<h3>
<b>Ask the panel</b>
</h3>


<p>
<img src="/vitality_aia_au/web/linked_content/images/general/vitality_launch_panel_with_audience_standing.jpg"></p>


<p>Taking the hard questions on the day were Damien Mu of AIA Australia, Johan Van Rooyen from AIA Vitality Hong Kong (who helped set up the Vitality program in South Africa), Professor Volpp and Simone Pettigrew, Research Professor in the School of Psychology at Curtin University, WA.</p>


<p>As Professor Pettigrew pointed out, &ldquo;we have so many concerns and stimuli in our lives, we tend to concentrate on the here and now&hellip; it&rsquo;s a culture of <i>consume now&hellip;</i> we need to offer incentives to help people make better choices in the short term.&rdquo;</p>


<p>If you&rsquo;re <i>still</i> not convinced, Louise Sylvan, CEO of the Australian Preventive Health Agency (APHA) capped off the morning with a reminder about the three biggest risks to Australian health: overweight/obesity, smoking and too much alcohol.&nbsp; Did you know that 40% of preventable admissions to hospitals are caused by these three factors?</p>


<p>
<img src="/vitality_aia_au/web/linked_content/images/general/vitality_launch_louise_sylvan.jpg"></p>


<h3>
<b>Why AIA Vitality is the need of the hour</b>
</h3>


<p>With this combined weight of intellectual muscle in the room, it&rsquo;s pretty hard to avoid the facts: our nation is battling obesity and chronic disease.</p>


<p>As the AIA Vitality program comes into its own in Australia, we expect to mirror the success achieved with Vitality in other territories &ndash; and with an attendee list covering many of Australia&rsquo;s prominent health organisations, NGOs, relevant media and our AIA Vitality partners, we hope we&rsquo;ve made a solid start at getting the message out there.</p>


<p>As Dr Volpp put it, &ldquo;it&rsquo;s a very appealing concept: life insurance that encourages you to live a better life&rdquo;.</p>


<p>For more pics from the event, visit our <a href="https://www.facebook.com/AIAVitalityAU" target="_blank">Facebook page</a>.</p>


<p>To join in the AIA Vitality Twitter conversation, go to <a href="https://twitter.com/AIAVitalityAU" target="_blank">https://twitter.com/AIAVitalityAU</a>
</p>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div id="insert_date_selection_block" style=" display: block;">

<div class="product-box">

<div class="title blue">

<h1>News Archive</h1>

</div>


<div class="box-content">

<div class="content-text"></div>

</div>

</div>

</div>
</div>
</div>
</div>

</div>
</div>
