<div class="managed-content" id="090040be803cea92">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<h1>Latest News</h1>


<p>&nbsp;</p>


<p>Here is the latest news on what&rsquo;s happening on AIA Vitality:</p>


<div class="news_article">

<div class="clearfix">

<div class="article_img hidden-xs">
<img src="/vitality_aia_au/web/linked_content/images/about_us/vitality_launch_landing_lrg.jpg"></div>


<div class="article_content">

<h3 class="title">
<a class="article_link" href="aia_vitality_launch">AIA Vitality launches in Australia</a>
</h3>


<p class="descr">Not only did we officially bring the world&rsquo;s largest health and wellness program - Vitality - to Australia, but we held what we hope will be the first in a long line of national forums focused on incentivising a healthier Australia.</p>

</div>

</div>


<p class="link">
<a class="article_link" href="aia_vitality_launch">Read More</a>
</p>

</div>


<div class="news_article">

<div class="clearfix">

<div class="article_img hidden-xs">
<img src="/vitality_aia_au/web/linked_content/images/about_us/doughnuts_experiment.jpg"></div>


<div class="article_content">

<h3 class="title">
<a class="article_link" href="vitality_dougnuts_experiment">Dollars beat doughnuts</a>
</h3>


<p class="descr">Australians battling the bulge are eight times more likely to ditch junk food for a healthier snack if offered a financial reward, a social experiment conducted by AIA Vitality in Melbourne has found.</p>

</div>

</div>


<p class="link">
<a class="article_link" href="vitality_dougnuts_experiment">Read More</a>
</p>

</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div id="insert_date_selection_block" style=" display: block;">

<div id="insert_date_selection_block" style=" display: block;">

<div class="product-box">

<div class="title blue">

<h1>News Archive</h1>

</div>


<div class="box-content">

<div class="content-text"></div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>

</div>
</div>
