<div class="managed-content" id="090040be803cea3c">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man" style=" display: block;"></div>


<div>

<h1>
<b>Dollars Beat Doughnuts</b>
</h1>


<hr align="left" size="1" width="100%">

<p>
<b><i>New research shows fighting fat is easier with hip pocket help</i></b>
</p>


<p>Australians battling the bulge are eight times more likely to ditch junk food for a healthier snack if offered a financial reward, a social experiment conducted by AIA Vitality in Melbourne has found.</p>


<p>Customers hoping to buy hot jam doughnuts at a food truck in Federation Square were urged to swap the 1500-kilojoule (KJ) snack for a 345-kJ fruit salad at the point of purchase by the seller using two tactics:</p>


<ul>

<li>Providing nutritional information about the two food options and encouraging people to switch to the healthy choice; and</li>


<li>Offering a financial reward and subsiding the cost of the fruit salad to people who chose the healthier option.</li>

</ul>


<p>When customers were simply told that the fruit salad was the healthier option, 95% still refused to give up their high calorie, fatty snack.</p>


<p>However, 40% of customers ditched the doughnut for a fruit salad when it was discounted and were offered a $10 Myer voucher &ndash; demonstrating that the majority of Australians need some hip pocket help to make a healthy choice.</p>


<p>The social experiment aimed to gain insights on how Australians can be encouraged to switch to healthier food options, given that poor diet is estimated to cost the nation $5 billion each year, and 60% of the adult population is overweight or obese.</p>


<p>The social experiment was conducted by life insurer AIA Australia in conjunction with Professor of Social Psychology Bill von Hippel from The University of Queensland, as part of the launch of AIA Vitality in Australia, the world&rsquo;s largest incentive-based health and wellness program.</p>


<p>Peter Crewe, Chief Executive Officer of AIA Australia, said that the results from the social experiment were consistent with overseas research, which found that subsidising the cost of healthy food and providing immediate rewards for healthy choices can have a positive impact on health behaviour.</p>


<p>&ldquo;Many of us, no matter how much willpower we have, need an additional &lsquo;nudge&rsquo; to make better decisions about what we eat. This experiment reinforces our view that incentive-based programs such as AIA Vitality can have significant results in encouraging healthy behaviours in Australia.&rdquo;</p>


<p>Professor Bill von Hippel said humans are evolutionarily wired to sacrifice future health and wellbeing in favour of immediate and short-term pleasures.</p>


<p>&ldquo;We inherited our tendency to favour the present from our ancestors, who didn&rsquo;t know if they would live long enough to face the long-term consequences from their daily choices. But in these modern times, as people live longer lives, poor dietary choices made today will cost us in the decades to come.</p>


<p>&ldquo;Traditionally, health promotion has relied on community education campaigns to change people&rsquo;s behaviours. This experiment demonstrates the need for new approaches which provide immediate rewards for healthy behaviours to overcome the temptation of unhealthy choices.&rdquo;</p>


<p>Consistent with the findings from the social experiment, AIA Vitality keeps members motivated to achieve their personal health goals by offering rewards from leading Australian brands (for example, members receive up to 35% off domestic and international Qantas return flights originating from Australia; $50 Myer gift card when members reach 5,000 AIA Vitality points) every time a healthy choice is made. Costs of healthy food and fitness-related activities are also subsidised.</p>


<p>Melanie McGrice, spokesperson for the Dietitians Association of Australia, a program partner of AIA Vitality, said:</p>


<p>&ldquo;The lure of tasty foods that are high in added sugar and saturated fat may be hard to resist, and just providing general health information for customers is not enough to change what they choose to eat. We support making healthy choices an easy choice for people, and incentives to change behaviour is an interesting approach that could be applied to food choices.&rdquo;</p>


<p>Members who sign up for AIA Vitality first complete a health assessment to determine their &lsquo;AIA Vitality Age,&rsquo; a scientifically calculated representation of how much their body shows signs of ageing, which reveals how current behaviours impact their health. Members are then provided with a personalised health plan based on individual health needs.</p>


<p>Peter Crewe continued: &ldquo;As a major life insurer in Australia, we want to be part of the solution to better health, rather than just managing claims at the end. We want to help Australians make small steps to improve their health and to make these changes permanent.&rdquo;</p>


<p>
<img src="/vitality_aia_au/web/linked_content/images/about_us/doughnuts_experiment_lrg.jpg"></p>


<p>Statistics from the Australian Institute of Health and Welfare 2012 Report - <a href="https://www.aihw.gov.au/media-release-detail/?id=10737422368" target="_blank">https://www.aihw.gov.au/media-release-detail/?id=10737422368</a>
</p>


<p>Statistics from the Australian Institute of Health and Welfare 2013 Report - <a href="http://www.aihw.gov.au/overweight-and-obesity" target="_blank">www.aihw.gov.au/overweight-and-obesity</a>
</p>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div id="insert_date_selection_block" style=" display: block;">

<div class="product-box">

<div class="title blue">

<h1>News Archive</h1>

</div>


<div class="box-content">

<div class="content-text"></div>

</div>

</div>

</div>
</div>
</div>
</div>

</div>
</div>
