<div class="managed-content" id="090040be8037abc0">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Myer</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/rewards/partner_logo_myer.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Myer is Australia&rsquo;s largest department store group, and a leader in Australian retailing. They stock all your favourite brands and cater for a variety of ages and tastes.</p>


<p>AIA Vitality rewards your efforts to get and stay healthy with vouchers to spend in store at Myer.</p>


<p>It&rsquo;s simple; for the first 5,000 AIA Vitality Points you earn by engaging in healthy activity, we&rsquo;ll send you a $50 Myer voucher.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/rewards/partner_logo_myer.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<ul>

<li>Earn 5,000 points by engaging in various AIA Vitality activities that help you improve your health. When you do, AIA Vitality will reward you with a $50 Myer voucher.</li>


<li>This benefit is offered to all AIA Vitality members and is applicable to one voucher only per member, issued when you reach 5,000 points.</li>


<li>The voucher is sent to your email address that we have on record; so please ensure that we have your correct email address.</li>


<li>You can use the voucher towards any purchase at all Myer stores across Australia.</li>


<li>View a full set of rules for the Myer benefit <a href="/vitality_aia_au/web/coming_soon.html" target="_blank">here</a>.</li>

</ul>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/rewards/partner_logo_myer.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<ul>

<li>To take up this offer, simply earn 5,000 points and AIA Vitality will send you a $50 Myer voucher.</li>


<li>Use your voucher against your purchase at any Myer store across Australia.</li>


<li>To find your nearest Myer store visit <a href="http://www.myer.com.au/shop/mystore/StoreLocator" target="_blank">www.myer.com.au/shop/mystore/StoreLocator</a>
</li>


<li>View a full set of rules for the Myer benefit <a href="/vitality_aia_au/web/coming_soon.html">here</a>.</li>

</ul>

</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/tools/overview"><img src="/vitality_aia_au/web/linked_content/images/general/active_promo.jpg"></a>
</div>
</div>
</div>

</div>
</div>
