<div class="managed-content" id="090040be8037df7b">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<div id="insert_running_man"></div>


<h1>Enjoy up to 40% off Lifestyle and Travel Rewards!</h1>


<p>As you make healthy choices, like eating right, going to the gym or for a health screening, you earn AIA Vitality Points. The more points you earn, the higher your AIA Vitality Status and the greater the rewards. Enjoy your rewards today!</p>
</div>
</div>
<div class="row-fluid ">
<div class="span6 product-box equal-box">
<div class="title">

<h1>AIA Vitality Insurance Premium</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/rewards/aia_logo.png"></div>


<div class="content-text">

<p>Save up to: 20%</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/partners/insurance_premium_discount">Find out more</a>
</div>

</div>
</div>
<div class="span6 product-box equal-box">
<div class="title">

<h1>Travel</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/rewards/qantas_bl.png"></div>


<div class="content-text">

<p>Save up to 35%</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/partners/qantas">Find out more</a>
</div>

</div>
</div>
</div>
<div class="row-fluid ">
<div class="span6 product-box equal-box">
<div class="title">

<h1>HOYTS Cinema</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/rewards/hoyts_bl.png"></div>


<div class="content-text">

<p>Purchase up to 5 AIA Vitality-discounted movie vouchers per week at HOYTS Cinema</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/partners/hoyts">Find out more</a>
</div>

</div>
</div>
<div class="span6 product-box equal-box">
<div class="title">

<h1>Myer</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/rewards/partner_logo_myer.png"></div>


<div class="content-text">

<p>Earn 5,000 points and AIA Vitality will send you a $50 Myer voucher.</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/partners/myer">Find out more</a>
</div>

</div>
</div>
</div>
<div class="row-fluid ">
<div class="span6 product-box equal-box">
<div class="title">

<h1>Endota</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/points_and_status/endota_logo.png"></div>


<div class="content-text">

<p>Save up to 35%</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/partners/endota">Find out more</a>
</div>

</div>
</div>
<div class="span6 "></div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div>
<a href="/vmp-au/points_and_status/get_to_platinum"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/vfa_rhs_banner_man_on_bike.jpg"></a>
</div>


<p>&nbsp;</p>


<div>
<a href="/vmp-au/improve_your_health/goals"><img src="/vitality_aia_au/web/linked_content/images/general/healthy_goals_promo.jpg"></a>
</div>


<p>&nbsp;</p>


<div id="insert_active_goals"></div>
</div>
</div>

</div>
</div>
