<div class="managed-content" id="090040be803607b4">
<div class="row-fluid">
              
               
                
<div class="row-fluid ">
<div class="span8 ">
<p>
<img src="/vitality_aia_au/web/linked_content/images/general/join_aia_vitality_banner_lrg.png"></p>
</div>
<div class="span4 ">
<p>
<img src="/vitality_aia_au/web/linked_content/images/general/dollar_caro_banner.png"></p>
</div>
</div>
<div class="row-fluid ">
<div class="span4 product-box">
<div class="title">

<h1>AIA Vitality Insurance Premium Discount</h1>

</div>


<div class="box-content">

<p>
<img src="/vitality_aia_au/web/linked_content/images/rewards/aia_logo.png"></p>


<p>
<b>Savings: Up to 15%</b>
</p>


<div class="more-info-link">
<a href="/vmp-sg/partners/insurance_premium_discount">Find out more</a>
</div>

</div>
</div>
<div class="span4 product-box">
<div class="title">

<h1>Cathay Movies</h1>

</div>


<div class="box-content">

<p>
<img src="/vitality_aia_au/web/linked_content/images/rewards/movies_rewards.png"></p>


<p>
<b>$5</b> for weekdays; <b>$8</b> for weekends</p>


<div class="more-info-link">
<a href="/vmp-sg/partners/cathay_cineplexes">Find out more</a>
</div>

</div>
</div>
<div class="span4 product-box">
<div class="title">

<h1>Travel</h1>

</div>


<div class="box-content">

<p>
<img src="/vitality_aia_au/web/linked_content/images/rewards/aia_logo.png"></p>


<p>
<b>Savings: Up to 50%</b>
</p>


<div class="more-info-link">
<a href="/vmp-sg/rewards/travel">Find out more</a>
</div>

</div>
</div>
</div>
                

</div>
</div>
