<div class="managed-content" id="090040be8037c604">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid two-column-group">
<div class=" product-box">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Qantas</h1>

</div>


<div class="box-content">

<div class="top-tabs-container">

<div class="tabbable">

<ul class="top nav nav-tabs">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<p>
<img class="image-float-left" src="/vitality_aia_au/web/linked_content/images/rewards/qantas_logo.png"></p>


<div class="left partnerDescrRight">

<p>Fly to over 1000 domestic and international destinations with Asia Pacific's Best Airline 2013.</p>


<p>As an AIA Vitality member, you can save up to 35% when you book Qantas tickets.</p>


<p>Your discount is based on your Vitality Status at the time of booking.</p>

</div>


<p>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<p>
<img class="image-float-left" src="/vitality_aia_au/web/linked_content/images/rewards/qantas_logo.png"></p>


<p>Your discount is based on your Vitality Status and the number of status-based discount left at the time of booking:</p>


<table>

<tr>

<th>Status-based Discount</th>
<th>% Discount</th>

</tr>


<tr>

<td>Bronze</td>
<td>8%</td>

</tr>


<tr>

<td>Silver</td>
<td>12%</td>

</tr>


<tr>

<td>Gold</td>
<td>20%</td>

</tr>


<tr>

<td>Platinum</td>
<td>35%</td>

</tr>

</table>


<br>

<table>

<tr>

<th>Post-limit Discount</th>
<th>% Discount</th>

</tr>


<tr>

<td>Discount after members exhausted their limit of 2 trips/year</td>
<td>8% (Bronze)</td>

</tr>

</table>


<br>

<table>

<tr>

<th>Accompanying Pasengers</th>
<th>% Discount</th>

</tr>


<tr>

<td>Accompanying passengers</td>
<td>8% (Bronze)</td>

</tr>

</table>


<ul>

<li>You must be an AIA Vitality member at the time of booking to qualify for the discount.</li>


<li>Discount is applicable when you book Economy class or Premium economy seats for a return flight on Qantas originating from and returning to Australia.</li>


<li>The discount is applicable only when you make your bookings through the AIA Vitality website.</li>


<li>The discount will be given via cashback after the booking is completed.</li>


<li>The discount does not apply for one-way, around the world and multi-city stopovers flights.</li>


<li>Discount does not apply to airport taxes, fuel surcharges or any other incidental/administrative fees.</li>


<li>You can enjoy the status-based discount on two (2) travel bookings across all AIA Vitality travel partners in a membership year. After exhausting your limit of 2 status-based discount, you will continue to receive 8% discount for all flights booked via the AIA Vitality website.</li>


<li>Regardless of your Vitality Status, you may bring up to eight (8) passengers travelling with you, AIA Vitality will offer 4 of you accompanying passengers the Bronze AIA Vitality Status discount. These passengers must be included within your booking and they need not be AIA Vitality members.</li>


<li>Discount does not apply to the fees and extra costs incurred when you make changes to your booking.</li>


<li>Bookings are non-transferable, i.e. you are not allowed to change the name of passengers or transfer the ticket to another passenger.</li>


<li>To make a change to your booking, please contact Qantas directly (via phone or the Qantas website), the standard Qantas modification rules and policies will apply.</li>

</ul>


<p>
<a class="dialog_trigger" data-target="terms_and_conditions_dialog" href="javascript:void(0)">Terms and Conditions apply</a>
</p>


<p>View a full set of rules for Qantas.com <a href="#" target="_blank">here</a>.</p>


<p>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</p>

</div>


<div class="tab-pane" id="get_started">

<p>
<img class="image-float-left" src="/vitality_aia_au/web/linked_content/images/rewards/qantas_logo.png"></p>


<div class="left partnerDescrRight">

<p>To make a flight booking:</p>


<ul>

<li>Log on to your online AIA Vitality account.</li>


<li>Enter your Photo ID or passport name before you proceed to search for your flight.</li>


<li>Capture your banking details, so we'll be able to process you cash-back after your flight. If we have your banking details on the system already, you will be asked to verify that they are still correct.</li>


<li>Proceed to search for the flight of your choice on Qantas and key in the required details of yourself and up to 8 accompanying passengers. Remember you&rsquo;re your accompanying passengers will be offered an AIA Vitality discount at Bronze level.</li>


<li>Capture your email address, please ensure this matches the email address that AIA Vitality has, to ensure we process your cash back correctly.</li>


<li>Pay for your tickets using a credit card.</li>


<li>Your AIA Vitality discount will not be shown during check-out, but it will be applied to the fare price and paid via cashback to your bank account after the travel is completed.</li>


<li>Once your flight is successfully booked, your e-ticket and itinerary and booking reference will be available for printing. You will also get the option to email the flight booking to yourself.</li>

</ul>


<p>
<a href="https://#" target="_blank ">Book now</a>.</p>

</div>


<p>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</p>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<p>
<a href="/memberportal/how_to_join"><img src="/vitality_aia_sg/web/linked_content/images/know_your_health/join_aia_vitality.png"></a>
</p>
</div>
</div>

</div>
</div>
