<div class="managed-content" id="090040be8034d8fc">
<div class="row-fluid">
              
               
                
<div class="span8">
<div class="row-fluid ">
<div class="span12 product-box">
<h1>Royal Caribbean International</h1>


<div class="box-content">

<div class="top-tabs-container">

<div class="tabbable">

<ul class="top nav nav-tabs">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<p>
<img class="image-float-left" src="/vitality_aia_au/web/linked_content/images/rewards/royal_caribbean_international_logo.png"></p>


<div class="left partnerDescrRight">

<p>Royal Caribbean International offers cruises on 22 innovative ships to 280 destinations worldwide including Asia, Alaska, Europe, Australia and South America.</p>


<p>Save up to 50% when you book a cruise through Royal Caribbean International Singapore (RCI).</p>


<p>Your discount is based on your Vitality Status at the time of booking.</p>

</div>


<p>
<a class="btn_blue float-left" href="/vmp-sg/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<p>
<img class="image-float-left" src="/vitality_aia_au/web/linked_content/images/rewards/royal_caribbean_international_logo.png"></p>


<div class="left partnerDescrRight">

<p>Your discount is determined by your Vitality Status at the time of booking:</p>


<table width="100%">
<thead>

<tr>

<td>Vitality Status</td>
<td>Discount*</td>

</tr>


</thead>
<tbody>

<tr>

<td>Bronze</td>
<td>8%</td>

</tr>


<tr>

<td>Silver</td>
<td>15%</td>

</tr>


<tr>

<td>Gold</td>
<td>25%</td>

</tr>


<tr>

<td>Platinum</td>
<td>50%</td>

</tr>


</tbody>
</table>


<p>You must be an AIA Vitality member at the time of booking to qualify for the discount.</p>


<p>The discount is based on double occupancy only which means there must be a minimum of two travellers. The main traveller will receive a discount based on his/her Vitality Status and the second selected traveller will receive a discount based on Bronze Vitality Status. The second traveller does not have to be an AIA Vitality member.</p>


<p>If more than two travellers who are AIA Vitality members are travelling and each member wants to use the discount according to his/her Vitality Status, the booking will need to be split. Each member will need to book separately. Please note a minimum of two travellers is required for each booking. Cruises must leave from Singapore in order to qualify for the discounted rate.</p>


<p>There is a limit of two (2) travel bookings across all AIA Vitality travel partners in a membership year.</p>


<p>Bookings may not be cancelled and rebooked for the same trip and travellers.</p>


<p>This discount does not apply to any taxes, gratuities, NCCFs (Non-Commissionable Cruise Fares), insurance and any other incidental charges that apply to all customers from time to time. Royal Caribbean International's usual modification and cancellation charges will apply if you modify or cancel your booking and no discounts will be applicable to such charges. Modifications, cancellations and any applicable fees are subject to RCI's terms and conditions.</p>


<p>
<a href="/vmp-sg/pdf/RCI_Partner_Benefit_Guide.pdf" target="_blank">Terms and conditions apply.</a>
</p>

</div>


<p>
<a class="btn_blue float-left" href="/vmp-sg/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</p>

</div>


<div class="tab-pane" id="get_started">

<p>
<img class="image-float-left" src="/vitality_aia_au/web/linked_content/images/rewards/royal_caribbean_international_logo.png"></p>


<div class="left partnerDescrRight">

<p>
<strong>Step 1: Cruise selection</strong>
</p>


<p>Visit the Royal Caribbean website <a href="http://www.royalcaribbean.com.sg" target="_blank">www.royalcaribbean.com.sg</a> to search for your preferred cruise packages.</p>


<p>
<strong>Step 2: Make a booking</strong>
</p>


<p>Call the Royal Caribbean hotline at +65 63050033 to enquire about the availability of your preferred packages and make a booking. Remember to provide the sales executive with your NRIC or AIA Vitality membership number.</p>


<p>
<strong>Step 3: Enjoy your holiday</strong>
</p>


<p>Book at the discounted rate and enjoy the rewards of being an AIA Vitality member!</p>


<p>
<a href="/vmp-sg/how_to_join">Join AIA Vitality</a> now to benefit from this great offer.</p>

</div>


<p>
<a class="btn_blue float-left" href="/vmp-sg/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</p>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column">
<div class="row-fluid">
<p>
<a href="/memberportal/how_to_join"><img src="/vitality_aia_sg/web/linked_content/images/know_your_health/join_aia_vitality.png"></a>
</p>
</div>
</div>

</div>
</div>
