<div class="managed-content" id="090040be80422f97">
                
<table border="0" cellpadding="0" cellspacing="0" width="100%">

<tr>

<td valign="top">

<h1 align="center">
<b>Privacy</b>
</h1>

</td>

</tr>


<tr>

<td valign="top">

<p>
<b>Summary</b>
</p>


<p>This section summarises key information in the AIA Australia Privacy Policy, which may be updated from time to time. For further information, please review the most up to date full version of the Privacy Policy on our website at <a href="http://www.aia.com.au/en/privacy-statement/privacy-statement" target="_blank">www.aia.com.au</a>, which is set out under the heading &ldquo;<b>AIA Australia Privacy Policy</b>&rdquo; below.</p>


<p>AIA Australia Limited is part of the AIA Group. Your privacy is important to us and AIA Australia Limited is bound by the privacy principles which apply to private sector organisations under the Privacy Act, and other laws which protect your privacy. AIA Australia Limited, AIA Financial Services Limited, AIA Group and their related bodies corporate and joint venture partners (together referred to as &ldquo;AIA Australia&rdquo;, &ldquo;we&rdquo;, &ldquo;us&rdquo; and &ldquo;our&rdquo;) provide you the following notification and information about our Privacy Policy and your rights.</p>


<p>
<b>Why we collect personal information</b>
</p>


<p>We collect, use and disclose personal information (including sensitive information) for purposes set out in our Privacy Policy, including to process your applications, enquiries and requests in relation to insurance and other products, for underwriting and reinsurance purposes, to administer, assess and manage your insurance and other products, including claims, and to provide, manage and improve our products and services. We may not be able to do these things without your personal information. We may also collect, use and disclose personal information to understand your needs, interests and behaviour, personalise our dealings with you, to verify your identity, authority to act on behalf of a customer and personal information, maintain and update our records, manage our relationship with you, comply with local and foreign laws and regulatory requests, detect, manage and deal with improper conduct and commercial risks, and for reporting and research purposes. Where you agree or we are otherwise permitted by law, we may also notify you of offers and other information about products or services we think may interest you. If you do not wish to receive these direct marketing communications, you may indicate this where prompted or by contacting us as set out in our Privacy Policy.</p>


<p>
<b>How we collect, use and disclose personal information</b>
</p>


<p>We may collect your personal information from various sources including forms you submit and our records about your use of our products and services and dealings with us, including any telephone, email and online interactions. We may also collect your information from public sources, social media and from the parties described in our Privacy Policy. We are required or authorised to collect personal information under various laws including the Life Insurance Act, Insurance Contracts Act, Corporations Act and other laws set out in our Privacy Policy. Where you provide us with personal information about someone else you must have their consent to provide their personal information to us in the manner described in our Privacy Policy.</p>


<p>We may collect your personal information from, and exchange your personal information with, our affiliates and third parties, including the life insured, policy owner or beneficiaries of your insurance policy, our service providers, your representatives (including your financial adviser and the licensed dealer or broker they represent), the trustee and administrator of a superannuation fund, your employer or bank, health providers, partners used in our activities or business initiatives, reinsurers, insurance brokers and intermediaries, regulatory and law enforcement agencies, and other parties as described in our Privacy Policy. Parties to whom we disclose personal information may be located in Australia, South Africa, the US, Europe, Asia and other countries including those set out in our Privacy Policy and you acknowledge that Australian Privacy Principle 8.1 (which relates to cross-border disclosures) will not apply to the disclosure, we will not be accountable for those overseas parties under the Privacy Act and you may not be able to seek redress under the Privacy Act.</p>


<p>Where we provide your personal information to a third party, the third party may collect, use and disclose your personal information in accordance with their own privacy policy and procedures. These may be different to those of AIA Australia.</p>


<p>
<b>Other important information</b>
</p>


<p>By providing information to us or your adviser (and the licensed dealer or broker they represent), the trustee or administrator of a superannuation fund, or other representative or intermediary, submitting or continuing with a form or claim, or otherwise interacting or continuing your relationship with us, you confirm that you agree and consent to the collection, use (including holding and storage), disclosure and handling of personal information (including sensitive information) in the manner described in the most up to date version of our Privacy Policy on our website and that you have been notified of the matters set out in this summary and the AIA Australia Privacy Policy before providing personal information to us. You agree that we may not issue a separate notice each time personal information is collected.</p>


<p>You must obtain and read the most up to date version of the AIA Australia Privacy Policy from our website at <a aa="" href="http://www.aia.com.au" target="_blank">www.aia.com.au</a> or by contacting us on 1800 333 613 to obtain a copy. You have the right to access the personal information we hold about you, and can request the correction of your personal data if it is inaccurate, incomplete or out of date. Requests for access or correction can be directed to us using the details in the &lsquo;Contact us&rsquo; section below. Our Privacy Policy provides more detail about our collection, use (including handling and storage), disclosure of personal information and how you can access and correct your personal information, make a privacy related complaint and how we will deal with that complaint, and your opt-out rights.</p>


<p>For the avoidance of doubt, the Privacy Policy applicable to the management and handling of personal information will be the most current version published at <a href="http://www.aia.com.au/" target="_blank">http://www.aia.com.au/</a>, which shall supersede and replace all previous Privacy Policies and/or Privacy Statements and privacy summaries that you may receive or access, including but not limited to those contained in or referred to in any telephone recordings and calls, applications, underwriting and claim forms, Product Disclosure Statements and other insurance and disclosure statements and documentation.</p>


<p>
<b>Contact us</b>
</p>


<p>If you have any questions or concerns about your personal information, please contact us as set out below:</p>


<p>The Compliance Manager<br>
AIA Australia Limited<br>
PO Box 6111<br>
St Kilda Road Central, VIC 8008<br>
Phone 1800 333 613</p>

</td>

</tr>


<tr>

<td valign="top">

<h1 align="center">
<b>AIA Australia Privacy Policy</b>
</h1>

</td>

</tr>


<tr>

<td valign="top">

<p>AIA Australia Limited (ABN 79 004 837 861 AFSL 230043) is part of the AIA Group. Among the most important assets of AIA Group is the trust and confidence that is placed in AIA companies to properly handle information. Customers expect us to maintain their information accurately, protect against manipulation and errors, secure from theft, and free from unwarranted disclosure. AIA Australia Limited is bound by privacy principles (otherwise known as the Australian Privacy Principles) which apply to private sector organisations under the Privacy Act 1988 (Cth), and other laws which protect your privacy.</p>


<p>AIA Australia Limited, AIA Financial Services Limited, AIA Group and their related bodies corporate and joint venture partners (together referred to throughout this Privacy Policy as &ldquo;<b>AIA Australia</b>&rdquo;) provide you with information about our Privacy Policy and your rights. This Privacy Policy relates to personal information (including sensitive information) we handle about our customers (including potential and former customers), visitors to our Website (defined below), any other websites and social media pages, visitors and other members of the public, as well as personal information we collect and handle about our advisers (and the licensed dealer or broker they represent). This Privacy Policy also addresses how we handle information about job applicants, staff, officers and contractors. We sometimes handle personal information relying on exemptions under privacy laws, for example in relation to related bodies corporate, employee records and publicly available information. Any permitted handling of personal information under such exemptions will take priority over this Privacy Policy to the extent of any inconsistency.</p>


<p>By proceeding to use www.aia.com.au, www.aiavitality.com.au, our staff intranet site, or any other websites, webpages, portals, social media pages or smart phone/tablet applications where this Privacy Policy referred to or is made available, as well as facilities, online applications, tools or utilities offered (collectively the <b>Website</b>), you are:</p>


<ul class="disc">

<li>confirming that you have reviewed the latest version of the Privacy Policy on our website at <a href="http://www.aia.com.au" target="_blank">http://www.aia.com.au/</a> before providing personal information (including sensitive information) to us, and consenting to the collection, use, handling and disclosure of your personal information (including sensitive information) as set out in our Privacy Policy as updated from time to time; and</li>


<li>agreeing to the <a href="http://www.aia.com.au/en/terms-of-use/terms-of-use.html" target="_blank">Terms of Use</a>.</li>

</ul>


<p>
<b>Collection of personal information - general</b>
</p>


<p>We collect personal information in a range of circumstances including when you contact or transact with us, make an enquiry, obtain a quote or use or request our products or services, either directly or through an adviser (and the licensed dealer or broker they represent), the trustee or administrator of a superannuation fund, or other representative or intermediary. The types of personal information we collect may include your name and contact details (eg address, telephone number), identifying information (eg date of birth, driver&rsquo;s licence, passport, birth certificate), email address, residency, demographic and profile information (sex, age, etc), information provided by you directly or through an adviser (and the licensed dealer or broker they represent), the trustee or administrator of a superannuation fund, or other representative or intermediary (including but not limited to, information provided in an application, claim or other information submitted in respect of your insurance or prospective insurance), AIA Vitality membership or other product application, or business relationship with us), tax file number, transactional and financial information (including but not limited to your use of cards and other facilities, income, payment and banking information and annual household income), family and beneficiary information, insurance claims information, work, occupation and pastimes, superannuation and membership information, information contained in your social media profiles and some sensitive, health and medical-related information.</p>


<p>We also collect personal information about your transactions and interactions with us, including any contact we have with you (including without limitation by telephone, email or online, via our Website, publicly available sources, social media and other blogs, sites and virtual communities and networks where people create, share or exchange information). For security, investigative (including in relation to claims), dispute resolution, quality assurance, training and other purposes we may monitor and record your communications with us (including telephone, email or online) and operate camera, video and audio surveillance devices in or outside our premises. We collect personal information directly from you as well as from third parties including information service providers, partners, affiliates and related companies, advisers (and the licensed dealer or broker they represent), accountants, health professionals, medical providers and hospitals, rehabilitation providers, investigators, government authorities and their agents, reinsurers, legal advisers, financial institutions you nominate, your employer, the health insurance commission, authorities and their agents, worker&rsquo;s compensation insurers, authorities and their agents, the trustee or administrator of a superannuation fund, the policy owner (where you are a life insured who is not the policy owner), any other party with which we have an arrangement for the promotion and sale of products offered or distributed by us, publicly available sources, social media and other blogs, sites and virtual communities and networks where people create, share or exchange information and anyone acting on your behalf. We may take steps to verify information collected and to confirm whether information is up to date. Where you provide us with personal information about someone else you must have their consent to provide their personal information to us in accordance with this Privacy Policy.</p>


<p>In addition to the above, we may also collect personal information in specific circumstances applicable to your situation as described below.</p>


<p>
<b>Use and disclosure of personal information - general</b>
</p>


<p>We collect, use and disclose your personal information to process and respond to your instructions and requests, for our and our affiliates&rsquo; internal purposes, to manage and administer our and our affiliates&rsquo; and partners&rsquo; business activities, products and services, to tell you about new or existing products or services, to meet requirements imposed by law, to protect our and our affiliates&rsquo; lawful interests, to communicate with you or respond to feedback or complaints, to manage and administer our relationship with you, to monitor and protect our brand, to correct or respond to comments or statements made in relation to us and our affiliates, for purposes relating to any actual or potential acquisition of our business, to investigate, manage and prevent actual, potential or suspected improper conduct such as fraud, verifying your authority to act on behalf of a customer, verifying your identity, training, developing and testing products, services and systems, and for statistical, research and reporting purposes. We may also collect, use and disclose your personal information for any other purposes where you consent or we are authorised by law and we may take steps separate to this Privacy Policy to ensure you are aware of the additional purposes.</p>


<p>If you are unwilling to provide us with the information we need then we may not be able to do the things described in this Privacy Policy, for example, we may not be able to provide you with insurance cover, offer you our products and services or hire you.</p>


<p>Where you accept our Privacy Policy or where we are otherwise permitted by law, we and our subsidiaries, affiliates, partners and service providers may use your personal information (including your telephone number, even if it is listed on the Do Not Call Register, and your email or other electronic addresses) to provide marketing communications that may be of interest to you, including about insurance and financial products and services, programs or events, health and wellness products and services and, if you are a member of AIA Vitality, products and services of our AIA Vitality partners. Communications may be provided on an ongoing basis by telephone, electronic messages (eg email and pop-ups), online (including via Website, social media and mobile apps) and other means. We may imply your consent to receive these communications from our existing business relationship or in some circumstances where you have provided us with your contact details (including telephone, email or other electronic address). If you do not wish to receive these direct marketing communications please indicate this where prompted (eg in an application form or by following unsubscribe instructions in the communications themselves) or by contacting us as set out below.&nbsp; Please note that if you have not told us that you do not wish to receive these communications by phone, where permitted by law, you may be contacted even if you have registered your phone number on the national Do Not Call Register.</p>


<p>We may exchange your personal information with:</p>


<ul class="disc">

<li>related bodies corporate, joint venture partners affiliates and/or intermediaries;</li>


<li>partners (including but not limited to partners used in co-branded activities or business initiatives and entities with which AIA Australia has partnered in relation to the AIA Vitality program);</li>


<li>accountants and financial institutions you nominate;</li>


<li>reinsurers, where we reinsure any insurance cover we provide or offer or propose to provide to you;</li>


<li>any employee, agent, contractor or third party who provides administrative or other services to AIA Australia or any of our affiliates or partners. Those services may include health, insurance and reinsurance, archival, auditing, accounting, customer contact, call centres, legal, business consulting, banking, payment, delivery, data processing, data analysis, information broking, research, investigative, website or technology services, professional advisors, program administrators and partners, statement producers, mail houses, email and print services, advertising agencies, technology, data and email storage and servers, backup and cloud computing providers, and other service providers as may be deemed necessary by AIA Australia from time to time;</li>


<li>publicly available sources, social media and other blogs, other websites you may visit and virtual communities and networks where people create, share or exchange information;</li>


<li>your adviser (and the licensed dealer or broker they represent) in respect of your insurance or AIA Vitality membership, other representatives or anyone acting on your behalf;</li>


<li>the trustee or administrator of a superannuation fund and/or your employer;</li>


<li>health professionals, medical providers and hospitals, dietitians, pharmacists, fitness trainers and rehabilitation providers;</li>


<li>the policy owner (where you are a life insured who is not the policy owner) and the life insured (where you are the policy owner who is not the life insured);</li>


<li>any other party with which we have an arrangement for the promotion and sale of products offered or distributed by us; and</li>


<li>any other third party from time to time with your implied or express consent or as required or authorised by law (and we may take steps separate to this Privacy Policy to ensure you are aware of these).</li>

</ul>


<p>AIA Australia may also exchange personal information with law enforcement agencies or government authorities and their agents (including those that are based overseas) where exchange is authorised or required by law, or where AIA Australia holds the view that such exchange is necessary to avoid or reduce the impact of action or conduct by such agencies, authorities or their governments that would be adverse to AIA Australia or its customers, to report illegal activity or to co-operate with lawful information requests (where we are authorised by law).</p>


<p>Some of the third parties to whom we may disclose personal information (as described in this Privacy Policy), including but not limited to our reinsurers, may be located in other countries and you agree that while they will often be subject to confidentiality or privacy obligations, they may not always follow the particular requirements of Australian privacy laws and by providing information to us or your adviser (and the licensed dealer or broker they represent), the trustee or administrator of a superannuation fund, or other representative or intermediary, submitting or continuing with your claim, or otherwise interacting or continuing your relationship with us, you confirm that you agree and consent to, and acknowledge that, Australian Privacy Principle 8.1 (which relates to cross-border disclosures) will not apply to the disclosure, we will not be accountable for those overseas parties under the Privacy Act and you may not be able to seek redress under the Privacy Act. The countries may include:</p>


<ul class="disc">

<li>the United States;</li>


<li>Canada, including to our third party service provider who assists us to investigate, manage and prevent suspected improper conduct such as fraud;</li>


<li>Japan;</li>


<li>South Africa;</li>


<li>Switzerland;</li>


<li>members of the European Union; and</li>


<li>Hong Kong, Singapore, Malaysia and other the countries in which AIA Group companies operate (see <a href="http://www.aia.com/en/our-markets/" target="_blank">http://www.aia.com/en/our-markets/</a>), including to our related, subsidiary and affiliated companies, AIA Vitality Company Limited, and their respective service providers, joint venture partners and business partners;</li>

</ul>


<p>and in each case to third party providers with offices or servers located there. We are also subject to a range of legal and regulatory obligations which may require us to impose contractual privacy controls on overseas parties handling personal information on our behalf.</p>


<p>Where we provide your personal information to a third party, including a reinsurer, a trustee or administrator of a superannuation fund and/or your employer, AIA Vitality Company Limited, Discovery Holdings Limited and AIA Vitality partners and providers (for the purposes of the AIA Vitality program), the third party may collect, use and disclose your personal information in accordance with their own privacy policy and procedures and terms of use. A third party&rsquo;s privacy policy and procedures and terms of use, the legal protections afforded to you by them, and the third party&rsquo;s ability to collect, use and disclose your personal information, may be different to that set out in this document and, if the third party is located outside Australia, are likely to be governed by the laws of a jurisdiction other than Australia.</p>


<p>We recommend that you carefully read and familiarise yourself with the privacy policy and procedures and terms of use of any third party with whom we are required to share your personal information. You can access the privacy policy of Discovery Holdings Limited at <a href="https://www.discovery.co.za/portal/individual/terms-and-conditions" target="_blank">https://www.discovery.co.za/portal/individual/terms-and-conditions</a>. You should contact other third parties directly for copies of their privacy policies. If you would like information about our providers or other third parties applicable to your circumstances, please contact our Compliance Manager as set out under <b>Contact Us</b> below.</p>


<p>In addition to the above, we may also collect, use and disclose your personal information in specific circumstances applicable to your situation as described below.</p>


<p>
<b>Our customers (including potential and former customers)</b>
</p>


<p>The types of personal information we collect may include your name and contact details, identifying information (eg date of birth), email address, residency, demographic and profile information (sex, age, etc), information provided by you directly (including but not limited to, information provided in an application or other information submitted in respect of your insurance, AIA Vitality membership or other product application), tax file number, transactional and financial information (including but not limited to your use of cards and other facilities, income, payment and banking information), family and beneficiary information, insurance claims information, work, occupation and pastimes and some sensitive, health and medical-related information. We are required or authorised to collect your personal information under various laws including the Life Insurance Act, Insurance Contracts Act, Corporations Act, taxation legislation (including without limitation the Income Tax Assessment Acts and the Taxation Administration Act), Superannuation Guarantee (Administration) Act, Superannuation Industry (Supervision) Act, , Anti-Money Laundering and Counter-Terrorism Financing Act, Financial Transaction Reports Act, Crimes Act (Vic), Crimes Act (NSW), Criminal Law Consolidation Act (SA) and the Criminal Codes of Queensland, Tasmania, WA, NT, ACT and the Commonwealth, and regulations and other instruments made under or pursuant to those laws. We may take steps separate to this Privacy Policy to ensure you are aware of any other relevant laws.</p>


<p>We collect, use and disclose your personal information for purposes including, but not limited to, processing your application (including for insurance, AIA Vitality membership or other product application), for underwriting purposes, the assessment and processing of claims and any other administration relevant to any policy issued by AIA Australia, administration of the AIA Vitality program or other programs / initiatives, reinsurance, conducting research and development relevant to our products and services, statistical, prudential, actuarial and reporting purposes, and other purposes we notify to you. We may exchange your personal information with your adviser (and the dealer group they represent), your employer and/or the trustee or administrator of your superannuation fund (for superannuation products), intermediaries and other third parties for the purposes outlined in this policy.</p>


<p>We may at times permit your adviser (and the licensed dealer or broker they represent), representative or other intermediary, and/or the trustee or administrator of your superannuation fund to provide, access, receive, review and update the personal information (including sensitive information) about you in respect of your application, claim, insurance or AIA Vitality membership with us over the telephone, email or online.</p>


<p>
<b>AIA Vitality members (including former and potential AIA Vitality members)</b>
</p>


<p>We collect, use and disclose your personal information for purposes including, but not limited to, assessing or processing your AIA Vitality membership application, registration and activation, communicating with you regarding your AIA Vitality membership, administration of your AIA Vitality membership, including but not limited to, the provision of health and wellbeing checks and assessments (including to assess results against previous checks and assessments) and benefits including discounts, cashbacks and rewards, payments relevant to AIA Vitality membership, and conducting research and development relevant to products and services offered by us, our affiliates and partners of the AIA Vitality program, facilitating your use of the Website and other purposes we notify to you.</p>


<p>If you also own or are insured under any of our insurance products, and provide medical and health related information to us in relation to your AIA Vitality membership, we will take steps to ensure this information is kept separate from the underwriting and claims departments of AIA Australia who are responsible for any future underwriting or claims decisions. Under no circumstances will AIA Australia be deemed to have knowledge of any AIA Vitality-related information in respect of its underwriting and claims functions. In accordance with your statutory duty of disclosure, you are still therefore obliged to disclose any of this information to the extent it may be relevant in the event of any future application for insurance cover (including increased or varied cover) or changes to existing insurance cover with AIA Australia.</p>


<p>If you are also an employee of AIA Australia, personal information you provide solely as part of your AIA Vitality membership will be accessed by personnel of AIA Australia and third parties for the purpose of administering the AIA Vitality program and as otherwise set out in this policy. Where practicable, access to AIA Vitality-related personal information will be limited to those personnel who are directly or indirectly involved with the AIA Vitality program. AIA Vitality-related personal information will not be used in making decisions relating to your employment with AIA Australia (including hiring decisions).</p>


<p>We may collect your personal information from, and exchange your personal information with, AIA Vitality partners or other providers of health and wellbeing checks and assessments (including but not limited to, dietitians, pharmacists and trainers) and benefits (including but not limited to discounts, cashbacks and rewards) under the AIA Vitality program, AIA Vitality Company Limited (incorporated in Hong Kong) and Discovery Holdings Limited (incorporated in South Africa) and its related bodies corporate, affiliates and third parties service providers of these entities. We may also copy your adviser (and the licensed dealer or broker they represent) in email communications sent to you in respect of your AIA Vitality membership and the AIA Vitality program. Where you are a life insured who is not the policy owner, we may also at times provide and exchange personal information (including sensitive information) about you to the policy owner of the eligible insurance policy under which you are insured or provide and exchange personal information about the policy owner of the eligible insurance policy to you, the life insured. We may at times permit your adviser (and the licensed dealer or broker they represent) to provide, access, receive, review and update the personal information (including sensitive information) about you in respect of your insurance or AIA Vitality membership with us over the telephone, email or online.</p>


<p>
<b>Our staff (current and former, including contractors)</b>
</p>


<p>We collect personal information as part of your current or former employment and/or engagement with us. The types of personal information we collect may include identifying information (eg date of birth and employee identification and number), qualifications and experience, and information relating to your current or former employment or engagement, including the terms and conditions of your employment or engagement, your training, performance, conduct, disciplining, resignation or termination, membership of a professional or trade association, trade union membership, leave details and taxation, banking and superannuation affairs. We are required or authorised to collect your personal information under various laws, including without limitation, the Fair Work Act, Superannuation Guarantee (Administration) Act, Superannuation Industry (Supervision) Act, taxation legislation (including without limitation, the Income Tax Assessment Acts, and Taxation Administration Act), Life Insurance Act, and Australian Prudential Regulation Authority Act and regulations and other instruments made under or pursuant to those laws. We may take steps separate to this Privacy Policy to ensure you are aware of any other relevant laws.</p>


<p>We collect, use and disclose your personal information for all purposes relating to your current or former employment or engagement including, but not limited to, engagement, training, disciplining, payroll, superannuation, health and safety, administration, insurance (including WorkCover) and staff management purposes, AIA Vitality membership and other purposes that we may notify to you. We may exchange your personal information with law enforcement and background checking agencies and educational or vocational organisations to verify your qualifications and whether you have a criminal record in certain circumstances, your health service providers, your representatives (including unions) and our service providers including providers of online services, recruitment, payroll, banking, staff benefits, staff rewards and share programs, surveillance and training services.</p>


<p>We may also collect, use, disclose or exchange other types of personal information and may conduct or engage background checking agencies to conduct other checks under applicable AIA Australia and AIA Group policies.</p>


<p>
<b>Job applicants</b>
</p>


<p>We collect personal information as part of your job application including your qualifications, experience, professional memberships, achievements and work history.</p>


<p>We collect, use and disclose your personal information for purposes including, but not limited to, assessing your application, assessing you for a position or positions with us or our affiliates, assessing whether you are suitable to progress to each stage of the recruitment process for a position, storing your information for future job opportunities and other purposes we notify to you.</p>


<p>We may exchange your personal information with related bodies corporate and joint venture partners, recruitment agencies, online service providers, organisations that conduct competency or psychometric tests, referees, current and previous employers, law enforcement and background checking agencies and educational or vocational organisations to verify your application details and whether you have a criminal record in certain circumstances.</p>


<p>We may also collect, use, disclose or exchange other types of personal information and may conduct or engage background checking agencies to conduct other checks under applicable AIA Australia and AIA Group policies.</p>


<p>
<b>Our website and emails</b>
</p>


<p>If you visit our Website to read, browse or download information, our system may record information such as the date and time of your visit to the Website, the pages accessed and any information downloaded. This information is used for purposes including statistical, reporting and website administration and maintenance purposes.</p>


<p>Like many other websites, our Website may use &lsquo;cookies&rsquo; from time to time. A cookie is a piece of information that allows our system to identify and interact more effectively with your device. The cookie helps us to maintain the continuity of your browsing session and remember your details and preferences when you return. You can configure your web browser software to reject cookies however some parts of our website may not have full functionality in that case.</p>


<p>When we send you emails or other electronic messages, we may record where you open the message and click on particular links. This helps us to better understand what information is of interest to you.</p>


<p>In some cases third parties may use cookies and other technologies such as web beacons and JavaScript on our Website in connection with online services like banner advertising, website analytics, brand monitoring and surveys. This may allow them to collect information about your use of our website (including your computer&rsquo;s IP address) which they may store in the United States, Japan, South Africa, Switzerland, members of the European Union, Hong Kong, Singapore, Malaysia and other countries in which AIA Group companies operate (see <a href="http://www.aia.com/en/our-markets/" target="_blank">http://www.aia.com/en/our-markets/</a>) or other countries. The use of these technologies allows them to deliver customised advertising content, measure the effectiveness of their advertising, evaluate users use of our Website, to communicate with you or respond to feedback or complaints, to manage our relationship with you, to monitor and protect our brand, and other websites and provide other services relating to website activity and internet usage. Those third parties may also transfer the information they collect to others where required to do so by law, or where those others process the information on their behalf. The services we may use from time to time include Google Analytics, Google AdSense, Marketo, DoubleClick, Yahoo, Omniture (Adobe) / WisdomLink, Salesforce, Radian6, Adobe and Microsoft. You can find more details in the privacy policies for those services, including information on how to opt-out of certain conduct. If you are considering sending us any other personal information through our Website or other electronic means, please be aware that the information may be insecure in transit, particularly where no encryption is used (eg email, standard HTTP). We are subject to laws requiring us to protect the security of personal information once it comes into our possession.</p>


<p>The Website may contain links to other sites. We recommend that you carefully read and familiarise yourself with all relevant terms and conditions, privacy practices, policies and guidelines of those sites (as amended from time to time) and select the privacy and security settings that you are comfortable with. We are not responsible for the consent, security, privacy practices, policies or guidelines of those sites</p>


<p>
<b>Social media</b>
</p>


<p>We may, from time to time, have or maintain a presence on social media such as Facebook, You Tube, Twitter and LinkedIn. You can interact with us via social media where we maintain a presence. Depending on the particular social media platform, we may collect, use, handle, store and disclose, in the manner described in this Privacy Policy, personal information, including without limitation, the following types of information, as applicable:</p>


<ul class="disc">

<li>your name;</li>


<li>your email address;</li>


<li>your profile picture;</li>


<li>usernames, aliases, pseudonyms or login IDs;</li>


<li>your telephone number;</li>


<li>your postcode / suburb / state of residence;</li>


<li>your mailing address;</li>


<li>your company name, job title and industry;</li>


<li>your gender;</li>


<li>other information contained in your profile such as your education, relationship status, sexual preference, religious views, political views and links to online properties and other social media accounts;</li>


<li>comments you make or submit and any responses to such comments (including our responses and the responses of any other person); and</li>


<li>information about your interactions with us on social media platforms, including the date and time of your visit, which parts of our social media pages you visited and what information or material you viewed or downloaded. This information is used for statistical, reporting, administrative and maintenance purposes.</li>

</ul>


<p>When you interact with us via social media, you consent to any personal information you provide or disclose (including any of the above, as applicable) being collected, used and disclosed by us in the manner described in this Privacy Policy. You should be aware that interactions on social media with us may, depending on the particular social media platform you choose and on the settings you choose on each such platform that relate to privacy and security, be immediately publicly visible to all users of the platform.</p>


<p>Social media platforms are not bound by our Privacy Policy and may each have their own privacy policies or statements or similar (<b>Platform Privacy Policies</b>). Platform Privacy Policies vary from platform to platform. The rights that the various social platforms reserve for themselves as stated in their applicable Platform Privacy Policies in relation to information you provide when you are interacting with us via such platforms are likely to be different to our policies as set out in this document. We recommend that when interacting with us via social media, you avoid disclosing personal information in a way that makes it publicly available. We publish social media "House Rules", available via our various social media pages, which contain more information about recommended "dos and don'ts" in relation to disclosing personal information on social media. We recommend that you read our social media "House Rules".</p>


<p>In addition, platform providers' terms of use, terms of service or rules and the like (<b>Terms of Use</b>) and their Platform Privacy Policies are likely to be governed by the laws of a jurisdiction other than Australia. Privacy laws that apply to the platform operators and to their obligations in respect of information you provide are likely to be different to Australian privacy laws. The legal protections afforded to you by such laws may be substantively different to those available under applicable Australian laws.</p>


<p>Your use of social media platforms will also be governed by the Terms of Use published from time to time by the various platform providers. We accept no responsibility for the Terms of Use or Platform Privacy Policies of the social media platforms you use to interact with us.</p>


<p>We recommend that, before using social media to interact with us, you carefully read and familiarise yourself with:</p>


<ul class="disc">

<li>the social media platform provider's Terms of Use and Platform Privacy Policies; and</li>


<li>the privacy and security settings available for that platform and select the settings that you are comfortable with.</li>

</ul>


<p>If the social media platform provider amends or updates its Terms of Use or its Platform Privacy Policies, carefully review the proposed changes to understand how they may affect your continuing use of the platform.</p>


<p>
<b>Anonymity</b>
</p>


<p>You may choose to communicate or interact with us (to ask general enquiry type questions) anonymously or by using a pseudonym. Please be aware that this may reduce our ability to interact with you. In some circumstances we are often governed by strict regulations that require us to know who we&rsquo;re dealing with. In general, we won&rsquo;t be able to deal with you anonymously or where you are using a pseudonym when:</p>


<ul class="disc">

<li>it is impracticable; or</li>


<li>we are required or authorised by law to deal with you personally.</li>

</ul>


<p>
<b>Security</b>
</p>


<p>We take reasonable steps to protect personal information from misuse, interference and loss including by implementing physical, technical and administrative security standards to secure and protect your personal information from unauthorised access, modification or disclosure. Steps we take can include, but are not limited to, implementing and imposing:</p>


<ul>

<li>confidentiality requirements on our employees and other representatives, as well as third parties;</li>


<li>policies on document storage security;</li>


<li>security measures for access to our systems;</li>


<li>identification procedures prior to providing access to information;</li>


<li>control on access to our premises; and</li>


<li>website protection security measures.</li>

</ul>


<p>
<b>Retention / Destruction</b>
</p>


<p>When all of our legal obligations to retain your information have expired, or we no longer need your information for a purpose permitted under law, we will take such steps as are reasonable to destroy or de-identify it.</p>


<p>
<b>Accessing and updating your personal information</b>
</p>


<p>You have the right to access the personal information we hold about you, and can request the correction of your personal data if it is inaccurate, incomplete or out of date. Requests for access or correction should be directed to our Compliance Manager (see &lsquo;Contact us&rsquo; below).</p>


<p>Please note that in relation to personal information provided via social media, we can only provide access to or correct information held by us. You must direct requests for access to or correction of personal information held by the social media platform provider directly to the relevant platform provider.</p>


<p>We will generally respond to requests for access as soon as possible or at least within 14 days. If a request is straightforward, we will often grant access within 14 days or, if the request is more complicated, within 30 days. We may need to verify your identity before providing access.</p>


<p>In some circumstances, AIA Australia may not permit access to your personal information where, for example, such access would be unlawful or denying access is authorised by law. In these cases, AIA Australia will provide you with written reasons for a denial of access or refusal to correct personal information. If you disagree with our refusal to correct your personal information, you can ask us to append an explanatory note to the information.</p>


<p>
<b>Contact Us</b>
</p>


<p>If you have any questions or concerns about your personal information, please contact our Compliance Manager as set out below:</p>


<p>The Compliance Manager<br>
AIA Australia Limited<br>
PO Box 6111<br>
St Kilda Road Central, VIC 8008<br>
Phone 1800 333 613</p>


<p>
<b>Further information</b>
</p>


<p>AIA Australia has established an internal dispute resolution process for handling customer complaints (including matters involving compliance with privacy laws). This dispute resolution mechanism is designed to be fair and timely to all parties and is free of charge. If you have a complaint about AIA Australia's handling of your personal information, you should submit it in writing to the Compliance Manager at the address specified above. You will typically receive a letter from us within five days which sets out an overview of how your complaint will be responded to. AIA Australia&rsquo;s Internal Dispute Resolution Committee will handle any escalated complaints that cannot be addressed at an operational level. AIA Australia aims to resolve your complaint within 45 days of receipt.</p>


<p>If you are a current or former employee or contractor of ours, any complaint about company compliance with privacy laws will be handled in the manner described in the applicable Human Resources policy or procedure where available. Should your complaint not be resolved to your satisfaction by our internal dispute resolution process, you may take your complaint to the Office of the Australian Information Commissioner. The Office of the Australian Information Commissioner's contact details are:</p>


<p>Office of the Australian Information Commissioner<br>
GPO Box 5218<br>
Sydney NSW 2001<br>
Phone: 1300 363 992<br>
Web: <a href="http://www.oaic.gov.au/" target="_blank">www.oaic.gov.au</a>.</p>


<p>
<b>Changes to this Privacy Policy</b>
</p>


<p>We may amend this Privacy Policy at any time and from time to time. If we do so, we will post an amended Privacy Policy on our website at <a href="http://www.aia.com.au/" target="_blank">http://www.aia.com.au/</a> so that you will always be aware of how we manage personal information (including sensitive information). For the avoidance of doubt, the Privacy Policy applicable to the management and handling of personal information will be the most current version published at <a href="http://www.aia.com.au/" target="_blank">http://www.aia.com.au/</a>, which shall supersede and replace all previous Privacy Policies and/or Privacy Statements and privacy summaries that you may receive or access, including but not limited to those contained in or referred to in any telephone recordings and calls, applications, underwriting and claim forms, Product Disclosure Statements and other insurance and disclosure statements and documentation. This Privacy Policy is also available upon request by contacting us on 1800 333 613.</p>


<p>Last Updated 10 July 2014</p>


<p align="center">AIA Australia Limited ABN 79 004 837 861 AFSL 230043<br>
Copyright &copy; 2014, AIA Group Limited and its subsidiaries. All rights reserved.<br>
Confidential and proprietary information.</p>

</td>

</tr>

</table>


<p>&nbsp;</p>

</div>
