<div class="managed-content" id="090040be804252de">
                
<h1 align="left">AIA Vitality Terms and Conditions</h1>


<h3>
<b>1 &nbsp;Governing Documentation and membership conditions</b>
</h3>


<p>These terms and conditions apply to the AIA Vitality Program and the provision of any benefits under the AIA Vitality Program.</p>


<p>The date of these terms and conditions can be found at the bottom of this page. The most up-to-date version of these terms and conditions is available on the AIA Vitality website and on our AIA Vitality portals. Alternatively, you can request a hard copy by contacting us on 1800 848 254. We recommend that you periodically check these terms and conditions, the AIA Vitality Terms of Use, the AIA Australia Privacy Policy and the benefit guides on the AIA Vitality website and always refer to the latest version.</p>


<p>You must read these terms and conditions before you apply to become a member of the AIA Vitality Program. These terms and conditions contain important information. If you do not understand these terms and conditions, or if you have any questions about these terms and conditions, please email <i>queries@aiavitality.com.au</i> or call 1800 848 254. A representative will be happy to assist you.</p>


<p>By applying to become a member of the AIA Vitality Program, by paying the Annual Membership Contribution to AIA Australia and participating in the AIA Vitality Program or by accessing any benefit or reward, you will be deemed to have:</p>


<ul class="disc">

<li>

<p>read and agreed to be bound by these terms and conditions, the AIA Vitality Terms of Use (applicable to our websites, portals, online facilities, smarts phone/tablet applications, tools, information, materials and contents relevant to the AIA Vitality Program) and the benefit guides;</p>

</li>


<li>

<p>consented to the collection, use (including without limitation, handling and storing) and disclosure of your personal and sensitive information in accordance with the AIA Australia <a href="http://aiavitality.com.au/vmp-au/privacy_policy">Privacy Policy</a> available at <a href="http://www.aia.com.au" target="_blank"><i>www.aia.com.au</i></a> as updated from time to time; and</p>

</li>


<li>

<p>acknowledged and agreed that AIA Australia may make changes to the terms and conditions, AIA Vitality Terms of Use, benefit guides and AIA Australia Privacy Policy at any time, and agree to be bound by these documents as amended and any other rules, policies or procedures that may be adopted or varied by AIA Australia from time to time.</p>

</li>

</ul>


<p>Once you are an AIA Vitality Member, you have a choice as to whether or not you wish to access or use the benefits on offer under the AIA Vitality Program. If you choose to access or use a benefit, in addition to these terms and conditions, the AIA Vitality Terms of Use and the AIA Australia Privacy Policy, you will be bound by any additional terms and conditions set out in the relevant benefit guides, as well as any other requirements which may be stipulated in writing by a partner of the AIA Vitality Program from time to time. You can obtain the full set of benefit guides if you email <i>queries@aiavitality.com.au</i> or call 1800 848 254. The benefit guides are also available on the AIA Vitality website.</p>


<h3>
<b>2 &nbsp;Changes to the AIA Vitality Program, partners and benefits</b>
</h3>


<p>We reserve the right to make changes to any aspect of the AIA Vitality Program, these terms and conditions, the AIA Vitality Terms of Use, the AIA Australia Privacy Policy, the benefit guides and any other terms and conditions communicated in any other materials relating to the AIA Vitality Program. We reserve the right to change the identity and range of partners, benefits structure (including points and status thresholds, discounts, cashbacks and reward entitlements) and eligibility conditions at any time.</p>


<p>For example, AIA Australia may:</p>


<ul class="disc">

<li>change the ways in which AIA Vitality Points and AIA Vitality Status levels (also known as points and status throughout these terms and conditions) are earned or structured;</li>


<li>change the number of points required or eligibility criteria to access or use a benefit;</li>


<li>change the ways in which points or benefits may be redeemed;</li>


<li>add, limit, change, replace or remove partners;</li>


<li>add, limit, change, replace or remove any benefit;</li>


<li>change the Annual Membership Contributions;</li>


<li>change any other features, concessions or benefits of the AIA Vitality Program; and/or</li>


<li>adopt or implement any legal requirement, decision, recommendation, regulatory guidance or standard of any court, tribunal, ombudsman service or regulator.</li>

</ul>


<p>We will notify you of changes or variations to the AIA Vitality Program by posting any notice or other information on the AIA Vitality website, portals or on-line facilities or at AIA Australia&rsquo;s sole discretion, by communicating such changes or variations to you by electronic transmission e.g. email (sent to your last notified email address), by hardcopy mail out (sent to your last notified mailing address) or by SMS, MMS, telephone, fax or any other means of communication (including without limitation, via any of your telephone numbers, whether registered in Australia or otherwise) . Where we consider that changes to the AIA Vitality Program will be significant, we will endeavour to provide AIA Vitality Members with at least 30 days&rsquo; notice of the changes.</p>


<p>If you are not satisfied with any changes or variations to the AIA Vitality Program, you may terminate your membership under clause 10 (Termination of membership) of these terms and conditions.</p>


<h3>
<b>3 &nbsp;AIA Vitality membership</b>
</h3>


<p>The AIA Vitality membership year commences on the date that the AIA Vitality membership begins and runs for a 12 month period. The AIA Vitality membership year can start on any day of the calendar year. Subject to the termination provisions in clause 10 of these terms and conditions and your continued eligibility as an AIA Vitality Member as set out in these terms and conditions, your AIA Vitality membership will be automatically renewed for a 12 month period on the membership anniversary date.</p>


<p>You may apply for AIA Vitality in one of two ways:</p>


<ul class="disc">

<li>

<p>when joining AIA Australia as a life insured under a new Eligible Policy. If you meet the eligibility requirements set out in these terms and conditions, your AIA Vitality membership will be activated upon the inception of the Eligible Policy and following registration and receipt of payment details for the payment of your Annual Membership Contribution.</p>

</li>


<li>

<p>as a life insured under an existing Eligible Policy, you may apply for AIA Vitality at any time by completing the relevant documentation. &nbsp;If you meet the eligibility requirements set out in these terms and conditions and the Eligible Policy associated with your membership is paid up to date, your AIA Vitality membership will be activated following registration and receipt of payment details for the payment of your Annual Membership Contribution.</p>

</li>

</ul>


<p>AIA Australia may, in its absolute discretion, allow other methods of applying for an AIA Vitality membership. Please refer to clause 11.6 of these terms and conditions for further information relating to exclusive memberships.</p>


<p>You have a cooling off period after you join AIA Vitality to change your mind and cancel your membership and receive a refund of your Annual Membership Contribution. The cooling off period ends on the earlier of 21 days after you register for AIA Vitality or your booking (if applicable) or utilisation of any benefit. Where an AIA Vitality membership is cancelled during the cooling off period and payment of the Annual Membership Contribution has been received, the AIA Vitality membership Contribution will be refunded by AIA Australia to the AIA Vitality Member.</p>


<h3>
<b>4 &nbsp;Qualification as an AIA Vitality Member</b>
</h3>


<p>To qualify as an AIA Vitality Member of AIA Vitality, the following conditions must be met:</p>


<ul class="disc">

<li>You must be 18 years or older (a minimum of 19 years old on your next birthday);</li>


<li>You must be an Australian Resident;</li>


<li>You must provide a valid unique email address; and</li>


<li>You must be the life insured on a current, Eligible Policy.</li>

</ul>


<p>The AIA Vitality Member must be an individual and not a company or legal entity. Each individual is entitled to only one AIA Vitality membership. Children and spouses of the AIA Vitality Member and any other member of the AIA Vitality Member&rsquo;s household cannot be added to an AIA Vitality membership.</p>


<p>If you are insured under more than one Eligible Policy at the time that you apply for AIA Vitality, AIA Australia will, in its sole discretion determine which Eligible Policy your AIA Vitality membership will be associated with. Similarly, if you are an AIA Vitality member insured under more than one Eligible Policy and the Eligible Policy associated with your membership is terminated for any reason including but not limited to cancellation (including cancellation from inception), lapse, expiry or non-payment, AIA Australia will, where possible, transfer your membership to be associated with one of your other Eligible Policies (such Eligible Policy to be determined at AIA Australia&rsquo;s sole discretion).</p>


<p>AIA Australia may, in its absolute discretion, allow certain individuals who do not meet the qualifying conditions set out above to become an AIA Vitality Member (exclusive memberships). Please refer to clause 11.6 of these terms and conditions for further information relating to exclusive memberships.;</p>


<h3>
<b>5 &nbsp;AIA Vitality Membership Card and utilisation tools</b>
</h3>


<p>You will receive your AIA Vitality membership card after you have registered with AIA Vitality and provided payment details for the payment of your Annual Membership Contribution. AIA Australia shall not be responsible in the event of any error in your application or your failure to receive your AIA Vitality membership card due to the provision of incomplete or inaccurate particulars or information (including payment details) or an obsolete, incomplete or inaccurate mailing address.</p>


<p>You may need to present your AIA Vitality membership card and/or your AIA Vitality membership number at our partners to earn points and enjoy benefits. If you fail to present your AIA Vitality membership card at our partners when requested, you may not be able to claim such points and / or benefits retrospectively.</p>


<p>The AIA Vitality membership card is non-transferable and shall be used exclusively by you. You will remain liable for all transactions incurred from usage of the AIA Vitality membership card (whether authorised or otherwise), where investigations made by AIA Australia reveal that you are a party to any actions regarding any transactions effected through the use of the AIA Vitality membership card.</p>


<p>You shall not be entitled to dispute any transaction using your AIA Vitality membership card or under your username and password, unless you had previously notified AIA Australia of suspected or actual unauthorised use, loss or theft of your AIA Vitality membership card. AIA Australia is entitled, but not obliged, to rely on all instructions and transactions carried out using your AIA Vitality membership card or under your username and password.</p>


<p>By applying for and using the AIA Vitality membership card, you agree and undertake:</p>


<ul class="disc">

<li>not to use the AIA Vitality membership card for any commercial, fraudulent or unlawful purposes or purposes which are deemed unacceptable by AIA Australia or which are prohibited by these terms and conditions;</li>


<li>to promptly notify AIA Australia of any unauthorised use, loss or theft of the AIA Vitality membership card;</li>


<li>to change your password immediately and notify AIA Australia immediately and request a new password if you have reason to suspect that the security and/or confidentiality of your password has been compromised;</li>


<li>to pay all fees relating to the use of your AIA Vitality membership card as AIA Australia may prescribe from time to time; and</li>


<li>to only use the AIA Vitality membership card in accordance with these AIA Vitality terms and conditions.</li>

</ul>


<p>Your AIA Vitality membership card is and shall at all times remain AIA Australia's property and shall be surrendered to AIA Australia immediately upon termination of your AIA Vitality membership or on our request for breach by you of these terms and conditions, the Terms of Use or for breach of any benefit guide the terms or conditions of any other membership documentation. Should your AIA Vitality membership card become lost or damaged, you must immediately notify us via email at <a href="mailto:queries@aiavitality.com.au"><i>queries@aiavitality.com.au</i></a> or by calling 1800 848 254. You may request AIA Australia to issue a replacement AIA Vitality membership card and AIA Australia shall at its sole and absolute discretion, accept or refuse such request (with or without providing any reason). The issue of any replacement AIA Vitality membership card may be subject to a Card Replacement fee unless waived by AIA Australia at our discretion.</p>


<h3>
<b>6 &nbsp;AIA Vitality Program benefits</b>
</h3>


<h3>
<b>6.1 &nbsp;Benefits of the AIA Vitality Program</b>
</h3>


<p>The AIA Vitality Program is a health and wellness program that aims to reward AIA Vitality Members who are proactive about improving their health and general well-being, by providing benefits which may include discounts, exclusive offers, cash back rewards and other benefits relating to goods and/or services offered by our partners from time to time. For more information, please refer to the AIA Vitality website.</p>


<p>Unless otherwise set out in the relevant benefit guide, only an AIA Vitality Member can enjoy the benefits. Benefits may only be used for personal use and not business purposes.</p>


<p>As a general rule, you will be eligible to access benefits when you have registered on the AIA Vitality website and received your AIA Vitality membership card. Certain benefits may not be accessible immediately and may be subject to a processing or waiting period. The relevant benefit guide will explain when that benefit will be available and the relevant terms and conditions applicable to obtaining each benefit. If you do not register on the AIA Vitality website, you may not be able to access benefits. Please refer to the benefit guides on the AIA Vitality website for more information.</p>


<p>In some cases, certain benefits or partner discounts will not be applied at the point of sale. Instead these benefits or discounts may be consolidated on a periodic basis in the form of rebates. Where applicable, you will receive such rebates by electronic funds transfer or vouchers, or such other method as may be determined by us from time to time at our sole discretion and subject to applicable laws. For more information, please refer to the relevant benefit guide on the AIA Vitality website.</p>


<h3>
<b>6.2 &nbsp;Additional fees for using benefits</b>
</h3>


<p>Additional fees, including but not limited to, activation or joining fees, monthly fees and subscription fees, may be payable for the utilisation of certain benefits. The fees may be payable directly to the partner or to AIA Australia. Please refer to the benefit guides on the AIA Vitality website for more information. Where possible, we will endeavour to give you at least 30 days&rsquo; notice of the introduction of, or increase to, any fees payable for the utilisation of certain benefits. This notice may be provided by posting details of the change(s) on the AIA Vitality website, portals or on-line facilities or at AIA Australia&rsquo;s sole discretion, by communicating such changes or variations to you by electronic transmission e.g. email (sent to your last notified email address), by hardcopy mail out (sent to your last notified mailing address) or by SMS, MMS, telephone, fax or any other means of communication (including without limitation, via any of your telephone numbers, whether registered in Australia or otherwise).</p>


<p>If you are not satisfied with the introduction of, or increase to, any fees payable for the utilisation of certain benefits, you may terminate your membership under clause 10 (Termination of membership) of these terms and conditions.</p>


<h3>
<b>6.3 &nbsp;Important information about benefits</b>
</h3>


<p>Benefits are provided by our partners. AIA Australia will not be liable for the terms and conditions or any other documentation of any partner. AIA Australia makes no representations or warranties, express or implied, of any kind with respect to any benefit, including as to quality, merchantability or fitness of any product or service provided as part of a benefit, including without limitation, success rate, fitness for a particular purpose and/or quality.</p>


<p>AIA Australia will not be liable for any loss, injury, claim or damage suffered or incurred as a direct or indirect result of an AIA Vitality Member&rsquo;s use of a product or service or reliance upon advice in respect of any benefit. Any dispute about any products or services provided as part of a benefit must be resolved directly with the relevant partner. Where a particular benefit or preventative activity requires a trusted / verified source to be used (including without limitation, to take body or weight measurements, for immunisations, tests and assessments (i.e. fitness or nutrition assessment)) that trusted / verified source must be independent and must not be, without limitation, the AIA Vitality member themselves or a member of the AIA Vitality member&rsquo;s immediate family. Failure to abide by this clause may be construed as dishonesty / fraud and will be dealt with in accordance with these terms and conditions.</p>


<h3>
<b>6.4 &nbsp;Benefit guides and other documentation</b>
</h3>


<p>A partner (alone or jointly with AIA Australia) may issue a benefit guide which sets out the rules governing the use and access to a benefit. &nbsp;You can obtain the full set of benefit guides if you email a request to <i>queries@aiavitality.com.au</i> or call 1800 848 254. The benefit guides are also available on the AIA Vitality website.</p>


<p>AIA Australia does not assume any legal liability or responsibility for the completeness, accuracy, adequacy or currency of the contents of any benefit guide or any other advice or information provided in respect of any benefit.</p>


<p>All information in a benefit guide and other information provided in respect of any benefit is general information only and is not in any way intended to be financial, medical, nutritional, health, fitness, legal or other advice or as a substitute for such advice. Any such information is not provided to promote or influence you to acquire any product or service.</p>


<p>Benefit guides and other information provided in respect of benefits do not take into account your personal circumstances and are subject to change. You should obtain professional advice from a medical practitioner, pharmacist, dentist, nutritionist or other appropriate health professional in relation to your own personal circumstances or in relation to the diagnosis or treatment of any medical condition. If necessary, you should consult with such a professional. Importantly, the results of any benefits, devices, goods and/or services, software available, assessments, health checks, consultations or tools cannot replace any advice a doctor or other health professional gives. You should not change or discontinue any assistance or treatment you may be receiving on the basis of information provided in relation to any benefits, devices, goods and/or services, software available, assessments, health checks, consultations or tools accessed or used without first consulting your healthcare provider. Medicines you use for your physical or mental health may also affect the results of any benefits, devices, services, software available, assessments, health checks, consultations or tools accessed or used. You should also seek professional advice immediately should any symptoms you may be experiencing persist or change.</p>


<h3>
<b>6.5 &nbsp;AIA Vitality Fitness Assessment</b>
</h3>


<p>By taking part in the AIA Vitality Fitness Assessment with a fitness trainer (who is registered with AIA Vitality as a fitness trainer and who is bound by the AIA Vitality Terms and Conditions for Fitness Trainers, the AIA Vitality Fitness Assessment Protocol and any other terms and conditions as notified to them by AIA Australia from time to time (including without limitation being appropriately qualified and accredited)) (<b>AIA Vitality Fitness Trainer</b>) at an AIA Vitality gym partner (and/or that of its franchisees) and/or by using the services or facilities of an AIA Vitality Fitness Trainer, AIA Vitality gym partner and/or its franchisees(Activity) you:</p>


<ul class="disc">

<li>

<p>Authorise, agree and consent to personal (and sensitive) information arising from the Activity or the AIA Vitality Program being collected, used (including handled and stored) and disclosed by AIA Australia Ltd, AIA Vitality Company Limited (HK), Discovery Holdings Ltd (SA) and the relevant AIA Vitality Fitness Trainer and gym partner in accordance with the privacy policy and/or privacy statement of each of these entities as available on their website and in relation to AIA Australia Ltd, available at <i>www.aia.com.au</i> and in relation to Discovery Holdings Ltd available at <a href="https://www.discovery.co.za/portal/individual/terms-and-conditions" target="_blank"><i>https://www.discovery.co.za/portal/individual/terms-and-conditions</i></a>. These documents may be updated from time to time. Any personal (and sensitive) information arising from this assessment will be governed by the most current Privacy Policy and/or Privacy Statement of each of the above entities. For the avoidance of doubt, and in the absence of such provision in the relevant privacy policy of each of these entities, you authorise, agree and consent to each of these entities disclosing your personal (and sensitive) information to AIA Australia,</p>

</li>


<li>

<p>Acknowledge and agree that to the maximum extent permitted by law, AIA Australia, the relevant gym partner and the AIA Vitality Fitness Trainer exclude any and all liability to you under contract, tort, statute or in any other manner, for any injury (including without limitation death, personal, bodily or mental injury), damage or loss of any kind whatsoever (including without limitation, any liability for direct, indirect, special or consequential loss or damage) sustained by you or any other person, or for any costs, charges or expenses incurred by you or any other person arising from or in connection with the Activity and the contents of the AIA Vitality Fitness Assessment Report, (including without limitation as to the conduct of the AIA Vitality Fitness Trainer and the manner in which the AIA Vitality fitness assessment was conducted) and/or any act or omission of AIA Australia ,the relevant gym partner and/or the AIA Vitality Fitness Trainer, except to the extent that such injury, damage or loss is caused by the gross negligence (meaning that the act was done or omitted to be done with reckless disregard, with or without consciousness for the consequences of the act or omission) of AIA Australia, the relevant gym partner and/or the AIA Vitality Fitness Trainer (as applicable). In such case, the liability of the respective party will be limited to the injury, damage or loss directly caused by that party&rsquo;s gross negligence. This clause does not exclude, or intend to exclude, any consumer guarantees applicable to the Activity and to the extent that it does this clause has no effect;</p>

</li>


<li>

<p>Represent that you have honestly answered the AIA Vitality Fitness Assessment form (parQ) and represent that you are in good physical condition and have no medical reason, impairment or disability that might prevent you from undertaking the Activity. You acknowledge that neither AIA Australia, the relevant gym partner nor the AIA Vitality Fitness Trainer is in a qualified position to provide you with medical advice related to your physical condition and/or inability to undertake the Activity;</p>

</li>


<li>

<p>Agree to obtain professional advice from a medical practitioner, pharmacist or other appropriate health professional in relation to your own personal circumstances or in relation to the diagnosis or treatment of any health / medical condition. If necessary, you agree that you will regularly consult with such a professional. You also agree to seek professional advice immediately should any symptoms you may be experiencing persist or change; and</p>

</li>


<li>

<p>Acknowledge and agree that the results of the Activity are not a substitute for medical advice and must not be used for diagnosing or treating a health problem or to replace your doctor or healthcare professional. You agree not to change or discontinue any assistance, medication or treatment you may be receiving on the basis of information provided in relation to the Activity without first consulting your doctor or health professional. Medicines you use for your physical or mental health may affect the results of the Activity. ; Any reliance by you on the information provided in undertaking the Activity shall be at your own risk. AIA Australia, the relevant gym partner and the AIA Vitality Fitness Trainer make no express or implied representation or warranty regarding the completeness, accuracy, reliability or currency of the information or results provided.</p>

</li>

</ul>


<h3>
<b>6.6 &nbsp;Preventative Activities</b>
</h3>


<p>If you take part in preventative activities including:</p>


<ul class="disc">

<li>Health screens (including height and weight assessments, blood pressure, random and fasting blood glucose levels and total cholesterol);</li>


<li>Advanced screenings (mammogram, pap smear, colon cancer screen and dental check-up); and</li>


<li>Vaccinations (flu vaccination and HPV Vaccination (cervix or gardasil)),</li>

</ul>


<p>and wish to claim points for those preventative activities, you must have been a current AIA Vitality member at the time of the preventative activity, it must have occurred in your current membership year and you must upload the completed AIA Vitality Advanced Screening Form (available on the AIA Vitality website) signed by your health professional to the AIA Vitality website no later than three months from the date that the preventative activity took place. Only current medical practitioners or other appropriately qualified and accredited health professionals may complete the Advanced Screening Form.&nbsp;</p>


<h3>
<b>7 &nbsp;AIA Vitality Status and AIA Vitality Points</b>
</h3>


<h3>
<b>7.1 &nbsp;AIA Vitality Status</b>
</h3>


<p>As a new AIA Vitality Member, your status will be Bronze. Points earned throughout your AIA Vitality membership year are added towards your status. The more points you earn, the higher the status you will achieve. The different status levels are: Bronze, Silver, Gold and Platinum. To move up a status, you will need to accumulate a sufficient number of points to reach the relevant status. The table below sets out how many points are needed for each status at the date of these terms and conditions.<br>

</p>


<table class="table table-bordered table-small table-condensed">

<tr>

<td valign="top" width="232">

<p>
<b>AIA Vitality Status</b>
</p>

</td>
<td valign="top" width="232">

<p>
<b>AIA Vitality Points</b>
</p>

</td>

</tr>


<tr>

<td valign="top" width="232">

<p>Bronze</p>

</td>
<td valign="top" width="232">

<p>0 &ndash; 9,999</p>

</td>

</tr>


<tr>

<td valign="top" width="232">

<p>Silver</p>

</td>
<td valign="top" width="232">

<p>10,000 &ndash; 19,999</p>

</td>

</tr>


<tr>

<td valign="top" width="232">

<p>Gold</p>

</td>
<td valign="top" width="232">

<p>20,000 &ndash; 29,999</p>

</td>

</tr>


<tr>

<td valign="top" width="232">

<p>Platinum</p>

</td>
<td valign="top" width="232">

<p>30,000 +</p>

</td>

</tr>

</table>


<p>As your status changes, the benefits you are entitled to and the terms relating to those benefits may change.&nbsp; Please refer to the benefit guides for further information.</p>


<h3>
<b>7.2 &nbsp;Earning AIA Vitality Points</b>
</h3>


<p>You will earn points for completing certain activities if you are an AIA Vitality Member. The number of points you can earn will depend on a range of factors such as the activity you are doing and your health goals and risk factors. We may adjust the number of points you can earn for each activity, depending on your individual health status or how important the activity is to your health status. Certain activities and/or groups/categories of activities may have limits as to how many points you can earn over a certain time period. ;In certain circumstances and at our sole discretion, we may choose to allocate points to you for certain activities i.e. if you live in an area that is unserviceable for a particular benefit / activity. Additional terms and conditions may apply to each activity. Please refer to the relevant benefit guides for further details.</p>


<h3>
<b>7.3 &nbsp;Awarding of AIA Vitality Points</b>
</h3>


<p>Points will be awarded to you in accordance with the terms and conditions as determined by us and the respective partner from time to time. In some cases, it may take approximately eight weeks for your points to be reflected. We assume no control, responsibility or liability as to the awarding of or any delay in the awarding of points or posting of transactions into your membership account by the respective partners.</p>


<p>It is your responsibility to check that all points are reflected accurately.</p>


<p>Any disputes in connection with or arising from the points awarded must be notified to us as soon as possible and no later than,14 days after policy anniversary of the associated policy or 90 days from the date of activity if the 90 day period does not extend over policy anniversary, by email at: <a href="mailto:queries@aiavitality.com.au"><i>queries@aiavitality.com.au</i></a> or by calling 1800 848 254. We may need you to provide us with evidence of participation and other supporting documents wherever applicable to assist us in settling any disputes. If we do not receive any notifications from you within the stipulated timeframe of any disputes or inaccuracies on your points, the points statement will be taken to be correct, final and binding on you. Our decision on any such dispute is final and conclusive.</p>


<h3>
<b>7.4 &nbsp;Monitor your AIA Vitality Points</b>
</h3>


<p>You can monitor your points by logging on to the AIA Vitality website<a href="http://www.aiavitality.com.au/"></a> , via the AIA Vitality mobile app or by calling 1800 848 254.</p>


<p>There may be a delay for points to be loaded and / or reflected on your points statement or on any of the above platforms.&nbsp;</p>


<h3>
<b>7.5 &nbsp;Validity and Expiry of AIA Vitality Points</b>
</h3>


<p>Your status will remain in place from the time you earn the relevant status until the end of the next AIA Vitality membership year unless changes are made to your membership. At the anniversary of your AIA Vitality membership, AIA Vitality Members will carry over their status earned from the previous year. However, in the year after that AIA Vitality membership year, you will lose your status if you do not earn enough points to maintain it.</p>


<p>Your points will expire at the end of each AIA Vitality membership year in which the points are earned. No points will carry over into the subsequent year. Please refer to the AIA Vitality website and the relevant benefit guide to find out whether points will automatically be displayed or whether you will need to manually upload proof of participation or other required documentation. If a manual upload is required, you must upload the proof of participation or other required documentation as soon as possible and no later than14 days after policy anniversary of the associated policy or 90 days from the date of activity if the 90 day period does not extend over policy anniversary. If you do not submit the points within this period, the points will not be awarded.</p>


<h3>
<b>7.6 &nbsp;Transfer of rights</b>
</h3>


<p>You may not transfer points, your status, membership rights or rights to points to another person Your rights to benefits must also not be transferred to another person except where expressly permitted by the relevant benefit guide. Points may not be redeemed for cash and cannot be returned for any other consideration.</p>


<h3>
<b>7.7 &nbsp;Underutilisation rules</b>
</h3>


<p>For some benefits you may be required to utilise and/or purchase the partner&rsquo;s facility, goods and/or services, a specified minimum number of times or amounts. Failure to meet these minimum utilisation rules could result in your rights to the benefit being altered or terminated. Please see the relevant benefit guide on the AIA Vitality website for more details.</p>


<h3>
<b>8 &nbsp;Annual Membership Contribution</b>
</h3>


<p>Participation and membership in AIA Vitality is subject to the payment of an Annual Membership Contribution. ;Your first Annual Membership Contribution (or part thereof if a catch-up payment is required) shall be payable to us within 21 days of your AIA Vitality membership commencing. All other Annual Membership Contributions shall be payable to us on or before your Annual Membership Contribution due date. Annual Membership Contributions may be collected together with, or separately from, the premiums of the Eligible Policy associated with your membership as determined by AIA Australia in its sole discretion. Where required by AIA Australia and where permitted by law, you must procure that the Policy Owner of the Eligible Policy will pay the Annual Membership Contribution for the AIA Vitality membership and agree to pay the Annual Membership Contribution to AIA Australia yourself if the Policy Owner refuses to, or defaults on paying the Annual Membership Contribution. The Annual Membership Contribution for the following year will be advised to you on initial application and prior to the Annual Membership Contribution due date. We reserve the right to vary the Annual Membership Contribution provided we notify you in advance of the new Annual Membership Contribution prior to the Annual Membership Contribution due date. If you are not satisfied with the revised contribution amount, you may terminate your membership in accordance with clause 10 of these terms and conditions.</p>


<p>You may pay your Annual Membership Contribution on an annual or such other periodic basis and using such payment methods as may be approved by us. Each periodic payment is an instalment of the current year&rsquo;s Annual Membership Contribution.</p>


<p>If we do not receive payment of your first Annual Membership Contribution (or part thereof if a catch-up payment is required) within 21 days of your AIA Vitality membership commencing your AIA Vitality membership will be terminated with effect from inception.</p>


<p>If we do not receive payment of the amount due of your Annual Membership Contribution within 60 days from the Annual Membership Contribution due date (Grace Period), your AIA Vitality membership will automatically terminate. Your AIA Vitality membership, points and status will remain in force during the Grace Period.</p>


<h3>
<b>9 &nbsp;Offset Functionality</b>
</h3>


<p>Where payments are received by AIA Australia and those payments are not due, or the amount received is greater than or less than the amount due, AIA Australia intends to treat those payments as follows:</p>


<ul class="disc">

<li>

<p>Where payment is received by AIA Australia and payment is not due, AIA Australia may hold the amount received in an offset account and apply it to future amounts due.</p>

</li>


<li>

<p>Where payment is received by AIA Australia the amount received is greater than the amount due, AIA Australia may apply a portion of the amount received to cover the amount due and hold the remaining amount in an offset account and apply it to future amounts due.</p>

</li>


<li>

<p>Where payment is received by AIA Australia and the amount received is less than the amount due, AIA Australia may hold the amount received in an offset account until the outstanding amount is received and then may apply the total amount received to the amount due.</p>

</li>

</ul>


<p>AIA Australia will only apply amounts held in an offset account to fees related to AIA Vitality where AIA Australia, in its sole discretion, determines that the amount was intended to be used for this purpose.&nbsp;</p>


<p>These offset functionality changes are applicable to the extent not otherwise prohibited or restricted by law.&nbsp;</p>


<h3>
<b>10 &nbsp;Termination of membership</b>
</h3>


<h3>
<b>10.1 &nbsp;Termination by you</b>
</h3>


<p>You may terminate your AIA Vitality membership at any time by giving us 14 days&rsquo; notice in one of the following ways:</p>


<ul class="disc">

<li>&nbsp;by telephone call to 1800 VITALITY provided you successfully pass a 3 point identification process as determined by AIA Australia in its sole discretion; or</li>


<li>by written notice signed by the AIA Vitality member sent to AIA Australia either by email to <a href="mailto:queries@aiavitality.com.au"><i>queries@aiavitality.com.au</i></a> or by mail to AIA Vitality, PO Box 6313, St Kilda Road Central, VIC 8008.</li>

</ul>


<p align="left">AIA Australia will determine at its sole discretion, whether a notice of termination has been validly given. Termination notices which are not received by AIA Australia will not be valid. The effective date of termination of your AIA Vitality membership will be 14 days after a valid notice of termination has been given to AIA Australia.<br>

</p>


<h3>
<b>10.2 &nbsp;Termination of the AIA Vitality Program or your AIA Vitality membership by us</b>
</h3>


<p>We reserve the right to terminate, suspend, cancel, deactivate, recall or revoke the AIA Vitality Program (in whole or in part) at any time and do not guarantee that the AIA Vitality Program will continue indefinitely or that it will be managed and owned by us.</p>


<p>We further reserve the right to terminate, suspend or deactivate your AIA Vitality membership (in whole or in part, including your access and right to utilise one or more of the benefits), your transaction(s), AIA Vitality membership card, points and/or forfeit the accumulated points, immediately or at any time as determined by us, for reasons which include (but are not limited to):</p>


<ul class="disc">

<li>if we detect or suspect any unusual, irregular, suspicious, fraudulent or unauthorised use or activity or any threatened or actual breach by you of the AIA Vitality terms and conditions, AIA Vitality Terms of Use or of any benefit guides;</li>


<li>if you do not or no longer qualify (or we suspect that you do not or no longer qualify) for an AIA Vitality membership under these terms and conditions;</li>


<li>if the Annual Membership Contribution or any other fees payable to us or to any of our partners are not paid by the due date;</li>


<li>if we believe that you are abusing the benefits or privileges of the program;</li>


<li>if you are no longer the life insured under an Eligible Policy.</li>

</ul>


<p>In the event of termination of the AIA Vitality Program or termination of your AIA Vitality by us, we will notify you in writing of such termination by posting details of the termination on the AIA Australia website, the AIA Vitality website, portals or on-line facilities or at AIA Australia&rsquo;s sole discretion, by communicating such termination to you by electronic transmission e.g. email (sent to your last notified email address), by hardcopy mail out (sent to your last notified mailing address) or by SMS, MMS, telephone, fax or any other means of communication (including without limitation, via any of your telephone numbers, whether registered in Australia or otherwise).</p>


<p>In the event of termination of the AIA Vitality Program, AIA Australia will, subject to applicable laws and the terms of our agreements with partners, use reasonable endeavours to allow AIA Vitality Members to access their benefits ordered as at the date of termination of the AIA Vitality Program, for a period of 90 days from the date that notification of termination of the AIA Vitality Program is issued by AIA Australia. For the avoidance of doubt, this provision does not apply when we terminate your AIA Vitality membership.</p>


<h3>
<b>10.3 &nbsp;If your membership terminates</b>
</h3>


<p>If your membership is terminated for any reason:</p>


<ul class="disc">

<li>Except where your AIA Vitality membership is cancelled during the cooling off period: 

<ul class="disc">

<li>if you pay your Annual Membership Contribution on an annual or periodic basis (except monthly) we will refund the portion of the Annual Membership Contribution paid by you to us in advance (if any) on a pro rata basis for each whole month remaining after the effective date of termination of your membership. The payment will be made by AIA Australia within 30 days of the effective date of termination.</li>


<li>If you pay your Annual Membership Contribution on a monthly basis, you will not be entitled to a refund of any portion of your Annual Membership Contribution.</li>

</ul>

</li>


<li>

<p>You have a cooling off period after you join AIA Vitality to change your mind and cancel your membership and receive a refund of your Annual Membership Contribution. The cooling off period ends on the earlier of 21 days after you register for AIA Vitality or your booking (if applicable) or utilisation of any benefit. Where an AIA Vitality membership is cancelled during the cooling off period and payment of the Annual Membership Contribution has been received, the AIA Vitality membership Contribution will be refunded by AIA Australia to the AIA Vitality Member.</p>

</li>


<li>

<p>If your Annual Membership Contribution is due prior to the effective date of termination (including after you have given AIA Australia notice of termination) payment of the Annual Membership Contribution will be due and payable despite termination notice having been given.</p>

</li>


<li>

<p>Any discounts, benefits (including access to the AIA Vitality portal) and rewards to which you have been entitled as an AIA Vitality member will no longer be available. Agreements you may have with AIA Vitality partners may remain (subject to the relevant partner terms and conditions including notice period), but may be subject to altered terms (including potentially higher rates). You may be entitled to any outstanding partner cash back that you earned less any outstanding fees due to AIA Australia, subject to the terms and conditions of the relevant benefit guide.</p>

</li>


<li>

<p>In the event that there are any unpaid sums owed to AIA Australia or any of our partners in connection with your AIA Vitality membership, upon the termination of your AIA Vitality membership, we reserve the right to deduct any such unpaid sums from the benefits that you may have earned.</p>

</li>


<li>

<p>Any discounts which may have applied in respect of your Eligible Policy will cease from the next policy anniversary date and any cashback balances will cease immediately.</p>

</li>


<li>

<p>Any points and status will cease upon the termination of your AIA Vitality membership.</p>

</li>

</ul>


<h3>
<b>11 Other important information</b>
</h3>


<h3>
<b>11.1 &nbsp;General Information</b>
</h3>


<p>Membership of the AIA Vitality Program does not give rise to any legal relationship with AIA Australia or AIA Vitality, other than being bound by these terms and conditions and the other governing documentation referred to in clause 1 of these terms and conditions, and when entitled to do so, to receive any benefits.</p>


<p>Nothing herein shall be construed as a representation by us that AIA Vitality and/or AIA Vitality membership card is available for use in geographic areas or jurisdictions other than Australia.</p>


<p>The AIA Vitality terms and conditions and other governing documentation (including but not limited to the AIA Vitality Terms of Use, AIA Australia Privacy Policy and benefit guides) and the use of the AIA Vitality membership card shall be governed by and construed in accordance with the laws of Victoria, Australia.</p>


<p>If for any reason, any provision or part of the AIA Vitality terms and conditions or any provision or part of any other governing documentation is found to be void or unenforceable, such provision or part of the AIA Vitality terms and conditions or of any other governing documentation shall be deemed to be severed from the AIA Vitality terms and conditions or such other governing documentation and the remainder of such provision or of the AIA Vitality terms and conditions or such other governing documentation, as the case may be, shall remain in full force and effect and may be enforced to the fullest extent possible.</p>


<p>Other benefit promotions, special discounts, competitions, exclusive offers etc. may be offered from time to time, including from us, our partners or affiliates. If they are offered, other terms and conditions may apply, which may be notified by mail, email, SMS, the AIA Vitality website or the AIA Australia website <a href="http://www.aia.com.au" target="_blank"><i>www.aia.com.au</i></a> or other facility.</p>


<h3>
<b>11.2 &nbsp;How we communicate with you and consent to electronic communication</b>
</h3>


<p>We shall be entitled from time to time to contact you and provide you with any notice or other information in respect of your membership and participation in the program via electronic transmission (e.g. email), mail, SMS, MMS, telephone, fax and other means of communication (including without limitation, via any of your telephone numbers, whether registered in Australia or otherwise) or by posting any notice or other information on the AIA Vitality website, portals or on-line facilities.</p>


<p>You consent to receive documents and other information in relation to your AIA Vitality membership and any other arrangements you have with us by electronic communication (including without limitation, to the most recent email address we have for you in our records) and authorise us to act on instructions received electronically. You also consent to us communicating electronically the fact that some information can be obtained by following a hyper-link or by accessing an electronic address set out in the communication. You acknowledge that hard copy documents and information may not be given and that electronic communications must be regularly checked. You acknowledge that these consents and authority have effect to the maximum extent that we are permitted by law to act and provide information to you in accordance with these consents and authority. Notwithstanding these consents, we may still decide, at our sole discretion, to send you hard copy documents and information in certain circumstances.</p>


<p>We will use reasonable endeavours to transmit statements, notices and other material relevant to AIA Vitality Members to advise you of various matters of interest, including changes to the program, but we will not be responsible for correspondence lost or destroyed. Any statement, notice or other material will be deemed to have been given by us if it is uploaded to the AIA Vitality website or if it is sent to the email or physical mail address last notified to us by the AIA Vitality Member for the AIA Vitality Program. You are responsible for advising us of any change in your contact details, including email and physical mail address and telephone and fax numbers, and ensuring that your email address remains current and unblocked and that communications from us are not filtered or placed in a location where you do not see them so that we can provide documents and other information to you. AIA Australia will not be liable for failure to deliver a notice to you where you have failed to comply with the foregoing.</p>


<p>Where AIA Australia is required to give notice under these terms and conditions and it does so by electronic transmission (i.e. email), the notice is deemed given at the time of transmission (and not at the time of receipt) provided that AIA Australia doesn&rsquo;t receive any error or other message indicating that the email was not received by the AIA Vitality member due to an AIA Australia related issue or server problem. For example, if you do not receive the email notice because you have changed email address, the notice has gone to your junk mail or your email inbox is full then the notice will still be deemed valid at the time it was sent by AIA Australia.</p>


<h3>
<b>11.3 &nbsp;Privacy</b>
</h3>


<p>Your personal and sensitive information will be collected, used (including handled and stored) and disclosed by AIA Australia, AIA Financial Services Limited, AIA Group, AIA Vitality Company Limited (HK), Discovery Holdings Ltd (SA) and their related bodies corporate, affiliates and joint venture partners in accordance with the privacy policy and/or privacy statement of each of these entities as available on their website and in relation to AIA Australia Ltd, available at <a href="http://www.aia.com.au" target="_blank"><i>www.aia.com.au</i></a> and in relation to Discovery Holdings Ltd available at <a href="https://www.discovery.co.za/portal/individual/terms-and-conditions" target="_blank"><i>https://www.discovery.co.za/portal/individual/terms-and-conditions</i></a>. These documents may be updated from time to time. Any personal (and sensitive) information will be governed by the most current Privacy Policy and/or Privacy Statement of each of the above entities.;</p>


<p>If you also own or are insured under any of our insurance products, and provide medical and health related information to us in relation to your AIA Vitality membership, we will take steps to ensure this information is kept separate from the underwriting and claims departments of AIA Australia who are responsible for any future underwriting or claims decisions. Under no circumstances will AIA Australia be deemed to have knowledge of any AIA Vitality Program related information in respect of its underwriting and claims functions. In accordance with your statutory duty of disclosure, you are still therefore obliged to disclose any of this information to the extent it may be relevant in the event of any future application for insurance cover (including increased or varied cover) or changes to existing insurance cover or claims under an insurance policy with AIA Australia.</p>


<h3>
<b>11.4 &nbsp;Dishonesty/Fraud</b>
</h3>


<p>Your membership of, and participation in the AIA Vitality Program is based on mutual trust. Where dishonesty or fraud is detected, benefits may not be awarded, your AIA Vitality membership may be cancelled and the matter may be referred to the appropriate authorities. This AIA Vitality membership may become invalid and we may take other action consistent with our legal rights.</p>


<p>If any act or omission by you is dishonest or fraudulent or if any dishonest or fraudulent means or devices are used by you, any member of your household or anyone acting on your or their behalf in relation to the AIA Vitality Program, then all benefits under this program may be lost, your AIA Vitality membership may be cancelled and you may have to return to us any payments made by us and benefits provided by us, or any of our partners (or by any other party under our direction) as a result of your actions or the actions of any member of your household or anyone acting on your or their behalf as a result of any dishonest or fraudulent actions.</p>


<p>AIA Australia reserves the right at any time throughout your membership, to undertake regular and/or one-off audits, verification checks and/or investigations of any aspect of your membership including but not limited to, activities and benefit attendance and use (both online and otherwise), points submission and allocation, benefit and rewards entitlement and increase in AIA Vitality status.</p>


<h3>
<b>11.5 &nbsp;Exclusion of Liabilities</b>
</h3>


<p>Under no circumstances, including as a result of its negligent acts or omissions or those of its officers, employees, directors, agents, advisers, contractors, partners or other persons for whom in law it may be liable, shall AIA Australia be liable for any loss or damage of any nature which you, your beneficiaries or any third parties may sustain as a result of engagement in the AIA Vitality Program. By agreeing to these terms and conditions you, your beneficiaries and any third parties indemnify AIA Australia accordingly.</p>


<p>All liability of AIA Australia (including without limitation related bodies corporate, joint venture partners and affiliates) and/or partners and their respective officers, employees, directors, agents, advisers and/or contractors for any loss, damage, claim or expense (including but not limited to indirect, incidental, special, punitive or consequential liability, economic loss, loss of profits and loss of opportunity) you may incur or suffer that arises directly or indirectly out of these terms and conditions, any other governing documentation as set out in clause 1 of these terms and conditions or the AIA Vitality Program (regardless of whether we have any control over circumstances giving rise to the claim or not) including termination or suspension of your AIA Vitality membership, termination of the AIA Vitality program and/or termination of any partner benefit, is hereby excluded to the maximum extent permitted by law. To the extent permitted by law, this applies even if we have been informed that the liability, loss, damage or expense will or may result. AIA Australia and/or partners and their respective officers, employees, directors, agents, advisers and/or contractors disclaim all warranties, express or implied, in connection with the AIA Vitality Program and the benefits. If AIA Australia and/or partners are liable to you in any way, our liability will be limited to allocating to your AIA Vitality membership the number of points and/or status which we consider is appropriate in connection with which the relevant claim arose.</p>


<p>To the fullest extent permitted by law, AIA Australia disclaims all express or implied warranties including, but not limited to, warranties of satisfactory quality, merchantability and fitness for a particular purpose. AIA Australia shall not be liable for any damage or loss of any kind directly or indirectly arising from or in connection with the AIA Vitality Program, any information, software, products, services, benefits or content obtained through the AIA Vitality Program, or your dealings with third party service providers available through the AIA Vitality Program.</p>


<p>AIA Australia will not be liable for any disruption to the Vitality Program or any delay to or inability to provide any of the benefits caused by circumstances beyond the control of AIA Australia including, but not limited to, failure of any service provider or other third party, strikes or industrial disputes, acts of God, flood, weather, unavailability, war, terrorism or civil disturbance.</p>


<p>Any third party links (including those of partners) provided by us on any of our websites, communication channels and social media are provided for your convenience. Their inclusion does not imply any approval or endorsement by us. We have no control over the content of those sites and accept no responsibility or liability in respect of them.</p>


<p>You must evaluate and bear all risks associated with the use of the content downloaded and acquired through our/third party (including partner) websites. We shall not be liable for any damage or loss of any kind directly or indirectly arising from or in connection with your use or inability to access our website /third party (including partner) links and/or use any related documents. Please note that the material (including, without limitation, workout and exercise tips, and information contained in applications and video clips), provided on any of our websites, communication channels and social media, including all text, photographs, images, illustrations, graphics, audio, video and audio-video clips, is provided by way of general information only. Whilst we, (including our holding company, subsidiaries and/or the subsidiaries of our holding company and any joint venture partners or affiliates), will endeavour to ensure that the contents of the material are accurate, errors or omissions may occur and we do not accept any liability in respect of them.</p>


<p>We recommend that you consult with your physician before you undertake to follow any health and fitness instructions you may receive from AIA Vitality, our websites, communication channels and social media. We are not a licensed medical provider and have no expertise in diagnosing, examining, or treating medical conditions of any kind, or in determining the effect of any specific exercise on a medical condition. AIA Vitality is not intended to be a substitute for professional medical advice, diagnosis, treatment or management of care following an assessment in the event of abnormal health screen results. Should you have any health related questions, please call or see your healthcare provider promptly. In the event of an emergency, call your healthcare provider immediately or if appropriate dial 000.</p>


<p>You expressly agree that your athletic activities carry certain inherent and significant risks of property damage, bodily injury or death and that you voluntarily assume all known and unknown risks associated with these activities even if caused in whole or part by the action, inaction or negligence of us or by the action, inaction or negligence of others (including partners). You also expressly agree that we do not assume responsibility for the inspection, supervision, preparation, or conduct of any race, contest, group athletic activity or event that may earn you points.</p>


<p>If you ever start to feel unwell or have discomfort at any time after trying the workout or exercise, stop immediately and seek further advice from your healthcare professionals. Do not disregard, avoid or delay obtaining medical or health related advice from your healthcare professional because of what you may have read on any of our website, communication channels and social media. Current health and fitness research may exist that could impact the information provided by us, and any tips may not be based on the most recent findings or developments. We will not be held responsible for any injuries and/or damages that may result from your participation in or engagement of the workout or exercise or any health and wellness program, of which the information has been provided to or shared with you on any of our websites, communication channels and social media.</p>


<p>We do not accept any liability with respect to death, injury or any consequential loss arising from the AIA Vitality program generally or from the supply of a benefit or service or from the loss, theft or destruction of a benefit (including, but not limited to vouchers).</p>


<p>You should obtain your own financial or tax advice regarding any benefit you may receive through AIA Vitality. AIA Australia is not liable for any financial or tax consequences that may arise.</p>


<p>Please also refer to the AIA Vitality Terms of Use and other governing documentation set out in clause 1 of these terms and conditions.</p>


<h3>
<b>11.6 Exclusive memberships</b>
</h3>


<p>From time to time and at our sole and absolute discretion, we may select individuals and offer exclusive memberships for AIA Vitality. In such circumstances the individual will be deemed to satisfy the eligibility criteria in these terms and conditions and other additional eligibility criteria as may be determined by us for the exclusive membership offer at our sole and absolute discretion. We may at our sole and absolute discretion waive the Annual Membership Contribution, the requirement to be insured under an Eligible Policy, or other requirements of AIA Vitality membership. Whether a selected individual is offered an exclusive membership and the eligibility and rules applicable to such exclusive membership are in the absolute discretion of AIA Australia.</p>


<p>These terms and conditions apply to such exclusive memberships, except where the terms and conditions are inconsistent with this clause 10.6, in which case this clause 10.6 will prevail to the extent of any inconsistency. If an exclusive membership is offered, other terms and conditions may apply, which may be notified by the AIA Vitality website, mail, email, SMS or such other facility as AIA Australia determines at its sole and absolute discretion. We reserve the right to terminate, suspend, cancel, deactivate, recall or revoke an exclusive membership offered at any time.</p>


<p>Where a selected individual has an exclusive membership with AIA Australia, they are not eligible for discounts to their premium or any cash back which may be available under the AIA Vitality Program. However, an individual under an exclusive membership may choose to cease their exclusive membership and apply for a paying AIA Vitality membership, in which case, if accepted, that individual would be eligible for any discounts or cash back which may ordinarily be available to other ordinary paying AIA Vitality Members.</p>


<p>Without in any way limiting the termination rights of AIA Australia or other termination rights contained in these terms and conditions, where an AIA Australia staff member has an exclusive membership, the exclusive membership will terminate on the earliest of one of the following occurring: dismissal; resignation; redundancy; retirement; termination of their employment; death; or termination of the exclusive membership at AIA Australia&rsquo;s sole discretion.</p>


<p>Without in any way limiting the termination rights of AIA Australia or other termination rights contained in these terms and conditions, where a selected adviser has an exclusive membership, the exclusive membership will terminate on the earliest of one of the following occurring: the adviser ceasing to distribute Eligible Policies (including where the Distribution Agreement that governs the adviser&rsquo;s Priority Protection distribution activities is terminated); retirement; death; or termination of the exclusive membership at AIA Australia&rsquo;s sole discretion.</p>


<p>Other terms and conditions may apply to exclusive memberships and any rules, policies or procedures applicable to exclusive memberships may be adopted or varied by us from time to time.</p>


<h3>
<b>12 Definitions and interpretation</b>
</h3>


<p>In the terms and conditions, unless the context otherwise requires, the headings are inserted for convenience only and shall not affect the construction of these terms and conditions.</p>


<p>The following expressions have the following meanings:</p>


<table class="table table-bordered table-small table-condensed">

<tr>

<td valign="top" width="194">

<p>AIA Australia, we, our</p>

</td>
<td valign="top" width="348">

<p>Refers to AIA Australia Limited (ABN 79 004 837 861) and/or where appropriate, its related bodies corporate and affiliates.</p>

</td>

</tr>


<tr>

<td valign="top" width="194">

<p>AIA Vitality Member</p>

</td>
<td valign="top" width="348">

<p>As set out in clause 4 of these terms and conditions.</p>

</td>

</tr>


<tr>

<td valign="top" width="194">

<p>AIA Vitality Program</p>

</td>
<td valign="top" width="348">

<p>The AIA Vitality program offered and administered by, or on behalf of AIA Australia.</p>

</td>

</tr>


<tr>

<td valign="top" width="194">

<p>AIA Vitality website</p>

</td>
<td valign="top" width="348">

<p>The AIA Vitality website at <a href="file:///\\AUAIPWDFS01\AIAA_DFS\share\Strategy%20and%20Marketing\Due%20Diligence\2013\Project%20V\On%20page%20content\VMP%20-%20T&Cs,%20Terms%20of%20Use%20and%20Privacy%20Policy\www.aiavitality.com.au%20%20">aiavitality.com.au</a> and/or our AIA Vitality portals.</p>

</td>

</tr>


<tr>

<td valign="top" width="194">

<p>Annual Membership Contribution</p>

</td>
<td valign="top" width="348">

<p>The annual membership payment that must be paid on joining the AIA Vitality Program and annually to remain a member of the AIA Vitality Program as set out in your quotation included with your application for an Eligible Policy or as part of your application for AIA Vitality, as may be updated from time to time on the AIA Vitality website or in other notices or documentation issued to you.</p>


<p>The Annual Membership Contribution may be payable on an annual or such other periodic basis and using payment methods as may be permitted by us (refer to clause 8).</p>

</td>

</tr>


<tr>

<td valign="top" width="194">

<p>benefits</p>

</td>
<td valign="top" width="348">

<p>Refers to discounts, exclusive offers, cash back rewards, and other benefits relating to goods and/or services offered by our partners from time to time and available to AIA Vitality Members through the AIA Vitality program.</p>

</td>

</tr>


<tr>

<td valign="top" width="194">

<p>benefit guide</p>

</td>
<td valign="top" width="348">

<p>A guide setting out the rules governing the use of and access to a benefit. You can obtain the full set of benefit guides by emailing a request to <i>queries@aiavitality.com.au</i> or call 1800 848 254. The benefit guides are also included on the AIA Vitality website.</p>

</td>

</tr>


<tr>

<td valign="top" width="194">

<p>Eligible Policy</p>

</td>
<td valign="top" width="348">

<p>An AIA Australia insurance policy as determined by AIA Australia in its sole discretion, where the life insured can apply for an AIA Vitality membership to be associated with that policy.</p>

</td>

</tr>


<tr>

<td valign="top" width="194">

<p>membership year</p>

</td>
<td valign="top" width="348">

<p>The 12-month period starting from the commencement of your AIA Vitality membership.</p>

</td>

</tr>


<tr>

<td valign="top" width="194">

<p>partner</p>

</td>
<td valign="top" width="348">

<p>Means a retailer, association, or any other person, entity, firm or corporation which has been contracted with to provide benefits to AIA Vitality Members.</p>

</td>

</tr>


<tr>

<td valign="top" width="194">

<p>partner cash back</p>

</td>
<td valign="top" width="348">

<p>Discounts you may be entitled to with certain partners which may be distributed in the form of electronic funds transfer or vouchers, or other method as may be determined by us from time to time and at our sole discretion.</p>

</td>

</tr>


<tr>

<td valign="top" width="194">

<p>points / AIA Vitality Points</p>

</td>
<td valign="top" width="348">

<p>The points awarded to an AIA Vitality Member for doing certain healthy activities.</p>

</td>

</tr>


<tr>

<td valign="top" width="194">

<p>status / AIA Vitality Status</p>

</td>
<td valign="top" width="348">

<p>The status level on the AIA Vitality program that a member can achieve, due to the number of points he/she may have earned. Status levels are Bronze, Silver, Gold and Platinum. Members start on Bronze and may progress through the levels to Platinum as they earn points while engaging in healthy activities.</p>

</td>

</tr>


<tr>

<td valign="top" width="194">

<p>status thresholds</p>

</td>
<td valign="top" width="348">

<p>The minimum points an AIA Vitality Member must earn before moving to a particular Vitality status.</p>

</td>

</tr>


<tr>

<td valign="top" width="194">

<p>terms and conditions</p>

</td>
<td valign="top" width="348">

<p>These terms and conditions and, where applicable, any other terms and conditions which govern an AIA Vitality Member&rsquo;s participation in the AIA Vitality Program, including where applicable and without limitation, the AIA Vitality Terms of Use, Privacy Policy and benefit guides.</p>

</td>

</tr>


<tr>

<td valign="top" width="194">

<p>You, your</p>

</td>
<td valign="top" width="348">

<p>Refers to an individual who has applied and been granted membership in AIA Vitality.</p>

</td>

</tr>

</table>


<p>&nbsp;</p>

</div>
