<div class="managed-content" id="090040be803d6347">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/improverun03.png"> 

<p class="left_side">
<b>Save up to 35%</b> on a range of fitness devices.</p>


<a class="btn citrus left_side" href="/vmp-au/improve_your_health/fitness_devices">Find out more</a>
</div>

</div>
