<div class="managed-content" id="090040be803d634d">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/improverun03.png"> 

<p class="left_side">
<b>Earn up to 100 AIA Vitality Points</b> every time you visit the gym.</p>


<a class="btn citrus left_side" href="/vmp-au/improve_your_health/gym_and_fitness">Find out more</a>
</div>

</div>
