<div class="managed-content" id="090040be803b9b6f">
                
<div class="banner-container">

<div class="promo-carousel slide" id="iyh-carousel">

<div class="carousel-inner">

<div class="item">${non_smoker_banner?if_exists}</div>


<div class="item">${gym_partner_banner?if_exists}</div>


<div class="item">${fitness_device_banner?if_exists}</div>


<div class="item">${ofe_banner?if_exists}</div>


<div class="item">${challenge_default_banner?if_exists}</div>


<div class="item">${food_tracker_default_banner?if_exists}</div>


<div class="item">${fitness_blog_default_banner?if_exists}</div>


<div class="item">${weight_watchers_default_banner?if_exists}</div>


<div class="item">${sil_default_banner?if_exists}</div>


<div class="item">${allen_carr_default_banner?if_exists}</div>


<div class="item">${ofe_default_banner?if_exists}</div>

</div>

</div>

</div>

</div>
