<div class="managed-content" id="090040be803d6351">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/healthysurfing.png"> 

<p class="left_side">Sign the <b>non-smoker's declaration</b> and earn 1,000 AIA Vitality Points.</p>


<a class="btn citrus left_side" href="/vmp-au/improve_your_health/stop_smoking">Find out more</a>
</div>

</div>
