<div class="managed-content" id="090040be803d7ea5">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/improverun03.png"> 

<p class="left_side">
<b>Earn AIA Vitality Points</b> for participating in qualifying organised fitness events.</p>


<a class="btn citrus left_side" href="/vmp-au/improve_your_health/gym_and_fitness/organised_fitness_events">Find out more</a>
</div>

</div>
