<div class="managed-content" id="090040be80459767">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man"></div>


<h1>Fitness Devices</h1>


<p>AIA Vitality offers you savings at a wide range of partners that to help you to improve your health and reach your health goals. What's more, you earn AIA Vitality Points as you work towards a healthier life.</p>
</div>
</div>
<div class="row ">
<div class="col-md-6 col-sm-6 ">
<div class="product-box">

<h1>Polar</h1>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/polar_d.png"></div>


<div class="primary-link">
<span>Save 35%</span>
</div>


<div class="primary-link">
<span class="highlight">Earn up to 100 points when you submit workout data.</span>
</div>


<div class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/polar">Find out more</a>
</p>

</div>


<div class="primary-link">

<p>
<a class="find" href="http://www.polarpersonaltrainer.com" target="_blank">Activate</a>
</p>

</div>

</div>

</div>
</div>
<div class="col-md-6 col-sm-6 ">
<div class="product-box">

<h1>Fitbug</h1>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/fitbug_d.png"></div>


<div class="primary-link">
<span>Save 30%</span>
</div>


<div class="primary-link">
<span class="highlight">Earn up to 100 points when you submit workout data.</span>
</div>


<div class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/fitbug">Find out more</a>
</p>

</div>


<div class="primary-link">

<p>
<a class="find" href="https://www.fitbug.com/au/auaiavitality" target="_blank">Activate</a>
</p>

</div>

</div>

</div>
</div>
</div>
<div class="row ">
<div class="col-md-6 col-sm-6 ">
<div class="product-box">

<h1>Fitbit</h1>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/fitbit_d.png"></div>


<div class="primary-link">
<span>Save 25%</span>
</div>


<div class="primary-link">
<span class="highlight">Earn up to 100 points when you submit workout data.</span>
</div>


<div class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/fitbit">Find out more</a>
</p>

</div>


<div class="primary-link">

<p>
<a class="find" href="http://www.fitbit.com/au/setup" target="_blank">Activate</a>
</p>

</div>

</div>

</div>
</div>
</div>
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>Earn Points with other devices</h1>

</div>


<div class="box-content">

<ul class="partner_slider small clearfix flexi_slider">

<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/nike">View</a>
</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/nike_sml.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/partners/nike">Nike +</a>
<br>

<a href="/vmp-au/partners/nike">Earn up to 100 points</a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/garmin">View</a>
</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/points_and_status/garmin_logo.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/partners/garmin">Garmin</a>
<br>

<a href="/vmp-au/partners/garmin">Earn up to 100 points</a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/adidas_micoach">View</a>
</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/general/micoach_logo.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/partners/adidas_micoach">miCoach</a>
<br>

<a href="/vmp-au/partners/adidas_micoach">Earn up to 100 points</a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/suunto">View</a>
</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/suunto_sml.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/partners/suunto">Suunto</a>
<br>

<a href="/vmp-au/partners/suunto">Earn up to 100 points</a>
</div>

</div>

</li>

</ul>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/rewards"><img src="/vitality_aia_au/web/linked_content/images/general/fitness_partners_get_active.jpg"></a>
</div>
</div>
</div>
</div>

</div>
</div>
