<div class="managed-content" id="090040be803ba4a7">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<h1>Goals</h1>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/health_goals.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</div>

</div>


<div class="assessment-content">

<p>We will recommend goals based on information from sources such as your Vitality Health Review and the results of your Vitality Health Check. You will earn Vitality Points when you participate in activities that help support your goal and when you complete an active goal.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/health_goals.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</div>

</div>


<div class="assessment-content">

<p>You will earn Vitality Points based on your recommended goals. We will advise you how many Vitality Points you can earn for achieving each goal.</p>


<p>You can also earn additional Vitality Points for certain activities related to achieving a goal, like a gym workout.</p>


<p>Note: The clinical ranges associated with the goals are based on clinical guidelines and range values recommended by AIA Vitality, The Royal Australian College of General Practitioners and Australian government authorities. They are for general information only and are not meant to be medical, nutritional, health, fitness or other advice, nor a substitute for the advice from your healthcare practitioner.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/health_goals.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</div>

</div>


<div class="assessment-content">

<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> now to enjoy this benefit and start earning AIA Vitality Points.</p>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>

</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/improve_your_health/gym_and_fitness/organised_fitness_events"><img src="/vitality_aia_au/web/linked_content/images/general/orgfitnessevents_01_lo.png"></a>
</div>
</div>
</div>
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/rewards"><img src="/vitality_aia_au/web/linked_content/images/general/rewards_lo.png"></a>
</div>
</div>
</div>
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
