<div class="managed-content" id="090040be803be812">
<div class="row row-fluid">
              
               
                
<div class="col-md-12 col-sm-12 ">
<div class="row">

<div class="col-md-8 col-sm-12">

<div id="insert_running_man"></div>


<h1>Gym and Fitness</h1>


<p>AIA Vitality offers a range of partners that can provide you with savings and help you to improve your health and reach your health goals. What's more, you earn AIA Vitality points as you work towards a healthier life.</p>

</div>


<div class="right-column col-md-4 col-sm-6">

<div class="row ">

<div class="col-md-12 col-sm-6">

<div class="banner">

<div id="insert_rewards_benefit_partners_banners"></div>

</div>

</div>


<div class="col-md-12 col-sm-6">

<div class="banner">

<div>

<p>
<a href="/vmp-au/improve_your_health/healthy_eating"><img src="/vitality_aia_au/web/linked_content/images/general/healthyeatin_02_banner.jpg"></a>
</p>

</div>

</div>

</div>

</div>

</div>

</div>


<div class="row">

<div class="col-md-4 col-sm-6">

<div class="product-box">

<h1>Step into Life</h1>


<div class="box-content">

<div class="main-img">
<img alt="" src="/vitality_aia_au/web/linked_content/images/improve_your_health/step_into_life_lrg.png"></div>


<div align="left" class="primary-link">
<span>&nbsp;</span>
</div>


<div align="left" class="primary-link">
<span>Save 40%</span>
</div>


<div align="left" class="primary-link">
<span class="highlight">Earn 100 points for each workout</span>
</div>


<div align="left" class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/step_into_life">Find out more</a>
</p>

</div>

</div>

</div>

</div>


<div class="col-md-4 col-sm-6 ">

<div class="product-box">

<h1>Anytime Fitness</h1>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/anytimefitness.png"></div>


<div align="left" class="primary-link">
<span>Discounted monthly membership fee of $59.50</span>
</div>


<div align="left" class="primary-link">
<span class="highlight">Earn up to $75 cashback per quarter</span>
</div>


<div align="left" class="primary-link">
<span class="highlight">Earn 100 points for each workout</span>
</div>


<div align="left" class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/anytime_fitness">Find out more</a>
</p>

</div>

</div>

</div>

</div>


<div class="col-md-4 col-sm-6 ">

<div class="product-box">

<h1>Virgin Active</h1>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/virginactive.png"></div>


<div align="left" class="primary-link">
<span>&nbsp;</span>
</div>


<div align="left" class="primary-link">
<span>Save 25%</span>
</div>


<div align="left" class="primary-link">
<span class="highlight">Earn 100 points for each workout</span>
</div>


<div align="left" class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/virgin_active">Find out more</a>
</p>

</div>

</div>

</div>

</div>

</div>


<div class="row">

<div class="col-md-4 col-sm-6 ">

<div class="product-box">

<h1>Fernwood</h1>


<div class="box-content">

<div class="main-img">
<img alt="" src="/vitality_aia_au/web/linked_content/images/improve_your_health/fernwood.png"></div>


<div align="left" class="primary-link">
<span>Save 15%</span>
</div>


<div align="left" class="primary-link">
<span class="highlight">Earn 100 points for each workout</span>
</div>


<div align="left" class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/fernwood">Find out more</a>
</p>

</div>

</div>

</div>

</div>


<div class="col-md-4 col-sm-6 ">

<div class="product-box">

<h1>Organised Fitness Events</h1>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/gymfitness_orgfitnessevents.jpg"></div>


<div align="left" class="primary-link">
<span>&nbsp;</span>
</div>


<div align="left" class="primary-link">
<span class="highlight">Earn up to 1,500 points for each event</span>
</div>


<div align="left" class="primary-link">

<p>
<a class="find" href="/vmp-au/improve_your_health/gym_and_fitness/organised_fitness_events">Find out more</a>
</p>

</div>

</div>

</div>

</div>


<div class="col-md-4 col-sm-6 ">

<div class="product-box">

<h1>Fitness Devices</h1>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/gymfitness_fitnessdevices.jpg"></div>


<div align="left" class="primary-link">
<span>Save up to 35%</span>
</div>


<div align="left" class="primary-link">
<span class="highlight">Earn up to 100 points for every upload</span>
</div>


<div align="left" class="primary-link">

<p>
<a class="find" href="/vmp-au/improve_your_health/fitness_devices">Find out more</a>
</p>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
                

</div>
</div>
