<div class="managed-content" id="090040be803bda7c">
<div class="col-md-8 col-sm-12">
<h1>Healthy Eating</h1>
</div>
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<p>AIA Vitality encourages you to get healthier by making it easier and more cost-effective for you to buy healthy food and learn how to follow a healthy diet.</p>


<p>Enjoy up to 30% off HealthyFood&trade; at Aussie Farmers and 30% off the monthly standard price at Weight Watchers. Plus we help you learn how to improve your current eating habits with the AIA Vitality Nutrition Assessment.</p>
</div>
</div>
<div class="row ">
<div class="col-md-6 col-sm-6 ">
<div class="product-box">

<h1>Aussie Farmers Direct</h1>


<div class="box-content">

<div align="center">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_aussiefarmers.jpg"></div>


<div class="primary-link">

<ul>

<li>Enjoy up to 30% off HealthyFood&trade; (fresh fruits and vegetables) at Aussie Farmers Direct</li>


<li>Earn up to 400 points a month on HealthyFood&trade; spend at Aussie Farmers Direct</li>

</ul>

</div>


<div class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/aussie_farmers_direct">Find out more</a>
</p>

</div>

</div>

</div>
</div>
<div class="col-md-6 col-sm-6 ">
<div class="product-box">

<h1>Weight Watchers</h1>


<div class="box-content">

<div align="center">
<img alt="" src="/vitality_aia_au/web/linked_content/images/partners/weight_watchers_2014.jpg"></div>


<div class="primary-link">

<ul>

<li>Enjoy 30% off the standard monthly rate for the Weight Watchers Unlimited and Weight Watchers Online plans</li>


<li>Earn up to 3,500 points a year</li>

</ul>

</div>


<div class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/weight_watchers">Find out more</a>
</p>

</div>

</div>

</div>
</div>
</div>
<div class="row ">
<div class="col-md-6 col-sm-6 ">
<div class="product-box">

<h1>Vitality Nutrition Assessment</h1>


<div class="box-content">

<div align="center">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_healthyeating03.jpg"></div>


<div class="primary-link">

<p>1,500 points for an assessment conducted with a Dietitians Association of Australia (DAA) Accredited Practising Dietitian (APD)</p>

</div>


<div class="primary-link">

<p>
<a class="find" href="/vmp-au/know_your_health/vitality_nutrition_assessment">Find out more</a>
</p>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au//expertAdvice?linkType=loggedOut"><img src="/vitality_aia_au/web/linked_content/images/general/expertadvice_lo.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
