<div class="managed-content" id="090040be803b6da8">
<div class="col-md-8 col-sm-12">
<h1>Improve Your Health</h1>
</div>
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<p>AIA Vitality makes healthy living easier and cost effective with discounts from our wellness partners. You'll enjoy special rates on advanced health screenings, smoking cessation courses, gym membership, workout gear and buying HealthyFood&trade;.</p>
</div>
</div>
<div class="row ">
<div class="col-md-6 col-sm-6 ">
<div class="product-box equal-box">

<div class="title">

<h1>Gym &amp; fitness</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/overview_gymfitness.jpg"></div>


<div class="content-text">

<p>As an AIA Vitality member, you enjoy 40% off the cost of a monthly gym membership at Step into Life.</p>


<p>Each time you work out at the Step into Life, you will earn 100 Vitality Points!</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/improve_your_health/gym_and_fitness">Find out more</a>
</div>

</div>

</div>
</div>
<div class="col-md-6 col-sm-6 ">
<div class="product-box equal-box">

<div class="title">

<h1>Healthy Eating</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_healthyeating02.jpg"></div>


<div class="content-text">

<p>Enjoy up to 30% off HealthyFood&trade; (Fresh fruits and vegetables) at Aussie Farmers Direct after you complete the AIA Vitality Health Check.</p>


<p>Enjoy 30% off the monthly standard price at Weight Watchers when you register for Weight Watchers Unlimited or Weight Watchers Online</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/improve_your_health/healthy_eating">Find out more</a>
</div>

</div>

</div>
</div>
</div>
<div class="row ">
<div class="col-md-6 col-sm-6 ">
<div class="product-box equal-box">

<div class="title">

<h1>Stop smoking</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/overview_stopsmoking.jpg"></div>


<div class="content-text">

<p>Stopping smoking has never been easier! Sign up for Allen Carr's Easyway smoking cessation program and enjoy 30% discount.</p>


<p>Stay smoke-free for at least 3 months and earn 1,000 Vitality Points when you complete a non-smoker's declaration online.</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/improve_your_health/stop_smoking">Find out more</a>
</div>

</div>

</div>
</div>
<div class="col-md-6 col-sm-6 ">
<div class="product-box equal-box">

<div class="title">

<h1>Fitness device</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/overview_fitnessdevices.jpg"></div>


<div class="content-text">

<p>Buy Polar watches, Fitbug and Fitbit devices and more at a discounted rate through AIA Vitality.</p>


<p>You can also earn up to 100 Vitality Points when you upload your workout data from your fitness device.</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/improve_your_health/fitness_devices">Find out more</a>
</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/improve_your_health/fitness_devices"><img src="/vitality_aia_au/web/linked_content/images/general/fitnessdevices_02_lo.png"></a>
</div>


<div id="insert_get_to_platinum_promo_block"></div>
</div>
</div>
</div>

</div>
</div>
