<div class="managed-content" id="090040be80383205">
<div class="">
<h1>Stop Smoking</h1>
</div>
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 well white">
<div class="well white">

<p>Allen Carr's Easyway will improve your health by helping you to stop smoking. If you sign up with Allen Carr's Easyway, you save 30% and earn 1, 000 AIA Vitality Points when you complete a non-smoker's declaration online after 3 months of not smoking.</p>

</div>
</div>
</div>
<div class="row ">
<div class="product-box ">

<h1>Non-Smoker Declaration</h1>


<div class="box-content">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/allen_carr_logo.jpg"></div>


<p>Complete a non-smoker's declaration</p>


<p>You will earn 1,000 points by clicking here to confirm that you are a non-smoker. You need to have not smoked at all for three months to sign this declaration. AIA Vitality reserves the right to request proof of a members being a non-smoker.</p>


<p>By clicking "Submit", you confirm that you have not smoked for three months and agree to this condition.</p>


<p>By clicking "Submit", I agree to the <a href="#">terms and conditions</a> of this benefit (including the above terms and conditions) and consent to the <a href="#">tPrivacy Policy</a>.</p>


<div class="primary-link">
<a href="/memberportal/partners/allen_carrs_easyway">Submit</a>
</div>

</div>
<div class="col-md-6 col-sm-6 ">
<div class="product-box equal-box">

<h1>Non-smokers declaration</h1>


<div class="box-content">
<img height="140" src="/vitality_aia_sg/web/linked_content/images/improve_your_health/non_smokers_declaration.png" width="370"> 

<div class="primary-link">
<span>By declaring that you are a non-smoker, you earn AIA Vitality Points Vitality Points: 1,000</span>
</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/lv-aia-au/group?linkType=loggedOut" target="_blank"><img src="/vitality_aia_au/web/linked_content/images/general/getting_fit_healthy_banner.png"></a>
</div>
</div>
</div>
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 x">
<div class="product-box ">

<h1>Allen Carr's Easyway</h1>


<div class="box-content">
<img src="/vitality_aia_sg/web/linked_content/images/improve_your_health/stop_smoking_woman.jpg"></div>


<div class="primary-link">
<span>Savings: <b>30%</b></span>
</div>


<div class="primary-link">
<a href="/memberportal/partners/allen_carrs_easyway">Find out more</a>
</div>

</div>
</div>
</div>
</div>

</div>
</div>
