<div class="managed-content" id="090040be803b7702">
<div class="col-md-8 col-sm-12">
<h1>Stop Smoking</h1>
</div>
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<p>With a success rate of over 90%, Allen Carr's Easyway is one of the most successful smoking cessation programs in the world. Sign up and save 30%.</p>


<p>You can earn 1,000 AIA Vitality Points when you complete a non-smoker's declaration online after 3 months of not smoking</p>
</div>
</div>
<div class="row ">
<div class="col-md-6 col-sm-6 ">
<div class="product-box equal-box">

<div class="title">

<h1>
<a href="/vmp-au/partners/allen_carrs_easyway">Allen Carr's Easyway</a>
</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/allen_carr_logo.jpg"></div>


<div class="primary-link">
<span>Savings: <b>30%</b></span>
</div>


<div class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/allen_carrs_easyway">Find out more</a>
</p>

</div>

</div>

</div>
</div>
<div class="col-md-6 col-sm-6 ">
<div class="product-box ">

<div class="title">

<h1>Non-smoker's Declaration</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/stopsmoke_stopsmoking.jpg"></div>


<div class="primary-link">
<span>By declaring that you are a non-smoker, you earn AIA Vitality Points: 1,000</span>
</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
