<div class="managed-content" id="090040be80383200">
<div class="">
<h1>Stop Smoking<b>&nbsp;Congratulations</b>
</h1>
</div>
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box ">

<div class="box-content">

<p>Congratulations! You have completed the Non-smoker&rsquo;s declaration on ${vitality.za.date}</p>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="product-box equal-box">

<h1>Non-Smoker Declaration</h1>


<div class="box-content">
<img src="/vitality_aia_sg/web/linked_content/images/improve_your_health/stop_smoking_woman.jpg"></div>


<div class="primary-link">
<span>Submit</span>
</div>

</div>
</div>
</div>
</div>

</div>
</div>
