<div class="managed-content" id="090040be8037d7c8">
                
<div class="banner-container">

<div class="controlled-carousel carousel slide" id="promo2-carousel">

<div class="carousel-inner">${myer_banner?if_exists} ${aussie_farmer_banner?if_exists} ${qantas_banner?if_exists} ${hoyts_banner?if_exists} ${endota_spa_banner?if_exists}</div>


<div class="btn_controls">
<a class="carousel-control left" data-slide="prev" href="#promo2-carousel">&nbsp;</a> <a class="carousel-control right" data-slide="next" href="#promo2-carousel">&nbsp;</a>
</div>

</div>

</div>

</div>
