<div class="managed-content" id="090040be8041cba7">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box ">

<div class="title">

<h1>How to Join</h1>

</div>


<div class="box-content">

<div class="media">

<p class="pull right">
<span class="image-right" data-picture="#DEFAULT"><span data-media="(min-width: 800px)" data-src="/vitality_aia_au/web/linked_content/images/about_us/about_beach_promo.jpg">&nbsp;</span> </span>
<br>

</p>


<div class="media-body">

<p>AIA Vitality is available with eligible AIA Australia life insurance policies.</p>


<p>Please talk to your financial adviser today about how you can be part of the world&rsquo;s leading health and wellness program or contact us to help you find one.</p>


<p>
<a href="http://home.aiavitality.com.au/join">Find a financial adviser</a>
</p>


<div class="clearfix">&nbsp;</div>

</div>

</div>

</div>

</div>
</div>
</div>
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box ">

<div class="title">

<h1>Five reasons to join AIA Vitality</h1>

</div>


<div class="box-content">

<div class="reason_login reason1">

<h3>1. Savings on insurance premiums</h3>


<p>AIA Vitality offers premium discounts and cashbacks on eligible AIA Australia life insurance policies.</p>

</div>


<div class="reason_login reason2">

<h3>2. You gain a partner to better health</h3>


<p>Our program guides you on your way to better health, through useful online and smartphone tools that make working out, eating healthier and tracking your progress easy and enjoyable.</p>

</div>


<div class="reason_login reason3">

<h3>3. Getting healthier is easier and more accessible</h3>


<p>AIA Vitality helps you enjoy fantastic savings and discounts from our partners that make getting healthier easier and more accessible.</p>

</div>


<div class="reason_login reason4">

<h3>4. AIA Vitality rewards you for getting healthier</h3>


<p>As you engage in healthy activities, you earn AIA Vitality Points and raise your AIA Vitality Status. The higher your status, the bigger your rewards.</p>

</div>


<div class="reason_login reason5">

<h3>5. You become part of Vitality, the world's leading science&ndash;backed wellness program</h3>


<p>With over five million members globally, it&rsquo;s been clinically proven that Vitality members have lower healthcare costs than non-Vitality members.</p>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="http://home.aiavitality.com.au/join"><img src="/vitality_aia_au/web/linked_content/images/general/financially_rewarded_lo.jpg"></a>
</div>


<p></p>
</div>
</div>
</div>

</div>
</div>
