<div class="managed-content" id="090040be803bc2f6">
<div class="col-md-8 col-sm-12">
<h1>How AIA Vitality Works</h1>
</div>
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<p>AIA Vitality&rsquo;s proven approach takes you on a personal pathway to better health: you get to <b>know your health</b>, learn how to <b>improve your health</b> and <b>enjoy the rewards</b> for doing so!</p>


<h2 style=" line-height: 25px;">AIA Vitality comprises 3 steps: <span class="pink">1</span><span class="citrus">2</span><span class="appleGreen">3</span>
</h2>
</div>
</div>
<div class="row ">
<div class="col-md-4 col-sm-6 ">
<div class="product-box equal-box">

<div class="title">

<h1>Know your health</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/about_us/about_know_your_health.jpg"></div>


<div class="content-text">
<span class="pink left">1</span> <span>First, complete your AIA Vitality Health Review which will help you discover the state of your health. AIA Vitality members can earn AIA Vitality Points for completing this.</span>
</div>


<div class="more-info-link pink">
<a href="/vmp-au/know_your_health" target="_top">Learn more</a>
</div>

</div>

</div>
</div>
<div class="col-md-4 col-sm-6 ">
<div class="product-box equal-box">

<div class="title">

<h1>Improve Your Health</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/about_us/about_improve_your_health.jpg"></div>


<div class="content-text">
<span class="citrus left">2</span> <span>Once you&rsquo;ve completed your AIA Vitality Health Review, we suggest personal health goals based on your health status. You can then select which of the recommended goals you would like to set. You can also use our partners to help you get healthier and earn points along the way.&nbsp;</span>
</div>


<div class="more-info-link citrus">
<a href="/vmp-au/improve_your_health" target="_top">Learn more</a>
</div>

</div>

</div>
</div>
<div class="col-md-4 col-sm-6 ">
<div class="product-box equal-box">

<div class="title">

<h1>Enjoy The Rewards</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/about_us/about_rewards.jpg"></div>


<div class="content-text">
<span class="appleGreen left">3</span> <span>Getting healthier has earned you the rewards! The more points you&rsquo;ve earned the more rewards you get to enjoy!</span>
</div>


<div class="more-info-link appleGreen">
<a href="/vmp-au/rewards" target="_top">Learn more</a>
</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 "></div>
</div>
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 "></div>
</div>
</div>

</div>
</div>
