<div class="managed-content" id="090040be80355c3f">
                
<p>
<b>Step 3</b>: The current promotion code to use when signing up is: ${promo}</p>


<p>
<b>Step 4</b>: Please go to <a href="http://www.allencarr.com.au/book-now">Allen Carr's page</a>
</p>

</div>
