<div class="managed-content" id="090040be803d632d">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/improveyourhealth01.png"> 

<p class="left_side">
<b>Get ${afd_discount_percentage?if_exists}% off</b> fresh fruit and vegetables at Aussie Farmers Direct.</p>


<a class="btn lime left_side" href="/vmp-au/partners/aussie_farmers_direct">Find out more</a>
</div>

</div>
