<div class="managed-content" id="090040be803d631a">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/rewardsbeach.png"> 

<p class="left_side">
<b>Pamper yourself with ${endota_discount_percentage?if_exists}% off</b> endota spa vouchers</p>


<a class="btn lime left_side" href="/vmp-au/partners/endota">Find out more</a>
</div>

</div>
