<div class="managed-content" id="090040be803d6333">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/rewards02.png"> 

<p class="left_side">
<b>Buy Hoyts movie vouchers</b> for as little as $5.</p>


<a class="btn lime left_side" href="/vmp-au/partners/hoyts">Find out more</a>
</div>

</div>
