<div class="managed-content" id="090040be803b6ff7">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/rewardsbeach.png"> 

<p class="left_side">You can enjoy up to XXXX off flights with Qantas</p>


<a class="btn lime left_side" href="/vmp-au/partners/qantas">Find out more</a>
</div>

</div>
