<div class="managed-content" id="090040be803d6315">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/rewardsbeach.png"> 

<p class="left_side">You can <b>enjoy up to 35% off</b> flights with Qantas</p>


<a class="btn lime left_side" href="/vmp-au/partners/qantas">Find out more</a>
</div>

</div>
