<div class="managed-content" id="090040be803b6edc">
                
<div class="banner-container">

<div class="promo-carousel slide" id="rewards-carousel">

<div class="carousel-inner">

<div class="item">${aussie_farmer_banner?if_exists}</div>


<div class="item">${qantas_banner?if_exists}</div>


<div class="item">${hoyts_banner?if_exists}</div>


<div class="item">${endota_spa_banner?if_exists}</div>

</div>

</div>

</div>

</div>
