<div class="managed-content" id="090040be8036937a">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img class="img-rounded border1" src="/vitality_aia_au/web/linked_content/images/general/home_joinaia.jpg"></a>
</div>
</div>
<div class="row-fluid two-column-group">
<div class="span6 product-box equal-box">
<div class="title">

<h1>Earn AIA Vitality Points</h1>

</div>


<div class="box-content">
<img class="image-float-left img-rounded" src="/vitality_aia_au/web/linked_content/images/points_and_status/earn_vitality_points_exercise.png"> 

<p>You can find out exactly how to earn AIA Vitality Points through engaging in healthy activities on the How To Earn Points page. Click <a href="/vmp-au/points_and_status/earn_points">here</a> to see all the ways you can earn points.</p>


<div class="well white no-border" style=" box-shadow: none;">
<a class="btn_blue pull-right" href="/vmp-au/points_and_status/earn_points">How to earn points</a>
</div>

</div>
</div>
<div class="span6 product-box equal-box">
<div class="title">

<h1>Savings Calculator</h1>

</div>


<div class="box-content">
<img class="image-float-left img-rounded" src="/vitality_aia_au/web/linked_content/images/points_and_status/rewards_savings.png"> 

<p>Work out how much cash you could save by joining AIA Vitality!</p>


<div class="well white no-border" style=" box-shadow: none;">
<a class="btn_blue pull-right" href="/coming_soon.html">How to Calculate</a>
</div>

</div>
</div>
</div>
<div class="row-fluid ">
<div class=" product-box">
<div class="title">

<h1>AIA Vitality Points Needed to Improve your AIA Vitality Status</h1>

</div>


<div class="box-content">

<p>As an AIA Vitality member, you start off your journey on Bronze Status. As you get healthier and accumulate AIA Vitality Points, your status improves from Bronze, to Silver, then Gold and ultimately Platinum! The higher your status, the greater your rewards.</p>


<p>Here's how many points you need to reach each status.</p>


<table class="table table-bordered table-condensed">

<tr>

<th>&nbsp;</th>
<th class="bronze-status-gradient">Bronze</th>
<th class="silver-status-gradient">Silver</th>
<th class="gold-status-gradient">Gold</th>
<th class="blue-status-gradient">Platinum</th>

</tr>


<tr>

<td>Points you need to reach this status</td>
<td>0</td>
<td>10,000</td>
<td>20,000</td>
<td>30,000</td>

</tr>

</table>


<p>
<span style=" font-size: x-small;">Points run for one policy year and start at 0 at the beginning of the new year.</span>
</p>


<p>
<span style=" font-size: x-small;">Statuses are carried over to the next year, but can be increased at any time</span>.</p>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/improve_your_health/fitness_devices"><img src="/vitality_aia_au/web/linked_content/images/general/fitness_devices_02_promo.jpg"></a>
</div>
</div>
</div>

</div>
</div>
