<div class="managed-content" id="090040be8037439f">
                
<h1>AIA Australia Privacy Policy</h1>


<p>AIA Australia is part of the AIA Group. AIA Australia is bound by privacy principles which apply to private sector organisations under the Privacy Act 1988 (Cth), and other laws which protect your privacy.</p>


<p>AIA Australia provides you the following notification and information regarding our privacy policy and your rights. This Privacy Policy relates to personal information we handle about our customers, website visitors and other members of the public. This Privacy Policy also addresses how we handle information about job applicants, employees and contractors. We sometimes handle personal information relying on exemptions under privacy laws, for example in relation to related bodies corporate, employee records and publicly available information. Any permitted handling of personal information under such exemptions will take priority over this Privacy Policy to the extent of any inconsistency.</p>


<p>Among the most important assets of AIA Group is the trust and confidence that are placed in AIA companies to properly handle information. Customers expect our companies to maintain their information accurately, protect against manipulation and errors, secure from theft, and free from unwarranted disclosure.</p>


<p>
<b>Collection of personal information - general</b>
</p>


<p>We collect personal information in a range of circumstances including when you contact us, make an enquiry or use or request our products or services. The types of personal information we collect may include your name and contact details, identifying information (eg date of birth), demographic and profile information (sex, age, etc), information provided by you directly (eg in an application), financial (including but not limited to payment and banking information) and some sensitive, health and medical-related information.</p>


<p>We also collect personal information about your transactions and interactions with us, including any contact we have with you (including without limitation by telephone, email or online). For security, dispute resolution and training purposes we may monitor and record your communications with us (including email and telephone) and operate video and audio surveillance devices in our premises. We collect personal information directly from you as well as from third parties including information service providers, partners, affiliates and related companies, public sources and anyone acting on your behalf. We may take steps to verify information collected and to confirm whether information is up to date.</p>


<p>Where you provide us with personal information about someone else you must have their consent to provide their personal information to us in accordance with this Privacy Policy.</p>


<p>
<b>Use and disclosure of personal information - general</b>
</p>


<p>We collect, use and disclose your personal information to process and respond to your instructions and requests, for our and our affiliates&rsquo; internal purposes, to manage our and our affiliates&rsquo; business activities, to tell you about new or existing products or services, to meet requirements imposed by law, to protect our and our affiliates&rsquo; lawful interests, to communicate with you or respond to feedback or complaints, to manage our relationship with you, for purposes relating to any actual or potential acquisition of our business and to investigate, manage and prevent suspected improper conduct such as fraud. We may also collect, use and disclose your personal information for any other purposes where you consent or we are authorised by law and we may take steps separate to this Privacy Policy to ensure you are aware of the additional purposes.</p>


<p>If you are unwilling to provide us with the information we need then we may not be able to do the things described in this Privacy Policy, for example, we may not be able to provide you with insurance cover, offer you our products and services or hire you.</p>


<p>Where you accept this Privacy Policy or we are otherwise permitted by law, we and our subsidiaries, affiliates and partners may use your personal information to provide marketing communications that may be of interest to you, including about insurance and financial products and services, wellness products and services and products and, if you are a member of AIA Vitality, products and services of our AIA Vitality partners. Communications may be provided on an ongoing basis by telephone, electronic messages (eg. email and pop-ups), online (including websites and mobile apps) and other means. We may imply your consent to receive these communications from our existing business relationship or in some circumstances where you have provided us with your contact details (including email or other electronic address). If you do not wish to receive these direct marketing communications please indicate this where prompted (e.g. in an application form by following unsubscribe instructions in the communications themselves) or by contacting us as set out below.</p>


<p>We may exchange your personal information with:<br>
(a) our related, subsidiary and affiliated companies, and<br>
(b) our joint venture partners and business partners in co-branded activities, and<br>
(c) financial institutions you nominate, and<br>
(d) any employee, agent, contractor or third party who provides administrative or other services to AIA Australia or any of our affiliates or partners. Those services may include health, insurance(eg reinsurers), archival, auditing, accounting, customer contact, call centres, legal, business consulting, banking, payment, delivery, data processing, data analysis, information broking,research, investigative, website or technology services, professional advisors, program administrators and partners, statement producers, mail houses, advertising agencies, data storage and cloud computing providers, and other service providers, and<br>
(e) others from time to time with your implied or express consent or as required or authorised by law (and we may take steps separate to this Privacy Policy to ensure you are aware of these).</p>


<p>AIA Australia may also exchange personal information with law enforcement agencies or government authorities where disclosure is required by legislation, to report illegal activity or to co-operate with lawful information requests (where we are authorised by law).</p>


<p>Some of the third parties to whom we may disclose personal information (as described in this Privacy Policy) may be located in other countries and you agree that while they will often be subject to confidentiality or privacy obligations, they may not always follow the particular requirements of Australian privacy laws. The countries may include the United States, Japan, South Africa, members of the European Union and the countries in which AIA Group companies operate (see <a href="http://www.aia.com/en/our-markets/" target="_blank">http://www.aia.com/en/our-markets/</a>). We are also subject to a range of legal and regulatory obligations which require us to impose contractual privacy controls on overseas parties handling personal information on our behalf.</p>


<p>
<b>Our customers (including potential and former customers)</b>
</p>


<p>The types of personal information we collect include information provided by you in any application forms or other information submitted in respect of your insurance or membership, transactional information when using cards and other facilities in respect of your membership, insurance or other product application information (including health, family and beneficiary information), insurance claims information and payment information and some sensitive and health and medical-related information. We are required or authorised to collect your personal information under various laws including the Life Insurance Act, Insurance Contracts Act, Corporations Act, Crimes Act (Vic), Crimes Act (NSW), Criminal Law Consolidation Act (SA) and the Criminal Codes of Queensland, Tasmania, WA, NT, ACT and the Commonwealth. We may take steps separate to this Privacy Policy to ensure you are aware of any other relevant laws.</p>


<p>We collect, use and disclose your personal information for purposes including, but not limited to, processing your application, for underwriting purposes, the assessment and processing of claims and any other administration relevant to any policy issued by AIA Australia, conducting research and development relevant to our products and services and other purposes we notify to you. We may exchange your personal information with your adviser, your employer and/or the trustee of your superannuation fund (for superannuation products) and other third parties for the purposes outlined in this policy.</p>


<p>
<b>AIA Vitality members (including former and potential AIA Vitality members)</b>
</p>


<p>We collect, use and disclose your personal information for purposes including, but not limited to, assessing or processing your AIA Vitality membership application, registration and activation, communicating with you regarding your AIA Vitality membership, any administration and payments relevant to AIA Vitality membership, and conducting research and development relevant to products and services offered by us, our affiliates and partners of the AIA Vitality program, facilitating your use of the Website (as defined below) and other purposes we notify to you.</p>


<p>If you also own or are insured under any of our insurance products, and provide medical and health related information to us in relation to your AIA Vitality membership, we will take steps to ensure this information is kept separate from the underwriting and claims departments of AIA Australia who are responsible for any future underwriting or claims decisions. Under no circumstances will AIA Australia be deemed to have knowledge of any AIA Vitality-related information in respect of its underwriting and claims functions. In accordance with your statutory duty of disclosure, you are still therefore obliged to disclose any of this information to the extent it may be relevant in the event of any future application for insurance cover (including increased or varied cover) or changes to existing insurance cover with AIA Australia.</p>


<p>If you are also an employee of AIA Australia, personal information you provide solely as part of your membership of AIA Vitality will be accessed by personnel of AIA Australia and third parties for the purpose of administering the AIA Vitality program and as otherwise set out in this policy. Where practicable, access to AIA Vitality-related personal information will be limited to those personnel who are directly or indirectly involved with the AIA Vitality program and will not be used in making decisions relating to your employment with AIA Australia.</p>


<p>We may collect your personal information from, and exchange your personal information with, AIA Vitality partners or other providers of benefits under the AIA Vitality program, AIA Vitality Company Limited (incorporated in Hong Kong) and Discovery Holdings Limited (incorporated in South Africa) and its affiliates. We may also copy your adviser in email communications sent to you in respect of your AIA Vitality membership and the AIA Vitality program. We may also at times provide personal or sensitive information about you to the policy owner of the eligible insurance policy under which you are insured.</p>


<p>
<b>Our staff (current and former, including contractors)</b>
</p>


<p>We collect personal information as part of your current or former employment and/or engagement with us. The types of personal information we collect may include identifying information (eg date of birth and employee identification and number), qualifications and experience, and information relating to your current or former employment or engagement, including the terms and conditions of your employment or engagement, your training, performance, conduct, disciplining, resignation or termination, membership of a professional or trade association, trade union membership, leave details and taxation, banking and superannuation affairs. We are required or authorised to collect your personal information under various laws including the Fair Work Act, Superannuation Guarantee (Administration) Act and Taxation Administration Act. We may take steps separate to this Privacy Policy to ensure you are aware of any other relevant laws.</p>


<p>We collect, use and disclose your personal information for all purposes relating to your current or former employment or engagement including, but not limited to, engagement, training, disciplining, payroll, superannuation, health and safety, administration, insurance (including workcover) and staff management purposes and other purposes we notify to you.</p>


<p>We may exchange your personal information with law enforcement and background checking agencies and educational or vocational organisations to verify your qualifications and whether you have a criminal record in certain circumstances, your health service providers, your representatives (including unions) and our service providers including providers of payroll, banking, staff benefits, surveillance and training services.</p>


<p>We may also collect, use, disclose or exchange other types of personal information and may conduct or engage background checking agencies to conduct other checks under applicable AIA Australia and AIA Group policies.</p>


<p>
<b>Job applicants</b>
</p>


<p>We collect personal information as part of your job application including your qualifications, experience, professional memberships, achievements and work history.</p>


<p>We collect, use and disclose your personal information for purposes including, but not limited to, assessing your application, assessing you for a position or positions with us or our affiliates, assessing whether you are suitable to progress to each stage of the recruitment process for a position, storing your information for future job opportunities and other purposes we notify to you.</p>


<p>We may exchange your personal information with recruitment agencies, organisations that conduct competency or psychometric tests, referees, current and previous employers, law enforcement and background checking agencies and educational or vocational organisations to verify your application details and whether you have a criminal record in certain circumstances.</p>


<p>We may also collect, use, disclose or exchange other types of personal information and may conduct or engage background checking agencies to conduct other checks under applicable AIA Australia and AIA Group policies.</p>


<p>
<b>Our website and emails</b>
</p>


<p>If you visit www.aia.com.au, www.aiavitality.com.au, our staff intranet site, or any other websites, portals or smart phone/tablet applications where this Privacy Policy is made available, as well as facilities, tools or utilities offered (collectively the Website) to read, browse or download information, our system may record information such as the date and time of your visit to the Website, the pages accessed and any information downloaded. This information is used for statistical, reporting and website administration and maintenance purposes.</p>


<p>Like many other websites, our Website may use &lsquo;cookies&rsquo; from time to time. A cookie is a piece of information that allows our system to identify and interact more effectively with your device. The cookie helps us to maintain the continuity of your browsing session and remember your details and preferences when you return. You can configure your web browser software to reject cookies however some parts of our website may not have full functionality in that case.</p>


<p>When we send you emails or other electronic messages, we may record where you open the message and click on particular links. This helps us to better understand what information is of interest to you.</p>


<p>In some cases third parties may use cookies and other technologies such as web beacons and JavaScript on our Website in connection with online services like banner advertising, website analytics and surveys. This may allow them to collect information about your use of our website (including your computer&rsquo;s IP address) which they may store in the United States, members of the European Union, the countries in which AIA Group companies operate (see <a href="http://www.aia.com/en/our-markets/">http://www.aia.com/en/our-markets/</a> or other countries. The use of these technologies allows them to deliver customised advertising content, measure the effectiveness of their advertising, evaluate users use of our Website and other websites and provide other services relating to website activity and internet usage. Those third parties may also transfer the information they collect to others where required to do so by law, or where those others process the information on their behalf. The services we may use from time to time include Google Analytics, Google AdSense, Marketo, DoubleClick, Yahoo, Adobe and Microsoft. You can find more details in the privacy policies for those services, including information on how to opt-out of certain conduct.</p>


<p>If you are considering sending us any other personal information through our Website or other electronic means, please be aware that the information may be insecure in transit, particularly where no encryption is used (e.g. email, standard HTTP). We are subject to laws requiring us to protect the security of personal information once it comes into our possession.</p>


<p>The Website may contains links to other sites. We are not responsible for the privacy practices or policies of those sites.</p>


<p>
<b>Accessing and updating your personal information</b>
</p>


<p>You have the right to access the personal information we hold about you, and can request the correction of your personal data if it is inaccurate, incomplete or out of date. Requests for access or correction should be directed to our Compliance Manager (see &lsquo;Contact us&rsquo; below).</p>


<p>We will generally respond to requests for access as soon as possible or at least within 14 days. If a request is straightforward, we will often grant access within 14 days or, if the request is more complicated, within 30 days. We may need to verify your identity before providing access.</p>


<p>In some circumstances, AIA Australia may not permit access to your personal information where, for example, such access would be unlawful or denying access is authorised by law. In these cases, AIA Australia will provide you with written reasons for a denial of access or refusal to correct personal information. If you disagree with our refusal to correct your personal information, you can ask us to append an explanatory note to the information.</p>


<p>
<b>Contact us</b>
</p>


<p>If you have any questions or concerns about your personal information, please contact our Compliance Manager as set out below:</p>


<p>The Compliance Manager<br>
AIA Australia<br>
PO Box 6111<br>
St Kilda Road Central, VIC 8008<br>
Phone 1800 333 613</p>


<p>
<b>Further information</b>
</p>


<p>AIA Australia has established an internal dispute resolution process for handling customer complaints (including matters involving compliance with privacy laws). This dispute resolution mechanism is designed to be fair and timely to all parties and is free of charge. If you have a complaint about AIA Australia's handling of your personal information, you should submit it in writing to the Compliance Manager at the address specified above. You will typically receive a letter from us within five days which sets out an overview of how your complaint will be responded to. AIA Australia&rsquo;s Internal Disputes Resolution Committee will handle any escalated complaints that cannot be addressed at an operational level. AIA Australia aims to resolve your complaint within 45 days of receipt.</p>


<p>If you are a current or former employee or contractor of ours, any compliant about company compliance with privacy laws will be handled in accordance with the applicable Human Resources policy.</p>


<p>Should your complaint not be resolved to your satisfaction by our internal dispute resolution process, you may take your complaint to the Information Commissioner. The Information Commissioner's contact details are:</p>


<p>Office of the Australian Information Commissioner<br>
GPO Box 5218<br>
Sydney NSW 2001<br>
Phone: 1300 363 992<br>
Web: <a href="http://www.oaic.gov.au/" target="_blank">www.oaic.gov.au</a>.</p>


<p>
<b>Changes to this Privacy Policy</b>
</p>


<p>We may amend this Privacy Policy at any time and from time to time. If we do so, we will notify you by posting an amended Privacy Policy on our Website so that you will always be aware of how we manage your personal information. For the avoidance of doubt, the Privacy Policy applicable to the management of your personal information will be the policy published on our Website at the time we handle your personal information. The Privacy Policy is also available upon request by contacting us on 1800 333 613. Please review our Privacy Policy and Terms of Use before proceeding to use our Website.</p>

</div>
