<div class="managed-content" id="090040be80377f78">
                
<h1>
<b>AIA Vitality Terms of Use</b>
</h1>


<p>
<b>TERMS OF USE FOR THE AIA VITALITY WEBSITE, PORTALS AND ONLINE FACILITIES, APPLICATIONS, TOOLS, TESTS, INFORMATION, MATERIALS AND CONTENTS AND YOUR AGREEMENT WITH AIA</b>
</p>


<p>By using this website or accessing the Portals or online facilities, smart phone/tablet applications, tools, tests, information, materials and contents (together <b>&ldquo;this website&rdquo;</b>) or in any way or submitting your personal information through this website, you enter into an agreement with AIA Australia Limited, AIA Group Limited, AIA Vitality Company Limited and their affiliates, partners and subsidiaries (collectively, <b>"AIA"</b>) and acknowledge and agree to be unconditionally bound by the following terms of use as amended from time to time <b>("Terms")</b>, without limitation or qualification.</p>


<p>Please read these Terms carefully before using this website. You agree that these Terms may be revised at any time by posting amended Terms, and you will be deemed to have accepted any amended Terms by continuing to access this website and that you have been provided with sufficient notice of the amendments. You will be bound by any such revisions and should therefore periodically visit this page to review the revised Terms.</p>


<p>The current version of these Terms will apply each time you access and use this website. You also agree that AIA may terminate this agreement at any time, to the extent permitted by law. If you do not agree to all of the Terms, please do not continue to use this website.</p>


<p>If any of these Terms are found to be invalid or unenforceable at law, that invalidity or unenforceability will not affect the remainder of the Terms, which will continue in full force and effect.</p>


<p>Regardless of the platform, gateway, portal or mode of access you use to install, download or access the website, your cell phone provider may, depending on the type of contract you have, charge you for accessing this website or for any usage of this website (such as data charges, sms charges). AIA cannot be held responsible for these charges.</p>


<p>All information provided on this website is intended for use by residents of Australia. Persons residing outside of Australia use this website at their own risk, and should take into consideration the legislative requirements of their country of residence when accessing this website.</p>


<p>
<b>DISCLAIMER</b>
</p>


<p>To the fullest extent permissible at law:</p>


<p>(1) The information and materials on this website are provided "as is" and without warranties of any kind whether express, implied, statutory or otherwise, and AIA disclaims all warranties, whether express, implied, statutory or otherwise, including, but not limited to, warranties of merchantability, satisfactory quality, suitability and fitness for a particular purpose, title and non-infringement of third party rights;</p>


<p>(2) AIA does not warrant that the website or the functions contained in the materials will be uninterrupted or error-free, that defects will be corrected, or that this website or the server that makes it available are free of viruses or other harmful components; and</p>


<p>(3) AIA does not warrant or make any representations regarding the use or the results of the use of the information and/or materials on this website in terms of their correctness, accuracy, reliability, adequacy, completeness or otherwise. The information and descriptions contained herein are not necessarily intended to be complete descriptions of all terms, exclusions and conditions applicable to the products, benefits and services, but are provided solely for general informational purposes. For complete details please refer to the actual policy, applicable terms and conditions of the products, benefits and services or the relevant product or services agreement. Nothing on this website shall constitute or be construed as legal liability, undertaking or admission by AIA in any way. AIA cannot guarantee correctness, accuracy, reliability, adequacy, completeness or otherwise of the information presented on the website and such information is subject to change without notice and may not be up to date.</p>


<p>All materials and content on this website is general information only and is not in any way intended to be medical, nutritional, health, fitness or other advice or as a substitute for such advice. It is not provided to promote or influence you to acquire any product or service. This website does not take into account your personal circumstances and is subject to change. You should obtain professional advice from a medical practitioner, pharmacist, dentist, nutritionist or other appropriate health professional in relation to your own personal circumstances or in relation to the diagnosis or treatment of any medical condition. If necessary, you should regularly consult with such a professional. Importantly, the results of any assessments or tools or this website cannot replace any advice a doctor or other health professional gives. You should not change or discontinue any assistance or treatment you may be receiving on the basis of information reflected on this website without first consulting your healthcare provider. Medicines you use for your physical or mental health may also affect the results of the assessments or tools. You should also seek professional advice immediately should any symptoms you may be experiencing persist or change.</p>


<p>Any information provided by your use of this website, and any assessments or tools will not be provided to the underwriting or claims departments of AIA Australia Limited. As a result, it will not be used in any future underwriting or claims decisions. As a consequence, under no circumstances will AIA Australia Limited be deemed to have knowledge of Vitality-related information in respect of its underwriting and claims functions. In accordance with your statutory duty of disclosure, you are still therefore obliged to disclose any information which may be relevant in the event of any future application for insurance cover (including increased or varied cover) or charges to existing insurance cover with AIA Australia Limited. For more information please see the AIA Australia Privacy Policy.</p>


<p>This website may contain links to other websites which are not maintained by AIA or may refer to a third party. AIA is not responsible for the availability, content, currency, reliability, correctness or accuracy of any content related to third parties (including information contained in other websites) or for the suitability (or otherwise) of such content for the needs of any person, and does not make any warranty expressed or implied, with respect to any content related to third parties (including the use of those websites). The inclusion of any link or reference on this website to such websites or any third parties does not imply approval of or endorsement by AIA of the websites or the content thereof or of the third parties, nor does it imply that the third party has approved or endorsed the content of this website. You acknowledge and agree that you access such websites and third party content at your own risk.</p>


<p>
<b>EXCLUSION AND LIMITATION OF LIABILITY</b>
</p>


<p>While AIA aims to use reasonable efforts to include accurate and up to date information on this website, errors or omissions may sometimes occur. To the maximum extent permitted by law, AIA makes no warranties or representations as to the currency, reliability, correctness, accuracy, adequacy or completeness of the content of this website and under no circumstances, including, but not limited to, negligence, shall AIA or any party involved in creating, producing, or delivering the website be liable to you for any direct, incidental, consequential, indirect, special or punitive damages, losses, liabilities, costs, expenses and/or consequences of whatsoever nature that result from or in connection with any access, the use of, or the inability to use, the materials on this website or reliance on the materials and/or any information on this website, any systems, server or connection failure, error, omission, interruption, delay in transmission, computer virus or any use of or access to any other websites linked to this website even if AIA has been advised of the possibility of such damages. To the maximum extent permitted by law AIA and its employees, agents and directors are not liable for any losses (whether direct or indirect) that you incur as a result of accessing or using this website. To the extent AIA&rsquo;s liability or the liability of any of AIA&rsquo;s employees, agents or directors cannot be excluded, to the maximum extent permitted by law, such liability is limited to the supply of the services again or the payment of the cost of having the services supplied again, and in no event shall AIA's total liability to you for all damages, losses, and causes of action exceed the amount paid by you, if any, for accessing this website.</p>


<p>AIA also assumes no responsibility, and shall not be liable for, any damages to, or viruses that may infect, your computer equipment or other property as a result of your access to, use of, or browsing in the website or your downloading of any materials, data, text, images, video, or audio from this website.</p>


<p>
<b>RESTRICTIONS</b>
</p>


<p>This website is owned and operated by AIA. Except as otherwise expressly permitted by AIA, no materials from this website or any website owned, operated, licensed or controlled by AIA may be copied, reproduced, republished, modified, stored in a retrieval system, used for creating derivative works, uploaded, posted, transmitted (by any form or by any means), distributed or used in any other way for public or commercial purposes. You may download material displayed on this website solely for your own use only, provided that you also retain all copyright and other proprietary notices contained on the materials and this website. You may not distribute, modify, transmit, reuse, repost, or use the content of this website, for public or commercial purposes, including the text, images, audio, and video, without AIA's express written permission.</p>


<p>You shall not use this website for any purpose that is unlawful or prohibited by the Terms. Additionally, you shall not: (i) use the website in any manner that could damage, disable, overburden or impair this website, online facilities or its network; (ii) attempt to gain unauthorized access to this website, accounts, computer systems or networks connected to the website, through hacking, password mining or any other means; (iii) defame, abuse, harass, stalk, threaten or otherwise violate the legal rights of others; (iv) publish, post, upload, distribute or disseminate any topic, name, material or other information that incites discrimination, hate or violence towards one person or a group because of their belonging to any race, religion or nation; (v) upload or otherwise make available, files that contain images, photographs, software or other material protected by intellectual property laws unless you own or control the rights thereto or have received all necessary consents to do the same; (vi) use any material or information, including images or photographs, which are made available on the website in any manner that infringes any intellectual or other proprietary right of any party; (vii) upload files that contain viruses, Trojan horses, worms, time bombs, cancelbots, corrupted file or any other similar software or programs that may damage the operation of another&rsquo;s computer or property of another; (viii) use meta tag searches on the website; (ix) advertise or offer to sell or buy any goods or services for any business purpose, unless such AIA&rsquo;s communication facilities specifically allow such messages; (x) download any file posted by another user that you know, or reasonably ought to know, which cannot be legally distributed in such manner; (xi) falsify or delete any author attributes, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded; (xii) violate any code of conduct or other guidelines which may be applicable for any particular communication facilities; (xiii) harvest or otherwise collect information about others; (xiv) violate any applicable laws or regulations; (xv) create a false identity for the purpose of misleading others; (xvi) use, download, copy or provide (whether or not for a fee) to a person any directory of users of this website or other user or usage information.</p>


<p>AIA reserves the right to review materials posted using the online facilities and to remove any materials at any time in its sole discretion. AIA reserves the right to terminate your access to any or all of the website at any time, without any notice, for any reason whatsoever. AIA also reserves the right to disclose any information deemed necessary to comply with any applicable law, regulation or legal process, or to edit, remove, or refuse to post any information or materials at its sole discretion.</p>


<p>AIA neither warrants nor represents that your use of materials displayed on this website will not infringe rights of third parties.</p>


<p>You are entirely responsible for maintaining the confidentiality of your own passwords and account details. You are also entirely responsible for any transactions or activities that occur under your account, regardless as to whether such transactions or activities were made with or without your knowledge or authority. AIA shall not be liable for any damage, loss or other liability incurred by you arising from any transactions of any kind whatsoever resulting from the unauthorized use of accounts and passwords by any third parties. However, you may be held liable for any damage, loss or other liability incurred by AIA for any wrongful use of your account and/or password. You shall report to AIA immediately if you know or have reason to suspect that the security of your password and/or account may have been compromised or used by another person without authority.</p>


<p>You must only access or use this website and any content on this website for lawful purposes and in accordance with your agreement with AIA. In accessing or using this website or otherwise accessing or using the content you must not:</p>


<ul style=" list-style-type: disc;">

<li>infringe the rights (including intellectual property rights) of any other person;</li>


<li>do anything that is unlawful, threatening or obscene;</li>


<li>harass or incite hatred of any other person or restrict another person from using or enjoying this website;</li>


<li>interfere with the operation of this website or any infrastructure used to make this website available;</li>


<li>do anything that would result in us needing to compensate another person at law or at the direction or recommendation of a regulator.</li>

</ul>


<p>By accessing or using this website you consent to any personal information you upload to this website or otherwise provide to AIA and to Discovery Holdings Limited, the Discovery Group of Companies, all its and their affiliates and subsidiaries and developers, using this website being used and otherwise dealt with in accordance with our AIA Australia Privacy Policy. You understand and agree that without such information, AIA and Discovery Holdings Limited, the Discovery Group of Companies, all its and their affiliates and subsidiaries may not be able to deal with you, or provide you with a product or service.</p>


<p>
<b>INDEMNITY</b>
</p>


<p>You hereby agree to fully indemnify, defend and hold harmless AIA, its employees, officers, staff, agents, advisers and directors from and against any and all damages, losses, liabilities, costs and expenses (including full legal costs on a solicitor-client basis) suffered by AIA arising from or in connection with: (i) your access to or use of any aspect of this website; (ii) any other party&rsquo;s access to or use of this website and/or online facilities using your account and/or password; or (iii) your breach of any of these Terms; (iv) any other party&rsquo;s breach of any of these Terms where such party was able to access or use this website and/or online facilities using your account and/or password; (v) your infringement of the rights (including the intellectual property rights) of another person.</p>


<p>
<b>EVIDENCE OF TRANSACTIONS</b>
</p>


<p>AIA&rsquo;s own records of the transactions maintained through computer systems or otherwise shall be accepted as conclusive and binding for all purposes. Your use of your account and/or password to access or use this website and/or online facilities including access to your policy records and our on-line services will be recognized as your electronic signature and will be legally binding. You accept that electronic records will be admissible as original documents in any court of law and agree that you will not challenge or dispute the accuracy or authenticity of such records.</p>


<p>
<b>NO WAIVER</b>
</p>


<p>No failure or delay by AIA in exercising or enforcing any right or option under these Terms shall operate as a waiver of it or limit, prejudice or impair AIA&rsquo;s right to take any action or to exercise any right against any person or render AIA responsible for any loss or damage arising therefrom or in connection thereto.</p>


<p>
<b>SEVERABILITY</b>
</p>


<p>The invalidity, unlawfulness or unenforceability of any provision in these Terms in any respect under applicable law shall not affect the validity, legality or enforceability of the remaining provisions hereof.</p>


<p>
<b>JURISDICTIONAL ISSUES</b>
</p>


<p>Unless otherwise expressly set forth herein, AIA makes no representation that materials on this website are appropriate or available for use in any location. Those who choose to access this website do so on their own initiative and are responsible for compliance with local laws.</p>


<p>Except as expressly set forth herein the information contained on this website is not an offer to sell or a solicitation to buy any security, insurance product or other product or service by AIA. No security, insurance product or other product or service is offered or will be sold by AIA or, if sold by AIA, will be effective in any jurisdiction in which such offer or solicitation, purchase or sale would be unlawful under the securities, insurance or other laws of such jurisdiction. Some products and services may not be available in all jurisdictions.</p>


<p>
<b>OWNERSHIP OF INFORMATION</b>
</p>


<p>Any information that you transmit to AIA via this website, by electronic mail or otherwise, including data, questions, comments, or suggestions will be treated as non-confidential and non-proprietary and will become the property of AIA. Such information may be used for purposes, including, but not limited to, reproduction, solicitations, disclosure, transmission, publication, broadcast, and posting. AIA is free to use any ideas, concepts, know-how, or techniques contained in any communication you send to AIA via this website or by any other means for any purpose whatsoever, including, but not limited to, developing and marketing products using such information. Additionally, AIA may in its absolute discretion, reveal or release personal data obtained by or through this website, its online facilities or services, to third parties where required or necessary. To the fullest extent permitted by applicable law, you waive all applicable rights you may have in any information you transmit to AIA via this website or otherwise, for the purposes of this section of the Terms. You agree that you waive and will not enforce any and all moral rights that you may have presently or in the future in relation to any content you transmit, contribute or publish via this website or otherwise.</p>


<p>
<b>COMMUNITY GUIDELINES</b>
</p>


<p>Individuals may use the AIA Vitality community as a Guest. AIA Vitality community allows you to find out more information about health and wellbeing and to access some tools that can help you to with your health goals.</p>


<p>In addition to the above terms, if you use this website as a Guest of AIA Vitality community.</p>


<ol>

<li>You are required to be 18 years of age to register on this website.</li>


<li>As part of this community aspect, you may post your personal opinions, messages and ideas to the website and to the discussion forums available on the website.</li>


<li>However, you undertake not to post content to the website that may be illegal, defamatory, infringing, harassing, obscene, commercial advertising, personal marketing, profane, untrue, incorrect or harmful, or which AIA regards as inappropriate, and you accept that AIA may remove this content from the website.</li>


<li>You are encouraged to report untrue, inaccurate, defamatory, illegal, infringing and/or harmful content from the website to AIA, and AIA may correct and/or remove such content or any part thereof if it feels that it is appropriate to do so.</li>


<li>AIA does not editorially control, filter or read your postings on the website on an ongoing basis, and you acknowledge and agree that AIA shall not be responsible, in any way, for any user postings. You also agree to indemnify AIA against any liability, claim, damage or loss of whatsoever nature that may result from your posting(s) to the website.</li>


<li>You accept that the community aspect is integral to the website and to the AIA Vitality community concept, and agree to respect and abide by these community guidelines at all times when accessing or using the website, and to interact and engage with fellow users with equal respect and dignity.</li>


<li>Please note that as a user of any of our community websites, you determine who will have access to your personal information when you invite them to view you profile. AIA cannot be responsible for any consequences that may result from access that you may have provided to any individual.</li>

</ol>


<p>
<b>INTELLECTUAL PROPERTY</b>
</p>


<p>AIA reserves all rights, including intellectual property rights, trademarks, service marks, trade names, company names, logos, icons, slogans, copyrights, domain names, patents, design rights, utility models, database rights, know-how, trade secrets and all other intellectual or industrial property rights including, where such rights are obtained or enhanced by registration, any registration of such rights (including the right to apply for such registrations) and applications therefore (including the right to claim priority)), text, collations, images, logos, source code and data relating to this website, and any contents of this website are the property of, or licensed to, AIA. Other than as expressly set out in these Terms and except as permitted by applicable law, nothing contained on the website should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any of such intellectual property rights without the written express permission of AIA or the relevant licensors or owners of such intellectual property rights. Your use of such intellectual property rights, or any other content on this website, except as provided herein, is strictly prohibited. You agree that you will not acquire any rights (including intellectual property rights) in any content or information in this website, except to the extent expressly provided in these Terms.</p>


<p>You agree that all rights (including intellectual property rights) in any content that you create, contribute to or upload to the website, will vest in AIA immediately when such rights arise. You agree to provide any assistance to AIA necessary for AIA to assume control and ownership of those rights.</p>


<p>You may use, view and download the information on the website for your personal non-commercial use only. Without AIA&rsquo;s express written permission, you may not otherwise use the content on the website or exploit any of the content for any purpose, including a commercial purpose.</p>


<p>You may not link to any of the content on the website from another website (including by way of a deep or inline link) or frame any of such content on another website.</p>


<p>
<b>SOFTWARE LICENSES AND APPLICATIONS</b>
</p>


<p>To the extent that any software or applications is made available or provided to you on this website, AIA grants you a non-exclusive, limited and personal license to download and use the software or applications for your own personal, non-commercial use only. No other rights to the software or applications are granted. All rights including intellectual property rights in the software or applications remain the property of AIA or the relevant licensors or owners of the software and, except as permitted by law, you may not reverse engineer, decompile, modify or tamper with the software or applications.</p>


<p>When you install or download any software or applications, you may be required to accept the terms or the end user licence agreement of a third party supplier or vendor. While the end user licence agreement is independent from these Terms and establishes a separate legal relationship which you are bound by, you agree that, the end user licence agreement will apply to your use of the software or applications.</p>


<p>
<b>SECURITY REMINDER</b>
</p>


<p>While there is inherent risk in doing business with anyone over a public medium like the Internet, we have implemented measures to reduce these risks. In order to safeguard and protect your privacy, the secure site utilizes advanced security techniques, which require Internet Explorer 6.0 or Mozilla Firefox 3.0 or above.</p>


<p>
<b>GOVERNING LAW AND JURISDICTION</b>
</p>


<p>These Terms are governed by the laws of the state of Victoria, Australia and the parties agree to submit to the non-exclusive jurisdiction of the courts of the state of Victoria, Australia. AIA reserves any rights not expressly granted in these Terms.</p>

</div>
