<div class="managed-content" id="090040be80383f23">
                
<h1 align="left">AIA Vitality Terms and Conditions</h1>


<h2>
<b>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> <b>Governing Documentation and membership conditions</b>
</h2>


<p>These terms and conditions apply to the AIA Vitality Program and the provision of any benefits under the AIA Vitality Program.&nbsp;</p>


<p>The most up-to-date version of these terms and conditions is available on the AIA Vitality website and on our AIA Vitality portals. Alternatively, you can request a hard copy by contacting us on 1800 848 254.&nbsp; We recommend that you periodically check these terms and conditions, the AIA Vitality Terms of Use, the AIA Australia Privacy Policy and the benefit guides on the AIA Vitality website. The date of the latest version of these terms and conditions can be found at the bottom of this page under the heading &lsquo;Last Updated&rsquo;.</p>


<p>You must read these terms and conditions before you apply to become a member of the AIA Vitality Program. These terms and conditions contain important information. &nbsp;If you do not understand these terms and conditions or you have any questions about these terms and conditions, please email queries@aiavitality.com.au or call 1800 848 254. A representative will be happy to assist you.</p>


<p>By applying to become a member of the AIA Vitality Program, by paying the Annual Membership Contribution to AIA Australia and participating in the AIA Vitality Program or by accessing any benefit or reward, you will be deemed to have:</p>


<ul>

<li>- read and agreed to be bound by these terms and conditions, the AIA Vitality Terms of Use applicable to our websites, portals, online facilities, smarts phone/tablet applications, tools, information, materials and contents relevant to the AIA Vitality Program and the benefit guides;<br>

</li>


<li>- consented to the collection, use (including without limitation, handling and processing) and disclosure of your personal information in accordance with the AIA Australia <a href="http://aiavitality.com.au/vmp-au/privacy_policy">Privacy Policy</a> applicable to the&nbsp; AIA Vitality Program; and<br>

</li>


<li>- acknowledged and agreed that AIA Australia may make changes to the terms and conditions, AIA Vitality Terms of Use, benefit guides and AIA Australia Privacy Policy at any time and agree to be bound by these documents as amended and any other rules, policies or procedures that may be adopted or varied by AIA Australia from time to time.</li>

</ul>


<p>Once you are an AIA Vitality Member, you have a choice on whether or not to access or use the benefits on offer under the AIA Vitality Program. If you choose to access or use a benefit, in addition to these terms and conditions, the AIA Vitality Terms of Use and the AIA Australia Privacy Policy, you will be bound by any additional terms and conditions set out in the relevant benefit guides, as well as any other requirements which may be stipulated in writing by a partner of the AIA Vitality Program from time to time. You can obtain the full set of benefit guides if you email queries@aiavitality.com.au or call 1800 848 254. The benefit guides will also be available on the AIA Vitality website.&nbsp;</p>


<h2>2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Changes to the AIA Vitality Program, partners and benefits</h2>


<p>We reserve the right to make changes to any aspect of the AIA Vitality Program, these terms and conditions, the AIA Vitality Terms of Use, the AIA Australia Privacy Policy, the benefit guides and any other terms and conditions communicated in any other materials relating to the AIA Vitality Program. We reserve the right to change the identity and range of partners, benefits structure / discounts (including status thresholds and benefit and reward entitlements) and eligibility conditions at any time.&nbsp;</p>


<p>For example, AIA Australia may:</p>


<ul>

<li>- change the ways in which AIA Vitality Points and AIA Vitality Status levels (also known as points and status throughout these terms and conditions) are earned or structured;<br>

</li>


<li>- change the number of points required to access or use a benefit;<br>

</li>


<li>- change the ways in which points or benefits may be redeemed;<br>

</li>


<li>- add, limit, change, replace or remove partners;<br>

</li>


<li>- add, limit, change, replace or remove any benefit;<br>

</li>


<li>- change the Annual Membership Contributions;<br>

</li>


<li>- change any other features, concessions or benefits of the AIA Vitality Program; and/or<br>

</li>


<li>- adopt or implement any legal requirement, decision, recommendation, regulatory guidance or standard of any court, tribunal, ombudsman service or regulator.</li>

</ul>


<p>We will notify you of changes or variations to the AIA Vitality Program by posting details of the changes on the AIA Vitality website.&nbsp; Where we consider that changes to the AIA Vitality Program will be significant, we will endeavour to provide AIA Vitality Members with at least 30 days&rsquo; notice of the changes. This notice may be provided electronically, including by email (sent to your last notified email address) or by posting details of the change(s) on the AIA Vitality website.&nbsp;</p>


<p>If you are not satisfied with any changes or variations to the AIA Vitality Program, you may terminate your membership under clause 9 (Termination of membership) of these terms and conditions.</p>


<h2>3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AIA Vitality membership</h2>


<p>The AIA Vitality membership year commences on the date that the AIA Vitality membership begins and runs for a 12 month period.&nbsp; The AIA Vitality membership year can start on any day of the calendar year. Subject to the termination provisions in clause 9 of these terms and conditions and your continued eligibility as an AIA Vitality Member as set out in these terms and conditions, your AIA Vitality membership will be automatically renewed for a 12 month period on the membership anniversary date.&nbsp;</p>


<p>You may apply for AIA Vitality in one of two ways:</p>


<ul>

<li>- when joining AIA Australia as a life insured under a new eligible AIA Australia Priority Protection insurance policy. Your AIA Vitality membership will be activated upon the inception of your eligible AIA Australia Priority Protection insurance policy and following registration and receipt of payment details for the payment of your Annual Membership Contribution.<br>

</li>


<li>- as a life insured under an existing eligible AIA Australia Priority Protection insurance policy. You may apply for AIA Vitality at any time by completing the relevant documentation. Your AIA Vitality membership will only be activated following registration and receipt of payment details for the payment of your Annual Membership Contribution.</li>

</ul>


<p>AIA Australia may, in its absolute discretion, allow other methods of applying for an exclusive membership of AIA Vitality.&nbsp; Please refer to clause 10.6 of these terms and conditions for further information relating to exclusive memberships.&nbsp;</p>


<p>You have a cooling off period after you join AIA Vitality to change your mind and cancel your membership and receive a refund of your Annual Membership Contribution. The cooling off period ends on the earlier of 21 days after you register for AIA Vitality or your booking (if applicable) or utilisation of any benefit. Where an AIA Vitality membership is cancelled during the cooling off period and payment of the Annual Membership Contribution has been received, the AIA Vitality membership Contribution will be refunded by AIA Australia to the AIA Vitality Member.&nbsp;</p>


<h2>4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Qualification as an AIA Vitality Member</h2>


<p>To qualify as an AIA Vitality Member of AIA Vitality, the following conditions must be met:</p>


<ul>

<li>- You must be 18 years or older (a minimum of 19 years old on your next birthday);<br>

</li>


<li>- You must be an Australian Resident;<br>

</li>


<li>- You must provide a valid unique email address; and<br>

</li>


<li>- You must be the life insured on a current, eligible AIA Australia Priority Protection policy.</li>

</ul>


<p>The AIA Vitality Member must be an individual and not a company or legal entity.&nbsp; Each individual is entitled to only one AIA Vitality membership.&nbsp; Children and spouses of the AIA Vitality Member and any other member of the AIA Vitality Member&rsquo;s household cannot be added to an AIA Vitality membership.</p>


<p>AIA Australia may, in its absolute discretion, allow certain individuals who do not meet the qualifying conditions set out above to become an AIA Vitality Member (exclusive memberships). Please refer to clause 10.6 of these terms and conditions for further information relating to exclusive memberships.&nbsp;&nbsp;</p>


<h2>5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AIA Vitality Membership Card</h2>


<p>You will receive your AIA Vitality membership card after you have registered with AIA Vitality and provided payment details for the payment of your Annual Membership Contribution.&nbsp; AIA Australia shall not be responsible in the event of any error in your application or your failure to receive your AIA Vitality membership card due to the provision of incomplete or inaccurate particulars or information (including payment details) or an obsolete, incomplete or inaccurate mailing address.</p>


<p>You may need to present your AIA Vitality membership card and/or your AIA Vitality membership number at our partners to earn points and enjoy benefits.&nbsp; If you fail to present your AIA Vitality membership card at our partners when requested, you may not be able to claim such points and benefits retrospectively.&nbsp;</p>


<p>The AIA Vitality membership card is non-transferable and shall be used exclusively by you. You will remain liable for all transactions incurred from usage of the AIA Vitality membership card (whether authorised or otherwise), where investigations made by AIA Australia reveal that you are a party to any actions regarding any transactions effected through the use of the AIA Vitality membership card.</p>


<p>You shall not be entitled to dispute any transaction using your AIA Vitality membership card or under your username and password, unless you had previously notified AIA Australia of suspected or actual unauthorised use, loss or theft of your AIA Vitality membership card. AIA Australia is entitled, but not obliged, to rely on all instructions and transactions carried out using your AIA Vitality membership card or under your username and password.</p>


<p>By applying for and using the AIA Vitality membership card, you agree and undertake:</p>


<ul>

<li>- not to use the AIA Vitality membership card for any commercial, fraudulent or unlawful purposes or purposes which are deemed unacceptable by AIA Australia or which are prohibited by these terms and conditions;<br>

</li>


<li>- to promptly notify AIA Australia of any unauthorised use, loss or theft of the AIA Vitality membership card;<br>

</li>


<li>- to change your password immediately and notify AIA Australia immediately and request a new password if you have reason to suspect that the security and/or confidentiality of your password has been compromised;<br>

</li>


<li>- to pay all fees relating to the use of your AIA Vitality membership card as AIA Australia may prescribe from time to time; and<br>

</li>


<li>- to only use the AIA Vitality membership card in accordance with these AIA Vitality terms and conditions.</li>

</ul>


<p>Your AIA Vitality membership card is and shall at all times remain AIA Australia's property and shall be surrendered to AIA Australia immediately upon termination of your AIA Vitality membership or on our request for breach by you of these terms and conditions, the Terms of Use or for breach of any benefit guide the terms or conditions of any other membership documentation.</p>


<p>Should your AIA Vitality membership card become lost or damaged, you must immediately notify us via email at <a href="mailto:queries@aiavitality.com.au">queries@aiavitality.com.au</a> or by calling 1800 848 254. You may request AIA Australia to issue a replacement AIA Vitality membership card and AIA Australia shall at its sole and absolute discretion accept or refuse such request (with or without providing any reason).&nbsp; The issue of any replacement AIA Vitality membership card may be subject to a Card Replacement fee unless waived by AIA Australia at our discretion.&nbsp;</p>


<h2>6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AIA Vitality Program benefits</h2>


<h3>6.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Benefits of the AIA Vitality Program</h3>


<p>The AIA Vitality Program is a health and wellness program that aims to reward AIA Vitality Members who are proactive about improving their health and general well-being by providing benefits which may include discounts, exclusive offers, cash back rewards and other benefits relating to goods and/or services offered by our partners from time to time.&nbsp; For more information, please refer to the AIA Vitality website.</p>


<p>Unless otherwise set out in the relevant benefit guide, only an AIA Vitality Member can enjoy the benefits.&nbsp; Benefits may only be used for personal and not business purposes.</p>


<p>As a general rule, you will be eligible to access benefits when you activate your AIA Vitality membership card. Certain benefits may not be accessible immediately and may be subject to a processing or waiting period.&nbsp; The relevant benefit guide will explain when that benefit will be available and the relevant terms and conditions applicable to obtaining each benefit.&nbsp; If you do not activate your AIA Vitality membership, you may not be able to access benefits. Please refer to the benefit guides on the AIA Vitality website for more information.</p>


<p>In some cases, certain benefits or partner discounts will not be applied at the point of sale.&nbsp; Instead these benefits or discounts may be consolidated on a periodic basis in the form of rebates.&nbsp; Where applicable, you will receive such rebates by electronic funds transfer or vouchers, or such other method as may be determined by us from time to time at our sole discretion and subject to applicable laws.&nbsp; For more information, please refer to the relevant benefit guide on the AIA Vitality website.&nbsp;</p>


<h3>6.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Additional fees for using benefits</h3>


<p>Additional fees, including but not limited to, activation fees, monthly fees and subscription fees, may be payable for the utilisation of certain benefits.&nbsp; The fees may be payable directly to the partner or to AIA Australia.&nbsp; Please refer to the benefit guides on the AIA Vitality website for more information. Where possible, we will endeavour to give you at least 30 days&rsquo; notice of the introduction of, or increase to, any fees payable for the utilisation of certain benefits.&nbsp; This notice may be provided electronically, including by email (sent to your last notified email address) or by posting details of the change(s) on the AIA Vitality website.&nbsp;</p>


<p>If you are not satisfied with the introduction of, or increase to, any fees payable for the utilisation of certain benefits, you may terminate your membership under clause 9 (Termination of membership) of these terms and conditions.</p>


<h3>6.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Important information about benefits</h3>


<p>Benefits are provided by our partners.&nbsp; AIA Australia makes no representations or warranties, express or implied, of any kind with respect to any benefit, including as to quality, merchantability or fitness of any product or service provided as part of a benefit, including without limitation, success rate, fitness for a particular purpose and quality.&nbsp;</p>


<p>AIA Australia will not be liable for any loss, injury, claim or damage suffered or incurred as a direct or indirect result of an AIA Vitality Member&rsquo;s use of a product or service or reliance upon advice in respect of any benefit.&nbsp; Any dispute about any products or services provided as part of a benefit must be resolved directly with the relevant partner.</p>


<h3>6.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Benefit guides and other documentation</h3>


<p>A partner (alone or jointly with AIA Australia) may issue a benefit guide which sets out the rules governing the use and access to a benefit. You can obtain the full set of benefit guides if you email a request to queries@aiavitality.com.au or call 1800 848 254. The benefit guides are also available on the AIA Vitality website.&nbsp;&nbsp;</p>


<p>AIA Australia does not assume any legal liability or responsibility for the completeness, accuracy, adequacy or currency of the contents of any benefit guide or any other advice or information provided in respect of any benefit.</p>


<p>All information in a benefit guide and other information provided in respect of any benefit is general information only and are not in any way intended to be financial, medical, nutritional, health, fitness, legal or other advice or as a substitute for such advice. Any such information is not provided to promote or influence you to acquire any product or service.</p>


<p>Benefit guides and other information provided in respect of benefits do not take into account your personal circumstances and are subject to change. You should obtain professional advice from a medical practitioner, pharmacist, dentist, nutritionist or other appropriate health professional in relation to your own personal circumstances or in relation to the diagnosis or treatment of any medical condition. If necessary, you should consult with such a professional. Importantly, the results of any benefits, devices, services, software available, assessments, health checks, consultations or tools cannot replace any advice a doctor or other health professional gives. You should not change or discontinue any assistance or treatment you may be receiving on the basis of information provided in relation to any benefits, devices, services, software available, assessments, health checks, consultations or tools accessed or used without first consulting your healthcare provider. Medicines you use for your physical or mental health may also affect the results of any benefits, devices, services, software available, assessments, health checks, consultations or tools accessed or used. You should also seek professional advice immediately should any symptoms you may be experiencing persist or change.</p>


<h3>6.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AIA Vitality Fitness Assessment</h3>


<p>By taking part in the AIA Vitality Fitness Assessment with an AIA Vitality gym partner (and/or its franchisees) and/or by using the AIA Vitality gym partner&rsquo;s and/or its franchisees&rsquo; services and/or facilities (<b>Activity</b>) you:</p>


<ul>

<li>- Authorise, agree and consent to AIA Australia collecting, using (including handling and storing) and/or disclosing personal and sensitive information in connection with the Activity or the AIA Vitality program&nbsp; in accordance with the AIA Australia Privacy Policy available at <a href="http://www.aiavitality.com.au">www.aiavitality.com.au</a>;<br>

</li>


<li>- Authorise, agree and consent to the relevant gym partner collecting, using (including handling and storing) and/or disclosing personal and sensitive information in connection with the Activity or the AIA Vitality program in accordance with its Privacy Policy available on its website and in the absence of such a provision, in all cases to AIA Australia;<br>

</li>


<li>- Acknowledge and agree that to the extent permitted by law, AIA Australia and the relevant gym partner exclude any and all liability to you under contract, tort, statute or in any other manner, for any injury (including without limitation death, personal, bodily or mental injury), damage or loss of any kind whatsoever (including without limitation, any liability for direct, indirect, special or consequential loss or damage) sustained by you or any other person, or for any costs, charges or expenses incurred by you or any other person arising from or in connection with the Activity and/or any act or omission of AIA Australia and/or the relevant gym partner, except to the extent that such injury, damage or loss is caused by the gross negligence (meaning that the act was done or omitted to be done with reckless disregard, with or without consciousness for the consequences of the act or omission) of AIA Australia and/or the relevant gym partner. In such case, the liability of the respective party will be limited to the injury, damage or loss directly caused by that party&rsquo;s gross negligence. This clause does not exclude, or intend to exclude, any consumer guarantees applicable to the Activity and to the extent that it does this clause has no effect;<br>

</li>


<li>- Represent that you are in good physical condition and have no medical reason, impairment or disability that might prevent you from undertaking the Activity. You acknowledge that neither AIA Australia nor the gym partner is in a qualified position to provide you with medical advice related to your physical condition and/or inability to undertake the Activity;<br>

</li>


<li>- Agree to obtain professional advice from a medical practitioner, pharmacist or other appropriate health professional in relation to your own personal circumstances or in relation to the diagnosis or treatment of any health / medical condition. If necessary, you agree that you will regularly consult with such a professional. You also agree to seek professional advice immediately should any symptoms you may be experiencing persist or change; and<br>

</li>


<li>- Acknowledge and agree that the results of the Activity are not a substitute for medical advice and must not be used for diagnosing or treating a health problem or to replace your doctor or healthcare professional. You agree not to change or discontinue any assistance, medication or treatment you may be receiving on the basis of information provided in relation to the Activity without first consulting your doctor or health professional. Medicines you use for your physical or mental health may affect the results of the Activity. Any reliance by you on the information provided in undertaking the Activity shall be at your own risk. AIA Australia and the gym partner make no express or implied representation or warranty regarding the completeness, accuracy, reliability or currency of the information or results provided.</li>

</ul>


<h2>7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AIA Vitality Status and AIA Vitality Points</h2>


<h3>7.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AIA Vitality Status &nbsp;</h3>


<p>As a new AIA Vitality Member, your status will be Bronze.&nbsp; Points earned throughout your AIA Vitality membership year are added towards your status.&nbsp; The more points you earn, the higher the status you will achieve. The different status levels are: Bronze, Silver, Gold and Platinum. To move up a status, you will need to accumulate a sufficient number of points to reach the relevant status. The table below sets out how many points are needed for each status at the date of these terms and conditions.</p>


<table class="table table-bordered table-small table-condensed">

<tr>

<td>

<p>
<b>AIA Vitality Status</b>
</p>

</td>
<td>

<p>
<b>AIA Vitality Points</b>
</p>

</td>

</tr>


<tr>

<td>

<p>Bronze</p>

</td>
<td>

<p>0 &ndash; 9,999</p>

</td>

</tr>


<tr>

<td>

<p>Silver</p>

</td>
<td>

<p>10,000 &ndash; 19,999</p>

</td>

</tr>


<tr>

<td>

<p>Gold</p>

</td>
<td>

<p>20,000 &ndash; 29,999</p>

</td>

</tr>


<tr>

<td>

<p>Platinum</p>

</td>
<td>

<p>30,000 +</p>

</td>

</tr>

</table>


<p>As your status changes, the benefits you are entitled to and the terms relating to those benefits may change.&nbsp; Please refer to the benefit guides for further information.</p>


<h3>7.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Earning AIA Vitality Points</h3>


<p>You will earn points for completing certain activities if you are an AIA Vitality Member. The number of points you can earn will depend on a range of factors such as the activity you are doing and your health goals and risk factors.&nbsp; We may adjust the number of points you can earn for each activity depending on your individual health status or how important the activity is to your health status. Certain activities and/or groups/categories of activities may have limits as to how many points you can earn over a certain time period. Additional terms and conditions may apply to each activity. Please refer to the relevant benefit guides for further details.</p>


<h3>7.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Awarding of AIA Vitality Points</h3>


<p>Points will be awarded to you in accordance with the terms and conditions as determined by us and the respective partner from time to time. In some cases, it may take approximately six weeks for your points to be reflected.&nbsp; We assume no control, responsibility or liability as to the awarding of or any delay in the awarding of points or posting of transactions into your membership account by the respective partners.</p>


<p>It is your responsibility to check that all points are reflected accurately.</p>


<p>Any disputes in connection with or arising from the points awarded must be notified to us as soon as possible and in any event, within 90 days from the date of activity, by email at: <a href="mailto:queries@aiavitality.com.au">queries@aiavitality.com.au</a> or by calling 1800 848 254. We may need you to provide us with supporting documents wherever applicable to assist us in settling any disputes.&nbsp; If we do not receive any notifications from you within the stipulated timeframe of any disputes or inaccuracies on your points, the points statement will be taken to be correct, final and binding on you.&nbsp; Our decision on any such dispute is final and conclusive.&nbsp;</p>


<h3>7.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Monitor your AIA Vitality Points</h3>


<p>You can monitor your points by logging on to the AIA Vitality website<a href="http://www.aiavitality.com.au/"></a> , via the AIA Vitality mobile app or by calling 1800 848 254.</p>


<p>There may be a delay for points to be loaded and / or reflected on your points statement or on any of the above platforms.&nbsp;</p>


<h3>7.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Validity and Expiry of AIA Vitality Points</h3>


<p>Your status will remain in place from the time you earn the relevant status until the end of the next AIA Vitality membership year unless changes are made to your membership. At the anniversary of your AIA Vitality membership, AIA Vitality Members will carry over their status earned from the previous year. However, in the year after that AIA Vitality membership year, you will lose your status if you do not earn enough points to maintain it.</p>


<p>Your points will expire at the end of the AIA Vitality membership year in which the points are earned. No points will carry over into the subsequent year. &nbsp;Points earned in one AIA Vitality membership year must be claimed within 90 days of the anniversary of your AIA Vitality membership.&nbsp; If you do not submit the points within this period, the points will not be awarded.</p>


<h3>7.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Transfer of rights&nbsp;</h3>


<p>You may not transfer points, your status, membership rights or rights to benefits or points to another person. Points may not be redeemed for cash and cannot be returned for any other consideration.</p>


<h3>7.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Underutilisation rules</h3>


<p>On some benefits you may be required to utilise and/or purchase the partner&rsquo;s facility, goods and/or services a specified minimum number of times or amounts. Failure to meet these minimum utilisation rules could result in your rights to the benefit being altered or terminated. Please see the relevant benefit guide on the AIA Vitality website for more details.</p>


<h2>8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Annual Membership Contribution</h2>


<p>Participation and membership in AIA Vitality is subject to the payment of an Annual Membership Contribution. All Annual Membership Contributions shall be payable to us on or before your Annual Membership Contribution due date.&nbsp; Annual Membership Contributions may be collected together with, or separately from, your AIA Australia insurance policy premiums as determined by AIA Australia. Where required by AIA Australia and where permitted by law, you must procure that the Policy Owner of the eligible AIA Australia Priority Protection insurance policy will pay the Annual Membership Contribution for the AIA Vitality membership and agree to pay the Annual Membership Contribution to AIA Australia yourself if the Policy Owner refuses to, or defaults on paying the Annual Membership Contribution.</p>


<p>The Annual Membership Contribution for the following year will be advised to you on initial application and prior to the Annual Membership Contribution due date.&nbsp; We reserve the right to vary the Annual Membership Contribution provided we notify you in advance of the new Annual Membership Contribution prior to the Annual Membership Contribution due date.&nbsp; If you are not satisfied with the revised contribution amount, you may terminate your membership in accordance with clause 9 of these terms and conditions.</p>


<p>You may pay your Annual Membership Contribution on an annual or such other periodic basis and using such payment methods as may be approved by us.&nbsp; Each periodic payment is an instalment of the current year&rsquo;s Annual Membership Contribution.</p>


<p>If we do not receive payment of your Annual Membership Contribution within 60 days from the Annual Membership Contribution due date (Grace Period), your AIA Vitality membership will automatically terminate.&nbsp; Your AIA Vitality membership, points and status will remain in force during the Grace Period.</p>


<h2>9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Termination of membership</h2>


<h3>9.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Automatic termination if you cease to be insured by us</h3>


<p>Your AIA Vitality membership will automatically terminate at the end of the relevant AIA Vitality membership year if you are no longer the life insured under an eligible AIA Australia Priority Protection insurance policy.</p>


<h3>9.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cancellation by you</h3>


<p>You may terminate your AIA Vitality membership at the end of the AIA Vitality membership year. You must provide us with 30 days&rsquo; prior written notice, sent to us by email at queries@aiavitality.com.au, in order to terminate your AIA Vitality membership. However, please note that on termination of your AIA Vitality membership you may still be subject to the notice period of certain partners and to any other relevant terms and conditions of such partners.</p>


<h3>9.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Termination of the AIA Vitality Program or your membership by us</h3>


<p>We reserve the right to terminate, suspend, cancel, deactivate, recall or revoke the AIA Vitality Program (in whole or in part) at any time and do not guarantee that the AIA Vitality Program will continue indefinitely or that it will be managed and owned by us.</p>


<p>We further reserve the right to terminate, suspend or deactivate your AIA Vitality membership (in whole or in part, including your access and right to utilise one or more of the benefits), your transaction(s), AIA Vitality membership card, points and/or forfeit the accumulated points, for reasons which include (but are not limited to):</p>


<ul>

<li>- if we detect or suspect any unusual, irregular, suspicious, fraudulent or unauthorised use or activity or any threatened or actual breach by you of the AIA Vitality terms and conditions, AIA Vitality Terms of Use or of any benefit guides;<br>

</li>


<li>- if you do not or no longer qualify (or we suspect that you do not or no longer qualify) for an AIA Vitality membership under these terms and conditions;<br>

</li>


<li>- if you do not pay the Annual Membership Contribution or any other fees payable to us or any of our partners;<br>

</li>


<li>- if we believe that you are abusing the benefits or privileges of the program;<br>

</li>


<li>- if you are no longer a life insured of a product to which the AIA Vitality membership is linked.</li>

</ul>


<p>In the event of termination of the AIA Vitality Program or the cancellation of membership in the AIA Vitality Program, we will notify you in writing of such termination or cancellation by posting details on the AIA Vitality website, and/or by sending an email to the last notified email address as specified by you.</p>


<p>Subject to the terms of our agreement with relevant partners, we will use reasonable endeavours to allow AIA Vitality Members to access their benefits ordered as at the date of termination of the AIA Vitality Program for a period of 90 days from when we issue notification of the termination of the AIA Vitality Program.</p>


<h3>9.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If your membership terminates</h3>


<p>If your membership is terminated for any reason:</p>


<ul>

<li>- Subject to the terms of our agreements with the relevant partners and any other relevant terms and conditions of the relevant partners, your rights to benefits will cease upon the termination of your AIA Vitality membership.<br>

</li>


<li>- Except where your AIA Vitality membership is cancelled during the cooling off period, we will refund the portion of the Annual Membership Contribution paid by you to us in advance (if any) on a pro rata basis for the period remaining after the termination of your membership, where the Annual Membership Contribution is paid on an annual or such other periodic basis (if permitted by us). If your AIA Vitality membership is cancelled during the cooling off period you will be entitled to a full refund of the Annual Membership Contribution.<br>

</li>


<li>- You may be entitled to any outstanding partner cash back that you earned less any outstanding fees due to AIA Australia, subject to the terms and conditions of the applicable partner cash back program.<br>

</li>


<li>- In the event that there are any unpaid sums owed to AIA Australia or any of our partners in connection with your AIA Vitality membership, upon the termination of your AIA Vitality membership, we reserve the right to deduct any such unpaid sums from the benefits that you may have earned.<br>

</li>


<li>- Any discounts which may have applied in respect of your AIA Australia Priority Protection insurance policy will cease from the next policy anniversary date.<br>

</li>


<li>- Any points and status will cease upon the termination of your AIA Vitality membership.</li>

</ul>


<h2>10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Other important information</h2>


<h3>10.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; General Information</h3>


<p>Membership of the AIA Vitality Program does not give rise to any legal relationship with AIA Australia or AIA Vitality, other than being bound by these terms and conditions and the other governing documentation referred to in clause 1 of these terms and conditions, and when entitled to do so, to receive any benefits.</p>


<p>Nothing herein shall be construed as a representation by us that AIA Vitality and/or AIA Vitality membership card is available for use in geographic areas or jurisdictions other than Australia.</p>


<p>The AIA Vitality terms and conditions and other governing documentation (including but not limited to the AIA Vitality Terms of Use, Privacy Policy and benefit guides) and the use of the AIA Vitality membership card shall be governed by and construed in accordance with the laws of Victoria, Australia.</p>


<p>If for any reason, any provision or part of the AIA Vitality terms and conditions or any provision or part of any other governing documentation is found to be void or unenforceable, such provision or part of the AIA Vitality terms and conditions or of any other governing documentation shall be deemed to be severed from the AIA Vitality terms and conditions or such other governing documentation and the remainder of such provision or of the AIA Vitality terms and conditions or such other governing documentation, as the case may be, shall remain in full force and effect and may be enforced to the fullest extent possible.</p>


<p>Other benefit promotions, special discounts, competitions, exclusive offers etc. may be offered from time to time, including from us, our partners or affiliates. If they are offered, other terms and conditions may apply, which may be notified by mail, email, SMS, the AIA Vitality website or the AIA Australia website (<a href="http://www.aia.com.au">www.aia.com.au</a>) or other facility.</p>


<h3>10.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; How we communicate with you and consent to electronic communication</h3>


<p>You consent to receive documents and other information in relation to your AIA Vitality membership and any other arrangements you have with us by electronic communication to the most recent email address we have for you in our records and authorise us to act on instructions received electronically.&nbsp; You also consent to us communicating electronically the fact that some information can be obtained by following a hyper-link or by accessing an electronic address set out in the communication.&nbsp; You acknowledge that these consents and authority have effect to the maximum extent that we are permitted by law to act and provide information to you in accordance with these consents and authority.&nbsp;</p>


<p>We shall be entitled from time to time to contact you via electronic transmission (e.g. email), mail, SMS, MMS, telephone, fax and other means of communication (via any of your telephone numbers, whether registered in Australia or otherwise) in respect of your membership and participation in the program.&nbsp; You acknowledge that hard copy documents and information may not be given and that electronic communications must be regularly checked.&nbsp; Notwithstanding these consents, we may still decide to send you hard copy documents and information in certain circumstances.&nbsp;</p>


<p>Any notice or other information to be given to you may be given by updates to the AIA Vitality website, portals, online facilities, electronic transmission (e.g. email), mail, SMS, MMS, telephone, fax and other means of communication (by any of your telephone numbers, whether registered in Australia or otherwise), at the address as may from time to time be notified in writing.</p>


<p>We will use reasonable endeavours to transmit statements, notices and other material relevant to AIA Vitality Members to advise you of various matters of interest, including changes to the program, but we will not be responsible for correspondence lost or destroyed.&nbsp; Any statement, notice or other material will be deemed to have been given by us if it is uploaded to the AIA Vitality website or if it is sent to the email or physical mail address last notified to us by the AIA Vitality Member for the AIA Vitality Program.&nbsp; You are responsible for advising us of any change in your contact details, including email and physical mail address, and ensuring that your email address remains current and unblocked and that communications from us are not filtered or placed in a location where you do not see them so that we can provide documents and other information to you.&nbsp; AIA Australia will not be liable for failure to deliver a notice to you where you have failed to comply with the foregoing.&nbsp;</p>


<h3>10.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Disclosure of information</h3>


<p>By way of summary, we collect personal and sensitive information in a range of circumstances, including on registration, when you contact us, make an enquiry or use or request our products or services or the products or services of our partners. The types of personal and sensitive information we collect includes (amongst other things) your name and contact details, identifying information (e.g. date of birth), demographic and profile information (sex, age, etc.) and health and medical-related information. We also collect personal information about your interactions with us, including any contact we have with you by telephone, email or online. You hereby agree that any information provided by you for use in relation to the AIA Vitality Program is on a voluntary basis for your membership and participation in the AIA Vitality Program.</p>


<p>AIA Australia (and for the avoidance of doubt, its related bodies corporate and affiliates) may also use and disclose your personal information to provide marketing communications that may be of interest to you, including without limitation, about new AIA Vitality products and services as well as partner products and services, changes in your contributions or any changes/enhancements to the benefits. Communications may be provided on an ongoing basis by telephone, electronic messages (e.g. email and pop-ups), online (including websites and mobile apps) and other means. You give your express or implied consent to receiving these communications (consent may be implied from our existing business relationship or where you have directly or indirectly provided us with your electronic email address).&nbsp; If you do not wish to receive direct marketing communications please indicate this where prompted (e.g. on the application form, by following unsubscribe instructions in the communications themselves or by contacting us on 1800 848 254).&nbsp; Please refer to the AIA Australia Privacy Policy for more information.</p>


<p>Any health or medical-related personal information you provide as part of your AIA Vitality membership will not be provided to the underwriting or claims departments of AIA Australia and therefore will not be used in the making of any future underwriting or claims decisions.&nbsp; Under no circumstances will AIA Australia be deemed to have knowledge of any AIA Vitality Program related information in respect of its underwriting and claims functions.&nbsp; In accordance with your statutory duty of disclosure, you are still therefore obliged to disclose any of this information to the extent it may be relevant in the event of any future application for insurance cover, changes to existing insurance cover or claims under an insurance policy with AIA Australia.&nbsp;</p>


<h3>10.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dishonesty/Fraud</h3>


<p>Your membership of, and participation in the AIA Vitality Program is based on mutual trust.&nbsp; Where dishonesty or fraud is detected, benefits may not be awarded, your AIA Vitality membership may be cancelled and the matter may be referred to the appropriate authorities. This AIA Vitality membership may become invalid and we may take other action consistent with our legal rights.</p>


<p>If any act or omission by you is dishonest or fraudulent or if any dishonest or fraudulent means or devices are used by you, any member of your household or anyone acting on your or their behalf in relation to the AIA Vitality Program, then all benefits under this program may be lost, your AIA Vitality membership may be cancelled and you may have to return to us any payments made by us and benefits provided by us, or any of our partners (or by any other party under our direction) as a result of your actions or the actions of any member of your household or anyone acting on your or their behalf as a result of any dishonest or fraudulent actions.</p>


<h3>10.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Exclusion of Liabilities</h3>


<p>Under no circumstances, including as a result of its negligent acts or omissions or those of its officers, employees, directors, agents, advisers, contractors, partners or other persons for whom in law it may be liable, shall AIA Australia be liable for any loss or damage of any nature which you, your beneficiaries or any third parties may sustain as a result of engagement in the AIA Vitality Program. By agreeing to these terms and conditions you, your beneficiaries and any third parties indemnify AIA Australia accordingly.</p>


<p>All liability of AIA Australia and/or partners and their respective officers, employees, directors, agents, advisers and/or contractors for any loss, damage, claim or expense (including but not limited to indirect, incidental, special, punitive or consequential liability, economic loss, loss of profits and loss of opportunity) you may incur or suffer that arises directly or indirectly out of these terms and conditions, any other governing documentation as set out in clause 1 of these terms and conditions or the AIA Vitality Program (regardless of whether we have any control over circumstances giving rise to the claim or not) including termination or suspension of your AIA Vitality membership, termination of the AIA Vitality program and/or termination of any partner benefit, is hereby excluded to the maximum extent permitted by law. To the extent permitted by law, this applies even if we have been informed that the liability, loss, damage or expense will or may result.&nbsp; AIA Australia and/or partners and their respective officers, employees, directors, agents, advisers and/or contractors disclaim all warranties, express or implied, in connection with the AIA Vitality Program and the benefits.&nbsp; If AIA Australia and/or partners are liable to you in any way, our liability will be limited to allocating to your AIA Vitality membership the number of points and/or status which we consider is appropriate in connection with which the relevant claim arose.</p>


<p>To the fullest extent permitted by law, AIA Australia disclaims all express or implied warranties including, but not limited to, warranties of satisfactory quality, merchantability and fitness for a particular purpose. AIA Australia shall not be liable for any damage or loss of any kind directly or indirectly arising from or in connection with the AIA Vitality Program, any information, software, products, services, benefits or content obtained through the AIA Vitality Program, or your dealings with third party service providers available through the AIA Vitality Program.</p>


<p>AIA Australia will not be liable for any disruption to the Vitality Program or any delay to or inability to provide any of the benefits cause by circumstances beyond the control of AIA Australia including, but not limited to, failure of any service provider or other third party, strikes or industrial disputes, acts of God, flood, weather, unavailability, war, terrorism or civil disturbance.</p>


<p>Any third party links (including those of partners) provided by us on any of our websites, communication channels and social media are provided for your convenience. Their inclusion does not imply any approval or endorsement by us. We have no control over the content of those sites and accept no responsibility or liability in respect of them.</p>


<p>You must evaluate and bear all risks associated with the use of the content downloaded and acquired through our/third party (including partner) websites. We shall not be liable for any damage or loss of any kind directly or indirectly arising from or in connection with your use or inability to access our website /third party (including partner) links and/or use any related documents. Please note that the material (including, without limitation, workout and exercise tips, and information contained in applications and video clips), provided on any of our websites, communication channels and social media, including all text, photographs, images, illustrations, graphics, audio, video and audio-video clips, is provided by way of general information only. Whilst we, (including our holding company, subsidiaries and/or the subsidiaries of our holding company and any joint venture partners or affiliates), endeavour to ensure that the contents of the material are accurate, errors or omissions may occur and we do not accept any liability in respect of them.&nbsp;</p>


<p>We recommend that you consult with your physician before you undertake to follow any health and fitness instructions you may receive from AIA Vitality, our websites, communication channels and social media.&nbsp;We are not a licensed medical provider and have no expertise in diagnosing, examining, or treating medical conditions of any kind, or in determining the effect of any specific exercise on a medical condition. AIA Vitality is not intended to be a substitute for professional medical advice, diagnosis, treatment or management of care following an assessment in the event of abnormal health screen results. Should you have any health related questions, please call or see your healthcare provider promptly. In the event of an emergency, call your healthcare provider immediately or if appropriate dial 000.</p>


<p>You expressly agree that your athletic activities carry certain inherent and significant risks of property damage, bodily injury or death and that you voluntarily assume all known and unknown risks associated with these activities even if caused in whole or part by the action, inaction or negligence of us or by the action, inaction or negligence of others (including partners). You also expressly agree that we do not assume responsibility for the inspection, supervision, preparation, or conduct of any race, contest, group athletic activity or event that may earn you points.</p>


<p>If you ever start to feel unwell or have discomfort at any time after trying the workout or exercise, stop immediately and seek further advice from your healthcare professionals. Do not disregard, avoid or delay obtaining medical or health related advice from your healthcare professional because of what you may have read on any of our website, communication channels and social media.&nbsp; Current health and fitness research may exist that could impact the information provided by us, and any tips may not be based on the most recent findings or developments. We will not be held responsible for any injuries and/or damages that may result from your participation in or engagement of the workout or exercise or any health and wellness program, of which the information has been provided to or shared with you on any of our websites, communication channels and social media.</p>


<p>We do not accept any liability with respect to death, injury or any consequential loss arising from the AIA Vitality program generally or from the supply of a benefit or service or from the loss, theft or destruction of a benefit (including, but not limited to vouchers).</p>


<p>You should obtain your own financial or tax advice regarding any benefit you may receive through AIA Vitality. AIA Australia is not liable for any financial or tax consequences that may arise.</p>


<p>Please also refer to the AIA Vitality Terms of Use and other governing documentation set out in clause 1 of these terms and conditions.</p>


<h3>10.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Exclusive memberships</h3>


<p>From time to time and in our sole and absolute discretion, we may select individuals and offer exclusive memberships for AIA Vitality. In such circumstances the individual will be deemed to satisfy the eligibility criteria in these terms and conditions and other additional eligibility criteria as may be determined by us for the exclusive membership offer at our sole and absolute discretion. We may at our sole and absolute discretion waive the Annual Membership Contribution, the requirement to be insured under an eligible AIA Australia Priority Protection insurance policy, or other requirements of AIA Vitality membership. Whether a selected individual is offered an exclusive membership and the eligibility and rules applicable to such exclusive membership are in the absolute discretion of AIA Australia.&nbsp;</p>


<p>These terms and conditions apply to such exclusive memberships, except where the terms and conditions are inconsistent with this clause 10.6, in which case this clause 10.6 will prevail to the extent of any inconsistency. If an exclusive membership is offered, other terms and conditions may apply, which may be notified by the AIA Vitality website, mail, email, SMS or such other facility as AIA Australia determines in its sole and absolute discretion. We reserve the right to terminate, suspend, cancel, deactivate, recall or revoke an exclusive membership offered at any time.</p>


<p>Where a selected individual has an exclusive membership with AIA Australia, they are not eligible for discounts to their premium or any cash back which may be available under the AIA Vitality Program.&nbsp; However, an individual under an exclusive membership may choose to cease their exclusive membership and apply for a paying AIA Vitality membership, in which case, if accepted, that individual would be eligible for any discounts or cash back which may ordinarily be available to other ordinary paying AIA Vitality Members.</p>


<p>Without in any way limiting the termination rights of AIA Australia or other termination rights contained in these terms and conditions, where an AIA Australia staff member has an exclusive membership, the exclusive membership will terminate on the earliest of one of the following occurring: dismissal; resignation; redundancy; retirement; termination of their employment; death; or termination of the exclusive membership at AIA Australia&rsquo;s sole discretion.</p>


<p>Without in any way limiting the termination rights of AIA Australia or other termination rights contained in these terms and conditions, where a selected adviser has an exclusive membership, the exclusive membership will terminate on the earliest of one of the following occurring: cessation of the adviser ceasing to distribute eligible AIA Australia Priority Protection insurance policies (including where the Distribution Agreement that governs the adviser&rsquo;s Priority Protection distribution activities is terminated); retirement; death; or termination of the exclusive membership at AIA Australia&rsquo;s sole discretion.</p>


<p>Other terms and conditions may apply to exclusive memberships and any rules, policies or procedures applicable to exclusive memberships may be adopted or varied by us from time to time.&nbsp;</p>


<h2>11&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Definitions and interpretation</h2>


<p>In the terms and conditions, unless the context otherwise requires, the headings are inserted for convenience only and shall not affect the construction of these terms and conditions.</p>


<p>The following expressions have the following meanings:</p>


<table class="table table-bordered table-small table-condensed">

<tr>

<td>

<p>AIA Australia, we, our</p>

</td>
<td>

<p>Refers to AIA Australia Limited (ABN 79 004 837 861) and/or where appropriate, its related bodies corporate and affiliates.</p>

</td>

</tr>


<tr>

<td>

<p>AIA Vitality Member</p>

</td>
<td>

<p>As set out in clause 4 of these terms and conditions.</p>

</td>

</tr>


<tr>

<td>

<p>AIA Vitality Program</p>

</td>
<td>

<p>The AIA Vitality program offered and administered by, or on behalf of AIA Australia.</p>

</td>

</tr>


<tr>

<td>

<p>AIA Vitality website</p>

</td>
<td>

<p>The AIA Vitality website at <a href="file:///\\AUAIPWDFS01\AIAA_DFS\share\Strategy%20and%20Marketing\Due%20Diligence\2013\Project%20V\On%20page%20content\VMP%20-%20T&Cs,%20Terms%20of%20Use%20and%20Privacy%20Policy\www.aiavitality.com.au%20%20">aiavitality.com.au</a> and/or our AIA Vitality portals.</p>

</td>

</tr>


<tr>

<td>

<p>Annual Membership Contribution</p>

</td>
<td>

<p>The annual membership payment that must be paid on joining the AIA Vitality Program and annually to remain a member of the AIA Vitality Program as set out in your quotation included with your application for an eligible AIA Australia Priority Protection insurance policy or as part of your application for AIA Vitality, as may be updated from time to time on the AIA Vitality website or in other notices or documentation issued to you.&nbsp;</p>


<p>The Annual Membership Contribution may be payable on an annual or such other periodic basis and using payment methods as may be permitted by us (refer to clause 8).&nbsp;</p>

</td>

</tr>


<tr>

<td>

<p>benefits</p>

</td>
<td>

<p>Refers to discounts, exclusive offers, cash back rewards, and other benefits relating to goods and/or services offered by our partners from time to time and available to AIA Vitality Members through the AIA Vitality program.</p>

</td>

</tr>


<tr>

<td>

<p>benefit guide</p>

</td>
<td>

<p>A guide setting out the rules governing the use of and access to a benefit.&nbsp; You can obtain the full set of benefit guides by emailing a request to queries@aiavitality.com.au or call 1800 848 254.&nbsp; The benefit guides are also included on the AIA Vitality website.</p>

</td>

</tr>


<tr>

<td>

<p>membership year</p>

</td>
<td>

<p>The 12-month period starting from the commencement of your AIA Vitality membership.&nbsp;</p>

</td>

</tr>


<tr>

<td>

<p>partner</p>

</td>
<td>

<p>Means a retailer, association, or any other person, entity, firm or corporation which has been contracted with to provide benefits to AIA Vitality Members.</p>

</td>

</tr>


<tr>

<td>

<p>partner cash back</p>

</td>
<td>

<p>Discounts you may be entitled to with certain partners which may be distributed in the form of electronic funds transfer or vouchers, or other method as may be determined by us from time to time and at our sole discretion.&nbsp;</p>

</td>

</tr>


<tr>

<td>

<p>points / AIA Vitality Points</p>

</td>
<td>

<p>The points awarded to an AIA Vitality Member for doing certain healthy activities.</p>

</td>

</tr>


<tr>

<td>

<p>status / AIA Vitality Status</p>

</td>
<td>

<p>The status level on AIA Vitality that a member can achieve due to the number of points he/she may have earned. Status levels are Bronze, Silver, Gold and Platinum. Members start on Bronze and may progress through the levels to Platinum as they earn points while engaging in healthy activities.</p>

</td>

</tr>


<tr>

<td>

<p>status thresholds</p>

</td>
<td>

<p>The minimum points an AIA Vitality Member must earn before moving to a particular Vitality status.</p>

</td>

</tr>


<tr>

<td>

<p>terms and conditions</p>

</td>
<td>

<p>These terms and conditions and, where applicable, any other terms and conditions which govern an AIA Vitality Member&rsquo;s participation in the AIA Vitality Program, including where applicable and without limitation, the AIA Vitality Terms of Use, Privacy Policy and benefit guides.</p>

</td>

</tr>


<tr>

<td>

<p>You, your</p>

</td>
<td>

<p>Refers to an individual who has applied and been granted membership in AIA Vitality.</p>

</td>

</tr>

</table>


<p>&nbsp;</p>

</div>
