<div class="managed-content" id="090040be803c3538">
                
<p>You have ${hoyts_vouchers_remaining?if_exists} remaining vouchers to utilise at HOYTS this week.</p>


<p>
<b>How to purchase a HOYTS voucher</b>
</p>


<p>
<b>Step 1:</b> Click <a class="partnerTokenString" href="https://shop.aiavitality.com.au/Checkout/PersonalDetails" id="HOYTES_MOVIES" name="HOYTES_MOVIES" target="_blank">here</a>&nbsp;to select and purchase your movie vouchers. You can pay for your vouchers by credit card.</p>


<p>
<b>Step 2:</b> Redeem your purchased movie voucher at a HOYTS box office or online on the HOYTS website. An online booking fee of $1.10 will apply when redeeming a voucher on the HOYTS website.</p>


<p>Please note: If you do not have a valid HOYTS Rewards Club membership number, you will be charged an additional $10 fee to join the HOYTS Rewards Club. The HOYTS Rewards program gives you a FREE ticket on activation.</p>

</div>
