<div class="managed-content" id="090040be8036a383">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>Mental Wellbeing Assessment</h1>

</div>


<div class="right earnPoints">
<span class="leftArrow">&nbsp;</span>&nbsp;<span class="centerEarns greenText">Earn up to 800 points a year</span><span class="rightArrow">&nbsp;</span>
</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/mental_wellbeing_icon.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality points</span></a>
</div>

</div>

</div>


<div class="span8">

<p>The Mental Wellbeing Assessment consists of 4 different questionnaires: a stressor assessment, psychological wellbeing assessment, resilience assessment and a social support assessment.&nbsp;</p>


<p>You can complete the Mental Wellbeing Online Assessments, twice a year and can earn 100 AIA Vitality Points for every assessment completed. That's up to 800 points a year.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/mental_wellbeing_icon.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality points</span></a>
</div>

</div>

</div>


<div class="span8">

<p>You can complete the Mental Wellbeing Assessments twice a year, 6 months apart.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/mental_wellbeing_icon.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality points</span></a>
</div>

</div>

</div>


<div class="span8">

<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> now to enjoy this benefit and start earning AIA Vitality Points.</p>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/join_aia_vitality_banner_small.png "></a>
</div>
</div>
</div>

</div>
</div>
