<div class="managed-content" id="090040be80381a7d">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div id="insert_running_man"></div>


<h1>Know Your Health</h1>


<p>Knowing and understanding your health is the first step to improving it. AIA Vitality helps you to do this by offering you savings on a set of health assessments and rewards you with AIA Vitality Points when you complete them.</p>
</div>
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>Assesments</h1>

</div>


<div class="box-content">

<h4>Online Assessments</h4>


<p>When you sign up to AIA Vitality, you can earn AIA Vitality Points for learning about your health and can start your journey to better health here.</p>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_health_review_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/vitality_health_review"><span>Vitality Health Review</span></a></td>
<td class="status">${vhr_completed?if_exists}</td>
<td class="left-border"><span>Earn 1,000 points</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/mental_wellbeing_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/mental_wellbeing"><span>Mental Wellbeing Assessment</span></a></td>
<td class="status">${mwba_completed?if_exists}</td>
<td class="left-border"><span>Earn up to 800 points per year</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/non_smoker_declaration_icon.png"></td>
<td class="link"><a href="/vmp-au/improve_your_health/stop_smoking"><span>Non-smoker's Declaration</span></a></td>
<td class="status">${non_smokers_completed?if_exists}</td>
<td class="left-border"><span>Earn 1,000 points</span></td>

</tr>


</tbody>
</table>

</div>


<h4>Other Assessments</h4>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_health_check_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/vitality_health_check"><span>AIA Vitality Health Check</span></a></td>
<td class="status">${vhc_completed?if_exists}</td>
<td class="left-border"><span>Earn up to 6,000 points per year</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/screening_prevention_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/screening_and_prevention"><span>Advanced screenings</span></a></td>
<td class="status">${advanced_scr_completed?if_exists}</td>
<td class="left-border"><span>Earn 1,000 points</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_sg/web/linked_content/images/know_your_health/vaccinations.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/screening_and_prevention"><span>Vaccinations</span></a></td>
<td class="status">${vaccinations_completed?if_exists}</td>
<td class="left-border"><span>Earn up to 1,500 points</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/dental_assessment_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/screening_and_prevention"><span>Dental Assessment</span></a></td>
<td class="status">${dental_assessment_completed?if_exists}</td>
<td class="left-border"><span>Earn 500 points</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_nutrition_assessment_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/vitality_nutrition_assessment"><span>AIA Vitality Nutrition Assessment</span></a></td>
<td class="status">${vna_completed?if_exists}</td>
<td class="left-border"><span>Earn up to 1,500 points per year</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_fitnes_assessment_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/fitness_assessment"><span>AIA Vitality Fitness Assessment</span></a></td>
<td class="status">${fitness_assessment_completed?if_exists}</td>
<td class="left-border"><span>Earn up to 3,000 points per year</span></td>

</tr>


</tbody>
</table>

</div>

</div>
</div>
</div>
<div class="row-fluid ">
<div class="span12 ">
<p>This is general information only. The results of each of these assessments or tools cannot replace any advice a doctor or other health professional gives. You should obtain professional advice from a medical practitioner, pharmacist, dentist, nutritionist or other appropriate health professional in relation to your own personal circumstances or in relation to the diagnosis or treatment of any medical condition. You should not discontinue any treatment you may be receiving on the basis of information reflected on this site without first consulting your healthcare provider. Medicines you use for your physical or mental health may also affect the results of your assessments or tools. You should also seek professional advice immediately should any symptoms you may be experiencing persist. If necessary, you should regularly consult with such a professional. For further information, please see our <a class="dialog_trigger" data-target="terms_and_conditions_dialog" href="javascript:void(0)">Terms and Conditions</a>.&nbsp;</p>


<p>Any information you provide as part of the assessments or tools will not be provided to the underwriting or claims departments of AIA Australia Ltd and therefore will not be used in the making of any future underwriting or claims decisions. Under no circumstances will AIA Australia Ltd be deemed to have knowledge of any AIA Vitality-related information in respect of its underwriting and claims functions. In accordance with your statutory duty of disclosure, you are still obliged to disclose any of this information to the extent it may be relevant in the event of any future application for insurance cover with AIA Australia Ltd. For more information please see our <a class="dialog_trigger" data-target="privacy_statement_dialog" href="javascript:void(0)">Privacy Policy</a> and <a class="dialog_trigger" data-target="terms_and_conditions_dialog" href="javascript:void(0)">Terms and Conditions</a>.</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/rewards"><img src="/vitality_aia_au/web/linked_content/images/general/fitness_partners_get_active.jpg"></a>
</div>
</div>
<div class="row row-fluid">
<p>${kyh_your_vitality_age?if_exists}</p>
</div>
</div>

</div>
</div>
