<div class="managed-content" id="090040be8037ab97">
<div class="">
<h1>Know Your Health</h1>
</div>
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 "></div>
</div>
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>Assesments</h1>

</div>


<div class="box-content">

<h4>Online Assessments</h4>


<p>When you sign up to AIA Vitality, you can earn AIA Vitality Points for learning about your health. Start your journey to better health here.</p>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_health_review_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/vitality_health_review"><span>Vitality Health Review</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn 1,000 points</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/mental_wellbeing_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/mental_wellbeing"><span>Mental Wellbeing Assessment</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn up to 800 points per year</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/non_smoker_declaration_icon.png"></td>
<td class="link"><a href="/vmp-au/improve_your_health/stop_smoking"><span>Non-smoker's Declaration</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn 1,000 points</span></td>

</tr>


</tbody>
</table>

</div>


<h4>Other Assessments</h4>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_health_check_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/vitality_health_check"><span>AIA Vitality Health Check</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn up to 6,000 points per year</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/screening_prevention_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/screening_and_prevention"><span>Advanced screenings</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn 1,000 points</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_sg/web/linked_content/images/know_your_health/vaccinations.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/screening_and_prevention"><span>Vaccinations</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn up to 1,500 points</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/dental_assessment_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/screening_and_prevention"><span>Dental Assessment</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn 500 points</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_nutrition_assessment_icon.png"></td>
<td class="link"><a href="/vmp-au/know_your_health/vitality_nutrition_assessment"><span>AIA Vitality Nutrition Assessment</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn up to 1,500 points per year</span></td>

</tr>


</tbody>
</table>

</div>


<div class="assessment_item">

<table class="assessment_table">
<tbody>

<tr>

<td class="logo"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_fitnes_assessment_icon.png"></td>
<td class="link"><a href="/vitality_aia_au/web/coming_soon.html"><span>AIA Vitality Fitness Assessment</span></a></td>
<td class="status">&nbsp;</td>
<td class="left-border"><span>Earn up to 3,000 points per year</span></td>

</tr>


</tbody>
</table>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/join_aia_vitality_banner_small.png"></a>
</div>
</div>
<div class="row row-fluid">
<div class="banner">
<a href="/vitality_aia_au/web/coming_soon.html"><img src="/vitality_aia_au/web/linked_content/images/general/earn_aia_vit_points_organised_fitness_events.jpg"></a>
</div>
</div>
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/points_and_status/earn_points"><img src="/vitality_aia_au/web/linked_content/images/general/log_workouts_monitor_fitness_progress_earn_points.jpg"></a>
</div>
</div>
</div>

</div>
</div>
