<div class="managed-content" id="090040be80372c7c">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<div id="insert_running_man"></div>


<h1>Screening and Prevention</h1>


<p>You will earn AIA Vitality Points for completing specified advanced screenings, vaccinations and dental assessments.</p>


<p>
<b>Claiming Points</b>
</p>


<ol>

<li>Perform one of the Screening and Prevention items below at a healthcare provider.</li>


<li>
<a href="/vmp-au/points_submission">Submit your results</a>
</li>


<li>Points will be allocated within 24 hours of submission.</li>

</ol>


<p>&nbsp;</p>
</div>
</div>
<div class="row-fluid ">
<div class="span12 well white">
<div class="box-content">
<img class=" image-float-left hidden-phone" src="/vitality_aia_au/web/linked_content/images/know_your_health/screening_prevention_icon.png" style=" max-width: 65px;"> 

<h3>
<b>Advanced Screenings</b>
</h3>


<p>You can earn AIA Vitality Points for each screen when performed every 2 years.</p>


<table class="table-bordered table-condensed table-small">

<tr class="gradient2">

<td><b>Screen</b></td>
<td><b>Eligibility</b></td>
<td><b>Points awarded</b></td>
<td><b>Frequency</b></td>

</tr>


<tr>

<td>Mammogram</td>
<td>Females 50+ or as clinically appropriate</td>
<td>1,000</td>
<td>Every 2 years</td>

</tr>


<tr>

<td>Pap smear</td>
<td>Females 18+</td>
<td>1,000</td>
<td>Every 2 years</td>

</tr>


<tr>

<td>Colon cancer screen (FOBT)</td>
<td>Adults 50+ or as clinically appropriate</td>
<td>1,000</td>
<td>Every 2 years</td>

</tr>

</table>


<div class="pull-right">

<p>
<b>Earn 1,000 points for each eligible advanced health screen</b>
</p>

</div>


<p>
<a class="btn_blue pull-right" href="/vmp-au/points_submission"><b>Claim AIA Vitality Points</b></a>
</p>

</div>
</div>
</div>
<div class="row-fluid ">
<div class="span12 well white">
<div class="box-content">
<img class=" image-float-left hidden-phone" src="/vitality_aia_au/web/linked_content/images/know_your_health/vaccinations.png" style=" max-width: 65px;"> 

<h3>
<b>Vaccinations</b>
</h3>


<p>You can earn AIA Vitality Points by receiving the following vaccinations:</p>


<table class="table-bordered table-small table-condensed">

<tr class="gradient2">

<td><b>Vaccinations</b></td>
<td><b>Eligibility</b></td>
<td><b>Points awarded</b></td>
<td><b>Frequency</b></td>

</tr>


<tr>

<td>Flu vaccination</td>
<td>All AIA Vitality members 18+</td>
<td>500</td>
<td>Annually</td>

</tr>


<tr>

<td>HPV</td>
<td>Females 18 to 26 years</td>
<td>1,000</td>
<td>Once only on completion of the course</td>

</tr>

</table>


<div class="pull-right">

<p>
<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Earn 1,000 points for each eligible vaccination</b>
</p>

</div>


<p>
<a class="btn_blue pull-right" href="/vmp-au/points_submission"><b>Claim AIA Vitality Points</b></a>
</p>

</div>
</div>
</div>
<div class="row-fluid ">
<div class=" well white">
<div class="box-content">
<img class="image-float-left hidden-phone" src="/vitality_aia_au/web/linked_content/images/know_your_health/dental_assessment_icon.png"> 

<h3>
<b>Dental Assessments</b>
</h3>


<p>You can earn 500 AIA Vitality Points when you complete an annual dental assessment.</p>


<p>A dental assessment is an evaluation performed by a qualified dentist to check if there have been any changes in your dental and medical health status since your last comprehensive or periodic examination.</p>


<table class="table-bordered table-small table-condensed">

<tr class="gradient2">

<td><b>Assessment</b></td>
<td><b>Eligibility</b></td>
<td><b>Points awarded</b></td>
<td><b>Frequency</b></td>

</tr>


<tr>

<td>Annual dental check-ups</td>
<td>All Vitality members 18+</td>
<td>500</td>
<td>Annually</td>

</tr>

</table>


<div class="pull-right">

<p>
<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Earn 500 points once a year</b>
</p>

</div>


<p>
<a class="btn_blue pull-right" href="/vmp-au/points_submission"><b>Claim AIA Vitality Points</b></a>
</p>

</div>


<p>&nbsp;</p>
</div>
</div>
<div class="row-fluid ">
<div class="span12 ">
<p>This is general information only.&nbsp; The results of each of these assessments or tools cannot replace any advice from a doctor or other health professional.&nbsp; You should obtain professional advice from a medical practitioner, pharmacist, dentist, nutritionist or other appropriate health professional in relation to your own personal circumstances or in relation to the diagnosis or treatment of any medical condition.&nbsp; You should not discontinue any treatment you may be receiving on the basis of information reflected on this site without first consulting your healthcare provider. Medicines you use for your physical or mental health may also affect the results of your assessments or tools.&nbsp; You should also seek professional advice immediately should any symptoms you may be experiencing persist.&nbsp; If necessary, you should regularly consult with such a professional.&nbsp; For further information, please see our <a class="dialog_trigger" data-target="terms_and_conditions_dialog" href="javascript:void(0)">Terms and Conditions.</a>
</p>


<p>Any information you provide as part of the assessments or tools will not be provided to the underwriting or claims departments of AIA Australia Ltd and therefore will not be used in the making of any future underwriting or claims decisions.&nbsp; Under no circumstances will AIA Australia Ltd be deemed to have knowledge of any AIA Vitality-related information in respect of its underwriting and claims functions.&nbsp; In accordance with your statutory duty of disclosure, you are still obliged to disclose any of this information to the extent it may be relevant in the event of any future application for insurance cover with AIA Australia Ltd.&nbsp; For more information please see our <a class="dialog_trigger" data-target="privacy_statement_dialog" href="javascript:void(0)">Privacy Policy</a> and <a class="dialog_trigger" data-target="terms_and_conditions_dialog" href="javascript:void(0)">Terms and Conditions.</a>
</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/know_your_health/mental_wellbeing"><img src="/vitality_aia_au/web/linked_content/images/general/mental_wellbeing_assessment_banner.png"></a>
</div>
</div>
</div>

</div>
</div>
