<div class="managed-content" id="090040be8036a23b">
<div class="">
<h1>Screening and Prevention</h1>
</div>
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<p>Earn AIA Vitality Points for completing specified advanced screenings, vaccinations and dental assessments.</p>


<p>
<b>Points</b>
</p>


<ol>

<li>Go for one of the Screening and Prevention items below at a healthcare provider.</li>


<li>Submit your results</li>


<li>Points will be allocated within 24 hours of submission.</li>

</ol>


<p>&nbsp;</p>
</div>
</div>
<div class="row-fluid ">
<div class="span12 well white no-bottom-padding">
<div class="clearfix">
<img class="image-float-left hidden-phone" src="/vitality_aia_au/web/linked_content/images/know_your_health/screening_prevention_icon.png"> 

<h3>Advanced Screenings</h3>


<p>You can earn AIA Vitality Points for each screen every 2 years.</p>


<table class="table-bordered table-small table-condensed">
<tbody>

<tr class="gradient2">

<td><b>Screen</b></td>
<td><b>Eligibility</b></td>
<td><b>&nbsp;Points awarded</b></td>
<td><b>Frequency</b></td>

</tr>


<tr>

<td>Mammogram</td>
<td>Females 50+ or as clinically appropriate</td>
<td>1,000</td>
<td>Every 2 years</td>

</tr>


<tr>

<td>Pap smear</td>
<td>Females 18+</td>
<td>1,000</td>
<td>Every 2 years</td>

</tr>


<tr>

<td>Colon cancer screen (FOBT)</td>
<td>Adults 50+ or as clinically appropriate</td>
<td>1,000</td>
<td>Every 2 years</td>

</tr>


</tbody>
</table>


<div class="pull-right">

<p>
<b>Earn 1,000 points for each eligible advanced health screen</b>
</p>

</div>

</div>
</div>
</div>
<div class="row-fluid ">
<div class="span12 well white no-bottom-padding">
<div class="clearfix">
<img class="image-float-left hidden-phone" src="/vitality_aia_sg/web/linked_content/images/know_your_health/vaccinations.png"> 

<h3>Vaccinations</h3>


<p>You can earn AIA Vitality Points for the following vaccinations:</p>


<table class="table-bordered table-small table-condensed">
<tbody>

<tr class="gradient2">

<td><b>Vaccinations</b></td>
<td><b>Eligibility</b></td>
<td><b>Points awarded</b></td>
<td><b>Frequency</b></td>

</tr>


<tr>

<td>Flu vaccination</td>
<td>All AIA Vitality members 18+</td>
<td>500</td>
<td>Annually</td>

</tr>


<tr>

<td>HPV</td>
<td>Females 18 to 26 years</td>
<td>1,000</td>
<td>Once only on completion of the course</td>

</tr>


</tbody>
</table>


<div class="pull-right">

<p>
<b>Earn up to 1,000 points for each eligible vaccination</b>
</p>

</div>

</div>
</div>
</div>
<div class="row-fluid ">
<div class="span12 well white no-bottom-padding">
<div class="clearfix">
<img class="image-float-left hidden-phone" src="/vitality_aia_au/web/linked_content/images/know_your_health/dental_assessment_icon.png"> 

<h3>Dental Assessments</h3>


<p>You can earn 500 AIA Vitality Points when you complete an annual dental assessment.</p>


<p>A dental assessment is an evaluation performed by a qualified dentist to check if there have been any changes in your dental and medical health status since your last comprehensive or periodic examination.</p>


<table class="table-bordered table-small table-condensed">
<tbody>

<tr class="gradient2">

<td><b>Assessment</b></td>
<td><b>Eligibility</b></td>
<td><b>Points awarded</b></td>
<td><b>Frequency</b></td>

</tr>


<tr>

<td>Annual dental check ups</td>
<td>All AIA Vitality members 18+</td>
<td>500</td>
<td>Annually</td>

</tr>


</tbody>
</table>


<div class="pull-right">

<p>
<b>Earn 500 points once a year</b>
</p>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class=" row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/join_aia_vitality_banner_small.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
