<div class="managed-content" id="090040be8036a239">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>AIA Vitality Health Check</h1>

</div>


<div class="right earnPoints">
<span class="leftArrow">&nbsp;</span>&nbsp;<span class="centerEarns greenText">Earn up to 6,000 points</span><span class="rightArrow">&nbsp;</span>
</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li class="">
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li class="">
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo rect image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/chemmart_logo.jpg"> 

<p>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</p>

</div>

</div>


<div class="span8">

<p>Find out about the risk of chronic disease and earn AIA Vitality Points by going for an AIA Vitality Health Check.</p>


<p>The health check consists of measures of your Body Mass Index (BMI), blood pressure, cholesterol and random blood glucose. It only costs $20 when you have it done at Chemmart&reg; Pharmacies. </p>


<p>You can have any of the screening tests done at another healthcare provider and claim your AIA Vitality Points by submitting proof of your results.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo rect image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/chemmart_logo.jpg"> 

<p>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</p>

</div>

</div>


<div class="span8">

<p>There are no limits on the number of health checks that you can have, but points will only be awarded once a year. You will earn 300 AIA Vitality Points for each screening in the AIA Vitality Health Check, and up to 1,200 points for each screening where they are in the healthy range.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo rect image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/chemmart_logo.jpg"> 

<p>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</p>

</div>

</div>


<div class="span8">

<ol>

<li>Browse to the AIA Vitality/Chemmart booking page <a href="http://www.chemmart.com.au/vitality/" target="_blank">here</a> to make a booking for an AIA Vitality Health Check. You can have it done at Chemmart&reg; Pharmacies across Australia.</li>


<li>Confirm your booking date, time and Chemmart&reg; &nbsp;store location.</li>


<li>Take your AIA Vitality membership card and go for your Vitality Health Check.</li>

</ol>


<p>
<a href="http://www.chemmart.com.au/store-locator/w2/i1011822/" target="_blank">Find Your Store</a>
</p>


<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> now to enjoy this benefit.</p>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/join_aia_vitality_banner_small.png"></a>
</div>
</div>
</div>

</div>
</div>
