<div class="managed-content" id="090040be8037c4b4">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div id="insert_running_man"></div>


<div class=" product-box">

<div class="title">

<h1>AIA Vitality Nutrition Assessment</h1>

</div>


<div class="right earnPoints">
<span class="leftArrow">&nbsp;</span><span class="centerEarns greenText">Earn up to 1,500 points a year</span><span class="rightArrow">&nbsp;</span>
</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/vna_dieticians_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</div>

</div>

</div>


<div class="span8">

<p>AIA Vitality offers you a nutrition assessment to help you learn more about your eating habits and offers tools and incentives to improve them. Earn up to 1,500 AIA Vitality Points by completing a nutrition assessment with an Accredited Practising Dietitian (APD). You can get 30% off the initial consultation cost for the AIA Vitality Nutrition Assessment.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/vna_dieticians_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</div>

</div>


<div class="span8">

<p>You can complete one AIA Vitality Nutrition Assessment a year. You can earn a maximum of 1,500 points for completing the AIA Vitality Nutrition Assessment and attending Weight Watchers meetings. If you earn points for attending Weight Watchers meetings and then complete the AIA Vitality Nutrition Assessment, we will award points up to the 1,500 point limit.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<p>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/vna_dieticians_logo.png"></p>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn AIA Vitality Points</span></a>
</div>

</div>


<div class="span8">

<p>
<b>Step 1: Contact an Accredited Practiscing Dietitian and make a booking</b>
</p>


<p>Search for an Accredited Practising Dietitian (APD) in your area from the Dietitians Association of Australia (DAA)&rsquo;s network <a href="http://dmsweb.daa.asn.au/dmsweb/frmfindapdsearch.aspx" target="_blank">here</a>. Make sure the APD is on the AIA Vitality network by ticking the &lsquo;Accepts AIA Vitality members&rsquo; checkbox before searching.</p>


<p>Select your preferred APD and using the details provided, contact them to make your booking. You will need to provide your AIA Vitality membership number.</p>


<p>Once your booking is confirmed, you will receive an email confirmation from the APD.</p>


<p>
<b>Step 2: Go for your assessment and earn AIA Vitality Points</b>
</p>


<p>On the day of your appointment remember to take your AIA Vitality membership card and the names of any supplements or medication that you may be taking. The APD will take your physical measurements and you will answer questions relating to your diet and eating habits. You will then receive a report highlighting any dietary and lifestyle habits you may need to address.</p>


<p>After your assessment, you will be awarded up to 1,500 AIA Vitality Points.</p>


<p>
<a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/aia_vitality_daa_benefit_guide.pdf" target="_blank">View</a>&nbsp;the full benefits and terms and conditions.</p>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>

</div>


<p>&nbsp;</p>
</div>
<div class="row-fluid ">
<p>This is general information only.&nbsp;The results of each of these assessments or tools cannot replace any advice from a doctor or other health professional.&nbsp;You should obtain professional advice from a medical practitioner, pharmacist, dentist, nutritionist or other appropriate health professional in relation to your own personal circumstances or in relation to the diagnosis or treatment of any medical condition.&nbsp;You should not discontinue any treatment you may be receiving on the basis of information reflected on this site without first consulting your healthcare provider. Medicines you use for your physical or mental health may also affect the results of your assessments or tools.&nbsp;You should also seek professional advice immediately should any symptoms you may be experiencing persist.&nbsp;If necessary, you should regularly consult with such a professional.&nbsp;For further information, please see our <a class="dialog_trigger" data-target="terms_and_conditions_dialog" href="javascript:void(0)" target="_self">Terms and Conditions</a>.</p>


<p>Any information you provide as part of the assessments or tools will not be provided to the underwriting or claims departments of AIA Australia Ltd and therefore will not be used in the making of any future underwriting or claims decisions.&nbsp;Under no circumstances will AIA Australia Ltd be deemed to have knowledge of any AIA Vitality-related information in respect of its underwriting and claims functions.&nbsp;In accordance with your statutory duty of disclosure, you are still obliged to disclose any of this information to the extent it may be relevant in the event of any future application for insurance cover with AIA Australia Ltd.&nbsp; For more information please see our <a class="dialog_trigger" data-target="privacy_statement_dialog" href="javascript:void(0)" target="_self">Privacy Policy</a> and <a class="dialog_trigger" data-target="terms_and_conditions_dialog" href="javascript:void(0)" target="_self">Terms and Conditions</a>.</p>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/improve_your_health/fitness_devices"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/wellness_tools_promo_watchman.jpg"></a>
</div>
</div>
</div>

</div>
</div>
