<div class="managed-content" id="090040be8036a46c">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class=" product-box">
<div class="title">

<h1>AIA Vitality Nutrition Assessment</h1>

</div>


<div class="right earnPoints">
<span class="leftArrow">&nbsp;</span>&nbsp;<span class="centerEarns greenText">Earn up to 1,500 points a year</span><span class="rightArrow">&nbsp;</span>
</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo rect image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/vna_dieticians_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn Vitality Points</span></a>
</div>

</div>

</div>


<div class="span8">

<p>AIA Vitality offers you a nutrition assessment to help you learn more about your eating habits and offers tools and incentives to improve them. Earn up to 1,500 AIA Vitality Points by completing a nutrition assessment with an Accredited Practising Dietitian (APD).</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo rect image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/vna_dieticians_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn Vitality Points</span></a>
</div>

</div>

</div>


<div class="span8">

<p>You can complete two &nbsp;AIA Vitality Nutrition Assessments a year, six months apart. Overall AIA Vitality Nutrition Assessment points are limited to 1,500 a year.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo rect image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/vna_dieticians_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn Vitality Points</span></a>
</div>

</div>

</div>


<div class="span8">

<p>
<b>Step 1: Contact an Accredited Practicing Dietitian and make a booking</b>
</p>


<p>Phone or email one of the Accredited Practicing Dietitians listed below to make a booking</p>


<table class="points">

<tr>

<th>Accredited Practicing Dietitian</th>
<th>Location</th>
<th>Telephone number</th>
<th>eMail</th>

</tr>


<tr>

<td>Nicole Hatem</td>
<td>Sydney</td>
<td>0401 254 047</td>
<td><a href="mailto:healthy.balance@optusnet.com.au">healthy.balance@</a>
<br>

<a href="mailto:healthy.balance@optusnet.com.au">optusnet.com.au</a></td>

</tr>


<tr>

<td>Joel Feren</td>
<td>Melbourne</td>
<td>0401 254 047</td>
<td><a href="mailto:joel.feren@gmail.com">joel.feren@gmail.com</a></td>

</tr>

</table>


<p>
<b>Step 2: Go for your assessment and earn AIA Vitality Points</b>
</p>


<p>After your assessment, the dietitian will give you your feedback. You will be awarded up to 1,500 AIA Vitality Points.</p>


<p>
<a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/aia_vitality_daa_benefit_guide.pdf" target="_blank">View</a>&nbsp;the full</p>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/howtojoin_hands_rhs_banner.png"></a>
</div>
</div>
</div>

</div>
</div>
