<div class="managed-content" id="090040be8036a241">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>AIA Vitality Health Review</h1>

</div>


<div class="right earnPoints">
<span class="leftArrow">&nbsp;</span><span class="centerEarns greenText">Earn 1,000 points</span><span class="rightArrow">&nbsp;</span>
</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_health_review_icon.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn Vitality Points</span></a>
</div>

</div>

</div>


<div class="span8">

<p>The AIA Vitality Health Review is an in-depth online assessment that tells you how healthy you are based on certain lifestyle factors. Earn 1,000 AIA Vitality Points if you complete this.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_health_review_icon.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn Vitality Points</span></a>
</div>

</div>

</div>


<div class="span8">

<p>You can complete the AIA Vitality Health Review once a year. You will earn AIA Vitality Points for completing it and we will recommend personal goals based on your input.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_health_review_icon.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn Vitality Points</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Click <a href="/vmp-au/how_to_join">here</a> to begin your AIA Vitality Health Review.</p>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/join_aia_vitality_banner_small.png "></a>
</div>
</div>
</div>

</div>
</div>
