<div class="managed-content" id="090040be803548d2">
<div class="row-fluid">
              
               
                
<div class="span8">
<div class="row-fluid ">
<div class="span12 product-box">
<h1>Vitality Online Nutrition Assessment</h1>


<div class="right earnPoints">&nbsp;<span class="centerEarns greenText">Save 30%</span>
</div>


<div class="box-content">

<div class="top-tabs-container">

<div class="tabbable">

<ul class="top nav nav-tabs">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">
<img class="image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/vna_dieticians_logo.png"> 

<p>AIA Vitality gives you access to the Vitality Online Nutrition Assessment to help you learn more about your eating habits and provide ways on how you can improve them.</p>


<p>Earn 250 Vitality Points for completing this assessment.</p>


<div>
<a class="btn_blue float-left" href="/memberportal/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn Vitality Points</span></a>
</div>

</div>


<div class="tab-pane" id="need_to_know">
<img class="image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/vna_dieticians_logo.png"> 

<p>You can complete the Vitality Online Nutrition Assessment twice a year.</p>


<p>You can earn a maximum of 1,500 Vitality Points each membership year for Vitality Nutrition Assessment with a nutritionist/dietitian and/or Vitality Online Nutrition Assessment. The assessments must be done 6 months apart.</p>


<p>
<a href="/vitality_aia_au/web/linked_content/pdfs/know_your_health/q_and_m_partner_benefit_guide.pdf" target="_blank">Terms and conditions apply.</a>
</p>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn Vitality Points</span></a>
</div>

</div>


<div class="tab-pane" id="get_started">
<img class="image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/vna_dieticians_logo.png"> 

<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a>&nbsp;now to enjoy this benefit and start earning Vitality Points.</p>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">Ways to earn Vitality Points</span></a>
</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column">
<div class="row-fluid">
<div class=" ajax-content-container">
<p>
<a class="ajax-content-url" href="/vitality_aia_sg/web/included_content/join_aia_vitality_know_your_health.html ">&nbsp;</a>
</p>
</div>
</div>
</div>

</div>
</div>
