<div class="managed-content" id="090040be803b27ff">
                
<div class="product-box">

<div class="title blue">

<h1>Find out how to reach platinum status</h1>

</div>


<div class="box-content">

<p>You are currently on ${vitality_status?if_exists} status, in order to get to ${next_vitality_status?if_exists}, you can complete the following activities:</p>


<ul>

<li>Earn points online</li>


<li>Health assessments and preventive care</li>


<li>Eat healthy</li>


<li>Get active</li>


<li>Achieve your personal goals</li>


<li>Find out more</li>

</ul>

</div>

</div>

</div>
