<div class="managed-content" id="090040be803d8ae5">
                
<div class="row row-fluid">

<div class="row">

<div class="col-md-8 col-sm-12">

<div id="insert_running_man"></div>

</div>

</div>


<div class="row ">

<div class="col-md-12 col-sm-12">

<div id="insert_selected_goal_details"></div>

</div>

</div>

</div>

</div>
