<div class="managed-content" id="090040be8037d7d1">
                
<div class="banner-container">

<div class="controlled-carousel carousel slide" id="promo2-carousel">

<div class="carousel-inner">${vhr_banner?if_exists} ${mwba_banner?if_exists} ${fa_banner?if_exists} ${vna_banner?if_exists} ${da_banner?if_exists} ${default_banner?if_exists}</div>


<div class="btn_controls">
<a class="carousel-control left" data-slide="prev" href="#promo2-carousel">&nbsp;</a> <a class="carousel-control right" data-slide="next" href="#promo2-carousel">&nbsp;</a>
</div>

</div>

</div>

</div>
