<div class="managed-content" id="090040be80376d2d">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<div class="banner-container">

<div class="carousel content-banner interval_6">

<div class="carousel-inner">

<div class="item active">
<a href="/vmp-au/how_to_join"><img alt="" class="img-rounded border1" src="/vitality_aia_au/web/linked_content/images/general/home_joinaia.jpg"></a>
</div>


<div class="item">
<a href="/vmp-au/know_your_health"><img alt="" class="img-rounded border1" src="/vitality_aia_au/web/linked_content/images/general/home_know.jpg"></a>
</div>


<div class="item">
<a href="/vmp-au/improve_your_health"><img alt="" class="img-rounded border1" src="/vitality_aia_au/web/linked_content/images/general/home_improve.jpg"></a>
</div>

</div>

</div>

</div>
</div>
</div>
<div class="row-fluid ">
<div class="span12 ">
<p>As the real life company, AIA Australia introduces AIA Vitality, the science-backed wellness program that works with you to make real change to your health. We keep you motivated by adding up the benefits of every healthy choice you make, however small. So, you can live a healthy life that's rewarding in every way.</p>


<p>All you have to do is know more about your health, work towards improving it and get rewarded along the way</p>
</div>
</div>
<div class="row-fluid ">
<div class="span6 product-box equal-box">
<div class="title">

<h1>Know your health</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/general/home_know_your_health.jpg"></div>


<div class="content-text">

<p>Knowing and understanding your health is the first step to improving it. Earn AIA Vitality Points by completing various health assessments that help you understand your current health status and how to improve it.</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/know_your_health">Find out more</a>
</div>

</div>
</div>
<div class="span6 product-box equal-box">
<div class="title">

<h1>Improve your health</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/general/home_improve_your_health.jpg"></div>


<div class="content-text">

<p>Once you know more about your health, we help you improve it. Take advantage of a full range of activities that get you in better shape inside and out, from exercising to eating well, even getting screened for many aspects of your health. Plus, you earn AIA Vitality Points for every activity you participate in.</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/improve_your_health">Find out more</a>
</div>

</div>
</div>
</div>
<div class="row-fluid ">
<div class="span6 product-box equal-box">
<div class="title">

<h1>Enjoy the Rewards</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/general/home_rewards.jpg"></div>


<div class="content-text">

<p>Build up your AIA Vitality Status when you earn points for your healthy choices and you can enjoy even better rewards. Enjoy great savings on AIA insurance premiums and at our health and lifestyle partners, including discounted health foods, clothing and movies.</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/rewards">More on Rewards</a>
</div>

</div>
</div>
<div class="span6 product-box equal-box">
<div class="title">

<h1>Get Connected</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/general/home_connect.jpg"></div>


<div class="content-text">

<p>Engage with the AIA Vitality community and our fitness and nutrition tools to track your progress to greater health.</p>

</div>


<div class="more-info-link">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/community">Find out more</a>
</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/join_aia_vitality_banner_small.png"></a>
</div>
</div>
</div>

</div>
</div>
