<div class="managed-content" id="090040be8043ef7d">
                
<div class="row row-fluid">

<div class="col-md-12 col-sm-12">

<div class="well white" id="runningManHelpContainer">

<div class="visible-xs" id="running_man_help_close">
<img alt="Back" onclick="history.go(-1);" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/closeblue.png"></div>


<div class="carousel slide" data-ride="carousel" id="runningManHelpCarousel">

<div class="carousel-inner">

<div class="item active">

<table class="hidden-xs">

<tr>

<td style=" text-align: center;">
<br>

<img class="running_man_help_img1" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/platinum.png"></td>

</tr>


<tr>

<td>

<h2 class="running_man_help_h2">How do I read the status bar?</h2>


<p class="running_man_padding">We give you AIA Vitality Points for doing healthy things. The more points you earn, the higher your AIA Vitality Status and the bigger the rewards. There are four status levels: Bronze, Silver, Gold and Platinum. Everyone starts on Bronze and progresses to a higher status as points are earned.</p>

</td>

</tr>


<tr>

<td>

<table id="running_man_help_table_separate1">

<tr class="running_man_help_left_indent">

<td class="running_man_help_icon_td" rowspan="2">
<br>

<img class="running_man_help_icon_img" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/running_lady.png"></td>
<td class="running_man_help_left_indent_5">

<h2 class="running_man_help_h2 running_man_slightly_left">Running man / woman</h2>

</td>
<td class="running_man_help_left_dotted running_man_help_icon_td" rowspan="2"><img class="running_man_help_icon_img1" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/standing_man.png"></td>
<td class="running_man_help_left_indent_5">

<h2 class="running_man_help_h2 running_man_slightly_left">Standing man / woman</h2>

</td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_left_width_45">

<p>This is your current status, based on AIA Vitality Points you've earned so far in the current membership year.</p>

</td>
<td class="running_man_help_left_width_45">

<p>This is your previous membership year&rsquo;s ending status. It only appears after the first membership year, and if greater than your current status.</p>

</td>

</tr>

</table>

</td>

</tr>

</table>


<table class="visible-xs">

<tr>

<td>
<br>

<img class="running_man_help_img1" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/platinum.png"></td>

</tr>


<tr class="running_man_help_left">

<td>

<h2 class="running_man_help_h2">How do I read the status bar?</h2>


<p>We give you AIA Vitality Points for doing healthy things. The more points you earn, the higher your AIA Vitality Status and the bigger the rewards. There are four status levels: Bronze, Silver, Gold and Platinum. Everyone starts on Bronze and progresses to a higher status as points are earned.</p>

</td>

</tr>


<tr>

<td>

<table id="running_man_help_table_separate1">

<tr class="running_man_help_left">

<td>

<h2 class="running_man_help_h2">Running man / woman</h2>

</td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_center"><img class="running_man_help_icon_img" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/running_lady.png"></td>

</tr>


<tr class="running_man_help_left">

<td>

<p>This is your current status, based on AIA Vitality Points you've earned so far in the current membership year.</p>

</td>

</tr>


<tr class="running_man_help_center running_man_help_top_dotted">

<td>
<br>

<h2 class="running_man_help_h2 no-indent">Standing man / woman</h2>

</td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_center"><img class="running_man_help_icon_img1" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/standing_man.png"></td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_left">This is your previous membership year&rsquo;s ending status. It only appears after the first membership year, and if greater than your current status.</td>

</tr>

</table>

</td>

</tr>

</table>

</div>


<div class="item">

<table class="hidden-xs">

<tr>

<td colspan="2">

<h2 class="running_man_help_h2 running_man_slightly_left">Points and status</h2>

</td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_right_dotted running_man_slightly_left"><img src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/points.png"></td>
<td class="running_man_help_indent_5"><img src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/status.png"></td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_right_dotted">

<p>Engaging in healthy activities earns you AIA Vitality Points.<br>

<br>
The more points you earn, the higher your status and the more rewards you get to enjoy!</p>

</td>
<td class="running_man_help_left">

<p>As an AIA Vitality member, you start your journey on Bronze status. As you get healthier and accumulate AIA Vitality Points, your status improves from Bronze to Silver, then Gold and ultimately Platinum! The higher your status, the greater your rewards.</p>

</td>

</tr>


<tr>

<td colspan="2" style=" text-align: center;" width="90%">
<br>

<img id="running_man_points_table1" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/pointstable.png"></td>

</tr>

</table>


<table class="visible-xs">

<tr class="running_man_help_left">

<td class="running_man_help_left">

<h2 class="running_man_help_h2">Points and status</h2>

</td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_left running_man_help_indent_5"><img src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/points.png"></td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_left">

<p>Engaging in healthy activities earns you AIA Vitality Points.<br>

<br>
The more points you earn, the higher your status and the more rewards you get to enjoy!</p>

</td>

</tr>


<tr class="running_man_help_left running_man_help_top_dotted">

<td class="running_man_help_left running_man_help_indent_5">
<br>

<img src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/status.png"></td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_left">

<p>As an AIA Vitality member, you start your journey on Bronze status. As you get healthier and accumulate AIA Vitality Points, your status improves from Bronze to Silver, then Gold and ultimately Platinum! The higher your status, the greater your rewards.</p>

</td>

</tr>


<tr>

<td colspan="2" width="90%">
<br>

<img id="running_man_points_table1" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/pointstable.png"></td>

</tr>

</table>

</div>


<div class="item">

<table class="hidden-xs" id="running_man_help_table_separate">

<tr>

<td class="running_man_help_center" colspan="4">
<br>

<img src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/help_icons.png"><br>

<br>

</td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_width_100"><img class="running_man_help_align_top running_man_slightly_left" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/help_icons_age.png"></td>
<td class="running_man_help_indent_0">Your AIA Vitality Age is a measure of how healthy you are relative to your real age. Fill out the AIA Vitality Health Review to find out your AIA Vitality Age. <b>Click this icon to view your Health Results at any time.</b></td>
<td class="running_man_help_width_100 running_man_help_left_dotted"><img class="running_man_help_align_top" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/help_icons_friends.png"></td>
<td class="running_man_help_indent_0">Wondering who else is on AIA Vitality? It&rsquo;s easy to find friends and other like-minded people on our searchable members listing page. Use it now to get in touch and start building your own healthy network. <b>Click this icon to find and view Friends.</b></td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_width_100">&nbsp;</td>
<td class="running_man_help_indent_0">&nbsp;</td>
<td class="running_man_help_width_100 running_man_help_left_dotted">&nbsp;</td>
<td class="running_man_help_indent_0">&nbsp;</td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_width_100"><img class="running_man_help_align_top" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/help_icons_trophy.png"></td>
<td class="running_man_help_indent_0">We will recommend goals based on information from sources such as your AIA Vitality Health Review and the results of your AIA Vitality Health Check. You will earn points when you participate in activities that help support your goal and when you complete an active goal. <b>Click this icon to view Goals.</b></td>
<td class="running_man_help_width_100 running_man_help_left_dotted"><img class="running_man_help_align_top" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/help_icons_challenges.png"></td>
<td class="running_man_help_indent_0">Whether you want to eat more healthily, exercise more or kick those bad habits, it&rsquo;s amazing what you can achieve if you put your mind to it. Use our Challenges to boost your health, compete with your friends and earn AIA Vitality Points. <b>Click this icon to view available and active Challenges.</b></td>

</tr>

</table>


<table class="visible-xs" id="running_man_help_table_separate">

<tr>

<td class="running_man_help_center" colspan="2">
<br>

<img src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/help_icons.png"><br>

<br>

</td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_width_100"><img class="running_man_help_align_top" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/help_icons_age.png"></td>
<td class="running_man_help_indent_0">Your AIA Vitality Age is a measure of how healthy you are relative to your real age. Fill out the AIA Vitality Health Review to find out your AIA Vitality Age. <b>Click this icon to view your Health Results at any time.</b>
<br>

<br>

</td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_width_100"><img class="running_man_help_align_top" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/help_icons_trophy.png"></td>
<td class="running_man_help_indent_0">We will recommend goals based on information from sources such as your AIA Vitality Health Review and the results of your AIA Vitality Health Check. You will earn points when you participate in activities that help support your goal and when you complete an active goal. <b>Click this icon to view Goals.</b>
<br>

<br>

</td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_width_100"><img class="running_man_help_align_top" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/help_icons_friends.png"></td>
<td class="running_man_help_indent_0">Wondering who else is on AIA Vitality? It&rsquo;s easy to find friends and other like-minded people on our searchable members listing page. Use it now to get in touch and start building your own healthy network. <b>Click this icon to find and view Friends.</b>
<br>

<br>

</td>

</tr>


<tr class="running_man_help_left">

<td class="running_man_help_width_100"><img class="running_man_help_align_top" src="/vitality_aia_au/web/linked_content/images/banners/running_man_help/help_icons_challenges.png"></td>
<td class="running_man_help_indent_0">Whether you want to eat more healthily, exercise more or kick those bad habits, it&rsquo;s amazing what you can achieve if you put your mind to it. Use our Challenges to boost your health, compete with your friends and earn AIA Vitality Points. <b>Click this icon to view available and active Challenges.</b>
<br>

<br>

</td>

</tr>

</table>

</div>

</div>


<a class="left carousel-control" data-slide="prev" href="#runningManHelpCarousel" role="button">&nbsp;</a> <a class="right carousel-control" data-slide="next" href="#runningManHelpCarousel" role="button">&nbsp;</a>
</div>

</div>

</div>

</div>

</div>
