<div class="managed-content" id="090040be803d6337">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/happyhealthy01.png"> 

<p class="left_side">
<b>Get 30% off</b> Allen Carr's Easyway To Stop Smoking courses.</p>


<a class="btn dark_blue left_side" href="/vmp-au/partners/allen_carrs_easyway">Find out more</a>
</div>

</div>
