<div class="managed-content" id="090040be803d7eb3">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/improveyourhealth02.png"> 

<p class="left_side">Accept and achieve a challenge and <b>earn 50 AIA Vitality Points</b>.</p>


<a class="btn dark_blue left_side" href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/challenges">Find out more</a>
</div>

</div>
