<div class="managed-content" id="090040be803d7ea9">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/happyhealthy01.png"> 

<p class="left_side">Log your food and <b>earn 50 AIA Vitality Points</b>.</p>


<a class="btn sky_blue left_side" href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/wellnesstools/food">Find out more</a>
</div>

</div>
