<div class="managed-content" id="090040be803d633f">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/improveyourhealth02.png"> 

<p class="left_side">
<b>Get fit with 40% off</b> Step into Life session fees.</p>


<a class="btn dark_blue left_side" href="/vmp-au/partners/step_into_life">Find out more</a>
</div>

</div>
