<div class="managed-content" id="090040be8042ef8e">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man"></div>


<h1>How to Earn AIA Vitality Points</h1>


<p>You earn AIA Vitality Points by doing healthy activities. Your number of Vitality points determine your AIA Vitality Status and level of rewards!</p>
</div>
</div>
<div class="row ">
<div class="col-md-12 col-sm-12 col-xs-12 pull-left">
<div class="product-box">

<div class="title">

<h1>Know your health</h1>

</div>


<ul class="points_slider clearfix flexi_slider">

<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">1,000 points</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_health_review_icon.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/know_your_health/vitality_health_review"><b>Vitality Health Review</b></a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">Up to 1,500<br>
Points</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_fitnes_assessment_icon.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/know_your_health/fitness_assessment"><b>Vitality Fitness Assessment</b></a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">1,000 Points</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/screening_prevention_icon.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/know_your_health/screening_and_prevention"><b>Advanced Health Screenings</b></a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">Up to 6000<br>
Points</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_health_check_icon.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/know_your_health/vitality_health_check"><b>Vitality Health Check</b></a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">Up to 800 Points</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/mental_wellbeing_icon.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/know_your_health/mental_wellbeing"><b>Mental Wellbeing Assessment</b></a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">Up to 1,500 Points</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_nutrition_assessment_icon.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/know_your_health/vitality_nutrition_assessment"><b>Vitality Nutrition Assessment</b></a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">up to 1,000<br>
Points</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/vaccinations.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/know_your_health/screening_and_prevention"><b>Vaccinations</b></a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">500 Points</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/dental_assessment_icon.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/know_your_health/screening_and_prevention"><b>Dental Assessment</b></a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">1,000 Points</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/non_smoker_declaration_icon.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/improve_your_health/stop_smoking"><b>Non-Smokers Online Declaration</b></a>
</div>

</div>

</li>

</ul>


<p>&nbsp;</p>

</div>
</div>
</div>
<div class="row ">
<div class="col-md-12 col-sm-12 col-xs-12 pull-left">
<div class="product-box">

<div class="title">

<h1>Improve Your Health</h1>

</div>


<ul class="points_slider clearfix flexi_slider">

<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">Up to<br>
6,000 points</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/health_goals.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/improve_your_health/goals"><b>Achieve your goals</b></a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">100 points<br>
per visit</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/icon_Gym.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/improve_your_health/gym_and_fitness"><b>Partner gym visits</b></a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label large">Up to 100<br>
points per upload of<br>
workout data</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/vitality_fitnes_assessment_icon.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/improve_your_health/fitness_devices"><b>Fitness devices</b></a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">Up to<br>
1,500 points</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/organisedFitnessEvents.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/improve_your_health/gym_and_fitness/organised_fitness_events"><b>Organised fitness events</b></a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">1,000 points</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/non_smoker_declaration_icon.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/improve_your_health/stop_smoking"><b>Stop smoking</b></a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">Up to<br>
4,800 points</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/icon_apple.png"></div>

</div>


<div class="descr">
<a href="/vmp-au/partners/aussie_farmers_direct"><b>HealthyFood<sup>TM</sup>&nbsp;spend</b></a>
</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">50 points</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/challenge.png"></div>

</div>


<div class="descr">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/challenges"><b>Accept and achieve a challenge</b></a>
</div>

</div>

</li>



<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p class="points_label">50 points</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/know_your_health/friends.png"></div>

</div>


<div class="descr">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/challenges"><b>Successfully challenging a friend</b></a>
</div>

</div>

</li>


</ul>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">

<div id="insert_know_your_health_assess_banners"></div>

</div>
</div>
</div>
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">

<div id="insert_rewards_benefit_partners_banners"></div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>

</div>
</div>
