<div class="managed-content" id="090040be803835dd">
<div class="">
<h1>How to get to Platinum</h1>
</div>
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="well white">

<p>As you improve your health, enjoy earning greater rewards when you reach Platinum Status! Just follow these 5 easy steps:</p>

</div>
</div>
</div>
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="accordion">

<h6>
<a href="#earn_online">Earn Points online earn up to X Points</a>
</h6>


<div>

<table class="table table-small table-condensed table-bordered rd_transpose">

<tr>

<td>Earn points online</td>
<td>Earn up to 4,300 points</td>

</tr>


<tr>

<td>AIA Vitality Health Review</td>
<td>1,000 points</td>

</tr>


<tr>

<td>Mental Wellbeing Assessment</td>
<td>Up to 800</td>

</tr>


<tr>

<td>Online Nutrition Assessment</td>
<td>Up to 500</td>

</tr>


<tr>

<td>Non-Smoker&rsquo;s Declaration</td>
<td>1,000 points</td>

</tr>


<tr>

<td>Completing AIA Vitality Challenges</td>
<td>Up to 500</td>

</tr>


<tr>

<td>Influencing a friend to complete a challenge</td>
<td>Up to 500</td>

</tr>

</table>

</div>


<h6>
<a href="#earn_assesments">Health Assessments and Preventative Care earn up to 10,000 Points</a>
</h6>


<div>

<table class="table table-small table-condensed table-bordered">

<tr>

<td>Health Assessments and Preventative Care&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>Earn up to 10,000 points</td>

</tr>


<tr>

<td>AIA Vitality Health Check</td>
<td>Up to 6,000</td>

</tr>


<tr>

<td>Mammogram</td>
<td>1,000 points</td>

</tr>


<tr>

<td>Pap smear</td>
<td>1,000 points</td>

</tr>


<tr>

<td>Colon cancer screen</td>
<td>1,000 points</td>

</tr>


<tr>

<td>Flu vaccination</td>
<td>500 points</td>

</tr>


<tr>

<td>Dental assessment&nbsp;</td>
<td>500 points</td>

</tr>


<tr>

<td>Cervarix vaccination</td>
<td>1,000 points</td>

</tr>

</table>

</div>


<h6>
<a href="#earn_eat">Eat Healthy earn up to 6,800 Points</a>
</h6>


<div>

<table class="table table-small table-condensed table-bordered">

<tr>

<td><b>Eat Healthy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
<td><b>Earn up to 6,800 Points</b></td>

</tr>


<tr>

<td>Buy HealthyFood&trade; at Aussie Farmers Direct&nbsp;</td>
<td>Up to 4,800</td>

</tr>


<tr>

<td>Perform an AIA Vitality Nutrition Assessment&nbsp;</td>
<td>Up to 1,500</td>

</tr>


<tr>

<td>Keeping a food diary&nbsp;</td>
<td>Up to 500</td>

</tr>

</table>

</div>


<h6>
<a href="#earn_active">Get active earn up to X Points</a>
</h6>


<div>

<table class="table table-small table-condensed table-bordered">

<tr>

<td><b>Get active&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
<td><b>earn up to 18,&nbsp; 000 Points</b></td>

</tr>


<tr>

<td>Going to gym</td>
<td>100 points a day</td>

</tr>


<tr>

<td>Work out with a fitness device</td>
<td>Up to 100 points per day</td>

</tr>


<tr>

<td>Participate in an organised fitness events</td>
<td>Up to 1,500 per event</td>

</tr>


<tr>

<td>Undergo an AIA Vitality Fitness Assessment</td>
<td>Up to 3,000 points</td>

</tr>

</table>

</div>


<h6>
<a href="#earn_goals">Achieve your personal goals. Earn points based on your recommended health goals</a>
</h6>


<div>

<p>AIA Vitality recommends that you set <a href="#">personal goals</a> based on the areas that are most important to improving your health. Not only will you earn AIA Vitality Points for improving your health, but you will earn extra points for the activities that have the greatest impact on your health. The number of points you'll earn varies&nbsp;depending&nbsp;on your unique risk profile.</p>


<p>&nbsp;</p>

</div>

</div>


<p>&nbsp;</p>

</div>
</div>
</div>
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<p>
<b>AIA Vitality Points needed to improve your AIA Vitality Status</b>
</p>


<p>You currently have {points} Points</p>


<p>Your are currently on {status}&nbsp; Status</p>


<p>{ponts goal}&nbsp; points to reach {status goal}&nbsp; status</p>


<table border="1" cellpadding="0" cellspacing="0" class="rd_transpose" width="100%">

<tr>

<td width="20%">&nbsp;</td>
<td width="20%">Bronze</td>
<td width="20%">Silver&nbsp;</td>
<td width="20%">Gold</td>
<td width="20%">Platinum</td>

</tr>


<tr>

<td width="20%">Points you need to reach this status</td>
<td width="20%">{system inserts points}</td>
<td width="20%">{system inserts points}</td>
<td width="20%">{system inserts points}</td>
<td width="20%">{system inserts points}</td>

</tr>

</table>


<p>&nbsp;</p>


<p>Points run for one policy year and start at 0 at the beginning of the following year.</p>


<p>Statuses are carried over to the next year, but can be increased at any time.</p>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="box-content">

<p>
<b>Promo Banner</b>
</p>


<p>
<img alt="" src="/vitality_aia_sg/web/linked_content/images/points_and_status/vitality_nutrition_assessment.png"></p>


<p>&nbsp;</p>


<p>
<a class="btn_blue pull-right" href="#">Download</a>
</p>

</div>


<p>&nbsp;</p>

</div>
</div>
</div>
</div>

</div>
</div>
