<div class="managed-content" id="090040be803bdc5c">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man"></div>


<h1>Points and Status</h1>


<p>AIA Vitality rewards you for improving your health. You can work towards the rewards you desire simply by earning AIA Vitality Points for your healthy choices. The more points you earn, the greater your rewards.</p>
</div>
</div>
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box" ddiv="">

<div class="title">

<h1>Your Last Points Earned</h1>

</div>


<div class="box-content">

<div id="insert_points_table"></div>

</div>

</div>
</div>
</div>
<div class="row ">
<div class="col-md-6 col-sm-6 ">
<div class="product-box equal-box">

<div class="title">

<h1>Your AIA Vitality Points</h1>

</div>


<div class="box-content">
<img class="image-float-left img-rounded" src="/vitality_aia_au/web/linked_content/images/points_and_status/happy_healthy.png"> 

<p>You can see how many points you have earned by viewing the full points statement on the AIA Vitality Points monitor. Click <a href="/vmp-au/points_and_status/vitality_points_statement">here</a> to view your points!</p>


<div class="well white no-border" style=" box-shadow: none;">
<a class="btn_blue pull-right" href="/vmp-au/points_and_status/vitality_points_statement">Vitality Points statement</a>
</div>

</div>

</div>
</div>
<div class="col-md-6 col-sm-6 ">
<div class="product-box equal-box">

<div class="title">

<h1>Earn AIA Vitality Points</h1>

</div>


<div class="box-content">
<img class="image-float-left img-rounded" src="/vitality_aia_au/web/linked_content/images/points_and_status/earn_vitality_points_exercise.png"> 

<p>You can find out exactly how to earn points through engaging in healthy activities on the How To Earn Points page. Click <a href="/vmp-au/points_and_status/earn_points">here</a> to see all the ways you can earn points.</p>


<div class="well white no-border" style=" box-shadow: none; padding-top: 0;">
<a class="btn_blue pull-right" href="/vmp-au/points_and_status/earn_points">How to earn points</a>
</div>

</div>

</div>
</div>
</div>
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>AIA Vitality Points needed to improve your AIA Vitality Status</h1>

</div>


<div class="box-content">

<div id="insert_vitality_status"></div>


<table class="points-table table table-bordered table-condensed rd_transpose">

<tr>

<th height="24">&nbsp;</th>
<th class="bronze-status-gradient" height="24">Bronze</th>
<th class="silver-status-gradient" height="24">Silver</th>
<th class="gold-status-gradient" height="24">Gold</th>
<th class="blue-status-gradient" height="24">Platinum</th>

</tr>


<tr>

<td height="30">Points you need to reach this status</td>
<td height="30">0</td>
<td height="30">10,000</td>
<td height="30">20,000</td>
<td height="30">30,000</td>

</tr>

</table>


<p>
<span style=" font-size: x-small;">Points run for one policy year and start at 0 at the beginning of the new year.</span>
</p>


<p>
<span style=" font-size: x-small;">Statuses are carried over to the next year, but can be increased at any time.</span>
</p>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">

<div id="insert_rewards_benefit_partners_banners"></div>

</div>


<div class="banner">

<div id="insert_improve_your_health_assess_banners"></div>

</div>


<div id="insert_get_to_platinum_promo_block"></div>


<p>&nbsp;</p>
</div>
</div>
</div>

</div>
</div>
