<div class="managed-content" id="090040be804172ac">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<h1>AIA Insurance Premium Discount</h1>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/insurance_premium_discount_logo.gif"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>AIA Vitality Insurance Premium Discount</p>


<p>AIA Vitality offers you discounts on your eligible AIA Australia Priority Protection insurance premiums that cover you, dependent on the type of cover you choose:&nbsp;</p>


<p>
<b>Life Cover and Crisis Recovery plans</b>
</p>


<p>AIA Vitality offers you an initial 7.5%* discount off first-year premiums on all eligible lump sum AIA Priority Protection benefits that cover you. This discount may be boosted each year on renewal as a result of an increase in status as you make an effort to know and improve your health. If you reach Platinum AIA Vitality Status you will get a potential premium discount of 20%!</p>


<p>What&rsquo;s more, we&rsquo;ll provide cashback^&nbsp;of up to 10% of premiums paid&nbsp;every fifth year based on your AIA Vitality Status achieved each year.</p>


<p>
<b>Income Protection and Business Expense plans</b>
</p>


<p>AIA Vitality offers you the chance to earn a premium discount each year on renewal as you make an effort to get healthy and improve on your AIA Vitality Status. This adds up to a potential premium discount of 15%!</p>


<p>*Initial 7.5% discount is only applicable to first-year premiums based on lump sum policies. The initial premium discount of 7.5% is not applicable to AIA Income Protection and Business Expenses policies. The discount that will apply to the benefits under this plan from the second policy year onwards will depend on the AIA Vitality Status achieved.</p>


<p>^Cashback is only applicable to premiums based on lump sum policies. The cashback is not applicable to AIA Income Protection or Business Expenses plans.&nbsp;</p>


<p>Participation in the AIA Vitality Program is subject to the AIA Vitality Terms and Conditions, Benefit Guides and the AIA Australia Privacy Policy. Partner terms and conditions may also apply. Rules relating to premium discounts and cashbacks where the Life Insured is an AIA Vitality member are available as mentioned in the relevant PDS.</p>


<p>For full terms and conditions refer to the <a class="dialog_trigger rd_norm" data-href="/vmp-au/terms_and_conditions" data-target="terms_and_conditions_dialog" href="javascript:void(0)">AIA Vitality terms and conditions</a> and the <a href="/vitality_aia_au/web/linked_content/pdfs/rewards/AIA_Vitality_Premium_Adjustment_Rules.pdf" target="_blank">AIA Vitality premium adjustment rules</a>.</p>


<p>For more information contact your financial adviser or <a href="/vmp-au/contact_us">contact us</a>.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/insurance_premium_discount_logo.gif"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>You can purchase any of the following benefits:</p>


<p>For <b>eligible lump sum benefits</b> (and their associated riders) <a class="dialog_trigger" data-target="eligible_lump_sum" href="javascript:void(0);">click here</a>
</p>


<div class="dialog_content" data-content-width="50%" data-title="Eligible lump sum benefits" id="eligible_lump_sum">

<p>
<b>Life Cover plan</b>
</p>


<ol>

<li>Life Cover</li>


<li>Term Cover</li>


<li>Accidental Death</li>


<li>Total and Permanent Disablement</li>


<li>Universal Total and Permanent Disablement</li>


<li>Accidental Total and Permanent Disablement</li>

</ol>


<p>
<b>Crisis Recovery Plan</b>
</p>


<ol>

<li>Crisis Recovery</li>

</ol>


<p>
<b>Superannuation Life Cover plan</b>
</p>


<ol>

<li>Life Cover</li>


<li>Term Cover</li>


<li>Accidental Death</li>


<li>Total and Permanent Disablement</li>


<li>Universal Total and Permanent Disablement</li>


<li>Accidental Total and Permanent Disablement</li>

</ol>

</div>


<p>Based on your AIA Vitality Status your premium discount at policy renewal each year can change. You can also earn a cashback every fifth year. The higher your AIA Vitality Status, the greater the percentage at which your cashback benefit accumulates.</p>


<table class="table table-bordered">
<thead>

<tr>

<td colspan="3" valign="top" width="100%">

<p align="center">
<b>Life Cover and Crisis Recovery plans</b>
</p>

</td>

</tr>


<tr>

<td valign="top" width="20%">

<p align="center">
<b>AIA Vitality Status</b>
</p>

</td>
<td><b>Status-based adjustments to the premium discount at policy renewal each year</b></td>
<td><b>Status-based cashback^ every fifth year</b></td>

</tr>


</thead>

<tr>

<td>Platinum</td>
<td>Discount percentage increases by 1%</td>
<td>10%</td>

</tr>


<tr>

<td>Gold</td>
<td>Discount percentage remains constant</td>
<td>8%</td>

</tr>


<tr>

<td>Silver</td>
<td>Discount percentage decreases by 0.75%</td>
<td>4%</td>

</tr>


<tr>

<td>Bronze</td>
<td>Discount percentage decreases by 1.5%</td>
<td>2%</td>

</tr>

</table>


<p>The maximum premium discount is 20% and the minimum is 0%. When you integrate your eligible AIA Australia Priority Protection policy that covers you with AIA Vitality, you never pay more than an equivalent Priority Protection policy that is not integrated with AIA Vitality.&nbsp;</p>


<p>Example:</p>


<p>John, an AIA Vitality member, bought a Life Cover and Total and Permanent Disablement policy and enjoyed a 7.5%* initial premium discount in year one. At the end of year one, he achieved Gold AIA Vitality Status and his premium discount remained at 7.5%. At the end of year two, his AIA Vitality Status dropped to Silver so his premium discount decreased to 6.75%. By the end of year three he achieved Platinum AIA Vitality Status and enjoyed a 7.75% premium discount.</p>


<p>For eligible <b>Income Protection and Business Expenses benefits</b> <a class="dialog_trigger" data-target="income_protection" href="javascript:void(0);">click here</a>
</p>


<div class="dialog_content" data-content-width="50%" data-title="Income protection" id="income_protection">

<p>
<b>Income Protection Plans</b>
</p>


<ol>

<li>Income Protection</li>


<li>Income Protection Accident Only</li>


<li>Income Protection Essentials</li>

</ol>


<p>
<b>Business Expenses Plans</b>
</p>


<ol>

<li>Business Expenses</li>


<li>Incorporated Business Expenses</li>

</ol>


<p>
<b>Superannuation Income Protection Plans</b>
</p>


<ol>

<li>Income Protection</li>


<li>Income Protection Accident Only</li>

</ol>

</div>


<p>Based on your AIA Vitality Status your premium discount at policy renewal each year can change.: The higher your AIA Vitality Status, the greater your discount on your Income Protection or Business Expenses premiums.</p>


<p>If the AIA Vitality discount is above the premium floor and the AIA Vitality Status reduces, the Premium Flex will not be applied and the discount will be eroded by 1% until the premium floor is reached for that status.</p>


<table class="table table-bordered">
<thead>

<tr>

<td colspan="3" valign="top" width="100%">

<p align="center">
<b>Income Protection and Business Expenses plans</b>
</p>

</td>

</tr>


<tr>

<td><b>AIA Vitality Status</b></td>
<td><b>Status-based adjustments to the premium discount at policy renewal each year</b></td>
<td><b>Maximum premium discount</b></td>

</tr>


</thead>

<tr>

<td>Platinum</td>
<td>Discount percentage increases by 2%</td>
<td>15%</td>

</tr>


<tr>

<td>Gold</td>
<td>Discount percentage increases by 1%</td>
<td>10%</td>

</tr>


<tr>

<td>Silver</td>
<td>Discount percentage increases by 0.5%</td>
<td>5%</td>

</tr>


<tr>

<td>Bronze</td>
<td>Discount percentage</td>
<td>0%</td>

</tr>

</table>


<p>The maximum premium discount is 15% (on AIA Vitality Platinum status) and the minimum is 0%. When you integrate your eligible AIA Australia Income Protection Plan that covers you with AIA Vitality, you never pay more than an equivalent Income Protection Plan that is not integrated with AIA Vitality.</p>


<p>Example:</p>


<p>Sarah, an AIA Vitality member, bought an Income Protection policy. At the end of year one, she achieved Gold AIA Vitality Status and gained a premium discount of 1%. At the end of year two, her AIA Vitality Status dropped to Silver and her premium discount increased to 1.5%. At the end of year three she achieved Platinum AIA Vitality Status and enjoyed a 3.5% premium discount.</p>


<p>*Initial 7.5% discount is only applicable to first-year premiums based on lump sum policies. The initial premium discount of 7.5% is not applicable to AIA Income Protection and Business Expenses policies. The discount that will apply to the benefits under this plan from the second policy year onwards will depend on the AIA Vitality Status achieved.</p>


<p>^Cashback is only applicable to premiums based on lump sum policies. The cashback is not applicable to AIA Income Protection or Business Expenses plans.</p>


<p>Participation in the AIA Vitality Program is subject to the AIA Vitality Terms and Conditions, Benefit Guides and the AIA Australia Privacy Policy. Partner terms and conditions may also apply. Rules relating to premium discounts and cashbacks where the Life Insured is an AIA Vitality member are available as mentioned in the relevant PDS.</p>


<p>For full terms and conditions refer to the <a class="dialog_trigger rd_norm" data-href="/vmp-au/terms_and_conditions" data-target="terms_and_conditions_dialog" href="javascript:void(0)">AIA Vitality terms and conditions</a> and the <a href="/vitality_aia_au/web/linked_content/pdfs/rewards/AIA_Vitality_Premium_Adjustment_Rules.pdf" target="_blank">AIA Vitality premium adjustment rules</a>.</p>


<p>For more information contact your financial adviser or <a href="/vmp-au/contact_us">contact us</a>.</p>


<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> now to benefit from this great offer.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/insurance_premium_discount_logo.gif"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> now to benefit from this great offer.</p>


<p>For full terms and conditions refer to the <a class="dialog_trigger rd_norm" data-href="/vmp-au/terms_and_conditions" data-target="terms_and_conditions_dialog" href="javascript:void(0)">AIA Vitality terms and conditions</a> and the <a href="/vitality_aia_au/web/linked_content/pdfs/rewards/AIA_Vitality_Premium_Adjustment_Rules.pdf" target="_blank">AIA Vitality premium adjustment rules</a>.</p>


<p>For more information contact your financial adviser or <a href="/vmp-au/contact_us">contact us</a>.</p>

</div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
