<div class="managed-content" id="090040be803b7041">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>Allen Carr&rsquo;s Easyway</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/about_us/allen_carr_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Save 30% off the retail amount when joining Allen Carr's Easyway smoking cessation seminars.</p>


<p>As one of the most successful smoking cessation programs in the world and with a success rate of over 90%, Allen Carr's Easyway can afford to offer a money-back guarantee.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/about_us/allen_carr_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<ul>

<li>AIA Vitality members will receive a 30% discount.</li>


<li>The discount is off the full retail rate and will be given at the point of sale. You need to enter the promotion code when making the booking.</li>


<li>You can earn 1,000 AIA Vitality Points by completing a non-smoker's declaration once you have quit smoking for at least 3 months.</li>


<li>Points will be awarded once a policy year</li>


<li>If you claim to be a non-smoker, you may be subject to a random test by AIA Vitality to confirm that you do not smoke.</li>

</ul>



<p>AIA Vitality members can log in to access this benefit and view the terms and conditions. If you&rsquo;re not an AIA Vitality member speak to your financial adviser for more information.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/about_us/allen_carr_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">${allen_carr_promotion_code?if_exists} 

<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a>&nbsp;now to enjoy this benefit.</p>


</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
