<div class="managed-content" id="090040be8044699e">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Anytime Fitness</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>


<li>
<a data-toggle="tab" href="#gym_utilisation">Gym Utilisation</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/anytimefitness.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Anytime Fitness fits your busy lifestyle with 24-hour access to thousands of gym locations worldwide. Anytime Fitness and AIA Vitality have entered into a partnership, making it easier for our members to live a healthier lifestyle.</p>


<p>As an AIA Vitality member, you will have access to an Anytime Fitness gym at a discounted price of $59.50 per month. Plus, each time you work out at Anytime Fitness, you will earn 100 AIA Vitality Points!</p>


<p>Every AIA Vitality member who joins as a new Anytime Fitness member through the AIA Vitality website on or after 1 July 2014 will receive a gym pack valued at approximately $100. This will be posted to you within 5 business days of the online application being accepted by Anytime Fitness.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/anytimefitness.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<ul>

<li>As an AIA Vitality member you enjoy this benefit at a discounted monthly fee of $59.50 when you sign up for a 12-month membership.</li>


<li>Your AIA Vitality membership must be active for you to enjoy the discount.</li>


<li>You need to pay a discounted once-off $40 activation fee when you join Anytime Fitness. A discounted once-off fee of $59.95 for a personal security device (key fob) to gain access to all Anytime Fitness health clubs is also payable on joining.</li>


<li>Every AIA Vitality member who joins as a new Anytime Fitness member through the AIA Vitality website on or after 1 July 2014 will receive a gym pack valued at approximately $100. This will be posted to you within 5 business days of the online application being accepted by Anytime Fitness.</li>


<li>In addition to the discounted monthly fee, AIA Vitality will reward you for being active. Make sure you workout at Anytime Fitness on at least 24 separate days in a rolling 91-day period, and you will receive a $75 cash back.</li>

</ul>


<p>For example: If you sign up online to join Anytime Fitness on 1 December 2014, you will receive your key fob device within 5 business days (by 8 December 2014). You can expect to receive your first $75 cash back in the month of April if you have gone to the gym on at least 24 separate days in the rolling 91-day period starting 1 December. To maintain the cash back you must continue to go to the gym on at least 24 separate days in each rolling 91-day period.</p>


<ul>

<li>Once the activation is completed by Anytime Fitness, you will receive the key fob device and gym pack in the post within 5 business days. You are only charged monthly fees with effect from 5 days after acceptance of your Anytime Fitness membership application. <b>Please make sure you capture your postal address correctly on the Anytime Fitness website to ensure you receive your key fob device and gym pack in time.</b>
</li>


<li>You will have access to Anytime Fitness once you have your key fob device, and you will be able to access any of the Anytime Fitness health clubs in Australia.</li>


<li>You will earn 100 AIA Vitality Points each time you work out at Anytime Fitness.</li>


<li>You may only earn points for one physical activity a day, which includes a workout at Anytime Fitness or our other gym partners or other activities, such as walking or running, tracked with fitness monitor devices such as Polar, Fitbug etc. Physical activity points are capped at a maximum of 15,000 points for the year.</li>

</ul>


<p>If you have an existing Anytime Fitness membership you will only be able to take advantage of this benefit when your current contract with Anytime Fitness comes to an end. You can however still earn points each time you work out at Anytime Fitness by approaching the gym staff at your local gym between 1000hrs and 1800hrs with the following information -&nbsp;your Anytime Fitness membership number and AIA Vitality Member ID. The gym staff will link your membership to your AIA Vitality profile and arrange for your visits to be reported.</p>


<p>For full terms and conditions refer to the AIA Vitality <a class="dialog_trigger" data-target="terms_and_conditions_dialog" href="javascript:void(0)">terms and conditions</a> and the <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/anytime_fitness_bf.pdf" target="_blank">Anytime Fitness benefit guide</a>.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/anytimefitness.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">${anytime_fitness_content?if_exists} </div>

</div>


<div class="tab-pane" id="gym_utilisation">

<div id="insert_gym_utilisation"></div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/improve_your_health/gym_and_fitness/organised_fitness_events"><img src="/vitality_aia_au/web/linked_content/images/general/fitness_devices_01_promo.jpg"></a>
</div>
</div>
</div>
</div>

</div>
</div>
