<div class="managed-content" id="090040be8040f3ca">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>Anytime Fitness</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/anytimefitness.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Anytime Fitness fits your busy lifestyle with 24-hour access to thousands of gym locations worldwide. Anytime Fitness and AIA Vitality have entered into a partnership, making it easier for our members to live a healthier lifestyle.</p>


<p>As an AIA Vitality member, you will have access to an Anytime Fitness gym at a discounted price of $59.50 per month. Plus, each time you work out at Anytime Fitness, you will earn 100 AIA Vitality Points!</p>


<p>Every AIA Vitality member who joins as a new Anytime Fitness member through the AIA Vitality website on or after 1 July 2014 will receive a gym pack valued at approximately $100. This will be posted to you within 5 business days of the online application being accepted by Anytime Fitness.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/anytimefitness.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<ul>

<li>As an AIA Vitality member you enjoy this benefit at a discounted monthly fee of $59.50 when you sign up for a 12-month membership.</li>


<li>Every AIA Vitality member who joins as a new Anytime Fitness member through the AIA Vitality website on or after 1 July 2014 will receive a gym pack valued at approximately $100. This will be posted to you within 5 business days of the online application being accepted by Anytime Fitness.</li>


<li>Your AIA Vitality membership must be active for you to enjoy the discount.</li>


<li>You need to pay a discounted once-off $40 activation fee when you join Anytime Fitness. A discounted once-off fee of $59.95 for a personal security device (key fob) to gain access to all Anytime Fitness health clubs is also payable on joining.</li>


<li>In addition to the discounted monthly fee, AIA Vitality will reward you for being active. Make sure you workout at Anytime Fitness on at least 24 seperate days in a rolling 91-day period, and you will receive a $75 cash back.</li>

</ul>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/anytimefitness.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a>&nbsp; now to enjoy this benefit and start earning points.</p>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>

</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
