<div class="managed-content" id="090040be803bbf70">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>Aussie Farmer&rsquo;s Direct</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li class="">
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li class="">
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_aussiefarmers.jpg"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Get up to 30% discount on HealthyFood&trade; items (fresh fruits and vegetables) purchased at Aussie Farmers Direct.</p>


<p>Your level of savings are based on the activities you have done:</p>


<table class="table table-condensed table-bordered rd_transpose">
<tbody>

<tr>

<th>Activity</th>
<th align="center" width="161">Discount Percentage</th>

</tr>


<tr>

<td>All AIA Vitality members</td>
<td width="161">15%</td>

</tr>


<tr>

<td>AIA Vitality Health Review only completed</td>
<td>20%</td>

</tr>


<tr>

<td>AIA Vitality Health Check completed</td>
<td>30%</td>

</tr>


</tbody>
</table>


<p>Limited to a monthly spend of $160.</p>


<p>By using this benefit, you will also receive 10 Vitality Points for each $4 spent on HealthyFood&trade; items (fresh fruits and vegetables) from Aussie Farmers Direct (up to 400 points each month)</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_aussiefarmers.jpg"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<ul>

<li>The HealthyFood&trade; benefit will be available to all AIA Vitality members.</li>


<li>Your discount will depend on whether you&rsquo;ve completed your AIA Vitality Health Review or AIA Vitality Health Check: 

<ul>

<li>You will qualify for 15% discount just for being an AIA Vitality member</li>


<li>If you complete the AIA Vitality Health Review you will qualify for a 20% discount</li>


<li>If you complete an AIA Vitality Health Check you will qualify for a 30% discount,</li>

</ul>

</li>

</ul>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_aussiefarmers.jpg"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Enjoy up to 30% discount on HealthyFood&trade; items (fresh fruits and vegetables) purchased at Aussie Farmers Direct.</p>


<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> now to enjoy this benefit and start earning points.</p>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>


</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
