<div class="managed-content" id="090040be803cd66a">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Aussie Farmer&rsquo;s Direct</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li class="">
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li class="">
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>


<li class="">
<a data-toggle="tab" href="#healthy_food">Healthy Food<sup>TM</sup></a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_aussiefarmers.jpg"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Get up to 30% discount on HealthyFood&trade; items (fresh fruits and vegetables) purchased at Aussie Farmers Direct.</p>


<p>Your level of savings are based on the activities you have done:</p>


<table class="table table-condensed table-bordered rd_transpose">
<tbody>

<tr>

<th>Ways to earn Booster points</th>
<th>Discount Percentage</th>

</tr>


<tr>

<td>All AIA Vitality members</td>
<td>15%</td>

</tr>


<tr>

<td>AIA Vitality Health Review only completed</td>
<td>20%</td>

</tr>


<tr>

<td>AIA Vitality Health Check completed</td>
<td>30%</td>

</tr>


</tbody>
</table>


<p>The monthly spend that qualifies for discount and points is capped at $160 (inc GST)</p>


<p>By using this benefit, you will also receive 10 Vitality Points for each $4 spent on HealthyFood&trade; items (fresh fruits and vegetables) from Aussie Farmers Direct (up to 400 points each month)</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_aussiefarmers.jpg"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<ul class="disc">

<li>The HealthyFood&trade; benefit is available to all AIA Vitality members.</li>


<li>Your discount will depend on whether you&rsquo;ve completed your AIA Vitality Health Review or AIA Vitality Health Check: 

<ul class="disc" type="circle">

<li>You will qualify for 15% discount just for being an AIA Vitality member</li>


<li>If you complete the AIA Vitality Health Review you will qualify for a 20% discount</li>


<li>If you complete an AIA Vitality Health Check you will qualify for a 30% discount,</li>

</ul>

</li>


<li>You need to retake your AIA Vitality Health Review and/or AIA Vitality Health Check every 12 months to keep your discount level.</li>


<li>Your discount and points earned will apply to HealthyFood&trade;(fresh fruit and vegetables) purchases up to a monthly cap of $160 (inclusive of GST). You can earn a maximum of 400 points each month. Your spending limit will reset on the 1st of each month</li>


<li>Once you reach your monthly HealthyFood&trade; spending limit, you can still purchase more food, but any amount beyond the monthly cap will not receive any discount or points</li>


<li>The selection of HealthyFood&trade; items is constantly under review and may change from time to time. Items are subject to seasonal and supplier availability.</li>

</ul>


<p>Details about your HealthyFood&trade; purchases at Aussie Farmers Direct could take up to a week after your delivery to reflect on the AIA Vitality Member Portal, and points will be awarded on a weekly basis.</p>


<p>For full terms and conditions refer to the AIA Vitality <a class="dialog_trigger" data-target="terms_and_conditions_dialog" href="javascript:void(0)">terms and conditions</a> and the <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/AussieFarmersBF.pdf" target="_blank">Aussie Farmers Direct benefit guide</a>.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_aussiefarmers.jpg"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>${afd_benefit_available?if_exists}</p>

</div>

</div>


<div class="tab-pane" id="healthy_food">

<div class="col-md-12 col-sm-12">

<div id="insert_spend_statement"></div>

</div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/expertAdvice"><img src="/vitality_aia_au/web/linked_content/images/general/expertadvice2.jpg"></a>
</div>
</div>
</div>
</div>

</div>
</div>
