<div class="managed-content" id="090040be803bbeb2">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>endota spa</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="assessment-logo rect">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/partners/endota-sml.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Your efforts to get and stay healthy deserve to be rewarded. That&rsquo;s why we help you relax, de-stress and recharge, by offering you discounted vouchers which you can redeem at any endota spa. You can purchase up to two discounted vouchers for each AIA Vitality membership year.</p>


<p>endota spa is the fresh, soothing, all-Australian day spa where wellness is the way. Laidback and friendly, endota spa welcomes absolutely everyone.</p>


<p>Your discount depends on your AIA Vitality Status.</p>


<table class="table table-border rd_transpose" width="100%">

<tr>

<th>Bronze</th>
<th>Silver</th>
<th>Gold</th>
<th>Platinum</th>

</tr>


<tr>

<td>10%</td>
<td>15%</td>
<td>20%</td>
<td>35%</td>

</tr>

</table>


<p>&nbsp;</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class=" assessment-logo rect">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/partners/endota-sml.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<ul>

<li>You must be an active AIA Vitality member to qualify for this benefit.</li>


<li>You qualify for two discounted vouchers for spa treatment packages in an AIA Vitality membership year.</li>


<li>The discount is only applicable to vouchers purchased via the AIA Vitality website.</li>


<li>The discount is based on your AIA Vitality Status at time of purchasing the voucher.</li>

</ul>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo rect">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/partners/endota-sml.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> now to benefit from this great offer.</p>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>

</div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/join_aia_vitality_banner_small.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
