<div class="managed-content" id="090040be803be529">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Fernwood</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/fernwood.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Fernwood is an Australian wide, women's only health club. AIA Vitality has partnered with Fernwood to give you all of the perks of a Fernwood gym membership, at a discounted price.</p>


<p>As an AIA Vitality member, you can save 15% on the cost of Fernwood membership.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/fernwood.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<ul>

<li>You enjoy a 15% discount on the Fernwood membership fee. when you sign up for a 12-month basic or 1-month basic membership.</li>


<li>Your AIA Vitality membership must be active for you to enjoy the discount.</li>


<li>You need to pay a once-off $199 activation fee when you join Fernwood.</li>


<li>The discounted membership fee will be collected by Fernwood fortnightly.</li>


<li>You will have access to Fernwood immediately after the activation.</li>


<li>You will earn 100 AIA Vitality Points each time you work out at Fernwood.<br>

<br>
Please note: You will begin earning AIA Vitality Points as soon as you join Fernwood via the AIA Vitality member portal.<br>

</li>


<li>You may only earn points for one physical activity a day, which includes a workout at Fernwood or our other gym partners or other activities, such as walking or running, tracked with fitness monitor devices such as Polar, Fitbug etc. Physical activity points are capped at a maximum of 15,000 points for the year.</li>


<li>If you have an existing Fernwood membership you will only be able to take advantage of this benefit when your current contract with Fernwood comes to an end. You can however still earn points each time you work out at Fernwood.</li>

</ul>



<p>Click <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/FernwoodBF.pdf" target="_blank">here</a> for more detailed benefit information and a full set of terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/fernwood.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>${fernwood_content?if_exists}</p>

</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/improve_your_health/fitness_devices"><img src="/vitality_aia_au/web/linked_content/images/general/running_device_02_banner.jpg"></a>
</div>
</div>
</div>
</div>

</div>
</div>
