<div class="managed-content" id="090040be8041d37c">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>Fitbit</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/points_and_status/fitbit_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Fitbit motivates you to stay active, live better, and reach your goals.</p>


<p>You can wear a Fitbit to track your steps and distance, to help you achieve your fitness goals.</p>


<p>AIA Vitality members save up to 25% on a Fitbit device when they purchase a Fitbit device through AIA Vitality.</p>


<p>AIA Vitality members earn up to 100 AIA Vitality Points each day for the steps you take and stay healthy.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/points_and_status/fitbit_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>All AIA Vitality members can earn AIA Vitality Points by tracking their steps using a Fitbit device.</p>


<p>You can choose from three Fitbit devices &ndash; each one has its own special features. &nbsp;Members can also purchase Aria&trade;: Wi Fi smart scale.</p>


<p>
<b>Zip&trade;: Wireless activity tracker</b>
</p>


<p>Sync it with your phone or computer and track steps and distance.</p>


<p>
<b>One&trade;: Wireless activity and sleep tracker</b>
</p>


<p>Track your steps, stairs climbed, distance and sleep cycles.</p>


<p>
<b>Flex&trade;: The wireless activity and sleep wristband</b>
</p>


<p>Track your steps, distance, active time and sleep cycles.</p>


<p>
<b>Aria&trade;: WiFi smart scale</b>
</p>


<p>Track your weight, body fat percentage, and BMI.</p>



<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>


<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a>&nbsp;now to enjoy this benefit and start earning points.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/points_and_status/fitbit_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a>&nbsp;now to enjoy this benefit and start earning points.</p>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>

</div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
