<div class="managed-content" id="090040be803f13ed">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>Garmin</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/points_and_status/garmin_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Garmin uses GPS-navigation to track and assess your physical activity.</p>


<p>Garmin fitness products cover a broad range of sporting disciplines, from indoor gym training to adventure-bound outdoor pursuits.</p>


<p>AIA Vitality members earn up to 100 AIA Vitality Points each day for workouts tracked using a Garmin device.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/points_and_status/garmin_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>All AIA Vitality members can earn AIA Vitality Points.</p>


<p>If your AIA Vitality membership ends, you will no longer earn AIA Vitality Points with Garmin device. However, you may continue to use your Garmin device.</p>


<p>
<b>Please note:</b> To earn AIA Vitality Points for workouts using your Garmin device, you will need to upload your data to the AIA Vitality website first, before uploading it to the GarminConnect website. You can also deselect the option on the GarminConnect website so that your workout data is not deleted from your device.&nbsp;</p>


<p>
<b>How to calculate your AIA Vitality Points</b>
</p>


<p>With your Garmin device, you&rsquo;ll earn AIA Vitality Points in the fitness category if you exercise at a specific intensity, for a specific time. Each adult can earn up to 15,000 AIA Vitality Points for fitness-related activity (including gym workouts, fitness device tracking and organised fitness events).&nbsp;</p>


<table class="table table-border table-condensed">

<tr>

<th width="50%">Heart rate data</th>
<th>AIA Vitality Points</th>
<th>Frequency</th>

</tr>


<tr>

<td>At least 30 minutes of physical activity in one exercise session a day&nbsp;at an average heart rate of more than 60% of your age-related maximum heart rate.</td>
<td>50</td>
<td>Once a day</td>

</tr>


<tr>

<td>OR</td>
<td>&nbsp;</td>
<td>&nbsp;</td>

</tr>


<tr>

<td>At least 30 minutes of physical activity in&nbsp;one exercise session a day&nbsp;at an average heart rate of more than 70% of your age-related maximum heart rate.</td>
<td>100</td>
<td>Once a day</td>

</tr>


<tr>

<td>OR</td>
<td>&nbsp;</td>
<td>&nbsp;</td>

</tr>


<tr>

<td>At least 60 minutes of physical activity in&nbsp;one exercise session a day&nbsp;at an average heart rate of more than 60% of your age-related maximum heart rate.</td>
<td>100</td>
<td>Once a day</td>

</tr>

</table>

OR 

<table class="table table-border table-condensed">

<tr>

<th width="50%">Speed data</th>
<th>AIA Vitality Points</th>
<th>Frequency</th>

</tr>


<tr>

<td>At least 30 minutes of physical activity in&nbsp;one exercise session a day&nbsp;at a minimum average speed of 7.2 kilometres an hour.</td>
<td>100</td>
<td>Once a day</td>

</tr>


<tr>

<td>OR</td>
<td>&nbsp;</td>
<td>&nbsp;</td>

</tr>


<tr>

<td>At least 60 minutes or more of physical activity in&nbsp;one exercise session a day&nbsp;at a minimum average speed of 4&nbsp;kilometres an hour.</td>
<td>100</td>
<td>Once a day</td>

</tr>

</table>

OR 

<table class="table table-border table-condensed">

<tr>

<th width="50%">Calorie data</th>
<th>AIA Vitality Points</th>
<th>Frequency</th>

</tr>


<tr>

<td>At least 30 minutes of physical activity and a minimum of 150 calories burned (at a rate of no fewer than&nbsp;300 calories an hour) in&nbsp;one exercise session a day.</td>
<td>50</td>
<td>Once a day</td>

</tr>


<tr>

<td>OR</td>
<td>&nbsp;</td>
<td>&nbsp;</td>

</tr>


<tr>

<td>At least 30 minutes of physical activity and a minimum of 300 calories burned (at a rate of no fewer than&nbsp;600 calories an hour) in&nbsp;one exercise session a day.</td>
<td>100</td>
<td>Once a day</td>

</tr>


<tr>

<td>OR</td>
<td>&nbsp;</td>
<td>&nbsp;</td>

</tr>


<tr>

<td>At least 60 minutes or more of physical activity and a minimum of 300 calories burned (at a rate of&nbsp;no fewer than&nbsp;300 calories an hour) in&nbsp;one exercise session a day.</td>
<td>100</td>
<td>Once a day</td>

</tr>

</table>


<p>
<b>Please note:</b> &nbsp;You can earn up to 15,000 AIA Vitality Points for fitness-related activity (including gym workouts, fitness device tracking and organised fitness events).&nbsp;</p>


<p>A maximum of 100 points will be awarded for one fitness activity a day. If you complete two fitness activities in one day, then the higher points between the two will be awarded.</p>


<p>
<b>Example:</b>&nbsp;John buys a fitness device that can be linked to Vitality. His device collects step and calorie data. John takes part in a minimum of 30 minutes of physical activity in&nbsp;<b>one exercise session</b>. He exercises at an average heart rate of more than 60% of his age-related maximum heart rate, burns a minimum of 150 calories (at a rate of&nbsp;<b>no fewer than</b>&nbsp;300 calories an hour) and takes 10,000 steps. He uploads his exercise data to AIA Vitality.</p>


<p>John will earn 50 points a day for his exercise session for meeting one of the criteria from either his&nbsp;heart rate data&nbsp;or&nbsp;speed data&nbsp;or&nbsp;calorie data&nbsp;or&nbsp;step data.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/points_and_status/garmin_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Follow the steps belolw to link your Garmin device with AIA Vitality and import your workout activities</p>


<p>
<b>If you are using your Garmin device on AIA Vitality for the first time</b>
</p>


<p>
<b>Step 1:</b> <a href="http://software.garmin.com/en-AU/gcp.html" target="_blank">Click here</a>&nbsp;to access the Garmin website.</p>


<p>
<b>Step 2:</b> If you are a first time user, you will need to install the Garmin Communicator Plugin for AIA Vitality to import your workouts from your device.</p>


<p>
<b>Step 3:</b> Once you have installed the Garmin Communicator Plugin to your PC, return to the &lsquo;Devices&rsquo; page and select the Garmin option again.</p>


<p>
<b>Step 4:</b> You will need to allow AIA Vitality access to your Garmin device by clicking the 'allow' button when prompted.</p>


<p>
<b>Step 5:</b> AIA Vitality displays all the workout activities recorded on your Garmin device.</p>


<p>
<b>Step 6:</b> Select the workout activities you want to import to AIA Vitality.</p>


<p>
<b>Step 7:</b> Once your workout data has been successfully imported, you can view a detailed summary of your data on AIA Vitality.</p>


<p>Once you&rsquo;ve linked your accounts, Garmin will send your data to AIA Vitality once a day.</p>

</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
