<div class="managed-content" id="090040be80392018">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>HOYTS cinema</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/hoyts_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>As an AIA Vitality member, you get access to AIA Vitality discounted movie vouchers which you can redeem at HOYTS Cinemas. With your AIA Vitality discounted vouchers, you get to enjoy movies from only $5</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/hoyts_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>As a valued AIA Vitality member we want you to relax and enjoy the rewards of your healthy efforts, you can buy up to 5 discounted movie vouchers per week at these great prices:</p>


<table class="table table-border">

<tr>

<th>e-cine Voucher type</th>
<th>AIA Vitality discounted price</th>
<th>HOYTS Voucher validity period</th>

</tr>


<tr>

<td>Off peak</td>
<td>$5</td>
<td>Monday - Thursday only</td>

</tr>


<tr>

<td>Restricted</td>
<td>$9.50</td>
<td>Anytime except Saturday after 5pm</td>

</tr>


<tr>

<td>Unrestricted</td>
<td>$12.50</td>
<td>Anytime including Saturday after 5pm</td>

</tr>

</table>


<p>You can use your AIA Vitality discounted movie voucher to pay for tickets on the HOYTS website or at a HOYTS box office.</p>


<ul>

<li>You need to pay an upgrade fee to redeem the voucher for 3D movies: 

<ul>

<li>$3 if you have your own 3D glasses</li>


<li>$4 if you need to purchase a pair of 3D glasses. You will be charged this amount by HOYTS when redeeming your voucher.</li>

</ul>

</li>


<li>An online booking fee of $1.10 will apply when redeeming a voucher on the HOYTS website.</li>


<li>You must redeem your vouchers within 30 days from the purchase date, as your voucher will expire after 30 days.</li>


<li>You must be a member of the HOYTS Rewards Club in order to purchase movie tickets at the AIA Vitality discounted rate. If you are not a HOYTS Rewards member, a $10 membership fee will be added to your first voucher purchase. The HOYTS Rewards program gives you a FREE ticket on activation.</li>

</ul>


<p>For full terms and conditions refer to the AIA Vitality <a class="dialog_trigger" data-target="terms_and_conditions_dialog" href="javascript:void(0)">terms and conditions</a> and the <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/HOYTSBF.pdf" target="_blank">HOYTS benefit guide</a>.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/hoyts_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>${hoyts_eligibility_check?if_exists}</p>

</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/points_and_status/get_to_platinum"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/vfa_rhs_banner_man_on_bike.jpg"></a>
</div>
</div>
</div>
</div>

</div>
</div>
