<div class="managed-content" id="090040be8038ce6e">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>miCoach</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/general/micoach_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>adidas miCoach gives you the edge you need to get better, faster and stronger - no matter what your fitness level.</p>


<p>Earn up to 100 AIA Vitality Points each day when you exercise with a miCoach device at a specific intensity and duration.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/general/micoach_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>The number of AIA Vitality Points you earn depends on the duration of your workout and how intense it is.</p>


<p>The table below shows the number of AIA Vitality Points you earn when you exercise at the required heart rate with your miCoach. If your heart rate data is not available, we will award you points based on how much energy you use when you exercise i.e. your calorie information, or on the average speed of your exercise.</p>


<table class="table table-condensed table-bordered">
<tbody>

<tr>

<td colspan="5" style=" text-align: center;"><strong>50 Vitality Points</strong></td>

</tr>


<tr>

<td>30 minutes</td>
<td rowspan="2" style=" vertical-align: middle;">Or</td>
<td>30 minutes</td>
<td rowspan="2" style=" vertical-align: middle;">Or</td>
<td>30 minutes</td>

</tr>


<tr>

<td>Heart rate &gt; 60% of age related maximum heart rate</td>
<td>150 calories burned at a rate of at least 300 calories/hr</td>
<td>An average speed of 4km/hr</td>

</tr>


<tr>

<td colspan="5" style=" text-align: center;"><strong>100 Vitality Points</strong></td>

</tr>


<tr>

<td>60 minutes</td>
<td rowspan="4" style=" vertical-align: middle;">Or</td>
<td>30 minutes</td>
<td rowspan="4" style=" vertical-align: middle;">Or</td>
<td>30 minutes</td>

</tr>


<tr>

<td>Heart rate &gt; 60% of age related maximum heart rate</td>
<td>300 calories burned at a rate of at least 600calories/hr</td>
<td>An average speed of 7.2km/hr</td>

</tr>


<tr>

<td>30 minutes</td>
<td>60 minutes</td>
<td>60 minutes</td>

</tr>


<tr>

<td>Heart rate &gt; 70% of age related maximum heart rate</td>
<td>300kcals burned at a rate of at least 300calories/hr</td>
<td>An average speed of 4km/hr</td>

</tr>


</tbody>
</table>


<p>How to calculate your required heart rate</p>


<ul>

<li style=" list-style-type: none; list-style-image: none;">

<ul>

<li>First calculate your maximum heart rate. Take 220 and subtract your age. For example, if you are 30 years old, 220 - 30 = 190. 190 beats per minute (bpm) is your maximum heart rate.</li>


<li>Calculate your required heart rate by multiplying 60% or 70% to your maximum heart rate. If you are 30 years old, your target heart at 60% is 114bpm and at 70%, it is 133bpm.</li>

</ul>

</li>

</ul>


<p>Example:</p>


<ul>

<li style=" list-style-type: none; list-style-image: none;">

<ul>

<li>Mr Sharp is 30 years old. His age-related maximum heart rate is 190 (220 &ndash; 30).</li>


<li>Mr Sharp must keep his average heart rate above 114bpm (60% of his maximum heart rate) during his 30 minute exercise session to earn 50 AIA Vitality Points.</li>


<li>If Mr Sharp keeps his heart rate above 133 beats in a minute (70% of his maximum heart rate), he will earn 100 points.</li>

</ul>

</li>

</ul>


<p>You will only earn points for one physical activity a day, which includes gym, walking, running and other activities tracked with fitness monitor devices such as Polar, Garmin, and Fitbug.</p>


<p>If you exercise more than once a day, we will record only the highest points earning activity.</p>


<p>Points will show on your AIA Vitality Points Statement within 1 week of uploading your data.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/general/micoach_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<div class="expander-container include-header">

<div class="expander">

<div class="panel-toggle expanded">
<span class="ui-icon"><span class="panel-expanded">&nbsp;</span></span>Download the miCoach free app and register your miCoach device:</div>


<div class="expandable-content" style=" display: block;">

<p>a. Click <a href="http://www.adidas.com/au/micoach/" target="_blank">here</a> to download the free app to your smartphone.</p>


<p>b. Click <a href="http://www.adidas.com/au/micoach/" target="_blank">here</a> to sign up for a miCoach account and register your device. Upon registration, you will receive an activation e-mail. Click on the link to activate your miCoach online account.</p>


<p>If you do not have a miCoach device, proceed to Step 2</p>


<p>For miCoach device owners, you will need to log in and download the miCoach Manager Software <a href="http://community-micoach.adidas.com/community/support/en/help/view-support-zone.jspa?view=downloads" target="_blank">here</a>.</p>


<p>c.Once the miCoach Manager Software is downloaded, connect your device to the computer and run the Software. The Software will launch automatically and guide you through a screen-by-screen installation process.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span>Link your miCoach online account to AIA Vitality</div>


<div class="expandable-content">

<p>Scroll to the end of this page and under the option &lsquo;miCoach account details&rsquo;, enter the same email address that you used to activate your miCoach online account. Click &lsquo;Accept&rsquo; and you will see an Activation message that looks like this:</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span>Give permission to AIA Vitality using your miCoach online account</div>


<div class="expandable-content">

<p>a. Log into your miCoach online account and click on the settings link at the top right of the page.</p>


<p>b. Choose &lsquo;Sharing&rsquo; followed by the &lsquo;Sharing/Connections&rsquo; tab. Click &lsquo;Accept&rsquo; to allow sharing of workouts with AIA Vitality. (Note: You will not be able to click on &lsquo;Accept&rsquo; if you did not activate your miCoach account via the link on the activation e-mail.)</p>


<p>c. Once you select, we will send you a message confirming that your miCoach account has been registered with AIA Vitality.</p>


<p>Please note:</p>


<p>Should you ever change the email address that you use for your miCoach account you need to update the same on AIA Vitality. You can only link one miCoach account to your AIA Vitality membership.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span>Start earning AIA Vitality Points from your workouts</div>


<div class="expandable-content">

<p>a. Once you have confirmed the connection, AIA Vitality will award points based on the data you upload to miCoach.</p>


<p>b. Make sure you upload your workout data regularly to miCoach so you continue to earn points.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span>miCoach account details</div>


<div class="expandable-content">

<div id="insert_micoach_activation"></div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/improve_your_health/gym_and_fitness/organised_fitness_events"><img src="/vitality_aia_au/web/linked_content/images/general/organised_fitness_events_promo.jpg"></a>
</div>
</div>
</div>
</div>

</div>
</div>
