<div class="managed-content" id="090040be803bb0a8">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>miCoach</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/general/micoach_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>adidas miCoach gives you the edge you need to get better, faster and stronger - no matter what your fitness level.</p>


<p>Earn up to 100 AIA Vitality Points each day when you exercise with a miCoach device at a specific intensity and duration.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/general/micoach_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>The number of AIA Vitality Points you earn depends on the duration of your workout and how intense it is.</p>


<p>The table below shows the number of points you earn when you exercise at the required heart rate with your miCoach. If your heart rate data is not available, we will award you points based on how much energy you use when you exercise i.e. your calorie information, or on the average speed of your exercise.</p>


<table class="table table-bordered table-condensed ">
<tbody>

<tr>

<td colspan="5" style=" text-align: center;"><strong>50 Vitality Points</strong></td>

</tr>


<tr>

<td>30 minutes</td>
<td rowspan="2" style=" vertical-align: middle;">Or</td>
<td>30 minutes</td>
<td rowspan="2" style=" vertical-align: middle;">Or</td>
<td>30 minutes</td>

</tr>


<tr>

<td>Heart rate &gt; 60% of age related maximum heart rate</td>
<td>150 calories burned at a rate of at least 300calories/hr</td>
<td>An average speed of 4km/hr</td>

</tr>


<tr>

<td colspan="5" style=" text-align: center;"><strong>100 Vitality Points</strong></td>

</tr>


<tr>

<td>60 minutes</td>
<td rowspan="4" style=" vertical-align: middle;">Or</td>
<td>30 minutes</td>
<td rowspan="4" style=" vertical-align: middle;">Or</td>
<td>30 minutes</td>

</tr>


<tr>

<td>Heart rate &gt; 60% of age related maximum heart rate</td>
<td>300 calories burned at a rate of at least 600calories/hr</td>
<td>An average speed of 7.2km/hr</td>

</tr>


<tr>

<td>30 minutes</td>
<td>60 minutes</td>
<td>60 minutes</td>

</tr>


<tr>

<td>Heart rate &gt; 70% of age related maximum heart rate</td>
<td>300 calories burned at a rate of at least 300calories/hr</td>
<td>An average speed of 4km/hr</td>

</tr>


</tbody>
</table>


<p>How to calculate your required heart rate</p>


<ul>

<li>First calculate your maximum heart rate. Take 220 and subtract your age. For example, if you are 30 years old, 220 - 30 = 190. 190 beats per minute (bpm) is your maximum heart rate.</li>


<li>Calculate your required heart rate by multiplying 60% or 70% to your maximum heart rate. If you are 30 years old, your target heart at 60% is 114bpm and at 70%, it is 133bpm.</li>

</ul>


<p>Example:</p>


<ul>

<li>Mr Sharp is 30 years old. His age-related maximum heart rate is 190bpm (220 - 30).</li>


<li>Mr Sharp must keep his average heart rate above 114bpm (60% of his maximum heart rate) during his 30 minute exercise session to earn 50 AIA Vitality Points.</li>


<li>If Mr Sharp keeps his heart rate above 133bpm (70% of his maximum heart rate), he will earn 100 points</li>

</ul>


<p>You will only earn Vitality Points for one physical activity a day, which includes gym/yoga sessions, walking, running and other activities tracked with fitness monitor devices such as Polar, miCoach, Fitbug.</p>


<p>If you exercise more than once a day, we will record only the highest points earning activity.</p>


<p>Vitality Points will show on your Vitality Points Statement within 1 week of uploading your data.</p>


<p>Click <a href="/memberportal/pdf/miCoach_Partner_Benefit_Guide.pdf" target="_blank">here</a> to read the Terms and Conditions that apply</p>


<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> now to enjoy this benefit and start earning points.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/general/micoach_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Download the free miCoach app, register your device and link your account to AIA Vitality. You&rsquo;ll start earning AIA Vitality Points once your device is linked.</p>


<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> now to enjoy this benefit and start earning Vitality Points.</p>

</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
