<div class="managed-content" id="090040be803f13fc">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Nike+</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/nike_sml.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>From running, to everyday activities, Nike+ lets you track multiple activities &ndash; and compare your results over time. There are many devices to choose from, including the Nike+ Running App, the Nike+ SportWatch and the Nike+ SportBand.</p>


<p>You will earn up to 100 AIA Vitality Points each day for your workout that you track using Nike+.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/nike_sml.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>All AIA Vitality members can earn AIA Vitality Points.</p>


<p>Please note that some devices require a paid subscription for use of their services. Visit <a href="http://nikeplus.nike.com/plus/" target="_blank">Nike+</a> for more details.</p>


<p>If your AIA Vitality membership ends, you will no longer earn AIA Vitality Points with your Nike+ fitness device. However, you may continue to use your Nike+ device.</p>


<p>
<b>How to calculate your AIA Vitality Points</b>
</p>


<p>With your Nike+ fitness device, you&rsquo;ll earn AIA Vitality Points in the fitness category if you exercise at a specific intensity, for a specific time. Each adult can earn up to 15,000 AIA Vitality Points for fitness-related activities. Points take up to two weeks to show on your AIA Vitality Points Statement after you upload your data.&nbsp;</p>


<table class="table table-border table-condensed">

<tr>

<th width="50%">Heart rate data</th>
<th>AIA Vitality Points</th>
<th>Frequency</th>

</tr>


<tr>

<td>

<p>At least 30 minutes of physical activity in one exercise session a day&nbsp;at an average heart rate of more than 60% of your age-related maximum heart rate.</p>

</td>
<td>

<p>50</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>


<tr>

<td>

<p>OR</p>

</td>
<td>

<p>&nbsp;</p>

</td>
<td>

<p>&nbsp;</p>

</td>

</tr>


<tr>

<td>

<p>At least 30 minutes of physical activity in&nbsp;one exercise session a day&nbsp;at an average heart rate of more than 70% of your age-related maximum heart rate.</p>

</td>
<td>

<p>100</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>


<tr>

<td>

<p>OR</p>

</td>
<td>

<p>&nbsp;</p>

</td>
<td>

<p>&nbsp;</p>

</td>

</tr>


<tr>

<td>

<p>At least 60 minutes of physical activity in&nbsp;one exercise session a day&nbsp;at an average heart rate of more than 60% of your age-related maximum heart rate.</p>

</td>
<td>

<p>100</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>

</table>


<p>OR</p>


<table class="table table-border table-condensed">

<tr>

<th width="50%">Speed data</th>
<th>AIA Vitality Points</th>
<th>Frequency</th>

</tr>


<tr>

<td>

<p>At least 30 minutes of physical activity in&nbsp;one exercise session a day&nbsp;at a minimum average speed of 7.2 kilometres an hour.</p>

</td>
<td>

<p>100</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>


<tr>

<td>

<p>OR</p>

</td>
<td>

<p>&nbsp;</p>

</td>
<td>

<p>&nbsp;</p>

</td>

</tr>


<tr>

<td>

<p>At least 60 minutes or more of physical activity in&nbsp;one exercise session a day&nbsp;at a minimum average speed of 4&nbsp;kilometres an hour.</p>

</td>
<td>

<p>100</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>

</table>


<p>OR</p>


<table class="table table-border table-condensed">

<tr>

<th width="50%">Calorie data</th>
<th>AIA Vitality Points</th>
<th>Frequency</th>

</tr>


<tr>

<td>

<p>At least 30 minutes of physical activity and a minimum of 150 calories burned (at a rate of no fewer than&nbsp;300 calories an hour) in&nbsp;one exercise session a day.</p>

</td>
<td>

<p>50</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>


<tr>

<td>

<p>OR</p>

</td>
<td>

<p>&nbsp;</p>

</td>
<td>

<p>&nbsp;</p>

</td>

</tr>


<tr>

<td>

<p>At least 30 minutes of physical activity and a minimum of 300 calories burned (at a rate of no fewer than&nbsp;600 calories an hour) in&nbsp;one exercise session a day.</p>

</td>
<td>

<p>100</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>


<tr>

<td>

<p>OR</p>

</td>
<td>

<p>&nbsp;</p>

</td>
<td>

<p>&nbsp;</p>

</td>

</tr>


<tr>

<td>

<p>At least 60 minutes or more of physical activity and a minimum of 300 calories burned (at a rate of&nbsp;no fewer than&nbsp;300 calories an hour) in&nbsp;one exercise session a day.</p>

</td>
<td>

<p>100</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>

</table>


<p>OR</p>


<table class="table table-border table-condensed">

<tr>

<th width="50%">Steps per day</th>
<th>AIA Vitality Points</th>
<th>Frequency</th>

</tr>


<tr>

<td>

<p>10,000 &ndash; 12,499</p>

</td>
<td>

<p>50</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>


<tr>

<td>

<p>&gt;= 12,500</p>

</td>
<td>

<p>100</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>


<tr>

<td valign="top">

<p>&lt;10, 000</p>

</td>
<td valign="top">

<p align="left">You may earn points if we have suggested a personal Health Goal within this range.</p>

</td>
<td>

<p align="left">Once a day</p>

</td>

</tr>

</table>


<p>
<b>Please note:</b> &nbsp;You can earn up to 15,000 AIA Vitality Points for fitness-related activity (including gym workouts, fitness device tracking and organised fitness events).&nbsp;</p>


<p>A maximum of 100 points will be awarded for one fitness activity a day. If you complete two fitness activities in one day, then the higher points between the two will be awarded.</p>


<p>
<b>Example:</b>&nbsp;John buys a fitness device that can be linked to Vitality. His device collects step and calorie data. John takes part in a minimum of 30 minutes of physical activity in&nbsp;<b>one exercise session</b>. He exercises at an average heart rate of more than 60% of his age-related maximum heart rate, burns a minimum of 150 calories (at a rate of&nbsp;<b>no fewer than</b>&nbsp;300 calories an hour) and takes 10,000 steps. He uploads his exercise data to AIA Vitality.</p>


<p>John will earn 50 points a day for his exercise session for meeting one of the criteria from either his&nbsp;heart rate data&nbsp;or&nbsp;speed data&nbsp;or&nbsp;calorie data&nbsp;or&nbsp;step data.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/nike_sml.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>To start getting active and earn AIA Vitality points with your Nike+, simply follow these steps:<b>&nbsp;</b>
</p>


<p>
<b>If you are using your Nike+ device on the AIA Vitality website for the first time</b>
</p>


<p>
<b>Step 1:</b> <a href="http://nikeplus.nike.com/plus/" target="_blank">Click here</a> to link your Nike + account to your AIA Vitality membership, or to create a new Nike + account.<b>&nbsp;</b>
</p>


<p>
<b>Step 2:</b> Log in to the <a href="http://nikeplus.nike.com/plus/" target="_blank">Nike+ website</a> to register and connect your device to use your Nike+ data with AIA Vitality. If you already have a Nike+ account, you will need to log in with your Nike+ username and password.</p>


<p>
<b>Step 3:</b> Once you have set up your Nike+ account and have connected your device, return to the &rsquo;Workout tracker&rsquo; page and select the Nike+ option again.</p>


<p>
<b>Step 4:</b> You will need to allow AIA Vitality access to synchronise your Nike+ device by clicking the &lsquo;Submit&rsquo; button when prompted.</p>


<p>
<b>Step 5:</b> AIA Vitality displays all the workout activities recorded on your Nike+ device.</p>


<p>
<b>Step 6:</b> Select the run you want to import to AIA Vitality.</p>


<p>
<b>Step 7:</b> Once your run has been successfully imported, you can view a detailed summary of your data on AIA Vitality.</p>


<p>Once you&rsquo;ve linked your accounts, Nike + will send your data to AIA Vitality once a day. If you&rsquo;d like the data to be sent immediately, <a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/wellnesstools/fitnessdevices/nikeplus">click here</a> and request the data to be transferred.</p>

</div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-6">

<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/tools/overview"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/wellness_tools_promo.jpg"></a>
</div>

</div>
</div>
</div>

</div>
</div>
