<div class="managed-content" id="090040be8045b183">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Qantas</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/partners/qantas_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Qantas flies to more than 220 destinations in over 50 countries, including Australia and those served by codeshare partner airlines.</p>


<p>As an AIA Vitality member, you can save up to 35% on Qantas operated flights.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/partners/qantas_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Your discount is based on your AIA Vitality Status at the time of booking:</p>


<table class="table table-border table-condensed rd_transpose">

<tr>

<th>Status-based Discount</th>
<th>% Discount</th>

</tr>


<tr>

<td>Bronze</td>
<td>8%</td>

</tr>


<tr>

<td>Silver</td>
<td>12%*</td>

</tr>


<tr>

<td>Gold</td>
<td>20%*</td>

</tr>


<tr>

<td>Platinum</td>
<td>35%*</td>

</tr>

</table>


<p>* Limited to two (2) international or domestic return flights each membership year originating from and returning to Australia. After this limit is reached, all AIA Vitality members, regardless of status, can continue to travel at the 8% (Bronze) discount level.</p>


<ul>

<li>You must be an AIA Vitality member at the time of booking to qualify for the discount.</li>


<li>You must book your trip at least 21 days before your departure date to qualify for the AIA Vitality discount.</li>


<li>The discount is only applicable when you make your bookings through the AIA Vitality website.</li>


<li>You enjoy the discount on Economy or Premium Economy seats for return domestic or international Qantas flights originating from and returning to Australia.</li>


<li>The discount applies to Qantas operated flights only. When booking, you will see a note that states if the flight is operated by another carrier. The discount does not apply to these flights.</li>


<li>The discount does not apply to one-way, around the world and multi-city stopovers flights.</li>


<li>The discount does not apply to airport taxes, fuel surcharges or any other incidental/administrative fees and taxes (including GST).</li>


<li>Your discount is provided as a cash back and paid two weeks following commencement of your journey.</li>

</ul>


<ul>

<li>AIA Vitality members at Silver, Gold and Platinum status can book 2 flights at the discount level applicable to their AIA Vitality Status. Once this limit is reached, you can continue to enjoy an 8% (Bronze) discount for all flights booked through the AIA Vitality website.</li>


<li>AIA Vitality members at Bronze status can enjoy an 8% discount for all flights booked through the AIA Vitality website.</li>


<li>You can book and pay for up to 8 accompanying passengers: 

<ul>

<li>The first four accompanying passengers will receive 8% discount</li>


<li>Remaining passengers will not receive a discount and will be at standard price</li>


<li>Accompanying passenger details must be included when you make your booking and are not required to be AIA Vitality members.</li>

</ul>

</li>


<li>Bookings are non-transferable, i.e. you are not allowed to change the name of passengers or transfer the ticket to another passenger.</li>


<li>The discount does not apply to the fees and extra costs incurred when you make changes to your booking.</li>


<li>To cancel or make a change to your booking, please contact Qantas directly (by phone or the Qantas website). The standard Qantas modification rules and policies will apply.</li>

</ul>


<p>For full terms and conditions refer to the AIA Vitality <a class="dialog_trigger" data-target="terms_and_conditions_dialog" href="javascript:void(0)">terms and conditions</a> and the <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/qantas_benefit_guide.pdf" target="_blank">Qantas benefit guide</a>.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/partners/qantas_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>
<b>To make a flight booking:</b>
</p>


<ul>

<li>Go to the Qantas <a href="/vmp-au/partners/qantas/book_ticket ">booking page</a>.</li>


<li>Enter your Photo ID or Passport name before you proceed to search for your flight.</li>


<li>Enter your banking details, so we'll be able to process your cash-back after your flight. If we have your banking details on the system already, you will be asked to verify that they are still correct.</li>


<li>You will be directed to the Qantas website.</li>


<li>Search for the flight of your choice and key in the required details. Remember that 4 of your accompanying passengers will be offered an AIA Vitality discount at Bronze Status level.</li>


<li>Enter your email address. Please ensure it matches the email address that AIA Vitality has on record, to ensure we process your cash back correctly.</li>


<li>Pay for your tickets using a credit card.</li>


<li>Your AIA Vitality discount will not be shown during check-out, but it will be applied to the fare price and paid as cashback to your bank account after your flight.</li>


<li>Once your flight is successfully booked, your e-ticket and itinerary and booking reference will be available for printing. You will also get the option to email the flight booking to yourself.</li>

</ul>


<p class="clearfix">
<a class="btn_blue book-now-btn" href="/vmp-au/partners/qantas/book_ticket">Book now</a>
</p>


<p>Change your Cashback Bank Account Details <a href="/vmp-au/cashback">here</a>.</p>


<p>View your cash back statement <a href="/vmp-au/cashback_statement">here</a>.</p>


<p>For full terms and conditions refer to the AIA Vitality <a class="dialog_trigger" data-target="terms_and_conditions_dialog" href="javascript:void(0)">terms and conditions</a> and the <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/qantas_benefit_guide.pdf" target="_blank">Qantas benefit guide</a>.</p>

</div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/community"><img src="/vitality_aia_au/web/linked_content/images/general/comunity_join_banner.jpg"></a>
</div>


<div class="banner">
<a href="http://home.aiavitality.com.au/qantas_promo" target="_blank"><img src="/vitality_aia_au/web/linked_content/images/general/logged_in_qantas_campaign.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
