<div class="managed-content" id="090040be8043a5f3">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Step into Life</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/step_into_life.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Step into Life specialises in group outdoor training and has over 170 franchises all over Australia.</p>


<p>As an AIA Vitality member, you are entitled to a 40% discount on the monthly training fees with Step into Life.</p>


<p>Step into Life offers you a free 3 session introductory trial which you can book at <a href="http://www.stepintolife.com.au" target="_blank">www.stepintolife.com.au</a>
</p>


<p>Each time you work out at Step into Life, you will earn 100 AIA Vitality Points.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/step_into_life.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<ul>

<li>Step into Life offers 7 different training programs and session fees are based on the number of times per week. Infinity offers the best rates. With Step into Life you have the following training options:</li>


<li>Base - 1 x session per week</li>


<li>Ascent - 2 x sessions per week</li>


<li>Infinity - Unlimited training per week</li>


<li>You need to pay a once-off lifetime $60 membership fee for the Base and Ascent options. The Infinity option has no membership fee.</li>


<li>You enjoy the 40% discount on the monthly training fees.</li>


<li>Step into Life has a 3 month minimum membership term and thereafter your membership is monthly and fees are payable on the 1<sup>st</sup> of the month.</li>


<li>If you join part way through the month you will pay pro rata for that month.</li>


<li>The monthly training fee may differ based on selected branch or location.</li>


<li>Your AIA Vitality membership must be active for you to enjoy the discount.</li>


<li>You will have access to Step into Life immediately after the activation.</li>


<li>You will earn 100 AIA Vitality Points each time you work out at Step into Life. Points are capped at a maximum of 15,000 points for the year.</li>


<li>You may only earn points for one physical activity a day, which includes a workout at Step into Life, any of our other gym partners, walking, running or other activities tracked with fitness monitor devices such as Polar, Fitbug etc.</li>


<li>If you have an existing Step into Life membership you will only be able to take advantage of this benefit when your current contract with Step into Life comes to an end.</li>


<li>As an existing Step into Life member, you can earn points each time you attend workout with Step into Life. You will however, need to complete your current contract before you can enjoy the 40% discount.</li>

</ul>


<p>Click <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/aia_vitality_step_into_life_benefit_guide.pdf" target="_blank">here</a> for more detailed benefit information and a full set of terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/step_into_life.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">${sil_benfit_status?if_exists}</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/improve_your_health/gym_and_fitness/organised_fitness_events"><img src="/vitality_aia_au/web/linked_content/images/general/organised_fitness_events_promo.jpg"></a>
</div>
</div>
</div>
</div>

</div>
</div>
