<div class="managed-content" id="090040be803f13d1">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>Suunto</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/suunto_sml.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Whether you&rsquo;re a multisport enthusiast, a keen triathlete or a gym fanatic, Suunto has the ideal range of heart rate monitors to suit your lifestyle, needs and preferences.</p>


<p>Suunto will guide and inspire you to keep fit and will help you track and improve your performance.</p>


<p>You will earn up to 100 AIA Vitality Points each day for your workout that you track using your Suunto.</p>


<p>&nbsp;</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/suunto_sml.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>All AIA Vitality members can earn AIA Vitality Points.</p>


<p>If your AIA Vitality membership ends, you will no longer earn AIA Vitality Points with your Suunto device. However, you may continue to use your Suunto device.</p>


<p>
<b>How to calculate your AIA Vitality Points</b>
</p>


<p>With your Suunto device, you&rsquo;ll earn AIA Vitality Points in the fitness category if you exercise at a specific intensity, for a specific time. Each adult can earn up to 15,000 AIA Vitality Points for fitness-related activities. Points take up to two weeks to show on your AIA Vitality Points Statement after you upload your data.&nbsp;</p>


<p>&nbsp;</p>


<table class="table table-border table-condensed ">

<tr>

<th width="50%">Heart rate data</th>
<th>AIA Vitality Points</th>
<th>Frequency</th>

</tr>


<tr>

<td>

<p>At least 30 minutes of physical activity in one exercise session a day&nbsp;at an average heart rate of more than 60% of your age-related maximum heart rate.</p>

</td>
<td>

<p>50</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>


<tr>

<td>

<p>OR</p>

</td>
<td>

<p>&nbsp;</p>

</td>
<td>

<p>&nbsp;</p>

</td>

</tr>


<tr>

<td>

<p>At least 30 minutes of physical activity in&nbsp;one exercise session a day&nbsp;at an average heart rate of more than 70% of your age-related maximum heart rate.</p>

</td>
<td>

<p>100</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>


<tr>

<td>

<p>OR</p>

</td>
<td>

<p>&nbsp;</p>

</td>
<td>

<p>&nbsp;</p>

</td>

</tr>


<tr>

<td>

<p>At least 60 minutes of physical activity in&nbsp;one exercise session a day&nbsp;at an average heart rate of more than 60% of your age-related maximum heart rate.</p>

</td>
<td>

<p>100</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>

</table>


<p>OR</p>


<table class="table table-border table-condensed ">

<tr>

<th width="50%">Speed data</th>
<th>AIA Vitality Points</th>
<th>Frequency</th>

</tr>


<tr>

<td>

<p>At least 30 minutes of physical activity in&nbsp;one exercise session a day&nbsp;at a minimum average speed of 7.2 kilometres an hour.</p>

</td>
<td>

<p>100</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>


<tr>

<td>

<p>OR</p>

</td>
<td>

<p>&nbsp;</p>

</td>
<td>

<p>&nbsp;</p>

</td>

</tr>


<tr>

<td>

<p>At least 60 minutes or more of physical activity in&nbsp;one exercise session a day&nbsp;at a minimum average speed of 4&nbsp;kilometres an hour.</p>

</td>
<td>

<p>100</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>

</table>


<p>OR</p>


<table class="table table-border table-condensed ">

<tr>

<th width="50%">Calorie data</th>
<th>AIA Vitality Points</th>
<th>Frequency</th>

</tr>


<tr>

<td>

<p>At least 30 minutes of physical activity and a minimum of 150 calories burned (at a rate of no fewer than&nbsp;300 calories an hour) in&nbsp;one exercise session a day.</p>

</td>
<td>

<p>50</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>


<tr>

<td>

<p>OR</p>

</td>
<td>

<p>&nbsp;</p>

</td>
<td>

<p>&nbsp;</p>

</td>

</tr>


<tr>

<td>

<p>At least 30 minutes of physical activity and a minimum of 300 calories burned (at a rate of no fewer than&nbsp;600 calories an hour) in&nbsp;one exercise session a day.</p>

</td>
<td>

<p>100</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>


<tr>

<td>

<p>OR</p>

</td>
<td>

<p>&nbsp;</p>

</td>
<td>

<p>&nbsp;</p>

</td>

</tr>


<tr>

<td>

<p>At least 60 minutes or more of physical activity and a minimum of 300 calories burned (at a rate of&nbsp;no fewer than&nbsp;300 calories an hour) in&nbsp;one exercise session a day.</p>

</td>
<td>

<p>100</p>

</td>
<td>

<p>Once a day</p>

</td>

</tr>

</table>


<p>
<b>Please note:</b> &nbsp;You can earn up to 15,000 AIA Vitality Points for fitness-related activity (including gym workouts, fitness device tracking and organised fitness events).&nbsp;</p>


<p>A maximum of 100 points will be awarded for one fitness activity a day. If you complete two fitness activities in one day, then the higher points between the two will be awarded.</p>


<p>
<b>Example:</b>&nbsp;John buys a fitness device that can be linked to Vitality. His device collects step and calorie data. John takes part in a minimum of 30 minutes of physical activity in&nbsp;<b>one exercise session</b>. He exercises at an average heart rate of more than 60% of his age-related maximum heart rate, burns a minimum of 150 calories (at a rate of&nbsp;<b>no fewer than</b>&nbsp;300 calories an hour) and takes 10,000 steps. He uploads his exercise data to AIA Vitality.</p>


<p>John will earn 50 points a day for his exercise session for meeting one of the criteria from either his&nbsp;heart rate data&nbsp;or&nbsp;speed data&nbsp;or&nbsp;calorie data&nbsp;or&nbsp;step data.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/suunto_sml.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>To get started, simply follow the steps below to link your Suunto device with AIA Vitality and upload your workout activities.</p>


<p>
<b>If you are using your Suunto device on AIA Vitality for the first time</b>
</p>


<p>
<b>Step 1:</b> Download and install the Moveslink device software from Movescount.com.</p>


<p>
<b>Step 2:</b> Using the Moveslink software, upload the workouts from your Suunto device to Movescount.com.</p>


<p>
<b>Step 3:</b> Log into your AIA Vitality account, click on the &ldquo;Devices&rdquo; link under the &ldquo;Wellness tools&rdquo; menu, and then click on &ldquo;Suunto&rdquo;.</p>


<p>
<b>Step 4:</b> Click on the &ldquo;Go to Movescount.com&rdquo; button in order to link your Suunto account to your AIA Vitality account.</p>


<p>
<b>Step 5:</b> After clicking on the &ldquo;Go to Movescount.com&rdquo; button, you will be taken to the Movescount.com website. After logging into Movescount.com, you must grant the &ldquo;MapMyFitness (api)&rdquo; access to your Movescount account by clicking on &ldquo;Allow&rdquo;. You will then be returned to the AIA Vitality website.</p>


<p>
<b>Step 6:</b> Once back on the &ldquo;Devices&rdquo; page, click on &ldquo;Suunto&rdquo; again.</p>


<p>
<b>Step 7:</b> Once the &ldquo;Import Workouts&rdquo; pop-up is displayed, click on the &ldquo;Submit&rdquo; button to sync your workouts.</p>


<p>
<b>Step 8:</b> When your workout data has been successfully uploaded, you&rsquo;ll get a detailed summary of it on AIA Vitality.</p>


<p>&nbsp;</p>


<p>
<b>If you have used your Suunto device on AIA Vitality before</b>
</p>


<p>
<b>Step 1:</b> Using the Moveslink software, upload the workouts from your Suunto device to Movescount.com.</p>


<p>
<b>Step 2:</b> Log into your AIA Vitality account, click on the &ldquo;Devices&rdquo; link under the &ldquo;Wellness tools&rdquo; menu, and then click on &ldquo;Suunto.&rdquo;</p>


<p>
<b>Step 3:</b> Once the &ldquo;Import Workouts&rdquo; pop-up is displayed, click on the &ldquo;Submit&rdquo; button to sync your workouts.</p>


<p>
<b>Step 4:</b> When your workout data has been successfully uploaded, you&rsquo;ll get a detailed summary of it on AIA Vitality.</p>

</div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>


<p>&nbsp;</p>
</div>
</div>
</div>

</div>
</div>
