<div class="managed-content" id="090040be803cecf5">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Weight Watchers</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/general/weight_watchers_logo.jpg"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Enjoy 30% off the standard monthly rate for the Weight Watchers Unlimited and Weight Watchers Online plans</p>


<p>Earn up to 3,500 AIA&nbsp;Vitality Points a year</p>


<ul>

<li>Attend a Weight Watchers meeting*: Up to 1,500 (50 points for each meeting)</li>


<li>Weight assessment at a meeting*: 300 points, plus 1,200 bonus points for reaching your goal weight (being within the healthy BMI range)</li>


<li>Track what you eat using Weight Watchers eTools^: Up to 500 points a year (50 points for each 7 consecutive days of tracking)</li>

</ul>


<p>* with Weight Watchers Unlimited<br>
^ with Weight Watchers Unlimited or Weight Watchers Online.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/general/weight_watchers_logo.jpg"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<ul>

<li>AIA Vitality members can join Weight Watchers Unlimited or Weight Watchers Online at the 30% off monthly discounted rate&nbsp;</li>


<li>You must register using the AIA Vitality member portal to receive the monthly 30% discount</li>


<li>The joining fee will not be discounted</li>


<li>All other Weight Watchers plans are excluded from the discount.</li>


<li>Pregnant members will not receive points for reaching their goal weight (i.e. being in healthy BMI range)</li>

</ul>


<p>
<b>You can earn up to 3,500 points a year by:</b>
</p>


<ul>

<li>Attending a Weight Watchers meeting*. Up to 1,500 (50 points for each meeting)</li>


<li>Weight assessment at a meeting*. 300 points, plus 1,200 bonus points for reaching your goal weight which is defined as being within the healthy BMI range (18.5-24.9)</li>


<li>Track what you eat using Weight Watchers eTools^. Up to 500 points a year (50 points for each 7 consecutive days of tracking). Please note that you will earn up to 500 points a year for tracking your food using Weight Watchers eTools or the AIA Vitality Food Tracker.</li>


<li>AIA Vitality Points for the weight assessment and reaching your goal weight are only applicable to weight assessments conducted at a meeting and are only awarded once a year.</li>

</ul>


<p>* with Weight Watchers Unlimited<br>
^ eTools is available as part of the Weight Watchers Unlimited and Weight Watchers Online.</p>


<p>For <a class="dialog_trigger" data-target="terms_and_conditions_dialog" href="javascript:void(0)">full terms and conditions</a> refer to the AIA Vitality terms and conditions and the <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/WeightWatchersBF.pdf" target="_blank">Weight Watchers benefit guide</a>.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/general/weight_watchers_logo.jpg"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">${weight_watchers_content?if_exists}</div>

</div>

</div>

</div>

</div>

</div>


<p></p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/community"><img src="/vitality_aia_au/web/linked_content/images/general/comunity_join_banner.jpg"></a>
</div>
</div>
</div>
</div>

</div>
</div>
