<div class="managed-content" id="090040be803ceb8c">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>WeightWatchers</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/general/weight_watchers_logo.jpg"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Enjoy 30% off the standard monthly rate for the WeightWatchers Unlimited and WeightWatchers Online plans.</p>


<p>Earn up to 3,500 AIA Vitality Points a year</p>


<ul>

<li>Attend a WeightWatchers meeting*: Up to 1,500 (50 points for each meeting)</li>


<li>Weight assessment at a meeting*: 300 points, plus 1,200 bonus points for reaching your goal weight (being within the healthy BMI range)</li>


<li>Tracking what you eat using WeightWatchers eTools^: Up to 500 points a year (50 points for each 7 consecutive days of tracking)</li>

</ul>


<p>* with WeightWatchers Unlimited<br>
^ with WeightWatches Unlimited or WeightWatchtes Online</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/general/weight_watchers_logo.jpg"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<ul>

<li>AIA Vitality members can join WeightWatchers Unlimited or Weight Watchers Online at the 30% off monthly discounted rate</li>


<li>You must register using the AIA Vitality member portal to receive the monthly 30% discount</li>


<li>The joining fee will not be discounted</li>


<li>All other WeightWatchers plans are excluded from the discount</li>

</ul>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>


</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/general/weight_watchers_logo.jpg"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Enjoy 30% off the standard monthly rate for the Weight Watchers Unlimited and Weight Watchers Online plans.</p>


<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> now to enjoy this benefit and start earning points.</p>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>


</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
