<div class="managed-content" id="090040be803f663c">
                
<p>You have already activated the HealthyFood benefit, visit the <a class="partnerTokenString" href="#" id="AUSSIE_FARMERS_DIRECT" name="AUSSIE_FARMERS_DIRECT" target="_blank">Aussie Farmers Direct website</a> to place your order and you will receive up to 30% discount on HealthyFood items (fresh fruit and vegetables) purchased at Aussie Farmers Direct.&nbsp;</p>

</div>
