<div class="managed-content" id="090040be803ffc22">
                
<p>To activate the HealthyFood benefit you must sign-up with Aussie Farmers Direct. Enter your delivery address below to check if Aussie Farmers Direct delivers to your area.</p>


<p>&nbsp;</p>


<div id="insert_afd_address_capture"></div>


<div id="address_matched" style=" display: none;">

<p>Aussie Farmers Direct delivers to your address.</p>


<p>Your front door must be accessible to the delivery driver and there must be somewhere secure to leave the products. If you are unsure please contact our customer service team on 1800 848 254. If your front door is accessible click <a class="partnerTokenString" href="#" id="AUSSIE_FARMERS_DIRECT" name="AUSSIE_FARMERS_DIRECT" target="_blank">here</a> to sign-up for a new account with Aussie Farmers Direct and provide your payment and delivery details.</p>


<p>If you are an existing Aussie Farmers Direct customer simply click <a class="partnerTokenString" href="#" id="AUSSIE_FARMERS_DIRECT" name="AUSSIE_FARMERS_DIRECT" target="_blank">here</a> to access the Aussie Farmers Direct website. On the Aussie Farmers Direct website please select "Already an Aussie Farmers Direct customer" in order to link your existing account to your AIA Vitality account.</p>


<p>To use the HealthyFood&trade; benefit, simply add HealthyFood&trade; items (fresh fruits and vegetables) to your basket for your scheduled delivery and you will receive your discount as soon as Aussie Farmers Direct process your payment.</p>


<p>You will receive your qualifying AIA Vitality Points and you can view your HealthyFood&trade; purchases on the AIA Vitality Member Portal within a week of delivery.</p>


<p>
<b>Adding, modifying or cancelling an Aussie Farmers Direct order</b>
</p>


<p>After you have registered/linked an Aussie Farmers Direct account, simply click <a class="partnerTokenString" href="#" id="${partnerNameForToken?if_exists}" name="${partnerNameForToken?if_exists}" target="_blank">here</a>&nbsp;to add, modify or cancel your Aussie Farmers Direct order.</p>

</div>


<div id="address_not_matched" style=" display: none;">

<p>We recognise your attempt to improve your health through buying HealthyFood&trade;. Unfortunately the address you entered is not serviceable by Aussie Farmers Direct. Please ensure you have input your complete address without abbreviations. If you are unsure, please contact our customer service team on 1800 848 254.</p>


<p>To ensure that all of our members have an opportunity to earn AIA Vitality Points through the HealthyFood&trade; booster benefit, we offer you the opportunity to earn bonus points for participating in selected health activities:</p>


<table class="table table-condensed table-bordered rd_transpose">

<tr>

<th><b>Activity</b></th>
<th>Standard points</th>
<th>HealthyFood&trade; booster</th>
<th>Total points awarded</th>

</tr>


<tr>

<td>Complete a Vitality Nutrition Assessment with an Accredited Practicing Dietitian</td>
<td>1,500</td>
<td>500</td>
<td>2,000</td>

</tr>


<tr>

<td>Have your BMI measured</td>
<td>300</td>
<td>200</td>
<td>500</td>

</tr>


<tr>

<td>Healthy BMI<br>
(Your measured Body Mass Index is within the healthy range 18.5 &ndash; 24.9)</td>
<td>1,200</td>
<td>300</td>
<td>2000</td>

</tr>


<tr>

<td>Physical Activity</td>
<td>15,000</td>
<td>1,500</td>
<td>16,500</td>

</tr>

</table>


<p>
<b>Activation</b>
</p>


<p>To activate the HealthyFood&trade; booster, email your proof of address and AIA Vitality membership number to <a href="mailto:queries@aiavitality.com.au">queries@aiavitality.com.au</a>. Once you have been activated, you will be awarded the booster points if you have completed or you do complete the activities above (within your current membership year). Your online AIA Vitality Points statement will display the total for the activities.</p>


<p>
<b>Important points to remember:</b>
</p>


<ul>

<li>You can complete one AIA Vitality Nutrition Assessment a year. You can earn a maximum of 1,500 points for completing this assessment. The HealthyFood&trade; booster will provide you with an additional 500 points.</li>


<li>You can have your BMI measured during the <a href="/vmp-au/know_your_health/vitality_health_check">AIA Vitality Health Check</a> at participating Chemmart&reg; pharmacies, at the time of your <a href="/vmp-au/know_your_health/vitality_nutrition_assessment">AIA Vitality Nutrition Assessment</a>, or <a href="/vmp-au/know_your_health/fitness_assessment">AIA Vitality Fitness Assessment</a>. If you already have your BMI measured, you will receive bonus 200 points and 300 more points for being in the healthy range</li>


<li>AIA Vitality members can earn up to 15,000 points through physical activity. This can be achieved through submitting data from AIA Vitality compatible <a href="/vmp-au/improve_your_health/fitness_devices">fitness devices</a>, visiting AIA Vitality <a href="/vmp-au/partners/improve_your_health/gym_and_fitness">gym and fitness partners</a>, or participating in <a href="/vmp-au/improve_your_health/gym_and_fitness/organised_fitness_events">organised fitness events</a>. On activation of the booster, you will receive up to an additional 1,500 bonus points.</li>


<li>The HealthyFood&trade; booster points will expire at the end of your AIA Vitality membership year. At this time, please return again to check your delivery address.</li>


<li>Your booster points are activated for the duration of the membership year. If Aussie Famers Direct adds your address to their delivery locations or if you move to a serviceable location after activating your booster points, you will still be eligible for the Aussie Farmers Direct&trade; discount. Simply notify our customer service team on 1800 848 254 of your change. Your booster points will remain but will be included in your total HealthyFood&trade; cap of 4,800 points.</li>

</ul>


<p>Any questions?<br>
Email: <a href="mailto:queries@aiavitality.com.au "><b>queries@aiavitality.com.au</b></a>
<br>
Call: <b>1800 848 254</b>
</p>

</div>


<div id="address_matched_but_not_accessible" style=" display: none;">

<p>We recognise your attempt to improve your health through buying HealthyFoodTM. Aussie Farmers Direct require front door accessibility and a secure place to leave your products. As you answered no to this question, your address is not serviceable. If you are unsure, please contact our customer service team on 1800 848 254.</p>


<p>To ensure that all of our members have an opportunity to earn AIA Vitality Points through the HealthyFood&trade; booster benefit, we offer you the opportunity to earn bonus points for participating in selected health activities:</p>


<table class="table table-condensed table-bordered rd_transpose">

<tr>

<th><b>Activity</b></th>
<th>Standard points</th>
<th>HealthyFood&trade; booster</th>
<th>Total points awarded</th>

</tr>


<tr>

<td>Complete a Vitality Nutrition Assessment with an Accredited Practicing Dietitian</td>
<td>1,500</td>
<td>500</td>
<td>2,000</td>

</tr>


<tr>

<td>Have your BMI measured</td>
<td>300</td>
<td>200</td>
<td>500</td>

</tr>


<tr>

<td>Healthy BMI<br>
(Your measured Body Mass Index is within the healthy range 18.5 &ndash; 24.9)</td>
<td>1,200</td>
<td>300</td>
<td>2000</td>

</tr>


<tr>

<td>Physical Activity</td>
<td>15,000</td>
<td>1,500</td>
<td>16,500</td>

</tr>

</table>


<p>
<b>Activation</b>
</p>


<p>To activate the HealthyFood&trade; booster, email your proof of address and AIA Vitality membership number to <a href="mailto:queries@aiavitality.com.au">queries@aiavitality.com.au</a>. Once you have been activated, you will be awarded the booster points if you have completed or you do complete the activities above (within your current membership year). Your online AIA Vitality Points statement will display the total for the activities.</p>


<p>
<b>Important points to remember:</b>
</p>


<ul>

<li>You can complete one AIA Vitality Nutrition Assessment a year. You can earn a maximum of 1,500 points for completing this assessment. The HealthyFood&trade; booster will provide you with an additional 500 points.</li>


<li>You can have your BMI measured during the <a href="/vmp-au/know_your_health/vitality_health_check">AIA Vitality Health Check</a> at participating Chemmart&reg; pharmacies, at the time of your <a href="/vmp-au/know_your_health/vitality_nutrition_assessment">AIA Vitality Nutrition Assessment</a>, or <a href="/vmp-au/know_your_health/fitness_assessment">AIA Vitality Fitness Assessment</a>. If you already have your BMI measured, you will receive bonus 200 points and 300 more points for being in the healthy range</li>


<li>AIA Vitality members can earn up to 15,000 points through physical activity. This can be achieved through submitting data from AIA Vitality compatible <a href="/vmp-au/improve_your_health/fitness_devices">fitness devices</a>, visiting AIA Vitality <a href="/vmp-au/partners/improve_your_health/gym_and_fitness">gym and fitness partners</a>, or participating in <a href="/vmp-au/improve_your_health/gym_and_fitness/organised_fitness_events">organised fitness events</a>. On activation of the booster, you will receive up to an additional 1,500 bonus points.</li>


<li>The HealthyFood&trade; booster points will expire at the end of your AIA Vitality membership year. At this time, please return again to check your delivery address.</li>


<li>Your booster points are activated for the duration of the membership year. If Aussie Famers Direct adds your address to their delivery locations or if you move to a serviceable location after activating your booster points, you will still be eligible for the Aussie Farmers Direct&trade; discount. Simply notify our customer service team on 1800 848 254 of your change. Your booster points will remain but will be included in your total HealthyFoodTM cap of 4,800 points.</li>

</ul>


<p>Any questions?<br>
Email: <a href="mailto:queries@aiavitality.com.au "><b>queries@aiavitality.com.au</b></a>
<br>
Call: <b>1800 848 254</b>
</p>

</div>

</div>
