<div class="managed-content" id="090040be803ffc20">
                
<p>As Aussie Farmers Direct does not currently deliver to your address, you will receive bonus AIA Vitality Points when you complete the following healthy activities:</p>


<table class="table table-condensed table-bordered rd_transpose">

<tr>

<th>Activity</th>
<th>Standard points</th>
<th>HealthyFood<sup>TM</sup> booster</th>
<th>Total points awarded</th>

</tr>


<tr>

<td>Complete a Vitality Nutrition Assessment with an Accredited Practicing Dietitian</td>
<td>1,500</td>
<td>500</td>
<td>2,000</td>

</tr>


<tr>

<td>Have your BMI measured</td>
<td>300</td>
<td>200</td>
<td>500</td>

</tr>


<tr>

<td>Healthy BMI<br>
(Your measured Body Mass Index is within the healthy range 18.5 &ndash; 24.9)</td>
<td>1,200</td>
<td>300</td>
<td>1,500</td>

</tr>


<tr>

<td>Physical Activity</td>
<td>15,000</td>
<td>1,500</td>
<td>16,500</td>

</tr>

</table>


<p>
<b>Important points to remember:</b>
</p>


<ul>

<li>You can complete one AIA Vitality Nutrition Assessment a year. You can earn a maximum of 1,500 points for completing this assessment. The HealthyFood&trade; booster will provide you with an additional 500 points.</li>


<li>You can have your BMI measured during the <a href="/vmp-au/know_your_health/vitality_health_check">AIA Vitality Health Check</a>&nbsp;at participating Chemmart&reg; pharmacies, at the time of your <a href="/vmp-au/know_your_health/vitality_nutrition_assessment">AIA Vitality Nutrition Assessment,</a> or <a href="/vmp-au/know_your_health/fitness_assessment">AIA Vitality Fitness Assessment.</a> If you already have your BMI measured, you will receive bonus 200 points and 300 more points for being in the healthy range.</li>


<li>AIA Vitality members can earn up to 15,000 points through physical activity. This can be achieved through submitting data from AIA Vitality compatible <a href="/vmp-au/improve_your_health/fitness_devices">fitness devices,</a> visiting AIA Vitality <a href="/vmp-au/improve_your_health/gym_and_fitness">gym and fitness partners</a>, or participating in <a href="/vmp-au/improve_your_health/gym_and_fitness/organised_fitness_events">organised fitness events.</a> On activation of the booster, you will receive up to an additional 1,500 bonus points. Physical activity booster points are allocated in conjunction with your standard points. Please see the table below:</li>

</ul>


<table class="table table-condensed table-bordered rd_transpose">

<tr>

<td><b>Standard Physical activity points</b></td>
<td><b>HealthyFood&trade; booster points</b></td>

</tr>


<tr>

<td>50 points</td>
<td>10</td>

</tr>


<tr>

<td>100 points</td>
<td>20</td>

</tr>


<tr>

<td>More than 100 points (Organised fitness events)</td>
<td>50</td>

</tr>

</table>


<ul>

<li>The HealthyFood&trade; booster points will expire at the end of your AIA Vitality membership year. At this time, please return again to check your delivery address.</li>


<li>Your booster points are activated for the duration of the membership year. If Aussie Famers Direct adds your address to their delivery locations or if you move to a serviceable location, you will still be eligible for the Aussie Farmers Direct&trade; discount. Simply notify our customer service team on 1800 848 254 of your change. Your booster points will remain but will be included in your total HealthyFood<sup>TM</sup> cap of 4,800 points.</li>


<li>
<a href="https://orders.aussiefarmers.com.au/serviceability.php">Click here</a>&nbsp;to check if Aussie Farmers Direct are now delivering to your location.</li>


<li>Any questions?<br>
Email <a href="mailto:queries@aiavitality.com.au ">queries@aiavitality.com.au</a>
<br>
Call 1800 848 254</li>

</ul>

</div>
