<div class="managed-content" id="090040be80384f61">
                
<p>
<b>Step 1: Request a booking</b>
</p>


<p>Please utilise this promotional code ${promo} when making a booking with Allen Carr.</p>


<p>Click <a href="http://www.allencarr.com.au/AIAVitality" target="_blank">here</a> to make a booking.</p>

</div>
