<div class="managed-content" id="090040be803be41b">
                
<p>As an AIA Vitality member, you will have access to Anytime Fitness at a discounted monthly price of $59.50. Follow the steps below to activate this benefit. Moreover, you could get up to $75 cashback per quarter (every rolling 91-day period).</p>


<p>Do you have an existing contract with Anytime Fitness and would like to earn points?<br>

</p>


<div id="yesNoContainer"></div>


<div class="contractNo" style=" display: none;">

<p>Follow the steps below to activate this benefit:<br>

<br>

<b>Step 1: Sign-up online with Anytime Fitness</b>
</p>


<ul>

<li>Go to the Anytime Fitness activation <a href="/vmp-au/partners/anytime_fitness/activation">page</a>.</li>


<li>Enter your banking details, so we&rsquo;ll be able to process your cash-back. If we have your banking details on the system already, you will be asked to verify that they are still correct.</li>


<li>You will be directed to the Anytime Fitness website to complete the online signup process, please make sure you capture the following details: 

<ol type="i">

<li>Please enter the unique code <b>AFAIAV</b> as the promotional claim code and click &ldquo;Apply&rdquo;.</li>


<li>Select the 12-month membership at $59.50 per month.</li>


<li>Complete the remaining part of the online form and make sure to enter your AIA Vitality membership number in the AIA Vitality ID field during the sign-up process.</li>

</ol>

</li>

</ul>


<p>Please note: You will be required to pay a $40 activation fee, and a once-off fee of $59.95 for the key fob device as well as the membership fee for the current month.</p>


<p>
<b>Step 2: Get your key fob device</b>
<br>
Anytime Fitness will send your key fob device to the postal address you provided during the activation process.</p>


<p>
<b>Step 3: Earn AIA Vitality Points</b>
<br>
Start enjoying your work out immediately! Please remember to swipe your key fob device when accessing the gym in order to earn your AIA Vitality Points.</p>


</div>

</div>
