<div class="managed-content" id="090040be804469b8">
                
<p>You activated this benefit on ${af_activation_date?if_exists}</p>


<p>View your cash back statement <a href="/vmp-au/cashback_statement">here</a>.</p>


<p>Change your <a href="/vmp-au/cashback">bank details here</a>
</p>


<p>To earn the cash back you must continue to go to the gym at on least 24 separate days in each rolling 91-day period. Should any of your qualifying visits be reported after the cashback calculation by Anytime Fitness, AIA Vitality will look back at the previous quarter, at the point of the next cash back calculation, which occurs 5 days after the end of the following month. If you now qualify for cash back, it will be paid accordingly. Note that the system will only look back at the previous quarter.</p>

</div>
