<div class="managed-content" id="090040be803c3510">
                
<p>You can purchase up to ${endota_vouchers_remaining} endota spa voucher(s). Please follow the steps below to purchase an endota spa voucher.</p>


<p>
<b>Step 1:</b>&nbsp;Click <a class="partnerTokenString" href="#" id="ENDOTA_SPA" name="ENDOTA_SPA" target="_blank">here</a> to select and purchase your endota Spa vouchers. You can pay for your vouchers by credit card or <a href="http://www.paypal.com" target="_blank">PayPal</a>.</p>


<p>
<b>Step 2:</b> Book for your spa treatment. Click <a href="http://www.endotadayspa.com.au/find-a-spa" target="_blank">here</a> to find the spa closest to you and call your preferred spa to make a booking.</p>


<p>
<b>Step 3:</b> Redeem your purchased voucher at any endota Spa in Australia when you go for your spa treatment.</p>

</div>
