<div class="managed-content" id="090040be803be413">
                
<p>As an AIA Vitality member, you can save 15% on the cost of a Fernwood membership when you sign up for a 12-month basic or a 1-month basic membership. Follow the steps below to activate this benefit.</p>


<p>
<b>Step 1: Visit a Fernwood club</b>
<br>
Visit your nearest or preferred Fernwood club.</p>


<p>Click <a href="http://www.fernwoodfitness.com.au/clubs/" target="_blank">here</a> for a list of Fernwood clubs</p>


<p>
<b>Step 2: Present AIA Vitality ID card and sign-up for a basic membership</b>
<br>
On arrival, present your AIA Vitality ID card and sign up for a 12-month basic or a 1-month basic membership. Please remember to give the staff your AIA Vitality membership number to process with your new membership.</p>


<p>
<b>Step 3: Pay the $199 joining fee and a gap payment</b>
<br>
Pay Fernwood the once-off $199 joining fee as well as a gap payment. The gap payment is a pro-rated membership fee for the period between your membership start date and your first fortnightly payment. Following this, you will be billed every fortnight for your Fernwood membership fee.</p>


<p>
<b>Step 4: Earn AIA Vitality Points</b>
<br>
Start enjoying your workout immediately! Please remember to swipe your card when accessing the gym in order to earn your AIA Vitality Points.</p>


<p>Please note: You will begin earning AIA Vitality Points as soon as you join Fernwood via the AIA Vitality member portal.</p>

</div>
