<div class="managed-content" id="090040be803be5d3">
                
<p>You activated this benefit on ${fernwood_activation_date?if_exists}</p>


<p>Please note: You will begin earning AIA Vitality Points as soon as you join Fernwood via the AIA Vitality member portal.</p>

</div>
