<div class="managed-content" id="090040be8043a602">
                
<p>
<b>Step 1: Activate your benefit</b>
</p>


<p>Call or email your nearest or preferred Step into Life branch or go to www.stepintolife.com.au and arrange three free trial sessions.</p>


<p>Click <a href="http://www.stepintolife.com.au/locations/australia/" target="_blank">here</a> for a list of Step into Life branches.</p>


<p>
<b>Step 2: Sign-up</b>
</p>


<p>After the session you can sign up at the branch or online at www.stepintolife.com.au. You can give the franchise owner your AIA Vitality membership number for them to process your activation.</p>


<p>
<b>Step 3: Pay the $60 membership fee</b>
</p>


<p>Pay the membership fee and any amount due for the rest of the current month. You will then be debited the discounted membership fee on the first of every month for the Step into Life membership.</p>


<p>
<b>Step 4: Earn AIA Vitality Points</b>
</p>


<p>Train with Step into Life regularly to earn points. Remember to notify your trainer that you are an AIA Vitality member in order to register your Step into Life membership with AIA Vitality and make sure you sign the attendance register after each session to earn your AIA Vitality Points.</p>

</div>
