<div class="managed-content" id="090040be803854ea">
                
<p>You activated this benefit on ${va_activation_date?if_exists}</p>


<p>
<b>Please note:</b> You will begin earning AIA Vitality Points as soon as you join Virgin Active via the AIA Vitality member portal.</p>

</div>
