<div class="managed-content" id="090040be803caf43">
                
<p>Enjoy 30% off the standard monthly rate for the Weight Watchers Unlimited and Weight Watchers Online plans.</p>


<p>Weight Watchers Unlimited gives you a complete weight loss package. This includes full access to the Weight Watchers online tools as well as unlimited meetings each month to help you lose weight. You can earn up to 3,500 AIA&nbsp;Vitality Points per year with WeightWatchers Unlimited.</p>


<p>Weight Watchers Online gives you all the tools you need to follow the Weight Watchers plan online, at your own pace. You can earn up to 500 points per year with WeightWatchers Online.</p>


<p>Select which Weight Watchers plan you would like to join <a href="${WWUnlimited}">Weight Watchers Unlimited</a> or <a href="${WWOnline}">&nbsp;Weight Watchers Online</a>.</p>


<p>Note: If you would like to change your selection, please contact AIA Vitality <a href="/vmp-au/contact_us">support</a>.</p>

</div>
