<div class="managed-content" id="090040be803ceb77">
                
<p></p>


<p>
<b>Follow the steps below to activate Weight Watchers Online</b>
</p>


<ul>

<li>Step 1: Please use this ${WWPromoCode}&nbsp;promotional code when signing-up with Weight Watchers.</li>


<li>Step 2: Click <a href="https://signup.weightwatchers.com.au/signup/index.aspx" target="_blank">here</a> to sign-up for your membership at the discounted monthly rate at Weight Watchers.</li>


<li>Step 3: Pay the discounted rate online using your credit card or PayPal and receive your Weight Watchers membership card.</li>


<li>Step 4: Begin attending the weekly Weight Watchers meetings (Weight Watchers Online Members only) and/or begin tracking what you eat at Weight Watchers eTools to earn AIA Vitality Points.</li>


<li>Step 5: Earn Points</li>

</ul>


<p>To receive points if you have signed up for Weight Watchers Online:</p>


<p>Begin tracking what you eat using Weight Watchers Online. To receive up to 500 points a year (50 points for each 7 consecutive days of tracking) simply upload a screenshot of your Weight Watchers Online food tracking and submit it <a href="/vmp-au/log_food">here</a>.</p>


<p>To change your Weight Watchers plan selection to Weight Watchers Unlimited, click <a href="weight_watchers/change_promo_code_type">here</a>.</p>

</div>
