<div class="managed-content" id="090040be8036fa62">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Allen Carr&rsquo;s Easyway</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/about_us/allen_carr_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Save 30% off the retail amount when joining Allen Carr's Easyway smoking cessation seminars.</p>


<p>As one of the most successful smoking cessation programs in the world and with a success rate of over 90%, Allen Carr's Easyway can afford to offer a money-back guarantee.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/about_us/allen_carr_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<ul>

<li>Only active AIA Vitality members qualify for the discount.</li>


<li>AIA Vitality members will receive a 30% discount.</li>


<li>The discount is off the full retail rate and will be given at the point of sale.</li>


<li>You can earn 1,000 AIA Vitality Points by completing a non-smoker's declaration once you have quit smoking for at least 3 months</li>


<li>Points will be awarded once a policy year</li>


<li>If you claim to be a non-smoker, you may be subject to a random test by AIA Vitality to confirm that you do not smoke</li>

</ul>


<p>Click <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/aia_vitality_allen_carrs_benefit_guide.pdf" target="_blank">here</a> for more detailed benefit information and a full set of terms and conditions. Please also refer to our <a class="dialog_trigger" data-target="privacy_statement_dialog" href="javascript:void(0)">Privacy Policy</a>
</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/about_us/allen_carr_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">${allen_carr_promotion_code?if_exists} 

<p>
<b>Step 2: Provide the relevant details and enter promotion code. You can pay for the course now or at a later date</b>
</p>


<p>
<b>Step 3: Begin the course</b>
</p>


<p>Go to your session. Take your AIA Vitality membership card with you.</p>


<p>
<b>Step 4: Be rewarded with points</b>
</p>


<p>Once you have been a non-smoker for at least 3 months after completion of the course, you can click <a href="/vmp-au/improve_your_health/stop_smoking">here</a> and sign a non-smoker's declaration. You will receive 1,000 AIA Vitality points for being a non-smoker. These points can be awarded once every policy year.</p>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/tools/overview"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/wellness_tools_promo.jpg"></a>
</div>
</div>
</div>

</div>
</div>
