<div class="managed-content" id="090040be80359746">
<div class="row-fluid">
              
               
                
<div class="span8">
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>Allen Carr&rsquo;s Easyway</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/about_us/allen_carr_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Save 30% off the retail amount when joining Allen Carr's Easyway smoking cessation seminars. As one of the most successful smoking cessation programs in the world and with a success rate of over 90%, Allen Carr's Easyway can afford to offer a money-back guarantee.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/about_us/allen_carr_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<ul>

<li>AIA Vitality members will receive a 30% discount.</li>


<li>The discount is off the full retail rate and will be given at the point of sale. You need to enter the promotion code when making the booking.</li>


<li>You can earn 1,000 AIA Vitality Points by completing a non-smoker's declaration once you have quit smoking for at least 3 months.</li>


<li>Points will be awarded once a policy year</li>


<li>If you claim to be a non-smoker, you may be subject to a random test by AIA Vitality to confirm that you do not smoke.</li>

</ul>


<p>Click <a href="/vmp-au/pdf/Allen_Carr_Partner_Benefit_Guide.pdf" target="_blank">here</a> for more detailed benefit information and a full set of terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/about_us/allen_carr_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>
<b>Step 1</b>: Go to the <a href="http://www.allencarr.com.au/AIAVitality">Allen Carr</a> information page to make a booking. You will be provided with a promotion code.</p>


<p>
<b>Step 2</b>: Provide the relevant details and enter the promotion code. You can pay for the course now or at a later date.</p>


<p>
<b>Step 3</b>: Begin the course Go to your session. Take your AIA Vitality membership card with you.</p>


<p>
<b>Step 4</b>: Be rewarded with Points Once you have been a non-smoker for at least 3 months after completion of the course, you can <a href="/vmp-au/how_to_join">click here</a> and sign a non-smoker's declaration. You will receive 1,000 AIA Vitality Points for being a non-smoker. These points can be awarded once each per policy year.</p>


<p>
<a href="/vmp-au/improve_your_health/stop_smoking">Join AIA Vitality</a> now to benefit from this great offer.</p>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column">
<div class="row-fluid">
<div class="banner">
<a href="/memberportal/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/improve_your_health/stopsmoke_howtojoin.png"></a>
</div>
</div>
</div>

</div>
</div>
