<div class="managed-content" id="090040be80387ebc">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Aussie Farmer&rsquo;s Direct</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li class="">
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li class="">
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>


<li class="">
<a data-toggle="tab" href="#healthy_food">Healthy Food<sup>TM</sup></a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo rect image-float-left" src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_aussiefarmers.jpg"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Get up to 30% discount on HealthyFood&trade; items (fresh fruits and vegetables) purchased at Aussie Farmers Direct.</p>


<p>Your level of savings are based on the activities you have done:</p>


<table class="table table-condensed table-bordered">
<tbody>

<tr>

<th>Activity</th>
<th>Discount Percentage</th>

</tr>


<tr>

<td>All AIA Vitality members</td>
<td>15%</td>

</tr>


<tr>

<td>AIA Vitality Health Review only completed</td>
<td>20%</td>

</tr>


<tr>

<td>AIA Vitality Health Check completed</td>
<td>30%</td>

</tr>


</tbody>
</table>


<p>Limited to a monthly spend of $160.</p>


<p>By using this benefit, you will also receive 10 Vitality Points for each $4 spent on HealthyFood&trade; items (fresh fruits and vegetables) from Aussie Farmers Direct (up to 400 points each month)</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo rect image-float-left" src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_aussiefarmers.jpg"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<ul class="disc">

<li>The HealthyFood&trade; benefit will be available to all AIA Vitality members.</li>


<li>Your discount will depend on whether you&rsquo;ve completed your AIA Vitality Health Review or AIA Vitality Health Check: 

<ul class="disc" type="circle">

<li>You will qualify for 15% discount just for being an AIA Vitality member</li>


<li>If you complete the AIA Vitality Health Review you will qualify for a 20% discount</li>


<li>If you complete an AIA Vitality Health Check you will qualify for a 30% discount,</li>

</ul>

</li>


<li>You need to retake your AIA Vitality Health Review and/or AIA Vitality Health Check every 12 months to keep your discount level.</li>


<li>Your discount and points earned will apply to HealthyFood&trade; purchases up to a monthly cap of $160 (inclusive of GST). You can earn a maximum of 400 points each month. Your spending limit will reset on the 1st of each month</li>


<li>Once you reach your monthly HealthyFood&trade; spending limit, you can still purchase more food, but any amount beyond the monthly cap will not receive any discount or points</li>


<li>The selection of HealthyFood&trade; items is constantly under review and may change from time to time. Foods are subject to seasonal and supplier availability.</li>

</ul>


<p>Details about your HealthyFood&trade; purchases at Aussie Farmers Direct could take up to a week after your delivery to reflect on the AIA Vitality Member Portal, and points will be awarded on a weekly basis.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo rect image-float-left" src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_aussiefarmers.jpg"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>To activate the HealthyFood<sup>TM</sup> benefit you must sign-up with Aussie Farmers Direct. Enter your delivery address below to check if Aussie Farmers Direct delivers to your area.</p>


<p>If you have already registered as an AIA Vitality member for Aussie Farmers click <a class="partnerTokenString" href="#" id="${partnerNameForToken?if_exists}" name="${partnerNameForToken?if_exists}" target="_blank">here</a>.</p>


<div id="insert_afd_address_capture"></div>


<div id="address_matched" style=" display: none;">

<p>Aussie Farmers Direct delivers to your address.</p>


<p>Click <a class="partnerTokenString" href="#" id="${partnerNameForToken?if_exists}" name="${partnerNameForToken?if_exists}" target="_blank">here</a> to sign-up for a new account with Aussie Farmers Direct and provide your payment and delivery details.</p>


<p>*Already an existing Aussie Farmers Direct customer? Simply click "Already an AFD customer? Click Here to Link Accounts" to link your existing Aussie Farmers Direct account to your AIA Vitality account.</p>


<p>To use the HealthyFood<sup>TM</sup> benefit, simply add HealthyFood<sup>TM</sup> items (fresh fruits and vegetables) to your basket for your scheduled delivery and the discounted amount (up to the $160 monthly cap) will be charged after your food is delivered.You do not need to enter any promotional codes on the Aussie Farmers Direct website. Please note that the AIA Vitality discount will not be shown on the Aussie Farmers Direct website when purchasing, however on delivery, you will only be charged the discounted amount.</p>


<p>You will receive your qualifying AIA Vitality Points and you can view your HealthyFood<sup>TM</sup> purchases on the AIA Vitality Member Portal within a week of delivery.</p>


<p>
<b>Adding, modifying or cancelling an Aussie Farmers Direct order</b>
</p>


<p>After you have registered/linked an AFDAussie Farmers Direct account, simply click <a class="partnerTokenString" href="#" id="${partnerNameForToken?if_exists}" name="${partnerNameForToken?if_exists}" target="_blank">here</a> to add, modify or cancel your Aussie Farmers Direct order.</p>


<p>Alternately, you can login to the Aussie Farmers <a class="partnerTokenString" href="#" id="${partnerNameForToken?if_exists}" name="${partnerNameForToken?if_exists}" target="_blank">website</a> using your Aussie Farmers Direct ID and Password to add, modify or cancel your Aussie Farmers Direct order.</p>

</div>


<div id="address_not_matched" style=" display: none;">Unfortunately Aussie Farmers Direct does not deliver to your address. You cannot benefit from this offering at this stage, but please return regularly to see updates to the Aussie Farmers Direct delivery address.</div>


<p>&nbsp;</p>

</div>

</div>


<div class="tab-pane" id="healthy_food">

<div class="span12">

<div id="insert_spend_statement"></div>

</div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/expertAdvice"><img src="/vitality_aia_au/web/linked_content/images/general/expertadvice2.jpg"></a>
</div>
</div>
</div>

</div>
</div>
