<div class="managed-content" id="090040be80369a37">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Aussie Farmer&rsquo;s Direct</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li class="">
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li class="">
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo rect image-float-left" src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_aussiefarmers.jpg"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Get up to 30% discount on HealthyFood&trade; items (fresh fruits and vegetables) purchased at Aussie Farmers Direct.</p>


<p>Your level of savings are based on the activities you have done:</p>


<table class="table table-condensed table-bordered">
<tbody>

<tr>

<th>Activity</th>
<th>Discount Percentage</th>

</tr>


<tr>

<td>All AIA Vitality members</td>
<td>15%</td>

</tr>


<tr>

<td>AIA Vitality Health Review only completed</td>
<td>20%</td>

</tr>


<tr>

<td>AIA Vitality Health Check completed</td>
<td>30%</td>

</tr>


</tbody>
</table>


<p>Limited to a monthly spend of $160.</p>


<p>By using this benefit, you will also receive 10 Vitality Points for each $4 spent on HealthyFood&trade; items (fresh fruits and vegetables) from Aussie Farmers Direct (up to 400 points each month)</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo rect image-float-left" src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_aussiefarmers.jpg"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<ul>

<li>The HealthyFood&trade; benefit will be available to all AIA Vitality members.</li>


<li>Your discount will depend on whether you&rsquo;ve completed your AIA Vitality Health Review or AIA Vitality Health Check: 

<ul>

<li>You will qualify for 15% discount just for being an AIA Vitality member</li>


<li>If you complete the AIA Vitality Health Review you will qualify for a 20% discount</li>


<li>If you complete an AIA Vitality Health Check you will qualify for a 30% discount,</li>

</ul>

</li>


<li>You need to retake your AIA Vitality Health Review and/or AIA Vitality Health Check every 12 months to keep your discount level.</li>


<li>Your discount and points earned will apply to HealthyFood&trade; purchases up to a monthly cap of $160 (inclusive of GST). You can earn a maximum of 400 points each month. Your spending limit will reset on the 1st of each month</li>


<li>Once you reach your monthly HealthyFood&trade; spending limit, you can still purchase more food, but any amount beyond the monthly cap will not receive any discount or points</li>


<li>The selection of HealthyFood&trade; items is constantly under review and may change from time to time. Foods are subject to seasonal and supplier availability.</li>

</ul>


<p>Details about your HealthyFood&trade; purchases at Aussie Farmers Direct could take up to a week after your delivery to reflect on the AIA Vitality Member Portal, and points will be awarded on a weekly basis.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo rect image-float-left" src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_aussiefarmers.jpg"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>
<b>For new Aussie Farmers Direct customers:</b>
</p>


<p>
<b>Step 1:</b> Check if Aussie Farmers Direct currently deliver to your address:</p>


<p>Click <a href="/vitality_aia_au/web/coming_soon.html" target="_blank">here</a>&nbsp; and enter your delivery address to check</p>


<p>
<b>Step 2:</b>&nbsp;Navigate to the HealthyFood&trade; section on the AIA Vitality Member Portal. You will be directed to the Aussie Farmers Direct webpage.</p>


<p>
<b>Step 3:</b> Sign-up for a new account with Aussie Farmers Direct and provide your payment and delivery details.</p>


<p>
<b>Step 4:</b> Select HealthyFood&trade; items (fresh fruits and vegetables) into your basket for your scheduled delivery and the discounted amount (up to the $160 monthly cap) will be reflected and charged after your food is delivered.</p>


<p>
<b>Step 5:</b> Receive your qualifying AIA Vitality Points and view your HealthyFood&trade; purchases on the AIA Vitality Member Portal within a week of delivery.</p>


<p>Adding/Modifying/Cancelling an Order</p>


<p>Return to the Aussie Farmers Direct website by logging on to the AIA Vitality Member Portal and navigating to the HealthyFood&trade; section or by logging in directly at Aussie Farmers Direct's website using your AIA Vitality ID and Password to add/modify/cancel your regular and future deliveries.</p>


<p>
<b>For existing Aussie Farmers Direct customers:</b>
</p>


<p>
<b>Step 1:</b> Navigate to the HealthyFood&trade; section on the AIA Vitality Member Portal and be directed to the Aussie Farmers Direct webpage.</p>


<p>
<b>Step 2:</b> Login using your existing Aussie Farmers Direct credentials.</p>


<p>
<b>Step 3:</b> Choose to link your Aussie Farmers Direct account to your AIA Vitality account.</p>


<p>
<b>Step 4:</b> Add HealthyFood&trade; items (fresh fruits and vegetables) to your basket for your scheduled delivery and the discounted amount (up to the $160 monthly cap) will be reflected and charged after your food is delivered</p>


<p>
<b>Step 5:</b> Receive your qualifying AIA Vitality Points and view your HealthyFood&trade; purchases on the AIA Vitality Member Portal within a week of delivery</p>


<p>Adding/Modifying/Cancelling an Order</p>


<p>Return to the Aussie Farmers Direct website by logging on to the AIA Vitality Member Portal and navigating to the HealthyFood section or by logging in directly at Aussie Farmers Direct's website using your AIA Vitality ID and Password to add/modify/cancel your regular and future deliveries.</p>


<p>
<a href="/vmp-au/how_to_join">Join now</a>
</p>

</div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/join_aia_vitality_banner_small.png"></a>
</div>
</div>
</div>

</div>
</div>
