<div class="managed-content" id="090040be80377187">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>endota Spa</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo rect ">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/endota-sml.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Your efforts to get and stay healthy deserve to be rewarded. That&rsquo;s why we help you relax, de-stress and recharge, by offering you discounted vouchers which you can redeem at any endota Spa. You can purchase up to two discounted vouchers for each AIA Vitality membership each year.</p>


<p>endota Spa is the fresh, soothing, all-Australian day spa where wellness is the way. Laidback and friendly, endota Spa welcomes absolutely everyone.</p>


<p>Your discount depends on your AIA Vitality Status.</p>


<table class="table table-border">

<tr>

<th>Bronze</th>
<th>Silver</th>
<th>Gold</th>
<th>Platinum</th>

</tr>


<tr>

<td>10%</td>
<td>15%</td>
<td>20%</td>
<td>35%</td>

</tr>

</table>


<p>&nbsp;</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo rect">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/endota-sml.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<ul>

<li>You must be an active AIA Vitality member to qualify for this benefit.</li>


<li>You qualify for two discounted vouchers for spa treatment packages in an AIA Vitality membership year.</li>


<li>The discount is only applicable to vouchers purchased via the AIA Vitality website.</li>


<li>The discount is based on your AIA Vitality Status at time of purchasing the voucher.</li>


<li>You must redeem your vouchers within 30 days from the purchase date. The voucher expires 30 days after you have redeemed it.&nbsp;</li>


<li>You can use your voucher at any endota Spa location in Australia.</li>


<li>The use of the voucher is also subject to view endota Spa <a href="/vitality_aia_au/web/coming_soon.html">Term &amp; Conditions</a>
</li>

</ul>


<p>&nbsp;</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo rect">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/endota-sml.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>
<a href="/memberportal/how_to_join">Join AIA Vitality</a> now to benefit from this great offer.</p>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/join_aia_vitality_banner_small.png"></a>
</div>
</div>
</div>

</div>
</div>
