<div class="managed-content" id="090040be8038a768">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>endota spa</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/endota-sml.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Your efforts to get and stay healthy deserve to be rewarded. That&rsquo;s why we help you relax, de-stress and recharge, by offering you discounted vouchers which you can redeem at any endota Spa. You can purchase up to two discounted vouchers for each AIA Vitality membership each year.</p>


<p>endota Spa is the fresh, soothing, all-Australian day spa where wellness is the way. Laidback and friendly, endota Spa welcomes absolutely everyone.</p>


<p>Your discount depends on your AIA Vitality Status.</p>


<table class="table table-border" width="100%">

<tr>

<th width="25%">Bronze</th>
<th width="25%">Silver</th>
<th width="25%">Gold</th>
<th width="25%">Platinum</th>

</tr>


<tr>

<td>10%</td>
<td>15%</td>
<td>20%</td>
<td>35%</td>

</tr>

</table>


<p>&nbsp;</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/endota-sml.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<ul>

<li>You must be an active AIA Vitality member to qualify for this benefit.</li>


<li>You qualify for two discounted vouchers for spa treatment packages in an AIA Vitality membership year.</li>


<li>The discount is only applicable to vouchers purchased via the AIA Vitality website.</li>


<li>The discount is based on your AIA Vitality status at time of purchasing the voucher.</li>


<li>endota spa gift vouchers are not valid on Sundays or public holidays.</li>


<li>You must redeem your vouchers within six months from the date of issue. The expiry date will be printed on your endota spa voucher.&nbsp;</li>


<li>You can use your voucher at any endota spa location in Australia.</li>


<li>The use of the voucher is also subject to view <a href="/vitality_aia_au/web/coming_soon.html">endota Spa Terms &amp; Conditions</a>
</li>

</ul>


<p>For full terms and conditions refer to the <a href="javascript:void(0)">AIA Vitality terms and conditions</a> and the <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/aia_vitality_endota_spa_benefit_guide.pdf" target="_blank">endota spa benefit guide</a>.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/endota-sml.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>${endota_content?if_exists}</p>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/wellnesstools/workouts"><img src="/vitality_aia_au/web/linked_content/images/general/running_1_banner.jpg"></a>
</div>
</div>
</div>

</div>
</div>
