<div class="managed-content" id="090040be80388fb0">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Fernwood</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/improve_your_health/fernwood.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Fernwood is an Australian wide, women's only health club. AIA Vitality has partnered with Fernwood to give you all of the perks of a Fernwood gym membership, at a discounted price.</p>


<p>As an AIA Vitality member, you can save 15% on the cost of Fernwood membership.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/improve_your_health/fernwood.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<ul>

<li>You enjoy a 15% discount on the Fernwood membership fee. when you sign up for a 12-month basic or 1-month basic membership.</li>


<li>Your AIA Vitality membership must be active for you to enjoy the discount.</li>


<li>You need to pay a once-off $199 activation fee when you join Fernwood.</li>


<li>The discounted membership fee will be collected by Fernwood fortnightly.</li>


<li>You will have access to Fernwood immediately after the activation.</li>


<li>You will earn 100 AIA Vitality Points each time you work out at Fernwood.<br>

<br>
Please note: You will begin earning AIA Vitality Points as soon as you join Fernwood via the AIA Vitality member portal. However, points will only be reflected on your AIA Vitality Points Statement starting early December 2013.</li>


<li>You may only earn points for one physical activity a day, which includes a workout at Fernwood or our other gym partners or other activities, such as walking or running, tracked with fitness monitor devices such as Polar, Fitbug etc. Physical activity points are capped at a maximum of 15,000 points for the year.</li>


<li>If you have an existing Fernwood membership you will only be able to take advantage of this benefit when your current contract with Fernwood comes to an end. You can however still earn points each time you work out at Fernwood.</li>

</ul>


<p>Click <a href="/vitality_aia_au/web/coming_soon.html" target="_blank">here</a> for more detailed benefit information and a full set of terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/improve_your_health/fernwood.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>As an AIA Vitality member, you can save 15% on the cost of a Fernwood membership when you sign up for a 12-month basic or a 1-month basic membership. Follow the steps below to activate this benefit.</p>


<p>
<b>Step 1: Visit a Fernwood club</b>
<br>
Visit your nearest or preferred Fernwood club.</p>


<p>Click <a href="http://www.fernwoodfitness.com.au/clubs/" target="_blank">here</a> for a list of Fernwood clubs</p>


<p>
<b>Step 2: Present AIA Vitality ID card and sign-up for -a basic membership</b>
<br>
On arrival, present your AIA Vitality ID card and sign up for a 12- month basic or a 1-month basic membership. Please remember to give the staff your AIA Vitality membership number to process with your new membership.</p>


<p>
<b>Step 3: Pay the $199 joining fee and a gap payment</b>
<br>
Pay Fernwood the once-off $199 joining fee as well as a gap payment. The gap payment is a pro-rated membership fee for the period between your membership start date and your first fortnightly payment. Following this, you will be billed every fortnight for your Fernwood membership fee.</p>


<p>
<b>Step 4: Earn AIA Vitality Points</b>
<br>
Start enjoying your workout immediately! Please remember to swipe your card when accessing the gym in order to earn your AIA Vitality Points.</p>


<p>Please note: You will begin earning AIA Vitality Points as soon as you join Fernwood via the AIA Vitality member portal. However, points will only be reflected on your AIA Vitality Points Statement starting early December 2013.</p>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/improve_your_health/fitness_devices"><img src="/vitality_aia_au/web/linked_content/images/general/running_device_02_banner.jpg"></a>
</div>
</div>
</div>

</div>
</div>
