<div class="managed-content" id="090040be8038983a">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Fitbug</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/fitbug_orb_logo.jpg"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Get 30% off the retail price when you purchase your Fitbug device.</p>


<p>Get fitter, healthier and happier with Fitbug. By tracking your steps, logging what you eat and setting yourself goals, Fitbug motivates you to improve your health. Offering a range of activity trackers and ways to send your steps to KiK &ndash; your digital coach - Fitbug coaches you to stay on the right track. Fitbug encourages you by setting personalised weekly targets and sending reminders via email and text to help you achieve them. With virtual walking challenges, inspiring features, healthy recipes and expert advice, achieve your health and wellness goals with Fitbug.</p>


<p>You can also earn up to 100 AIA Vitality Points when you upload your workout data.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/fitbug_orb_logo.jpg"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>You must be 18 years or older and have an active AIA Vitality policy in order to register your Fitbug device with AIA Vitality.</p>


<p>You need to register your Fitbug device before you can start earning points.</p>


<p>
<b>Fitbug Orb</b> is the versatile button-sized Bug that you can wear in a number of different ways. Fire your activity and sleep stats seamlessly to your Bluetooth Smart Ready device, where you can view your stats live on-screen.</p>


<p>
<b>Fitbug Air</b> is the first Bluetooth Smart Bug, letting you send and view your activity on your smartphone or tablet. There's no need to charge the Bug - the battery should last from four to six months.</p>


<p>Both the Fitbug Orb and the Fitbug Air come with a complimentary USB dongle for your PC or Mac, so you can fire your activity via and view your results on screen instantly.</p>


<p>
<b>Fitbug Go</b> lets you stay on track, monitor your progress and upload your strides with just one-click. Connect your device to your PC or Mac using the USB cable provided to upload your data.</p>


<p>Download the Bug Manager from <a href="http://www.fitbug.com.au/bugupload" target="_blank">here</a>&nbsp;and then you can start uploading your step data to <a href="http://www.fitbug.com.au/auaiavitality" target="_blank">here</a>. Make sure you upload your data regularly to earn points on a regular basis.</p>


<p>
<b>Fitbug WoW</b>. The WoW scales are part of the family of Bluetooth Smart health gadgets that sync with the Fitbug app in real-time. You can instantly view all your stats in one place and build a clearer picture of your health. You can use the scale to measure your stats but to upload your data wirelessly to the Fitbug app, you need a Fitbug membership. When you buy a Fitbug WoW you will get the Fitbug subscription to create your Fitbug account.</p>


<p>For full terms and conditions refer to the <a href="https://www.fitbug.com.au/terms" target="_blank">AIA Vitality terms and conditions</a> and the <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/aia_vitality_fitbug_benefit_guide.pdf" target="_blank">Fitbug benefit guide</a>
</p>


<p>Click <a href="https://www.fitbug.com.au/terms" target="_blank">here</a>&nbsp;for more detailed benefit information and a full set of terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/fitbug_orb_logo.jpg"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>
<b>Step 1: Purchase your Fitbug device and register it</b>
</p>


<p>To buy a Fitbug device click <a href="https://www.fitbug.com.au/auaiavitality" target="_blank">here</a>. You will be redirected to the Fitbug online shop where you can choose from four different Fitbug devices: Go, Air, Orb and WoW.</p>


<p>The price displayed on the Fitbug online shop includes your 30% AIA Vitality member discount.</p>


<p>The Fitbug Air and Fitbug Orb are wireless devices and you may want to check your mobile phone or tablet compatibility first at <a href="https://www.fitbug.com/au/connect" target="_blank">https://www.fitbug.com/au/connect</a>. Note that the Fitbug Air and the Fitbug Orb come with a complimentary USB dongle in case you don&rsquo;t have a compatible mobile phone or tablet.</p>


<p>Fitbug will send you the package with a subscription number. Once you have received your package, register your Bug on the <a href="https://www.fitbug.com/au/start/newaccount" target="_blank">Fitbug site</a>&nbsp;and start the Fitbug journey.</p>


<p>
<b>Step 2:</b> <b>Measure your steps taken</b>
</p>


<p>Keep your Fitbug device on you at all times and let it calculate the number of steps you take each day. The more steps you take, the more points you can earn!</p>


<p>You will only earn AIA Vitality Points for one physical activity a day, which includes gym/yoga session, walking, running and other activities tracked with fitness monitor devices such as Polar, miCoach or Fitbug. Should you have exercised more than once a day, we will record only the highest points earning activity.</p>


<p>Your points will be reflected on your online AIA Vitality Points Statement within 48 hours after your data is uploaded.</p>

</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/tools/overview"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/wellness_tools_promo_watchman.jpg"></a>
</div>
</div>
</div>

</div>
</div>
