<div class="managed-content" id="090040be80388c43">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>Fitbug</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/fitbug_orb_logo.jpg"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Get 30% off the retail price when you purchase your Fitbug device.</p>


<p>You can also earn up to 100 AIA Vitality Points when you upload your workout data.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/fitbug_orb_logo.jpg"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>You must be 18 years or older and have an active AIA Vitality policy in order to register your Fitbug device with AIA Vitality.</p>


<p>
<a href="http://www.fitbug.com.au/auaiavitality" target="_blank">Click here</a>&nbsp;for more detailed benefit information and a full set of terms and conditions.</p>


<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a>&nbsp;now to enjoy this benefit and start earning points.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/fitbug_orb_logo.jpg"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>
<b>Step 1: Purchase your Fitbug device and register it</b>
</p>


<p>1. To buy a Fitbug device click on the <a href="https://www.fitbug.com.au/auaiavitality">here.</a>
</p>


<p>2. You will be redirected to the Fitbug online shop where you can purchase your device. The price displayed on the Fitbug online shop includes the 30% AIA Vitality Member discount.</p>


<p>3. Fitbug will send you an email with your login information, information you need to download the Bug Manager and how to upload your step data.</p>


<p>4. Click <a href="https://www.fitbug.com.au/auaiavitality">here</a> to log into your account.</p>


<p>5. Complete the online registration, fill in the country of residence as "Australia" and accept the Fitbug terms and conditions. A full list of <a href="https://www.fitbug.com.au/auaiavitality">terms and conditions</a>.</p>


<p>6. Measure your steps taken</p>


<p>Keep your Fitbug device on you at all times and let it calculate the number of steps you take each day. The more steps you take, the more points you can earn!</p>


<p>You will only earn AIA Vitality Points for one physical activity a day, which includes gym/yoga session, walking, running and other activities tracked with fitness monitor devices such as Polar, miCoach or Fitbug. Should you have exercised more than once a day, we will record only the highest points earning activity.</p>


<p>Your points will be reflected on your online AIA Vitality Points Monitor within 48 hours after your data is uploaded.</p>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/vfa_rhs_banner_man_on_bike.jpg"></a>
</div>
</div>
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/join_aia_vitality_banner_small.png"></a>
</div>
</div>
</div>

</div>
</div>
