<div class="managed-content" id="090040be80387ee8">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>Fitbit</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/points_and_status/fitbit_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Fitbit motivates you to stay active, live better, and reach your goals.</p>


<p>You can wear a Fitbit to track your steps, distance, and calories to help you achieve your fitness goals.</p>


<p>AIA Vitality members earn up to 100 AIA Vitality Points each day for the steps you take and stay healthy.</p>


<p>To save up to 25% on a Fitbit device, you must purchase Fitbit through AIA Vitality and follow the links to the <a class="partnerTokenString" href="#" id="${partnerNameForToken?if_exists}" name="${partnerNameForToken?if_exists}" target="_blank">Fitbit online shop</a>.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/points_and_status/fitbit_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>All AIA Vitality members can earn AIA Vitality Points by tracking their steps using a Fitbit device.</p>


<p>If your AIA Vitality membership ends, you will no longer earn AIA Vitality Points with your Fitbit device. However, you may continue to use your Fitbit device.</p>


<p>
<b>Upload your step data to earn AIA Vitality Points</b>
</p>


<p>Once you have registered your Fitbit, you will need to link your Fitbit with AIA Vitality. <a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/wellnesstools/fitnessdevices/fitbit">Click here</a> to register your Fitbit.</p>


<p>You will then be able to upload your activity data and start earning AIA Vitality Points. Make sure you upload your step data to your Fitbit web profile regularly&nbsp;so you can earn AIA Vitality Points.</p>


<p>You can choose from three Fitbit devices &ndash; each one has its own special features. &nbsp;Members can also purchase Aria&trade;: Wi Fi smart scale.</p>


<p>
<b>Zip&trade;: Wireless activity tracker</b>
</p>


<p>Sync it with your phone or computer and track steps, distance and calories.</p>


<p>
<b>One&trade;: Wireless activity and sleep tracker</b>
</p>


<p>Track your steps, stairs climbed, distance, calories and sleep cycles.</p>


<p>
<b>Flex&trade;: The wireless activity and sleep wristband</b>
</p>


<p>Track your steps, distance, calories, active time and sleep cycles.</p>


<p>Aria&trade;: WiFi smart scale</p>


<p>Track your weight, body fat percentage, and BMI.</p>


<p>
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/wellnesstools/fitnessdevices/fitbit"><u>Link</u></a> your Fitbit to AIA Vitality and earn AIA Vitality Points.</p>


<p>Simply upload your workout data from your Fitbit to AIA Vitality by creating an <a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/wellnesstools/fitnessdevices/fitbit">AIA Vitality profile</a>. You&rsquo;ll not only keep track of your achievements, you&rsquo;ll also earn AIA Vitality Points for the steps you take to keep active when you meet specific criteria:</p>


<p>
<b>Points you earn with Fitbit</b>
</p>


<p>With your Fitbit device, you&rsquo;ll earn AIA Vitality Points in the fitness category if you exercise at a specific intensity, for a specific time. Each adult can earn up to 15,000 AIA Vitality Points for fitness-related activities. Points take up to two weeks to show on your AIA Vitality Points Statement after you upload your data.&nbsp;</p>


<table class="table table-border table-condensed">

<tr>

<th width="50%">Heart rate data</th>
<th>AIA<br>
Vitality<br>
Points</th>
<th>Frequency</th>

</tr>


<tr>

<td>At least 30 minutes of physical activity in one exercise session a day&nbsp;at an average heart rate of more than 60% of your age-related maximum heart rate.</td>
<td>50</td>
<td>Once a day</td>

</tr>


<tr>

<td>OR</td>
<td>&nbsp;</td>
<td>&nbsp;</td>

</tr>


<tr>

<td>At least 30 minutes of physical activity in&nbsp;one exercise session a day&nbsp;at an average heart rate of more than 70% of your age-related maximum heart rate.</td>
<td>100</td>
<td>Once a day</td>

</tr>


<tr>

<td>OR</td>
<td>&nbsp;</td>
<td>&nbsp;</td>

</tr>


<tr>

<td>At least 60 minutes of physical activity in&nbsp;one exercise session a day&nbsp;at an average heart rate of more than 60% of your age-related maximum heart rate.</td>
<td>100</td>
<td>Once a day</td>

</tr>

</table>

&nbsp; OR &nbsp; 

<table class="table table-border table-condensed">

<tr>

<th width="50%">Speed data</th>
<th>AIA<br>
Vitality<br>
Points</th>
<th>Frequency</th>

</tr>


<tr>

<td>At least 30 minutes of physical activity in&nbsp;one exercise session a day&nbsp;at a minimum average speed of 7.2 kilometres an hour.</td>
<td>100</td>
<td>Once a day</td>

</tr>


<tr>

<td>OR</td>
<td>&nbsp;</td>
<td>&nbsp;</td>

</tr>


<tr>

<td>At least 60 minutes or more of physical activity in&nbsp;one exercise session a day&nbsp;at a minimum average speed of 4&nbsp;kilometres an hour.</td>
<td>100</td>
<td>Once a day</td>

</tr>

</table>

&nbsp; OR &nbsp; 

<table class="table table-border table-condensed">

<tr>

<th width="50%">Calorie data</th>
<th>AIA<br>
Vitality<br>
Points</th>
<th>Frequency</th>

</tr>


<tr>

<td>At least 30 minutes of physical activity and a minimum of 150 calories burned (at a rate of no fewer than&nbsp;300 calories an hour) in&nbsp;one exercise session a day.</td>
<td>50</td>
<td>Once a day</td>

</tr>


<tr>

<td>OR</td>
<td>&nbsp;</td>
<td>&nbsp;</td>

</tr>


<tr>

<td>At least 30 minutes of physical activity and a minimum of 300 calories burned (at a rate of no fewer than&nbsp;600 calories an hour) in&nbsp;one exercise session a day.</td>
<td>100</td>
<td>Once a day</td>

</tr>


<tr>

<td>OR</td>
<td>&nbsp;</td>
<td>&nbsp;</td>

</tr>


<tr>

<td>At least 60 minutes or more of physical activity and a minimum of 300 calories burned (at a rate of&nbsp;no fewer than&nbsp;300 calories an hour) in&nbsp;one exercise session a day.</td>
<td>100</td>
<td>Once a day</td>

</tr>

</table>

&nbsp; OR &nbsp; 

<table class="table table-border table-condensed">
<thead>

<tr>

<th width="50%">Steps per day</th>
<th>AIA Vitality Points</th>
<th>Frequency</th>

</tr>


</thead>

<tr>

<td>10,000 &ndash; 12,499</td>
<td>50</td>
<td>Once a day</td>

</tr>


<tr>

<td>&gt;= 12,500</td>
<td>100</td>
<td>Once a day</td>

</tr>


<tr>

<td>&lt;10, 000</td>
<td>You may earn points if we have suggested a personal Health Goal within this range.</td>
<td>Once a day</td>

</tr>

</table>


<p>
<b>Please note:</b>&nbsp;You can earn AIA Vitality Points once a day for activities tracked by fitness devices. &nbsp;Each adult can earn up to 15,000 AIA Vitality Points for fitness-related activity (including gym workouts, fitness device tracking and organised fitness events).&nbsp;</p>


<p>A maximum of 100 points will be awarded for one fitness activity a day. If you complete two fitness activities in one day, then the higher points between the two will be awarded.</p>


<p>
<b>Example:</b>&nbsp;John buys a fitness device that can be linked to AIA Vitality. His device collects step and calorie data. John takes part in a minimum of 30 minutes of physical activity in&nbsp;<b>one exercise session</b>. He exercises at an average heart rate of more than 60% of his age-related maximum heart rate, burns a minimum of 150 calories (at a rate of&nbsp;<b>no fewer than</b>&nbsp;300 calories an hour) and takes 10,000 steps. He uploads his exercise data to AIA Vitality.</p>


<p>John will earn 50 points a day for his exercise session for meeting one of the criteria from either his&nbsp;heart rate data&nbsp;or&nbsp;speed data&nbsp;or&nbsp;calorie data&nbsp;or&nbsp;step data.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/points_and_status/fitbit_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>
<strong>Purchase your Fitbit device</strong>
</p>


<p>You can save up to 25% on a Fitbit device. Follow the steps below to purchase your discounted Fitbit device.</p>


<p>Please note: The AIA Vitality discounts are only available to AIA Vitality members when purchased on line at the Fitbit store, accessed through AIAVitality.com.au. When you enter the Fitbit online store you will view the discounted Fitbit devices.</p>


<p>Click <a class="partnerTokenString" href="#" id="${partnerNameForToken?if_exists}" name="${partnerNameForToken?if_exists}" target="_blank">here</a>&nbsp;to access the Fitbit online store.</p>


<p>To start getting active and earn AIA Vitality Points with your Fitbit, simply follow these steps:</p>


<p>
<b>If you are linking your Fitbit device on AIA Vitality for the first time</b>
</p>


<p>
<b>Step 1:</b> Download and install the &ldquo;<b>Fitbit Connect</b>&rdquo; device software from <a href="http://www.fitbit.com/au/setup" target="_blank">Fitbit.com</a>
</p>


<p>
<b>Step 2:</b> Using the &ldquo;<b>Fitbit Connect</b>&rdquo; device software, upload the workouts from your Fitbit device to Fitbit.com.</p>


<p>
<b>Step 3:</b> Log into your AIA Vitality account and click <a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/wellnesstools/fitnessdevices" target="_blank">here</a> for Fitbit.</p>


<p>
<b>Step 4:</b> Click on the &ldquo;<b>Go to Fitbit.com</b>&rdquo; button in order to link your Fitbit account to your AIA Vitality account.</p>


<p>
<b>Step 5:</b> After clicking on the &ldquo;<b>Go to Fitbit.com</b>&rdquo; button, you will be taken to the Fitbit.com website. On Fitbit.com, you will need to log into your Fitbit account in order to grant the &ldquo;MapMyFitness&rdquo; application access to your Fitbit account. You will then be returned to the AIA Vitality website.</p>


<p>
<b>Step 6:</b> Once back on the &ldquo;<b>Devices</b>&rdquo; page, click on &ldquo;<b>Fitbit</b>&rdquo; again.</p>


<p>
<b>Step 7:</b> Once the &ldquo;<b>Import Workouts</b>&rdquo; pop-up is displayed, click on the &ldquo;<b>Submit</b>&rdquo; button to sync your workouts.</p>


<p>
<b>Step 8:</b> When your workout data has been successfully uploaded, you&rsquo;ll see a detailed summary of it on AIA Vitality.</p>


<p>Once you&rsquo;ve linked your accounts, Fitbit will send your data to AIA Vitality once a day. If you&rsquo;d like the data to be sent immediately, <a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/wellnesstools/fitnessdevices">click here</a>&nbsp;and request the data is transferred.</p>


<p>
<b>Please note:</b>Your Fitbit device will automatically reset itself if you do not upload your exercise data to the Fitbit website weekly. Your Fitbit device can only store your exercise data for 14 days. You will not earn AIA Vitality Points for data you didn't upload.</p>


<p>If you have any problems importing your workouts, please visit <a href="https://www.fitbit.com" target="_blank">www.fitbit.com</a>&nbsp;for more information.</p>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/improve_your_health/gym_and_fitness/organised_fitness_events"><img src="/vitality_aia_au/web/linked_content/images/general/organised_fitness_events_promo.jpg"></a>
</div>
</div>
</div>

</div>
</div>
