<div class="managed-content" id="090040be80378f78">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>Polar</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/about_us/polar_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Save on Polar Heart Rate Monitors.</p>


<p>Get 35% off the retail price when purchasing any Polar device or accessory through the AIA Vitality website.</p>


<p>Earn up to 100 AIA Vitality Points when you upload your workout data.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/about_us/polar_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>You must be 18 years or older and have an active AIA Vitality policy in order to register your Polar device with AIA Vitality.</p>


<ul>

<li>The discounted rate applies to all Polar devices and accessories, but not to local postage and packaging fees</li>


<li>You will only receive the discounted rate on Polar devices and accessories if you purchase the device by logging in to AIA Vitality. You will be redirected to the online Pursuit Performance store (Polar device distributor in Australia)</li>


<li>The discount will not be applied in retail Polar stores or if you go directly to <a href="http://www.polar.com/au-en" target="_blank">www.polar.com/au-en</a>
</li>


<li>Register your device with us and start uploading your workout data <a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/wellnesstools/fitnessdevices">here</a> to earn points.</li>

</ul>


<p>Heart rate, pace and/or calorie data will be accepted from one device each day for each member for points allocation purposes. &nbsp;For example, If you have a Fitbug and Polar device and submit data from both devices on one day, you&nbsp;will earn points for the data that result in the highest number of points for that day.</p>


<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> now to enjoy this benefit and start earning points.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/about_us/polar_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>
<b>Step 1:</b>&nbsp;<b>Click on the AIA Vitality website Polar link</b>
</p>


<p>By clicking on the Polar <a href="http://www.polarrevolution.com.au/aiavitality" target="_blank">link</a> you will be redirected to the Pursuit Performance online shop, which will open in a new window.</p>


<p>
<b>Step 2:</b> <b>Find the promo code on the Pursuit Performance online shop</b>
</p>


<p>There will be a promo code on the online shop page. Save this promo code and click &ldquo;Buy Now&rdquo; to start shopping. Once you have chosen your device proceed to the checkout page to pay.</p>


<p>
<b>Step 3:</b> <b>Make payment and wait for your purchase</b>
</p>


<p>You can now make payment and confirm your delivery address.</p>


<p>
<b>Step 4:</b> <b>Upload your data.</b>
</p>


<p>To earn points, click <a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/wellnesstools/fitnessdevices">here</a>&nbsp;to upload data to AIA Vitality Polar page.</p>


<p>
<a href="http://www.polarrevolution.com.au/aiavitality" target="_blank">Shop now</a>
</p>


<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a>&nbsp;now to enjoy this benefit and start earning Vitality points.</p>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/join_aia_vitality_banner_small.png"></a>
</div>
</div>
</div>

</div>
</div>
