<div class="managed-content" id="090040be8038a744">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Polar</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/about_us/polar_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Save on Polar Heart Rate Monitors.</p>


<p>Get 35% off the retail price when purchasing any Polar device or accessory through the AIA Vitality website.</p>


<p>Earn up to 100 AIA Vitality Points when you upload your workout data.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/about_us/polar_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>You must be 18 years or older and have an active AIA Vitality policy in order to register your Polar device with AIA Vitality.</p>


<ul>

<li>The discounted rate applies to all Polar devices and accessories, but not to local postage and packaging fees</li>


<li>You will only receive the discounted rate on Polar devices and accessories if you purchase the device through AIA Vitality website. You will be redirected to the online Pursuit Performance store (Polar device distributor in Australia)</li>


<li>The discount will not be applied in retail Polar stores or if you go directly to <a href="http://www.polar.com/au-en" target="_blank">the Polar website</a>.</li>


<li>Register your device with us and start uploading your workout data <a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/wellnesstools/fitnessdevices">here</a> to earn points.</li>

</ul>


<p>Heart rate, pace and/or calorie data will be accepted from one device each day for each member for points allocation purposes. For example, If you have a Fitbug and Polar device and submit data from both devices on one day, you will earn points for the data that results in the highest number of points for that day.</p>


<p>For full terms and conditions refer to the <a href="javascript:void(0)">AIA Vitality terms and conditions</a> and the <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/aia_vitality_polar_benefit_guide.pdf" target="_blank">Polar benefit guide</a>.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/about_us/polar_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>
<b>Step 1: Click on the AIA Vitality website Polar link</b>
</p>


<p>By clicking on the Polar <a href="http://www.polarrevolution.com.au/aiavitality" target="_blank">link</a>, you will be redirected to the Pursuit Performance online shop, which will open in a new window.</p>


<p>
<b>Step 2: Find the promo code on the Pursuit Performance online shop</b>
</p>


<p>There will be a promo code on the online shop page. Save this promo code and click &ldquo;Buy Now&rdquo; to start shopping.</p>


<p>Choose a Polar heart rate monitor that can link to the internet so that you can upload the data you record. This feature allows you to earn AIA Vitality Points.</p>


<p>Polar models that have downloading capabilities include the FT7 with Flowlink, FT40 with Flowlink, FT60 with Flowlink, FT80, RS300X with Flowlink, RCX3, RC3 GPS, RCX5 and CS500+cad with DataLink.</p>


<p>Once you have chosen your web-enabled device you will be able to see the AIA Vitality discount and you can proceed to the checkout page.</p>


<p>
<b>Step 3: Make payment and wait for your purchase</b>
</p>


<p>You can now make payment and confirm your delivery address. Once the purchase is finalised, Pursuit Performance Australia will post the parcel to you.</p>


<p>
<b>Step 4: Install the Polar WebSync application and create a Polar account</b>
</p>


<p>When you receive your Polar device, you will receive instructions on installing the Polar WebSync application onto your PC. This will include instructions on how to create your account on <a href="http://www.polarpersonaltrainer.com" target="_blank">www.polarpersonaltrainer.com</a>&nbsp;website through the Polar WebSync application. Connect your Polar WebEnabled device to your PC. Once you have done this, the Polar WebEnabled device will automatically upload any new workouts to the <a href="http://www.polarpersonaltrainer.com" target="_blank">www.polarpersonaltrainer.com</a> website through Polar WebSync application.</p>


<p>
<b>Step 5: Upload your data</b>
</p>


<p>To earn AIA Vitality Points, click <a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/wellnesstools/fitnessdevices">here</a> to upload data to AIA Vitality Polar page. If you are a first time User, please login using your Polar username and password. Once you have been successfully authenticated, import your workout data to AIA Vitality. You will receive a notification when your data has been successfully imported to AIA Vitality.</p>


<p>Going forward, your workouts will be automatically imported to the AIA Vitality website daily provided you have successfully linked your Polar account to AIA Vitality and do not have unsynchronized workouts on <a href="http://www.polarpersonaltrainer.com" target="_blank">www.polarpersonaltrainer.com</a>
</p>


<p>
<a href="http://www.polarrevolution.com.au/aiavitality" target="_blank">Shop now</a>
</p>

</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vitality_aia_au/web/coming_soon.html"><img src="/vitality_aia_au/web/linked_content/images/general/organised_fitness_events_promo.jpg"></a>
</div>
</div>
</div>

</div>
</div>
