<div class="managed-content" id="090040be803775dc">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>Qantas</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/qantas_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Fly to over 1000 domestic and international destinations with Asia Pacific's Best Airline 2013.</p>


<p>As an AIA Vitality member, you can save up to 35% when you book Qantas tickets.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/qantas_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Your discount is based on your AIA Vitality Status at the time of booking:</p>


<table class="table table-border table-condensed">

<tr>

<th>Status-based Discount</th>
<th>% Discount</th>

</tr>


<tr>

<td>Bronze</td>
<td>8%</td>

</tr>


<tr>

<td>Silver</td>
<td>12%*</td>

</tr>


<tr>

<td>Gold</td>
<td>20%*</td>

</tr>


<tr>

<td>Platinum</td>
<td>35%*</td>

</tr>

</table>


<p>* Limited to two (2) flights each year. After this limit is reached, all AIA Vitality members, regardless of status, can continue to travel at the 8% (Bronze) discount level.</p>


<ul>

<li>You must be an AIA Vitality member at the time of booking to qualify for the discount.</li>


<li>The discount is only applicable when you make your bookings through the AIA Vitality website.</li>


<li>You enjoy the discount on Economy or Premium Economy seats for return domestic or international Qantas flights originating from and returning to Australia.</li>


<li>The discount applies to Qantas operated flights only. When booking, you will see a note that states if the flight is operated by another carrier. The discount does not apply to these flights.</li>


<li>The discount does not apply to one-way, around the world and multi-city stopovers flights.</li>


<li>The discount does not apply to airport taxes, fuel surcharges or any other incidental/administrative fees.</li>


<li>The discount will be paid to you after your trip is complete.</li>


<li>In order to receive your cash back, please ensure that you email your booking confirmation to <a href="mailto:support@aiavitality.com.au">support@aiavitality.com.au</a>.</li>


<li>Cash backs will be paid on the first business day of the next month after you have completed your trip.</li>

</ul>


<p>For example: You booked your ticket on the 15 September 2013 to depart on 08 October 2013 returning 09 October 2013. Your cash back for this trip will be paid into your nominated bank account on the first business day in November, which would be 01 November 2013.</p>


<ul>

<li>AIA Vitality members at Silver, Gold and Platinum status can book 2 flights at the discount level applicable to their AIA Vitality Status. Once this limit is reached, you can continue to enjoy an 8% (Bronze) discount for all flights booked through the AIA Vitality website.</li>


<li>AIA Vitality members at Bronze status can enjoy an 8% discount for all flights booked through the AIA Vitality website.</li>


<li>You can book and pay for up to 8 accompanying passengers: 

<ul>

<li>The first four accompanying passengers will receive 8% discount</li>


<li>Remaining passengers will not receive a discount and will be at standard price</li>


<li>Accompanying passenger details must be included when you make your booking and are not required be AIA Vitality members.</li>

</ul>

</li>


<li>You must book your trip at least 21 days before your departure date.</li>


<li>Bookings are non-transferable, i.e. you are not allowed to change the name of passengers or transfer the ticket to another passenger.</li>


<li>The discount does not apply to the fees and extra costs incurred when you make changes to your booking.</li>


<li>To make a change to your booking, please contact Qantas directly (by phone or the Qantas website). The standard Qantas modification rules and policies will apply.</li>


<li>To cancel your booking, please contact Qantas directly (by phone or the Qantas website).The standard Qantas modification rules and policies will apply.</li>

</ul>


<p>
<a class="underline_text" href="/vmp-au/terms_and_conditions" target="_blank">Terms and conditions apply</a>
</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/qantas_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> now to enjoy this benefit.</p>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/community"><img src="/vitality_aia_au/web/linked_content/images/general/comunity_join_banner.jpg"></a>
</div>
</div>
</div>

</div>
</div>
