<div class="managed-content" id="090040be80369c13">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 product-box">
<div id="insert_running_man"></div>


<h1>Step into Life</h1>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/improve_your_health/step_into_life.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Step into Life is an outdoor group fitness service that has roughly 170 franchises across Australia.</p>


<p>As an AIA Vitality member, you save 40% on the cost of a monthly membership with Step into Life. Each time you work out at Step into Life, you will earn 100 AIA Vitality Points. Click on the <a href="/vmp-au/how_to_join">Join now</a> link to sign up.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/improve_your_health/step_into_life.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<ul>

<li>You need to pay a once-off $80 activation fee the first time you join Step into Life.</li>


<li>You enjoy the 40% discount on the monthly membership fee. The monthly membership fee may differ based on selected branch or location. You will be able to access any of the Step into Life membership packages listed below, at a discounted monthly membership fee: 

<ol type="a">

<li>Monthly contracts: 

<ol type="i">

<li>Once a week</li>


<li>Twice a week</li>


<li>3 times a week</li>


<li>3 or more time a week</li>

</ol>

</li>


<li>Term Memberships: 

<ol type="i">

<li>3 month prepaid</li>


<li>6 month prepaid</li>

</ol>

</li>

</ol>

</li>


<li>Your AIA Vitality membership must be active for you to enjoy the discount.</li>


<li>You will have access to Step into Life immediately after the activation.</li>


<li>You will earn 100 AIA Vitality Points each time you work out at Step into Life. Points are capped at a maximum of 15,000 points for the year</li>


<li>You may only earn points for one physical activity a day, which includes a workout at Step into Life, any of our other gym partners, walking, running or other activities tracked with fitness monitor devices such as Polar, Fitbug etc.</li>


<li>If you have an existing Step into Life membership you will only be able to take advantage of this benefit when your current contract with Step into Life comes to an end. You can however still earn points each time you attend a workout with Step into Life.</li>

</ul>


<p>Click <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/aia_vitality_step_into_life_benefit_guide.pdf" target="_blank">here</a> for more detailed benefit information and a full set of terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/improve_your_health/step_into_life.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<ul>

<li>
<b>Step 1:</b>Activate your benefit 

<ul>

<li>Call or email your nearest or preferred Step into Life branch and arrange a free trial session.</li>


<li>Click <a href="http://www.stepintolife.com.au/locations/australia/" target="_blank">here</a> for a list of Step into Life branches</li>

</ul>

</li>


<li>
<b>Step 2:</b> After the session you can sign up at the branch. You can give the franchise owner your AIA Vitality membership number for them to process your activation.</li>


<li>
<b>Step 3</b>: Pay the $80 activation fee. Pay the activation fee and any amount due for the rest of the current month. You will then be debited the discounted membership fee on the first of every month for the Step into Life membership.</li>


<li>
<b>Step 4:</b> Train with Step into Life regularly to earn points. Remember to sign the attendance register after each session to earn your AIA Vitality Points.</li>

</ul>


<p>
<a href="/vmp-au/how_to_join">Join now</a>
</p>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/fitness_partners_get_active.jpg"></a>
</div>
</div>
</div>

</div>
</div>
