<div class="managed-content" id="090040be80385f29">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Virgin Active</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left rect" src="/vitality_aia_au/web/linked_content/images/improve_your_health/virginactive.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Virgin Active aims to enrich people&rsquo;s lives through Activeness. Virgin Active is so much more than a gym; they provide different and innovative ways to stay healthy and keep fit. Virgin Active and AIA Vitality have entered into a partnership, making it easier for our members to live a healthier lifestyle.</p>


<p>As an AIA Vitality member, you can save 25% on the cost of Virgin Active Flexible membership. Plus, each time you work out at Virgin Active, you will earn 100 AIA Vitality Points.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left rect" src="/vitality_aia_au/web/linked_content/images/improve_your_health/virginactive.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<ul>

<li>You enjoy the 25% discount on the Flexible membership fees.</li>


<li>Your AIA Vitality membership must be active for you to enjoy the discount.</li>


<li>You need to pay a once-off $145 activation fee when you join Virgin Active.</li>


<li>In addition to the joining fee, there is a minimum commitment of 4 weeks for every new Virgin Active Flexible membership, and members will be billed every 2 weeks after the 4 weeks commitment.</li>


<li>You will have access to Virgin Active immediately after the activation and you will be able to access any of the Virgin Active health clubs in Australia.</li>


<li>You will earn 100 AIA Vitality Points each time you workout at Virgin Active.<br>

<br>
Please note: You will begin earning AIA Vitality Points as soon as you join Virgin Active via the AIA Vitality member portal.<br>

</li>


<li>You may only earn points for one physical activity a day, which includes a workout at Virgin Active or our other gym partners or other activities, such as walking or running, tracked with fitness monitor devices such as Polar, Fitbug etc. Physical activity points are capped at a maximum of 15,000 points for the year.</li>


<li>If you have an existing Virgin Active membership you will only be able to take advantage of this benefit when your current contract with Virgin Active comes to an end. You can however still earn points each time you workout at Virgin Active.</li>

</ul>


<p>Click <a href="/vitality_aia_au/web/coming_soon.html" target="_blank">here</a> for more detailed benefit information and a full set of terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left rect" src="/vitality_aia_au/web/linked_content/images/improve_your_health/virginactive.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">${virgin_active_content?if_exists}</div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/wellnesstools/workouts"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/wellness_tools_promo.jpg"></a>
</div>
</div>
</div>

</div>
</div>
