<div class="managed-content" id="090040be80369a3b">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>WeightWatchers</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/weight_watchers_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Enjoy 30% off the standard monthly rate for the WeightWatchers Unlimited and WeightWatchers Online plans.</p>


<p>Earn up to 3,500 points a year</p>


<ul>

<li>Attend a WeightWatchers meeting: Up to 1,500 (50 points for each meeting)</li>


<li>Weight assessment at a meeting: 300 points, plus 1,200 bonus points for reaching your goal weight (being within the healthy BMI range)</li>


<li>Tracking what you eat using WeightWatchers Online: Up to 500 points a year (50 points for each 7 consecutive days of tracking)</li>

</ul>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/weight_watchers_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<ul>

<li>AIA Vitality members can join WeightWatchers Unlimited or Weight Watchers Online at the 30% off monthly discounted rate.</li>


<li>You must register using the AIA Vitality member portal to receive the monthly 30% discount</li>


<li>The joining fee will not be discounted</li>


<li>All other WeightWatchers plans are excluded from the discount</li>


<li>Pregnant will not receive points for reaching their goal weight (i.e. being in healthy BMI range)</li>

</ul>


<p>You can earn up to 3,500 points a year by:</p>


<ul class="noindent">

<li>Attending a WeightWatchers meeting: Up to 1,500 (50 points for each meeting)</li>


<li>Weight assessment at a meeting. 300 points, plus 1,200 bonus points for reaching your goal weight which is defined as being within the healthy BMI range (18.5-24.9).</li>


<li>Tracking what you eat using WeightWatchers Online. Up to 500 points a year (50 points for each 7 consecutive days of tracking)</li>


<li>AIA Vitality points for the weight assessment and reaching your goal weight are only applicable to weight assessments conducted at a meeting and are only awarded once a year.</li>

</ul>


<p>Click <a href="#">here</a> for more detailed benefit information and a full set of terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/weight_watchers_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<ul>

<li>
<b>Step 1:</b> Log on to the AIA Vitality Member Portal, navigate to the Weight Watchers section, and select either to join WeightWatchers Unlimited or Weight Watchers Online</li>


<li>
<b>Step 2:</b> You will be redirected to the WeightWatchers website to sign-up for your membership at the discounted monthly rate</li>


<li>
<b>Step 3:</b> Pay the discounted rate online using your credit card or PayPal and receive your Weight Watchers membership card</li>


<li>
<b>Step 4:</b> Begin attending the weekly WeightWatchers meetings and/or begin tracking what you eat at Weight Watchers Online to earn AIA Vitality points</li>

</ul>


<p>To receive points for your WeightWatchers Unlimited meetings, points for your weight assessment and points for reaching your goal weight:</p>


<ul>

<li>Go to your weekly WeightWatchers meeting and report your attendance and have your weight measured.</li>

</ul>


<p>To receive points if you have signed up for WeightWatchers Online:</p>


<ul>

<li>Begin tracking what you eat using WeightWatchers Online and you will receive up to 500 points a year (50 points for each 7 consecutive days of tracking).</li>

</ul>


<p>
<a href="/vmp-au/how_to_join">Join now</a>
</p>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/join_aia_vitality_banner_small.png"></a>
</div>
</div>
</div>

</div>
</div>
