<div class="managed-content" id="090040be803701e4">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 product-box"></div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<ul>

<li>&nbsp;Step 1: Please use this &lt;online promo code&gt; promotional code when signing-up with Weight Watchers.</li>


<li>&nbsp;Step 2: <a href="#">Click here&nbsp;</a> to sign-up for your membership at the discounted monthly rate at Weight Watchers.</li>


<li>&nbsp;Step 3: Pay the discounted rate online using your credit card or PayPal and receive your Weight Watchers membership card.</li>


<li>&nbsp;Step 4: Begin attending the weekly Weight Watchers meetings and/or begin tracking what you eat at Weight Watchers Online to earn AIA Vitality Points.</li>


<li>&nbsp;Step 5: Earn Points</li>

</ul>


<p>&nbsp;</p>
</div>
</div>

</div>
</div>
