<div class="managed-content" id="090040be803bc386">
<div class="row row-fluid">
              
               
                
<div class="row ">
<div class="col-md-8 col-sm-12 ">
<div id="insert_running_man"></div>


<h1>Latest News</h1>


<p>Here is the latest news on what&rsquo;s happening on AIA Vitality:</p>


<p>&nbsp;</p>


<p align="center" style=" color: red; font-size: 12pt;">Sorry, there are no articles for this selected period.</p>
</div>
<div class="col-md-4 col-sm-6 ">
<div id="insert_date_selection_block"></div>
</div>
</div>
<div class="row ">
<div class="col-md-4 col-sm-6 "></div>
<div class="span4 product-box equal-box"></div>
<div class="span4 "></div>
</div>
                

</div>
</div>
