<div class="managed-content" id="090040be803880c4">
<div class="">
<h1>Fitness Devices</h1>
</div>
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<p>AIA Vitality offers you savings at a wide range of partners that to help you to improve your health and reach your health goals. What's more, you earn AIA Vitality Points as you work towards a healthier life.</p>
</div>
</div>
<div class="row-fluid ">
<div class="span6 product-box">
<div class="title">

<h1>Polar</h1>

</div>


<div class="box-content">

<div class="main-img">
<img alt="" src="/vitality_aia_au/web/linked_content/images/improve_your_health/polar_d.png"></div>


<div class="primary-link">
<span>Savings: <b class="red_color">35%</b></span>
</div>


<div class="primary-link">
<span class="highlight">Points for each work out: Up to <b class="red_color">100 AIA Vitality points</b> when you submit workout data</span>
</div>


<div class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/polar">Read more</a>
</p>

</div>

</div>
</div>
<div class="span6 product-box">
<div class="title">

<h1>Fitbug</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/fitbug_d.png"></div>


<div class="primary-link">
<span>Savings: <b class="red_color">30%</b></span>
</div>


<div class="primary-link">
<span class="highlight">Points for each work out: Up to <b class="red_color">100 AIA Vitality points</b> when you submit workout data</span>
</div>


<div class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/fitbug">Read more</a>
</p>

</div>

</div>
</div>
</div>
<div class="row-fluid ">
<div class="span6 product-box">
<div class="title">

<h1>Fitbit</h1>

</div>


<div class="box-content">

<div class="main-img">
<img alt="" src="/vitality_aia_au/web/linked_content/images/improve_your_health/fitbit_d.png"></div>


<div class="primary-link">
<span>Save up to <b class="red_color">25%</b></span>
</div>


<div class="primary-link">
<span class="highlight">Points for each work out: Earn up to <b class="red_color">100 AIA Vitality points</b> when you submit workout data</span>
</div>


<div class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/fitbit">Read more</a>
</p>

</div>

</div>
</div>
<div class="span6 "></div>
<div class="span12 product-box">
<div class="title">

<h1>Earn points with other fitness devices</h1>

</div>


<div class="box-content">

<ul class="partner_slider clearfix flexi_slider">

<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/nike">View</a>
</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/nike_sml.png"></div>

</div>


<div class="descr">Earn 100 points</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/garmin">View</a>
</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/points_and_status/garmin_logo.png"></div>

</div>


<div class="descr">Earn up to 100 points</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/adidas_micoach">View</a>
</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/general/micoach_logo.png"></div>

</div>


<div class="descr">Earn up to 100 points</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/suunto">View</a>
</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/suunto_sml.png"></div>

</div>


<div class="descr">Earn up to 100 points</div>

</div>

</li>

</ul>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/fitness_partners_get_active.jpg"></a>
</div>
</div>
</div>

</div>
</div>
