<div class="managed-content" id="090040be8036a134">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 product-box">
<h1>Goals</h1>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/improve_your_health/health_goals.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">See all ways to earn points</span></a>
</div>

</div>


<div class="span8">

<p>We will recommend goals based on information from sources such as your AIA Vitality Health Review and the results of your AIA Vitality Health Check. You will earn AIA Vitality Points when you participate in activities that help support your goal and when you complete an active goal.</p>


<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> to find out how you can improve your health.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/improve_your_health/health_goals.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">See all ways to earn points</span></a>
</div>

</div>


<div class="span8">

<p>You will earn AIA Vitality Points based on your recommended goals. We will advise you how many points you can earn for achieving each goal.</p>


<p>You can also earn additional points for certain activities related to achieving a goal, like a gym workout.</p>


<p>Note: The clinical ranges associated with the goals are based on clinical guidelines and range values recommended by AIA Vitality, The Royal Australian College of General Practitioners and Australian government authorities. They are for general information only and are not meant to be medical, nutritional, health, fitness or other advice, nor a substitute for the advice from your healthcare practitioner.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/improve_your_health/health_goals.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/points_and_status/earn_points"><span class="arrowVitalityPoints">See all ways to earn points</span></a>
</div>

</div>


<div class="span8">

<p>Join AIA Vitality and learn how you can improve your health, accept personal goals based on your risk factors and work towards achieving them!</p>


<p>
<b>Step 1: Join AIA Vitality!</b>
</p>


<p>Exclusive to AIA policyholders, sign up for an AIA Vitality membership.</p>


<p>
<b>Step 2: Complete the AIA Vitality Health Review</b>
</p>


<p>You can find out just how healthy you are now and discover your AIA Vitality Age (a measure of how your unhealthy behaviours affect your age). You will then be provided with health goals for you to work towards.</p>


<p>
<b>Step 3: View your goals</b>
</p>


<p>Learn which behaviours in your current lifestyle could be causing health risks. We will suggest ways that may help you to overcome them. See which Goals are suggested for you and how to achieve them.</p>


<p>
<b>Step 4: Set your goals</b>
</p>


<p>Choose which of the recommended Goals you would like to accept and we'll tell you how to achieve them and how much time you have.</p>


<p>
<b>Step 5: Achieve your goals</b>
</p>


<p>Make use of AIA Vitality's partners and online health tools to help you achieve your goals.</p>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/lv-aia-au/tools/overview"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/wellness_tools_promo_watchman.jpg"></a>
</div>
</div>
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/fitness_partners_get_active.jpg"></a>
</div>
</div>
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/organised_fitness_events_promo.jpg"></a>
</div>
</div>
</div>

</div>
</div>
