<div class="managed-content" id="090040be80381a93">
<div class="row row-fluid">
              
               
                
<div class="row-fluid ">
<div class="managed-content" id="090040be80367c12">

<div class="row row-fluid">

<div class="row-fluid ">

<div class="span8 ">

<div id="insert_running_man"></div>


<h1>Gym and Fitness</h1>


<p>AIA Vitality offers a range of partners that can provide you with savings and help you to improve your health and reach your health goals. What's more, you earn AIA Vitality points as you work towards a healthier life.</p>

</div>


<div class="span4 right-column col-md-4 col-sm-6">

<div class="row row-fluid">

<div class="banner">

<div>

<p>
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/wellnesstools/food"><img src="/vitality_aia_au/web/linked_content/images/general/food_01_banner.jpg"></a>
</p>

</div>

</div>

</div>


<div class="row row-fluid">

<div class="banner">

<div>

<p>
<a href="/vmp-au/improve_your_health/healthy_eating"><img src="/vitality_aia_au/web/linked_content/images/general/healthyeatin_02_banner.jpg"></a>
</p>

</div>

</div>

</div>

</div>

</div>


<div class="row-fluid ">

<div class="span4 product-box two-col-box">

<h1>Step into Life</h1>


<div align="center" class="box-content">
<img alt="" src="/vitality_aia_au/web/linked_content/images/improve_your_health/step_into_life_lrg.png"> 

<div align="left" class="primary-link">
<span>&nbsp;</span>
</div>


<div align="left" class="primary-link">
<span>Save 40%</span>
</div>


<div align="left" class="primary-link">
<span class="highlight">Earn 100 points for each workout</span>
</div>


<div align="left" class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/step_into_life">Find out more</a>
</p>

</div>

</div>

</div>


<div class="span4 product-box two-col-box">

<h1>Anytime Fitness</h1>


<div align="center" class="box-content">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/anytimefitness.png"> 

<div align="left" class="primary-link">
<span>Discounted monthly membership fee of $59.50</span>
</div>


<div align="left" class="primary-link">
<span class="highlight">Earn up to $75 cashback per quarter</span>
</div>


<div align="left" class="primary-link">
<span class="highlight">Earn 100 points for each workout</span>
</div>


<div align="left" class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/anytime_fitness">Find out more</a>
</p>

</div>

</div>

</div>


<div class="span4 product-box two-col-box">

<h1>Virgin Active</h1>


<div align="center" class="box-content">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/virginactive.png"> 

<div align="left" class="primary-link">
<span>&nbsp;</span>
</div>


<div align="left" class="primary-link">
<span>Save 25%</span>
</div>


<div align="left" class="primary-link">
<span class="highlight">Earn 100 points for each workout</span>
</div>


<div align="left" class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/virgin_active">Find out more</a>
</p>

</div>

</div>

</div>

</div>



<div class="row-fluid ">

<div class="span4 product-box two-col-box">

<h1>Fernwood</h1>


<div align="center" class="box-content">
<img alt="" src="/vitality_aia_au/web/linked_content/images/improve_your_health/fernwood.png"> 

<div align="left" class="primary-link">
<span>Save 15%</span>
</div>


<div align="left" class="primary-link">
<span class="highlight">Earn 100 points for each workout</span>
</div>


<div align="left" class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/fernwood">Find out more</a>
</p>

</div>

</div>

</div>


<div class="span4 product-box two-col-box">

<h1>Organised Fitness Events</h1>


<div align="center" class="box-content">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/gymfitness_orgfitnessevents.jpg"> 

<div align="left" class="primary-link">
<span>&nbsp;</span>
</div>


<div align="left" class="primary-link">
<span class="highlight">Earn up to 1,500 points for each event</span>
</div>


<div align="left" class="primary-link">

<p>
<a class="find" href="/vmp-au/improve_your_health/gym_and_fitness/organised_fitness_events">Find out more</a>
</p>

</div>

</div>

</div>


<div class="span4 product-box two-col-box">

<h1>Fitness Devices</h1>


<div align="center" class="box-content">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/gymfitness_fitnessdevices.jpg"> 

<div align="left" class="primary-link">
<span>Save up to 35%</span>
</div>


<div align="left" class="primary-link">
<span class="highlight">Earn up to 100 points for every upload</span>
</div>


<div align="left" class="primary-link">

<p>
<a class="find" href="/vmp-au/improve_your_health/fitness_devices">Find out more</a>
</p>

</div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid"></div>
<div class="row row-fluid">
<div class=" banner">
<div class="banner">

<div>

<p>&nbsp;</p>

</div>

</div>
</div>
</div>
</div>

</div>
</div>
