<div class="managed-content" id="090040be80376d1b">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 product-box">
<div id="insert_running_man"></div>


<h1>Organised Fitness Events</h1>


<div class="box-content">

<div class="top-tabs-container">

<div class="tabbable">

<ul class="top nav nav-tabs">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<p>
<img class="image-float-left" src="/vitality_aia_au/web/linked_content/images/about_us/polar_logo.png"></p>


<div class="left partnerDescrRight">

<p>You can earn AIA Vitality Points for participating in fitness events such as walking, swimming, running, cycling, mountain biking, canoeing, and triathlons.</p>


<p>Depending on the intensity of the event, you can earn up to 1,500 Vitality Points each event.</p>

</div>


<p>
<a class="btn_blue float-left" href="/vmp-sg/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<p>
<img class="image-float-left" src="/vitality_aia_au/web/linked_content/images/about_us/polar_logo.png"></p>


<div class="tab-pane" id="need_to_know">

<p>Depending on the type of sports and the intensity of the event, you can earn between 150 and 1,500 points.</p>


<p>You will need to log in <b>here</b> to submit the event details such as your registration number, results and other information that may be relevant.</p>


<p>If you are unable to find a specific fFitness event, please contact our Customer Service Department at vitality@aia.com.au.We may include the event subject to our assessment.</p>

</div>


<p>
<a class="btn_blue float-left" href="/vmp-sg/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</p>

</div>


<div class="tab-pane" id="get_started">

<p>
<img class="image-float-left" src="/vitality_aia_au/web/linked_content/images/about_us/polar_logo.png"></p>


<p>Participate in fitness events and be awarded with AIA Vitality Points!</p>


<p>Join AIA Vitality now to enjoy this benefit and start earning points.</p>


<p>
<a class="btn_blue float-left" href="/vmp-sg/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</p>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                

</div>
</div>
