<div class="managed-content" id="090040be80380db0">
<div class="">
<p style=" margin-top: 0;">&nbsp;</p>
</div>
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Organised Fitness Events</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/organisedFitnessEvents.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>You can earn AIA Vitality Points for participating in sports events such as walking, swimming, running, cycling, mountain biking, canoeing, and triathlons.</p>


<p>Depending on the intensity of the event, you can earn up to 1,500 AIA Vitality Points for each event. A yearly cap of 15,000 points applies.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/organisedFitnessEvents.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Depending on the type of sports and the intensity of the event, you can earn between 150 and 1,500 AIA Vitality Points.A yearly cap of 15,000 points applies.</p>


<table class="table table-border table-condensed">

<tr>

<td align="left" colspan="2" nowrap="nowrap">

<p>
<b>Canoeing</b>&nbsp;</p>

</td>

</tr>


<tr>

<td align="left">

<p>
<b>Distance</b>
</p>

</td>
<td align="left" width="108">

<p>
<b>Points</b>
</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>4.5km to 19km</p>

</td>
<td align="left" width="108">

<p>150</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>20km to 29km</p>

</td>
<td align="left" width="108">

<p>450</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>30km or more</p>

</td>
<td align="left" width="108">

<p>900</p>

</td>

</tr>


<tr>

<td align="left" colspan="2" nowrap="nowrap" width="231.0">

<p>
<b>Duathlon</b>
</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>
<b>Distance</b>
</p>

</td>
<td align="left" width="108">

<p>
<b>Points</b>
</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>Sprint</p>

</td>
<td align="left" width="108">

<p>450</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>Olympic</p>

</td>
<td align="left" width="108">

<p>900</p>

</td>

</tr>


<tr>

<td align="left" colspan="2" nowrap="nowrap" width="231.0">

<p>
<b>Mountain biking</b>&nbsp;</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>
<b>Distance</b>
</p>

</td>
<td align="left" width="108">

<p>
<b>Points</b>
</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>10km to 24km</p>

</td>
<td align="left" width="108">

<p>150</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>25km to 49km</p>

</td>
<td align="left" width="108">

<p>450</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>50km to 74km</p>

</td>
<td align="left" width="108">

<p>900</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>75km or more</p>

</td>
<td align="left" width="108">

<p>1,500</p>

</td>

</tr>


<tr>

<td align="left" colspan="2" nowrap="nowrap" width="231.0">

<p>
<b>Off-road triathlon</b>&nbsp;</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>
<b>Distance</b>
</p>

</td>
<td align="left" width="108">

<p>
<b>Points</b>
</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>14.00km to 20.74km</p>

</td>
<td align="left" width="108">

<p>150</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>20.75km to 39km</p>

</td>
<td align="left" width="108">

<p>450</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>40km to 59km</p>

</td>
<td align="left" width="108">

<p>900</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>60km or more</p>

</td>
<td align="left" width="108">

<p>1,500</p>

</td>

</tr>


<tr>

<td align="left" colspan="2" nowrap="nowrap" width="231.0">

<p>
<b>Road Cycling</b>&nbsp;</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>
<b>Distance</b>
</p>

</td>
<td align="left" width="108">

<p>
<b>Points</b>
</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>25km to 49km</p>

</td>
<td align="left" width="108">

<p>450</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>50km to 99km</p>

</td>
<td align="left" width="108">

<p>900</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>100km or more</p>

</td>
<td align="left" width="108">

<p>1,500</p>

</td>

</tr>


<tr>

<td align="left" colspan="2" nowrap="nowrap" width="231.0">

<p>
<b>Road running</b>&nbsp;</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>
<b>Distance</b>
</p>

</td>
<td align="left" width="108">

<p>
<b>Points</b>
</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>5km to 9km</p>

</td>
<td align="left" width="108">

<p>150</p>

</td>

</tr>


<tr>

<td align="left">

<p>10km to 21km</p>

</td>
<td align="left">

<p>450</p>

</td>

</tr>


<tr>

<td align="left">

<p>21.1km to 42.1km</p>

</td>
<td align="left">

<p>900</p>

</td>

</tr>


<tr>

<td align="left">

<p>42.2km or more</p>

</td>
<td align="left">

<p>1,500</p>

</td>

</tr>


<tr>

<td align="left" colspan="2" nowrap="nowrap">

<p>
<b>Road triathlon</b>
</p>

</td>

</tr>


<tr>

<td align="left">

<p>
<b>Distance</b>
</p>

</td>
<td align="left">

<p>
<b>Points</b>
</p>

</td>

</tr>


<tr>

<td align="left">

<p>14.00km to 25.74km</p>

</td>
<td align="left">

<p>150</p>

</td>

</tr>


<tr>

<td align="left">

<p>25.75km to 51.4km</p>

</td>
<td align="left">

<p>900</p>

</td>

</tr>


<tr>

<td align="left">

<p>51.5km or more</p>

</td>
<td align="left">

<p>1,500</p>

</td>

</tr>


<tr>

<td align="left" colspan="2" nowrap="nowrap">

<p>
<b>Surfski</b>&nbsp;</p>

</td>

</tr>


<tr>

<td align="left">

<p>
<b>Distance</b>
</p>

</td>
<td align="left">

<p>
<b>Points</b>
</p>

</td>

</tr>


<tr>

<td align="left">

<p>5km to 9km</p>

</td>
<td align="left">

<p>150</p>

</td>

</tr>


<tr>

<td align="left">

<p>10km to 19km</p>

</td>
<td align="left">

<p>450</p>

</td>

</tr>


<tr>

<td align="left">

<p>20km to 39km</p>

</td>
<td align="left">

<p>900</p>

</td>

</tr>


<tr>

<td align="left">

<p>40km or more</p>

</td>
<td align="left">

<p>1,500</p>

</td>

</tr>


<tr>

<td align="left" colspan="2" nowrap="nowrap">

<p>
<b>Swimming</b>&nbsp;</p>

</td>

</tr>


<tr>

<td align="left">

<p>
<b>Distance</b>
</p>

</td>
<td align="left">

<p>
<b>Points</b>
</p>

</td>

</tr>


<tr>

<td align="left">

<p>0.6km to 2.4km</p>

</td>
<td align="left">

<p>150</p>

</td>

</tr>


<tr>

<td align="left">

<p>2.5km to 4.9km</p>

</td>
<td align="left">

<p>450</p>

</td>

</tr>


<tr>

<td align="left">

<p>5km to 7.9 km</p>

</td>
<td align="left">

<p>900</p>

</td>

</tr>


<tr>

<td align="left">

<p>8km or more</p>

</td>
<td align="left">

<p>1,500</p>

</td>

</tr>


<tr>

<td align="left" colspan="2" nowrap="nowrap">

<p>
<b>Trail running</b>&nbsp;</p>

</td>

</tr>


<tr>

<td align="left">

<p>
<b>Distance</b>
</p>

</td>
<td align="left">

<p>
<b>Points</b>
</p>

</td>

</tr>


<tr>

<td align="left">

<p>5km to 9km</p>

</td>
<td align="left">

<p>150</p>

</td>

</tr>


<tr>

<td align="left">

<p>10km to 19km</p>

</td>
<td align="left">

<p>450</p>

</td>

</tr>


<tr>

<td align="left">

<p>20km to 29km</p>

</td>
<td align="left">

<p>900</p>

</td>

</tr>


<tr>

<td align="left">

<p>30km or more</p>

</td>
<td align="left">

<p>1,500</p>

</td>

</tr>


<tr>

<td align="left" colspan="2" nowrap="nowrap">

<p>
<b>Walking</b>
</p>

</td>

</tr>


<tr>

<td align="left">

<p>
<b>Distance</b>
</p>

</td>
<td align="left">

<p>
<b>Points</b>
</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>4km to 14km</p>

</td>
<td align="left" width="108">

<p>150</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>15km to 29km</p>

</td>
<td align="left" width="108">

<p>450</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>30km to 49km</p>

</td>
<td align="left" width="108">

<p>900</p>

</td>

</tr>


<tr>

<td align="left" width="123">

<p>50km or more</p>

</td>
<td align="left" width="108">

<p>1,500</p>

</td>

</tr>

</table>


<p>To receive AIA Vitality Points, you will need to submit event details such as your registration/event number, results and other relevant information within 3 months of the event.</p>


<p>If your event is not listed above, please contact us at vitality@aia.com.au . In your email, include the following details:</p>


<ul>

<li>Type of event</li>


<li>Name of event</li>


<li>Date of event</li>


<li>Distance</li>


<li>Your official finishing time</li>


<li>Your race number</li>

</ul>


<p>We will review the event to see if it qualifies for AIA Vitality Points and how many can be earned. If approved, your points will be awarded within four to eight weeks.</p>


<p>AIA Australia will use the criteria set out below to determine, in its sole discretion, if the event qualifies for AIA Vitality points. Please note that the decision of AIA Australia will be final and no correspondence will be entered into.</p>


<p>The criteria used to verify events are:</p>


<ul>

<li>An officially organised and timed event of a specified distance on a specified date that requires registration and the issue of a race number.</li>


<li>A sport intended to increase heart rate so as to produce cardio respiratory health benefits to the person.</li>

</ul>


<p>Excluded events:</p>


<ul>

<li>All motorised sports or events</li>


<li>Extreme sports</li>


<li>Provincial or National Championships &minus; points for events are aimed at more community-based events.</li>


<li>Team sports (rugby, AFL, soccer, netball etc.)</li>

</ul>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/know_your_health/organisedFitnessEvents.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8">

<p>Click <a href="/vmp-au/improve_your_health/gym_and_fitness/organised_fitness_events/form">here</a> to claim AIA Vitality Points for outdoor sporting events.</p>


<p>&nbsp;</p>

</div>

</div>

</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">

<div>

<p>
<a href="/vmp-au/improve_your_health/fitness_devices"><img src="/vitality_aia_au/web/linked_content/images/general/fitness_devices_02_promo.jpg"></a>
</p>

</div>

</div>
</div>
</div>

</div>
</div>
