<div class="managed-content" id="090040be80378f8d">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<div id="insert_running_man"></div>


<h1>Improve Your Health</h1>


<p>Once you know more about your health, we help you improve it with useful tools and great savings at a range of partners. You'll earn AIA Vitality Points as you achieve your goals and head towards better health. Remember that the more points you earn, the higher your AIA Vitality Status and the greater your rewards!</p>
</div>
</div>
<div class="row-fluid ">
<div class="span6 product-box equal-box">
<div class="title">

<h1>Gym &amp; fitness</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/overview_gymfitness.jpg"></div>


<div class="content-text">

<p>As an AIA Vitality member, you enjoy 40% off the cost of a monthly gym membership at Step into Life.</p>


<p>Each time you work out at the Step into Life, you will earn 100 AIA&nbsp;Vitality Points!</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/improve_your_health/gym_and_fitness">Find out more</a>
</div>

</div>
</div>
<div class="span6 product-box equal-box">
<div class="title">

<h1>Healthy Eating</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_healthyeating02.jpg"></div>


<div class="content-text">

<p>Enjoy up to 30% off HealthyFood&trade; (fresh fruits and vegetables) at Aussie Farmers Direct after you complete the AIA Vitality Health Check.</p>


<p>Enjoy 30% off the monthly standard price at Weight Watchers when you register for Weight Watchers Unlimited or Weight Watchers Online.</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/improve_your_health/healthy_eating">Find out more</a>
</div>

</div>
</div>
</div>
<div class="row-fluid ">
<div class="span6 product-box equal-box">
<div class="title">

<h1>Stop smoking</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/overview_stopsmoking.jpg"></div>


<div class="content-text">

<p>Stopping smoking has never been easier! Sign up for Allen Carr's Easyway smoking cessation program and enjoy 30% discount.</p>


<p>Stay smoke-free for at least 3 months and earn 1,000 AIA Vitality Points when you complete a non-smoker's declaration online.</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/improve_your_health/stop_smoking">Find out more</a>
</div>

</div>
</div>
<div class="span6 product-box equal-box">
<div class="title">

<h1>Fitness device</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/overview_fitnessdevices.jpg"></div>


<div class="content-text">

<p>Buy Polar watches, Fitbug and Fitbit devices and more at a discounted rate through AIA Vitality.</p>


<p>You can also earn up to 100 AIA Vitality Points when you upload your workout data from your fitness device.</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/improve_your_health/fitness_devices">Find out more</a>
</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div>
<a href="/vmp-au/improve_your_health/fitness_devices"><img src="/vitality_aia_au/web/linked_content/images/general/running_device_02_banner.jpg"></a>
</div>


<p>&nbsp;</p>


<div id="insert_get_to_platinum_promo_block"></div>


<p>&nbsp;</p>


<div id="insert_active_goals"></div>


<p>&nbsp;</p>
</div>
</div>

</div>
</div>
