<div class="managed-content" id="090040be8034ef7b">
<div class="">
<h1>Stop Smoking<b>&nbsp;Congratulations</b>
</h1>
</div>
<div class="row-fluid">
              
               
                
<div class="span8">
<div class="row-fluid ">
<div class=" product-box">
<div class="box-content">

<p>Congratulations! You have completed the Non-smoker&rsquo;s declaration on ${vitality.za.date}</p>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column">
<div class="row-fluid">
<div class=" product-box">
<h1>Non-Smoker Declaration</h1>


<div class="box-content">
<img src="/vitality_aia_sg/web/linked_content/images/improve_your_health/stop_smoking_woman.jpg"></div>


<div class="primary-link">
<span>Submit</span>
</div>
</div>
</div>
</div>

</div>
</div>
