<div class="managed-content" id="090040be8035a1c8">
<div class="">
<h1>Stop Smoking</h1>
</div>
<div class="row-fluid">
              
               
                
<div class="span8">
<div class="row-fluid ">
<div class="span12 ">
<p>With a success rate of over 90%, Allen Carr's Easyway is one of the most successful smoking cessation programs in the world. Sign up and save 30%.</p>


<p>You can earn 1,000 AIA Vitality Points when you complete a non-smoker's declaration online after 3 months of not smoking</p>
</div>
</div>
<div class="row-fluid ">
<div class="span6 product-box equal-box">
<div class="title">

<h1>Allen Carr's Easyway</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/allen_carr_logo.jpg"></div>


<div class="primary-link">
<span>Savings: <b>30%</b></span>
</div>


<div class="primary-link">

<p>
<a class="find" href="/vmp-au/partners/allen_carrs_easyway">Find out more</a>
</p>

</div>

</div>
</div>
<div class="span6 product-box">
<div class="title">

<h1>Non-smokers declaration</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/improve_your_health/stopsmoke_stopsmoking.jpg"></div>


<div class="primary-link">
<span>By declaring that you are a non-smoker, you earn AIA Vitality Points: 1,000</span>
</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column">
<div class="row-fluid">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/improve_your_health/stopsmoke_howtojoin.png"></a>
</div>
</div>
</div>

</div>
</div>
