<div class="managed-content" id="090040be80385f60">
                
<p>You activated this benefit on ${af_activation_date?if_exists}</p>


<p>
<b>Please note:</b> You will begin earning AIA Vitality Points as soon as you join Virgin Active via the AIA Vitality member portal</p>

</div>
