<div class="managed-content" id="090040be80385f57">
                
<p>As an AIA Vitality member, you will have access to Anytime Fitness at a discounted monthly price of $59.50. Follow the steps below to activate this benefit.</p>


<p>
<b>Step 1: Sign-up online with Anytime Fitness</b>
<br>
Click <a href="https://secure11.clubwise.com.au/afcorporatewellness/pos.asp" target="_blank">here</a> to sign-up online with Anytime Fitness by completing the online form on the Anytime Fitness website.</p>


<ol type="i">

<li>Please enter the unique code <b>AFAIAV</b> as the promotional claim code and click "Apply"</li>


<li>Select the 12-month membership at $59.50 per month.</li>


<li>Complete the remaining part of the online form and <u>make sure to enter your AIA Vitality membership number in the AIA Vitality ID field</u> during the sign-up process.</li>

</ol>


<p>Please note: You will be required to pay a $40 activation fee, and a once-off fee of $59.95 for the key fob device as well as the membership fee for the current month.</p>


<p>
<b>Step 2: Get your key fob device</b>
<br>
Anytime Fitness will send your key fob device to the postal address you provided during the activation process.</p>


<p>
<b>Step 3: Earn AIA Vitality Points</b>
<br>
Start enjoying your work out immediately! Please remember to swipe your key fob device when accessing the gym in order to earn your AIA Vitality Points.</p>

</div>
