<div class="managed-content" id="090040be8038495a">
                
<p>As an AIA Vitality member, you can save 25% on the cost of a Virgin Active Flexible membership. Follow the steps below to activate this benefit:</p>


<p>
<b>Step 1: Activate your benefit</b>
<br>
Click <a href="https://join.virginactive.com.au/vitality.aspx" target="_blank">here</a>&nbsp;to sign-up online with Virgin Active by completing the online form on the Virgin Active website.</p>


<p>Please note: You will be required to pay a once-off $145 activation fee as well as the membership fee for the first 4 weeks. After this, every 2 weeks, we will deduct your Virgin Active membership fee from the bank account you provided during the activation process.</p>


<p>
<b>Step 2: Collect your membership card</b>
<br>
Visit your selected Virgin Active health club to collect your membership card.</p>


<p>
<b>Step 3: Earn AIA Vitality Points</b>
<br>
Start enjoying your workout immediately! Please remember to swipe your card when accessing the gym to earn your AIA Vitality Points.</p>

</div>
