<div class="managed-content" id="090040be8037ac56">
                
<p>
<b>Follow the steps below to activate Weight Watchers Unlimited</b>
</p>


<ul>

<li>Step 1: Please use this ${WWPromoCode}&nbsp;promotional code when signing-up with Weight Watchers.</li>


<li>Step 2: Click <a href="https://signup.weightwatchers.com.au/signup/index.aspx?channelID=201&sponsorID=101&promotionID=1251" target="_blank">here</a> to sign-up for your membership at the discounted monthly rate at Weight Watchers.</li>


<li>Step 3: Pay the discounted rate online using your credit card or PayPal and receive your Weight Watchers membership card.</li>


<li>Step 4: Begin attending the weekly Weight Watchers meetings and/or begin tracking what you eat at Weight Watchers Online to earn AIA Vitality Points.</li>


<li>Step 5: Earn Points</li>

</ul>


<p>To receive points if you have signed up for Weight Watchers Unlimited:</p>


<p>You will receive AIA Vitality Points for attending your Weight Watchers Unlimited meetings, for your weight assessment and for reaching your goal weight. To earn points you must go to your weekly Weight Watchers meetings and report your attendance and weight <a href="/vmp-au/points_submission">here</a> by uploading a scan/photo of your membership card with your group leader&rsquo;s weekly verified weight and attendance record.</p>


<p>To change your Weight Watchers plan selection to Weight Watchers Online, click <a href="weight_watchers/change_promo_code_type">here</a>.</p>

</div>
