<div class="managed-content" id="090040be80369b0d">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12">

<div id="insert_running_man"></div>

</div>


<h3 id="aia_vitality_programme">
<b>AIA Vitality Programme</b>
</h3>


<div class="expander-container include-header">

<div class="expander">

<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>How do I join AIA Vitality?</b>
</div>


<div class="expandable-content">

<p>Speak to your financial adviser about joining AIA Vitality. If you don&rsquo;t have a financial adviser you can contact us on 1800 848 254 or you can fill in <a href="https://home.aiavitality.com.au/join" target="_blank">this form</a>.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>How do I earn Vitality Points?</b>
</div>


<div class="expandable-content">

<p>You earn AIA Vitality Points by engaging in a number of activities focused on helping you know more about your health and improving it. Earn points by getting to know more about your health using our online health assessments or go for health/dental screenings or vaccinations &ndash; it all adds up. Then when you know more about where you need to improve or what you need to maintain, you earn points for healthy activities such as gym, physical exercise, buying HealthyFoodTM items and stopping smoking. Your points add up to help you achieve your AIA Vitality Status &ndash; an indication of how much effort you are making to improve your health. The more points you earn, the higher your status and the greater the rewards you can enjoy.</p>


<p>Please note the AIA Vitality Points you can earn are subject to annual limits. For the summary of activities and points for each activity you can earn in a membership year, click <a href="/vmp-au/points_and_status/earn_points">here</a>.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>What is my Vitality Status?</b>
</div>


<div class="expandable-content">

<p>As you take steps to improve your health, we will award you AIA Vitality Points. Your points add up and help you achieve what we call your AIA Vitality Status. As an AIA Vitality member you start on Bronze Vitality Status. As you get healthier and accumulate points, your status improves from Bronze, to Silver, then Gold and ultimately Platinum! The higher your status, the greater your rewards.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>What rewards can I enjoy when I sign up to AIA Vitality?</b>
</div>


<div class="expandable-content">

<p>As an AIA Vitality member, you can enjoy the following benefits and rewards:</p>


<ul>

<li>Up to 30% discount on fruit and vegetable purchases at Aussie Farmers Direct</li>


<li>Up to 35% savings on fitness monitor devices: Polar and Fitbug</li>


<li>40% off a Step into Life AIA Vitality membership</li>


<li>Exclusive health check rates at Chemmart&reg;</li>

</ul>


<p>Terms and conditions apply. Refer to each <a href="/vitality_aia_au/web/coming_soon.html">partner benefit guide</a> for more info.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>How do I check if my Vitality Points are updated?</b>
</div>


<div class="expandable-content">

<p>Your points should reflect on your AIA Vitality Points Statement within two weeks of completing an activity. They can be checked on your <a href="/vmp-au/points_and_status/vitality_points_statement">AIA Vitality Points Statement</a>, <a href="/vitality_aia_au/web/coming_soon.html">AIA Vitality iPhone app</a> or <a href="/vitality_aia_au/web/coming_soon.html">AIA Vitality Android app</a>. If your AIA Vitality Points are not reflected on your statement, please email us at <a href="mailto:queries@aiavitality.com.au">queries@aiavitality.com.au</a> or call us on 1800 848 254.</p>


<p>Please note for certain activities you may need to scan and email your results to us at <a href="mailto:queries@aiavitality.com.au">queries@aiavitality.com.au</a> to obtain points. Please refer to each <a href="/vitality_aia_au/web/coming_soon.html">partner benefit guide</a> for further details.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>How long do I retain my Vitality Status once I reach it?</b>
</div>


<div class="expandable-content">

<p>Your AIA Vitality Points add up to improve your AIA Vitality Status. You carry over this status to your next policy year and your benefits and discounts are based on this status. Your points however drop to zero and you have to undertake activities to start earning points again.</p>


<p>For example: Claire achieves Gold status in her first year and can instantly enjoy the rewards and benefits as a Gold member. Claire&rsquo;s Gold status will be carried over to the second year and she may continue to enjoy the rewards and benefits of a Gold member. To maintain her Gold membership through to the third year, Claire will need to continue with her wellness activities and accumulate sufficient AIA Vitality Points. If Claire fails to accumulate enough points, her Vitality Status in the third year will be set according to the points she earned in the second year.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>What happens when my Vitality Points are not reflected accurately?</b>
</div>


<div class="expandable-content">

<p>If you believe your AIA Vitality Points are not accurately reflected, please email us at <a href="mailto:queries@aiavitality.com.au">queries@aiavitality.com.au</a> or call us on 1800 848 254. We may need you to provide us with further details such as receipts.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>Can I transfer Vitality Points or benefits to my spouse/children?</b>
</div>


<div class="expandable-content">

<p>AIA Vitality Points and benefits are not transferable to another person/member.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>What happens to my AIA Vitality membership when my AIA insurance policy(s) have matured/ceased?</b>
</div>


<div class="expandable-content">

<p>If one of your AIA insurance policies ceases your AIA Vitality membership will remain valid as long as you have another eligible policy. If you do not have any other eligible AIA policies your AIA Vitality membership will cease when your policy ceases.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>Can I pay for my AIA Vitality membership fees together with my AIA insurance premiums?</b>
</div>


<div class="expandable-content">

<p>The AIA Vitality membership fee will be charged together with your AIA insurance premiums. The billing date of your AIA Vitality membership fee will fall on the same date as your AIA insurance policies.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>How do I renew/cancel my AIA Vitality membership?</b>
</div>


<div class="expandable-content">

<p>Your AIA Vitality membership runs for a period of 12 months from the date you join AIA Vitality and is automatically renewed. You need to inform us of any changes in your payment details to ensure your membership is not cancelled.</p>


<p>Please remember cancelling your AIA Vitality membership will mean losing access to all AIA Vitality rewards and benefits, including the AIA Vitality insurance premium discount.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>How do I pay for my AIA Vitality membership?</b>
</div>


<div class="expandable-content">

<p>Your AIA Vitality membership fee is paid along with your AIA insurance policy premium</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>How do I change my payment mode?</b>
</div>


<div class="expandable-content">

<p>Please email <a href="mailto:queries@aiavitality.com.au">queries@aiavitality.com.au</a> or call us on 1800 848 254 for any changes/queries on payment.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>When do I receive my AIA Vitality membership card?</b>
</div>


<div class="expandable-content">

<p>You will receive your membership card with your welcome pack which is posted once you activate your AIA Vitality welcome email.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>Where do I use the AIA Vitality membership card?</b>
</div>


<div class="expandable-content">

<p>You need to use your AIA Vitality membership card at our partners&rsquo; outlets. Your membership card has your member number which is required for accessing discounts and savings.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>Where can I find my AIA Vitality membership number?</b>
</div>


<div class="expandable-content">

<p>Your AIA Vitality membership number is printed on the back of your AIA Vitality membership card.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>What happens if I lose my AIA Vitality membership card?</b>
</div>


<div class="expandable-content">

<p>If you lose or damage your card, you will need to email us at <a href="mailto:queries@aiavitality.com.au">queries@aiavitality.com.au</a> or call us on 1800 848 254. We will send you your replacement card.</p>

</div>

</div>

</div>


<p>
<br>

</p>


<h3 id="healthy_food">
<b>HealthyFoodTM</b>
</h3>


<div class="expander-container include-header">

<div class="expander">

<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>Which items are HealthyFoodTM items?</b>
</div>


<div class="expandable-content">

<p>All raw fruit and vegetables purchased at Aussie Farmers Direct. This does not include dried fruit and nuts. For more information visit the <a href="/vitality_aia_au/web/coming_soon.html">Aussie Farmers Direct page</a>.</p>

</div>

</div>

</div>


<p>
<br>

</p>


<h3 id="physical_activities">
<b>Physical Activities / Fitness Events</b>
</h3>


<div class="expander-container include-header">

<div class="expander">

<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>Can I earn AIA Vitality Points when I walk/jog?</b>
</div>


<div class="expandable-content">

<p>You can earn up to 100 AIA Vitality Points a day when you walk/ jog using any one of our partner&rsquo;s fitness tracking devices (e.g. Fitbug, Fitbit or Polar). Points are awarded when you upload your exercise details to AIA Vitality. Go to the respective benefit guides for details on how the devices can be linked to points.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>I exercise more than once a day. How will AIA Vitality Points be awarded?</b>
</div>


<div class="expandable-content">

<p>Only one exercise activity a day will be awarded AIA Vitality Points. If you have done more than one activity, we will capture the activity that earns the highest points.</p>


<p>Please note there is a limit of 15,000 points for each membership year for all physical activities, which include: gym, organised fitness events, and physical activities tracked with fitness devices.</p>


<p>Your points will be reflected online on your AIA Vitality Points Statement within 48 hours after your data is uploaded.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>I participated in a marathon event recently. How do I receive AIA Vitality Points for this?</b>
</div>


<div class="expandable-content">

<p>See the list of <a href="/vitality_aia_au/web/coming_soon.html">fitness events</a> for which we award AIA Vitality Points. You will need to submit the event details such as your bib number, results and other information that may be relevant. We will award you points based on the type and distance of the event.</p>


<p>If you are unable to find a specific fitness event, please email us at <a href="mailto:queries@aiavitality.com.au">queries@aiavitality.com.au</a> or call us on 1800 848 254. We may include the event subject to our assessment.</p>

</div>

</div>

</div>


<p>
<br>

</p>


<h3 id="health_check">
<b>AIA Vitality Health Check</b>
</h3>


<div class="expander-container include-header">

<div class="expander">

<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>What is the AIA Vitality Health Check?</b>
</div>


<div class="expandable-content">

<p>The health check is made up of the following measurements:</p>


<ul>

<li>BMI (weight and height ratio)</li>


<li>Blood pressure</li>


<li>Random blood glucose</li>


<li>Total cholesterol</li>

</ul>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>Where can I get the AIA Vitality Health Check?</b>
</div>


<div class="expandable-content">

<p>You may go for a $15 health check at any Chemmart&reg; pharmacy across Australia. You will receive a $5 voucher to spend in-store upon completion.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>How do I earn points for the AIA Vitality Health Check (VHC)?</b>
</div>


<div class="expandable-content">

<p>You will be provided feedback along with your AIA Vitality age in a take home report,. You will be awarded AIA Vitality Points for completing the check and bonus points if your readings are within the recommended healthy range. Results will be automatically uploaded to the AIA Vitality member area and your points will be awarded within 24 hours. Log on to our website <a href="https://www.aiavitality.com.au" target="_blank">aiavitality.com.au</a> after your test to obtain your personal goals to see how AIA Vitality can help you improve or maintain your results</p>


<p>For more information on the benefit, please refer to the <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/aia_vitality_chemmart_benefit_guide.pdf" target="_blank">Chemmart&reg; Benefit Guide</a>
</p>


<p>You will earn up to 1,500 points for each component of the health check (300 for taking each test, 1,200 bonus points if the results are in the recommended healthy range).</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>I went for my AIA Vitality Health Check and the Chemmart&reg; pharmacist told me that my blood glucose levels are higher than the recommended range and recommended I see my doctor for further testing. Why did I still earn AIA Vitality Points for being in the healthy range?</b>
</div>


<div class="expandable-content">

<p>To promote convenient testing for its members, AIA Vitality awards booster points for a random (or unfasted) glucose test reading of values below 7.8mmol/l. Our (Chemmart&reg;) recommended value is less than 5.5mmol/l which is aligned to the ideal range for a fasting test. We would still recommend that you also complete a fasting glucose blood test to provide the most accurate result, based on your individual risk factors.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>There is no Chemmart&reg; Pharmacy where I live. Where can I go for the AIA Vitality Health Check?</b>
</div>


<div class="expandable-content">

<p>If you cannot access a Chemmart&reg; pharmacy you can go to your GP and request a health check consisting of weight, blood pressure, random blood glucose and total cholesterol assessments. To claim AIA Vitality Points, you need to <a href="/vitality_aia_au/web/coming_soon.html">submit proof</a> of your results.</p>

</div>

</div>

</div>


<p>
<br>

</p>


<h3 id="nutrition_assessment">
<b>AIA Vitality Nutrition Assessment</b>
</h3>


<div class="expander-container include-header">

<div class="expander">

<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>I completed an AIA Vitality Nutrition Assessment through an Accredited Practising Dietitian, however I only received 1,300 points. I thought I was entitled to earn 1,500 AIA Vitality Points?</b>
</div>


<div class="expandable-content">

<p>You can complete one AIA Vitality Nutrition Assessment a year. You can earn a maximum of 1,500 points for completing the AIA Vitality Nutrition Assessment and attending Weight Watchers meetings. If you earn points for attending Weight Watchers meetings and then complete the AIA Vitality Nutrition Assessment, we will award points up to the 1,500 point limit.</p>

</div>

</div>

</div>


<p>
<br>

</p>


<h3 id="screening_and_prevention">
<b>Screening and Prevention</b>
</h3>


<div class="expander-container include-header">

<div class="expander">

<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>I recently completed a health screen/vaccination. Can I use the results to earn AIA Vitality Points?</b>
</div>


<div class="expandable-content">

<p>Yes! You can earn AIA Vitality Points for <a href="/vmp-au/know_your_health/screening_and_prevention">specified advanced screenings, vaccinations and dental assessments</a> . To claim your AIA Vitality Points, you need to scan your results and submit them through the <a href="/vitality_aia_au/web/coming_soon.html">online points submission page</a>.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>I had my teeth cleaned at the dentist. Can I claim this item as a dental assessment?</b>
</div>


<div class="expandable-content">

<p>No, a dental assessment is an evaluation performed by a qualified dentist to check if there have been any changes in your dental and medical health status since your last comprehensive or periodic examination.</p>

</div>

</div>

</div>


<p>
<br>

</p>


<h3 id="health_review_goals">
<b>AIA Vitality Health Review, Goals and Clinical Guidelines</b>
</h3>


<div class="expander-container include-header">

<div class="expander">

<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>How is my AIA Vitality Age calculated?</b>
</div>


<div class="expandable-content">

<p>Your AIA Vitality Age estimates the effect of your lifestyle on your life expectancy. It is calculated using your responses to the AIA Vitality Health Review, your results from the AIA Vitality Health Check, and any other data provided from a verified source, for example the AIA Vitality Nutrition Assessment with a nutritionist/dietitian or an AIA Vitality Fitness Assessment. Your AIA Vitality Age maybe higher or lower than your actual age, depending on whether your lifestyle is having a positive or negative effect on your overall health.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>I entered my BMI during the AIA Vitality Health Review (VHR). Why do I not earn AIA Vitality Points for my healthy-range BMI?</b>
</div>


<div class="expandable-content">

<p>AIA Vitality Points for healthy-range results are awarded based on verified data, not from self-reported values. Verified data is data submitted through an AIA Vitality Fitness Assessment, AIA Vitality Health Check, an AIA Vitality Nutrition Assessment with a nutritionist/dietitian or proof of results from a screen at your GP, which you have uploaded using <a href="https://www.aiavitality.com.au" target="_blank">aiavitality.com.au</a>.</p>


<p>You will be awarded 1,000 AIA Vitality Points for completing the VHR but not for the self-reported values that you input during the VHR.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>I am pregnant. Can I still complete my AIA Vitality Health Review (VHR) or AIA Vitality Health Check (VHC)?</b>
</div>


<div class="expandable-content">

<p>If you are pregnant, you can still complete the VHR and VHC to earn AIA Vitality Points. However, certain parts of the program will not apply to you. For example, you will not receive a goal to reduce your weight while you are pregnant. Also, your AIA Vitality Age may not be accurate as the underlying calculations do not take pregnancy into account.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>How are my recommended goals determined?</b>
</div>


<div class="expandable-content">

<p>Recommended goals are based on your health risks, which are determined by your responses to the AIA Vitality Health Review (VHR) and your results from your AIA Vitality Health Check (VHC). The VHR will need to be completed before any goals are recommended. You are given the option to accept the goal after you have completed the VHR.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>How many AIA Vitality Points can I earn in a year from my personal health goals?</b>
</div>


<div class="expandable-content">

<p>While all AIA Vitality members have the opportunity to earn AIA Vitality Points by achieving their health goals, you may earn more if you are at risk than if you are not at risk. Not all members will earn the same amount of points for goals, as they are based on an individual&rsquo;s risk profile.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>Why are the goals recommended to me fewer or more than those recommended to another member?</b>
</div>


<div class="expandable-content">

<p>AIA Vitality recommends goals based on whether your measures are considered to be at risk for your demographic group. The goals that are recommended to you are based on your most significant risks. We may recommend fewer goals if you are not at risk in more than one area; or more goals if you are at risk in more than one area.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>I indicated that I wanted to improve my weight. Why was I not given a goal to achieve this?</b>
</div>


<div class="expandable-content">

<p>Your goal recommendations are based on whether your measures are considered to be at risk for your demographic group. So, if your weight is considered to be a risk to your health, AIA Vitality will recommend a goal for you to lose weight. Ask your doctor for guidance on your ideal weight if you have any concerns.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>Can I create my own goals?</b>
</div>


<div class="expandable-content">

<p>No, as goals are assigned to you by AIA Vitality based on your health risk profile, which is derived from the answers to your AIA Vitality Health Review questions, and other verifiable sources.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>How are my goals tracked?</b>
</div>


<div class="expandable-content">

<p>Goals are tracked using verified results which you submit to us directly, or which our partners submit to us on your behalf and with your consent. Examples include the AIA Vitality Health Check results, and workout data submitted through fitness devices such as Polar, Fitbug and Fitbit.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>I have accepted the goal to lose weight. How will this be verified?</b>
</div>


<div class="expandable-content">

<p>Weight results must be submitted through the AIA Vitality Health Check, AIA Vitality Fitness Assessment, or AIA Vitality Nutrition Assessment with a nutritionist/dietitian. Only weight measurements from a verified source will count toward achieving a goal.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>What happens after my goal expires and I have not achieved it? Would I be able to set the same goal again?</b>
</div>


<div class="expandable-content">

<p>Unless there has been a change to your health profile since the goal was initially recommended, you should be able to select the goal again if you did not achieve it by the expiration date.</p>

</div>


<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>Why are Traditional Chinese Medicine (TCM), acupuncture and vitamins etc not included in the AIA Vitality program?</b>
</div>


<div class="expandable-content">

<p>The AIA Vitality program is based on evidence-based science and aligns to local government authorities or reputable organisations, such as the World Health Organisation. The program does not endorse or recommend any particular treatment and is geared towards changing behavior (e.g. eating healthy food and exercising).</p>


<p>Regarding the use of supplements/vitamins, the program promotes a healthy, balanced diet, choosing from a wide variety of nutrient-rich foods and is based on international best practice guidelines. Dietary supplements should not replace a healthy, balanced diet. They cannot compensate for poor lifestyle practices, such as inactivity, smoking, stress and poor dietary practices that, if continued over time, will increase one&rsquo;s risk for disease. Therefore, they are not included in the program.</p>

</div>

</div>

</div>


<p>
<br>

</p>


<h3 id="smoking_cessation">
<b>Smoking cessation</b>
</h3>


<div class="expander-container include-header">

<div class="expander">

<div class="panel-toggle">
<span class="ui-icon"><span>&nbsp;</span></span><b>What happens if I am unable to stop smoking after attending Allen Carr&rsquo;s Easyway to stop smoking seminar?</b>
</div>


<div class="expandable-content">

<p>Allen Carr&rsquo;s Easyway will refund the full seminar fee if you are still smoking within three months from the date of the first sessions as long as:</p>


<ul>

<li>You do not cancel, postpone or fail to attend any session or arrive over 15 minutes late for any session.</li>


<li>You attend at least two free back-up sessions within three months from date of the first session.</li>

</ul>


<p>Please note you cannot claim the money back guarantee more than 3 months after the third session. For more info, go to the <a href="/vmp-au/partners/allen_carrs_easyway">Allen Carr page</a>.</p>

</div>

</div>

</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/contact_us"><img src="/vitality_aia_au/web/linked_content/images/general/contact_us_promo.jpg"></a>
</div>
</div>
</div>

</div>
</div>
