<div class="managed-content" id="090040be8036a130">
<div class="">
<h1>How to Join</h1>
</div>
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<p>AIA Vitality is the science-backed wellness programme that works with you to make real change to your health by adding up the benefits of every healthy choice you make, however small. So, you can live a healthy life that&rsquo;s rewarding in every way.</p>
</div>
</div>
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>Five reasons to join AIA Vitality</h1>

</div>


<div class="box-content">

<div class="reason_login reason1">

<h3>You gain a partner to better health</h3>


<p>Our program guides you on your way to better health, through useful online and smartphone tools that make working out, eating healthier and tracking your progress easy and enjoyable.</p>

</div>


<div class="reason_login reason2">

<h3>Getting healthier is easier and more accessible</h3>


<p>AIA Vitality&rsquo;s proven approach, helps you enjoy fantastic savings and discounts from our partners that make getting healthier easier and more accessible.</p>

</div>


<div class="reason_login reason3">

<h3>AIA Vitality rewards you for getting healthier</h3>


<p>As you do more healthy activities, you earn more AIA Vitality Points and raise your AIA Vitality Status. The higher your status, the bigger your rewards.</p>

</div>


<div class="reason_login reason4">

<h3>You get to enjoy bigger savings on your insurance premiums</h3>


<p>AIA Vitality offers premium discounts on your insurance plans for your commitment towards healthy living. When you buy a new plan, you&rsquo;ll receive up to 7.5% off your premium; and at each renewal year, you can earn up to a 20% premium discount when you consistently improve your status.</p>

</div>


<div class="reason_login reason5">

<h3>You become part of Vitality, the world's largest science&ndash;backed wellness programme</h3>


<p>With over five million members globally, it&rsquo;s been clinically proven that Vitality members have lower healthcare costs than non-Vitality members.</p>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>How to Join</h1>

</div>


<div class="box-content">

<div class="media">

<p class="pull right">
<img class="media-object" src="/vitality_aia_au/web/linked_content/images/about_us/about_beach_promo.jpg"><br>

</p>


<div class="media-body">

<p>Want to enjoy the full range of savings and rewards AIA Vitality has to offer? AIA Vitality is exclusively available to all AIA policyholders. To find out more about joining AIA Vitality and becoming an AIA policyholder, talk to your financial adviser or contact us <a href="/vmp-au/contact_us">here</a>.</p>


<p>When you&rsquo;ve signed up, you will receive a welcome pack which includes your AIA Vitality membership card. Carry this card everywhere with you &mdash; it&rsquo;s the key to your savings at our partners.</p>


<p>Why wait?</p>


<p>
<a href="${vitality_request_pwd_url?if_exists}">Join AIA Vitality</a> now to enjoy this benefit.</p>


<div class="clearfix">&nbsp;</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="span12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/join_aia_vitality_banner_small.png"></a>
</div>
</div>
</div>
<div class="row row-fluid">
<div class="span12 ">
<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/expertAdvice?linkType=loggedOut"><img src="/vitality_aia_au/web/linked_content/images/general/expertadvice.jpg"></a>
</div>
</div>
</div>
<div class="row row-fluid">
<div class="span12 ">
<div class="banner">
<a href="/vmp-au/improve_your_health/fitness_devices"><img src="/vitality_aia_au/web/linked_content/images/general/fitness_devices_02_promo.jpg"></a>
</div>
</div>
</div>
</div>

</div>
</div>
