<div class="managed-content" id="090040be8036a6b9">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<div id="insert_running_man"></div>


<h1>How AIA Vitality Works</h1>


<p>AIA Vitality is the science-backed wellness programme that works with you to make real change to your health. We keep you motivated by adding up the benefits of every healthy choice you make, however small. So, you can live a healthy life that's rewarding in every way</p>


<p>AIA Vitality's approach can take you on a pathway to better health: you can get to <b>know your health</b>, learn how to <b>improve your health</b> and <b>enjoy the rewards</b> for doing so!</p>


<h2>AIA Vitality comprises 3 steps: <span class="pink">1</span><span class="citrus">2</span><span class="appleGreen">3</span>
</h2>
</div>
</div>
<div class="row-fluid ">
<div class="span4 product-box equal-box">
<div class="title">

<h1>Know your health</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/about_us/about_know_your_health.jpg"></div>


<div class="content-text">
<span class="pink left">1</span> <span>First, complete your AIA Vitality Health Review (VHR) to learn about your health and earn AIA Vitality Points. When you&rsquo;ve completed your VHR, we suggest personal health goals based on your health status. Get even more in touch with your health status by completing our other online assessments and earn AIA Vitality Points as you do!</span>
</div>


<div class="more-info-link pink">
<a href="/vmp-au/know_your_health" target="_top">Learn more</a>
</div>

</div>
</div>
<div class="span4 product-box equal-box">
<div class="title">

<h1>Improve Your Health</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/about_us/about_improve_your_health.jpg"></div>


<div class="content-text">
<span class="citrus left">2</span> <span>Our online tools and access to savings at our wide range of health partners help you work towards achieving your health goals. Plus you earn AIA Vitality Points along the way as you do!</span>
</div>


<div class="more-info-link citrus">
<a href="/vmp-au/improve_your_health" target="_top">Learn more</a>
</div>

</div>
</div>
<div class="span4 product-box equal-box">
<div class="title">

<h1>Enjoy The Rewards</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/about_us/about_rewards.jpg"></div>


<div class="content-text">
<span class="appleGreen left">3</span> <span>Get rewarded for engaging in the program! Enjoy immediate rewards like discounted movie tickets! Then as you work towards improving your health, you earn AIA Vitality Points and improve your AIA Vitality Status. The higher your Vitality status, the greater your savings on travel and shopping!</span>
</div>


<div class="more-info-link appleGreen">
<a href="/vmp-au/rewards" target="_top">Learn more</a>
</div>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/points_and_status/get_to_platinum"><img src="/vitality_aia_au/web/linked_content/images/know_your_health/vfa_rhs_banner_man_on_bike.jpg"></a>
</div>
</div>
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/know_your_health/vitality_health_review"><img src="/vitality_aia_au/web/linked_content/images/general/expertadvice.jpg"></a>
</div>
</div>
<div class="row row-fluid">
<div class="banner">
<a href="/vmp-au/rewards"><img src="/vitality_aia_au/web/linked_content/images/general/fitness_partners_get_active.jpg"></a>
</div>
</div>
</div>

</div>
</div>
