<div class="managed-content" id="090040be80379d7d">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 ">
<div id="insert_running_man"></div>


<h1>Our Partners</h1>


<p>AIA Vitality gives you access to a range of health and fitness partners to help you improve your health and enjoy the rewards as you do. As an AIA Vitality member you get access to our partners' products and services at a discounted rate. Plus you earn AIA Vitality Points while engaging with them! The more points you earn, the higher your AIA Vitality Status &ndash; this means even greater rewards!</p>
</div>
</div>
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>Health Partners</h1>

</div>


<div class="box-content">

<ul class="partner_slider clearfix flexi_slider">

<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/weight_watchers">View</a>
</p>

</div>


<div class="logo">
<img alt="" src="/vitality_aia_au/web/linked_content/images/partners/weight_watchers_logo.png"></div>

</div>


<div class="descr">

<p>Save 30%<br>
Earn up to 1,500 points</p>

</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/know_your_health/vitality_health_check">View</a>
</p>

</div>


<div class="logo">
<img alt="" src="/vitality_aia_au/web/linked_content/images/know_your_health/chemmart_logo.jpg"></div>

</div>


<div class="descr">

<p>Earn up to 6,000 points for your AIA Vitality Health Check</p>

</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/allen_carrs_easyway">View</a>
</p>

</div>


<div class="logo">
<img alt="" src="/vitality_aia_au/web/linked_content/images/about_us/allen_carr_logo.png"></div>

</div>


<div class="descr">

<p>Save 30%<br>
Earn 1,000 points</p>

</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/aussie_farmers_direct">View</a>
</p>

</div>


<div class="logo">
<img alt="" src="/vitality_aia_au/web/linked_content/images/improve_your_health/healthyeating_aussiefarmers.jpg"></div>

</div>


<div class="descr">

<p>Save up to 30%<br>
Earn up to 4,800 points</p>

</div>

</div>

</li>

</ul>

</div>


<p>&nbsp;</p>
</div>
</div>
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>Fitness Partners</h1>

</div>


<div class="box-content">

<ul class="partner_slider clearfix flexi_slider">

<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/polar">View</a>
</p>

</div>


<div class="logo">
<img alt="" src="/vitality_aia_au/web/linked_content/images/about_us/polar_logo.png"></div>

</div>


<div class="descr">

<p>Save 35%<br>
Earn up to 100 points for each workout</p>

</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/fitbug">View</a>
</p>

</div>


<div class="logo">
<img alt="" src="/vitality_aia_au/web/linked_content/images/about_us/fitbug_logo.png"></div>

</div>


<div class="descr">

<p>Save 25%<br>
Earn up to 100 points for each workout</p>

</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/fitbit">View</a>
</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/points_and_status/fitbit_logo.png"></div>

</div>


<div class="descr">

<p>Save 25%<br>
Earn up to 100 points for each workout</p>

</div>

</div>

</li>



<li style=" list-style-image: none; list-style-type: none;">

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/step_into_life">View</a>
</p>

</div>


<div class="logo">
<img alt="" src="/vitality_aia_au/web/linked_content/images/improve_your_health/step_into_life.png"></div>

</div>


<div class="descr">

<p>Save 40%<br>
Earn 100 points for each workout</p>

</div>

</div>

</li>


<li style=" list-style-image: none; list-style-type: none;">

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/anytime_fitness">View</a>
</p>

</div>


<div class="logo">
<img alt="" src="/vitality_aia_au/web/linked_content/images/improve_your_health/anytimefitness.png"></div>

</div>


<div class="descr">

<p>Discounted membership fee of $59.950<br>
Earn up to $75 cashback per quarter<br>
Earn 100 points for each workout</p>

</div>

</div>

</li>


<li style=" list-style-image: none; list-style-type: none;">

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/virgin_active">View</a>
</p>

</div>


<div class="logo">
<img alt="" src="/vitality_aia_au/web/linked_content/images/improve_your_health/virginactive.png"></div>

</div>


<div class="descr">

<p>Save 25%<br>
Earn 100 points for each workout</p>

</div>

</div>

</li>


<li style=" list-style-image: none; list-style-type: none;">

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/fernwood">View</a>
</p>

</div>


<div class="logo">
<img alt="" src="/vitality_aia_au/web/linked_content/images/improve_your_health/fernwood.png"></div>

</div>


<div class="descr">

<p>Save 15%<br>
Earn 100 points for each workout</p>

</div>

</div>

</li>

</ul>

</div>
</div>
</div>
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>Rewards</h1>

</div>


<div class="box-content">

<ul class="partner_slider clearfix flexi_slider">

<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/myer">View</a>
</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/partner_logo_myer.png"></div>

</div>


<div class="descr">

<p>$50 voucher when you earn 5,000 points</p>

</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/qantas">View</a>
</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/partners/qantas_logo.png"></div>

</div>


<div class="descr">

<p>Save up to 35%</p>

</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/hoyts">View</a>
</p>

</div>


<div class="logo">
<img alt="" src="/vitality_aia_au/web/linked_content/images/rewards/hoyts_logo.png"></div>

</div>


<div class="descr">

<p>AIA Vitality-discounted movie vouchers from $5</p>

</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/insurance_premium_discount">View</a>
</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/insurance_premium_discount_logo.gif"></div>

</div>


<div class="descr">

<p>Save up to 20%</p>

</div>

</div>

</li>


<li>

<div class="promo_block">

<div class="partner_logo">

<div class="view_label">

<p>
<a href="/vmp-au/partners/endota">View</a>
</p>

</div>


<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/partners/endota-sml.png"></div>

</div>


<div class="descr">

<p>Save up to 35%</p>

</div>

</div>

</li>

</ul>

</div>


<p>&nbsp;</p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div>${our_partners_banner?if_exists}</div>
</div>
</div>

</div>
</div>
