<div class="managed-content" id="090040be803bb5be">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>HOYTS Cinema</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/hoyts_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>As an AIA Vitality member, you get access to AIA Vitality discounted movie vouchers which you can redeem at HOYTS Cinemas. With your AIA Vitality subsidised vouchers, you get to enjoy movies from only $5.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/hoyts_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Because we want you to relax and enjoy the rewards of your healthy efforts, you can buy up to 5 discounted movie vouchers each week.</p>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log into access this benefit and view the full terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/hoyts_logo.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>As an AIA Vitality member, you get access to AIA Vitality discounted movie vouchers which you can redeem at HOYTS Cinemas.</p>


<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality now</a> to enjoy this benefit</p>



<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions</p>

</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">

<p>
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/howtojoin_lo.png"></a>
</p>

</div>
</div>
</div>
</div>

</div>
</div>
