<div class="managed-content" id="090040be8041887c">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div id="insert_running_man"></div>


<div class="product-box">

<div class="title">

<h1>Myer</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/partner_logo_myer.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Myer is Australia&rsquo;s largest department store group, and a leader in Australian retailing. They stock all your favourite brands and cater for a variety of ages and tastes.</p>


<p>AIA Vitality rewards your efforts to get and stay healthy with Myer Gift Cards.</p>


<p>It&rsquo;s simple, when you reach Silver, Gold and Platinum AIA Vitality Status you&rsquo;re rewarded with Myer Gift Cards to spend in-store at Myer stores across Australia.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/partner_logo_myer.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Your Myer Gift Cards are based on your AIA Vitality Status:</p>


<table class="table table-condensed table-bordered rd_transpose">

<tr>

<td><b>AIA Vitality Status</b></td>
<td><b>Myer Gift Card amount</b></td>

</tr>


<tr>

<td>Silver (10,000 points)</td>
<td>$60</td>

</tr>


<tr>

<td>Gold (20,000 points)</td>
<td>$140</td>

</tr>


<tr>

<td>Platinum (30,000 points)</td>
<td>$200</td>

</tr>

</table>


<ul>

<li>Myer Gift Cards are available to AIA Vitality members on attaining Silver, Gold or Platinum AIA Vitality status.</li>


<li>The gift cards are available for download on the Get Started tab above.</li>


<li>The gift cards must be downloaded within six months of reaching the applicable status.</li>


<li>The gift cards can be used&nbsp; towards &nbsp;purchases at Myer stores across Australia subject to Myer gift card terms and conditions.</li>


<li>View a full set of rules for the Myer benefit&nbsp;<a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/MyerBF.pdf" target="_blank">here</a>.</li>

</ul>


</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/partner_logo_myer.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<div id="insert_self_issued_vouchers"></div>


<ul>

<li>You must activate the gift cards within six months of achieving the applicable status.</li>


<li>Your gift cards are valid for 12 months.</li>


<li>Activate each gift card by clicking the &lsquo;Activate&rsquo; link.</li>


<li>Use your gift cards towards any purchase at Myer stores across Australia subject to Myer gift card terms and conditions.</li>


<li>To find your nearest Myer store visit <a href="http://www.myer.com.au/shop/mystore/StoreLocator" target="_blank">www.myer.com.au/shop/mystore/StoreLocator</a>.</li>


<li>View a full set of rules for the Myer benefit <a href="/vitality_aia_au/web/linked_content/pdfs/benefit_guides/MyerBF.pdf" target="_blank">here</a>.</li>


<li>Once activated, you can view your gift card balance at anytime by clicking &lsquo;Download&rsquo; above.</li>

</ul>

</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/tools/overview"><img src="/vitality_aia_au/web/linked_content/images/general/active_promo.jpg"></a>
</div>
</div>
</div>
</div>

</div>
</div>
