<div class="managed-content" id="090040be80414cd4">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="product-box">

<div class="title">

<h1>Myer</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class=" assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/partner_logo_myer.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Myer is Australia&rsquo;s largest department store group, and a leader in Australian retailing. They stock all your favourite brands and cater for a variety of ages and tastes.</p>


<p>AIA Vitality rewards your efforts to get and stay healthy with with Myer Gift Cards.</p>


<p>It&rsquo;s simple, when you reach Silver, Gold and Platinum AIA Vitality Status you&rsquo;re rewarded with Myer Gift Cards to spend in-store at Myer stores across Australia.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/partner_logo_myer.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>Your Myer Gift Cards are based on your AIA Vitality Status:</p>


<table class="table table-condensed table-bordered rd_transpose">

<tr>

<td><b>AIA Vitality Status</b></td>
<td><b>Voucher amount</b></td>

</tr>


<tr>

<td>Silver</td>
<td>$60</td>

</tr>


<tr>

<td>Gold</td>
<td>$140</td>

</tr>


<tr>

<td>Platinum</td>
<td>$200</td>

</tr>

</table>


<ul>

<li>Myer Gift Cards are offered to AIA Vitality members on attaining Silver, Gold or Platinum AIA Vitality Status.&nbsp;The gift cards are available at each AIA Vitality Status.</li>

</ul>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="assessment-logo">

<div class="logo">
<img src="/vitality_aia_au/web/linked_content/images/rewards/partner_logo_myer.png"></div>


<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>


<div class="assessment-content">

<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality now</a> to enjoy this benefit.</p>

</div>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/join_aia_vitality_banner_small.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
