<div class="managed-content" id="090040be803bb940">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row-fluid ">
<div class="span12 product-box">
<div class="title">

<h1>Qantas</h1>

</div>


<div class="box-content">

<div class="tabbable">

<div class="clearfix">

<div class="tabsPartners">

<ul class="top nav">

<li class="active">
<a data-toggle="tab" href="#about">About</a>
</li>


<li>
<a data-toggle="tab" href="#need_to_know">Need to Know</a>
</li>


<li>
<a data-toggle="tab" href="#get_started">Get Started</a>
</li>

</ul>

</div>

</div>


<div class="tab-content top-tabs-content">

<div class="tab-pane active" id="about">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/qantas_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8 assessment-content">

<p>Fly to over 1000 domestic and international destinations with Asia Pacific's Best Airline 2013.</p>


<p>As an AIA Vitality member, you can save up to 35% when you book Qantas tickets.</p>

</div>

</div>


<div class="tab-pane" id="need_to_know">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/qantas_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8 assessment-content">"&gt; 

<p>Your discount is based on your AIA Vitality Status at the time of booking:</p>


<table class="table table-border table-condensed">

<tr>

<th>Status-based Discount</th>
<th>% Discount</th>

</tr>


<tr>

<td>Bronze</td>
<td>8%</td>

</tr>


<tr>

<td>Silver</td>
<td>12%*</td>

</tr>


<tr>

<td>Gold</td>
<td>20%*</td>

</tr>


<tr>

<td>Platinum</td>
<td>35%*</td>

</tr>

</table>


<p>* Limited to two (2) flights each year. After this limit is reached, all AIA Vitality members, regardless of status, can continue to travel at the 8% (Bronze) discount level.</p>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions</p>


<p>
<a class="underline_text" href="/vmp-au/terms_and_conditions" target="_blank">Terms and conditions apply</a>
</p>

</div>

</div>


<div class="tab-pane" id="get_started">

<div class="span4 assessment-logo">

<div>
<img class="logo image-float-left" src="/vitality_aia_au/web/linked_content/images/partners/qantas_logo.png"> 

<div>
<a class="btn_blue float-left" href="/vmp-au/partners"><span class="arrowVitalityPoints">See all partners</span></a>
</div>

</div>

</div>


<div class="span8 assessment-content">

<p>
<a href="/vmp-au/how_to_join">Join AIA Vitality</a> now to enjoy this benefit.</p>


<p>For full terms and conditions regarding this benefit please speak to your financial adviser. AIA Vitality members can log in to access this benefit and view the full terms and conditions.</p>

</div>

</div>

</div>

</div>

</div>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="https://www.livingvitality.aiavitality.com.au/lv-aia-au/community"><img src="/vitality_aia_au/web/linked_content/images/general/comunity_join_banner.jpg"></a>
</div>
</div>
</div>
</div>

</div>
</div>
