<div class="managed-content" id="090040be8045b180">
<div class="row row-fluid">
              
               
                
<div class="span8 col-md-8 col-sm-12">
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<div class="banner-container">

<div class="carousel content-banner interval_6">

<div class="carousel-inner">

<div class="item active">
<a href="/vmp-au/how_to_join"><img alt="" class="img-rounded border1" src="/vitality_aia_au/web/linked_content/images/general/home_joinaia_lo.jpg"></a>
</div>


<div class="item">
<a href="/vmp-au/know_your_health"><img alt="" class="img-rounded border1" src="/vitality_aia_au/web/linked_content/images/general/home_know_lo.jpg"></a>
</div>


<div class="item">
<a href="/vmp-au/improve_your_health"><img alt="" class="img-rounded border1" src="/vitality_aia_au/web/linked_content/images/general/home_improve_lo.jpg"></a>
</div>

</div>

</div>

</div>


<p>&nbsp;</p>
</div>
</div>
<div class="row ">
<div class="col-md-12 col-sm-12 ">
<p>AIA Australia introduces Vitality, the science-backed, incentivised health and wellness program that rewards every healthy choice you make.</p>


<p>As you embark on your journey to know and improve your health, AIA Vitality keeps you motivated with fantastic savings and rewards. What&rsquo;s more, your insurance premiums can also be lower.</p>


<p>There&rsquo;s never been a better time to enjoy the perks of a healthy lifestyle.</p>
</div>
</div>
<div class="row ">
<div class="col-md-6 col-sm-6 ">
<div class="product-box equal-box">

<div class="title">

<h1>Join AIA Vitality</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/general/home_join_aia_vitality.jpg"></div>


<div class="content-text">

<p>To join AIA Vitality and enjoy all the savings and rewards, you need to first get covered under an eligible AIA Australia life insurance policy through your financial adviser and become a member of AIA Vitality. Talk to your financial adviser today or contact us to help you find one.</p>

</div>


<div class="more-info-link">
<a href="http://home.aiavitality.com.au/join">Find a financial adviser</a>
</div>

</div>

</div>
</div>
<div class="col-md-6 col-sm-6 ">
<div class="product-box equal-box">

<div class="title">

<h1>Know your health</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/general/home_know_your_health.jpg"></div>


<div class="content-text">

<p>Knowing and understanding your health is the first step to improving it. Earn AIA Vitality Points by completing various health assessments that help you understand your current health status and how to improve it.</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/know_your_health">Find out more</a>
</div>

</div>

</div>
</div>
</div>
<div class="row ">
<div class="col-md-6 col-sm-6 ">
<div class="product-box equal-box">

<div class="title">

<h1>Improve your health</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/general/home_improve_your_health.jpg"></div>


<div class="content-text">

<p>Once you know more about your health, we help you improve it. Take advantage of a full range of activities that get you in better shape inside and out, from exercising to eating well, even getting screened for many aspects of your health. Plus, you earn AIA Vitality Points for every activity you participate in.</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/improve_your_health">Find out more</a>
</div>

</div>

</div>
</div>
<div class="col-md-6 col-sm-6 ">
<div class="product-box equal-box">

<div class="title">

<h1>Enjoy the Rewards</h1>

</div>


<div class="box-content">

<div class="main-img">
<img src="/vitality_aia_au/web/linked_content/images/general/home_rewards.jpg"></div>


<div class="content-text">

<p>Build up your AIA Vitality Status when you earn points for your healthy choices and you can enjoy even better rewards. Enjoy great savings on AIA insurance premiums and at our health and lifestyle partners, including discounted health foods, clothing and movies.</p>

</div>


<div class="more-info-link">
<a href="/vmp-au/rewards">More on Rewards</a>
</div>

</div>

</div>


<p></p>
</div>
</div>
</div>
                
<div class="span4 right-column col-md-4 col-sm-6">
<div class="row row-fluid">
<div class="col-md-12 col-sm-12 ">
<div class="banner">
<a href="/vmp-au/how_to_join"><img src="/vitality_aia_au/web/linked_content/images/general/financially_rewarded_lo.jpg"></a>
</div>


<div class="banner">
<a href="http://home.aiavitality.com.au/qantas_promo" target="_blank"><img src="/vitality_aia_au/web/linked_content/images/general/logged_out_qantas_campaign.png"></a>
</div>
</div>
</div>
</div>

</div>
</div>
