<div class="managed-content" id="090040be8037d7d4">
                
<div class="banner-container">

<div class="controlled-carousel carousel slide" id="promo2-carousel">

<div class="carousel-inner">${non_smoker_decla_banner?if_exists} ${gym_partner_banner?if_exists} ${fitness_device_banner?if_exists} ${ofe_banner?if_exists} ${default_banner?if_exists}</div>


<div class="btn_controls">
<a class="carousel-control left" data-slide="prev" href="#promo2-carousel">&nbsp;</a> <a class="carousel-control right" data-slide="next" href="#promo2-carousel">&nbsp;</a>
</div>

</div>

</div>

</div>
