<div class="managed-content" id="090040be803d636a">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/knowyourhealth01.png"> 

<p class="left_side">Complete a <b>Dental Assessment</b> and earn 500 AIA Vitality Points.</p>


<a class="btn sky_blue left_side" href="/vmp-au/know_your_health/screening_and_prevention">Find out more</a>
</div>

</div>
