<div class="managed-content" id="090040be803b6ec7">
                
<div class="banner-container">

<div class="promo-carousel slide" id="kyh-carousel">

<div class="carousel-inner">

<div class="item">${vhr_banner?if_exists}</div>


<div class="item">${mwba_banner?if_exists}</div>


<div class="item">${fa_banner?if_exists}</div>


<div class="item">${vna_banner?if_exists}</div>


<div class="item">${da_banner?if_exists}</div>


<div class="item">${challenge_default_banner?if_exists}</div>


<div class="item">${food_tracker_default_banner?if_exists}</div>


<div class="item">${fitness_blog_default_banner?if_exists}</div>


<div class="item">${weight_watchers_default_banner?if_exists}</div>


<div class="item">${sil_default_banner?if_exists}</div>


<div class="item">${allen_carr_default_banner?if_exists}</div>


<div class="item">${ofe_default_banner?if_exists}</div>

</div>

</div>

</div>

</div>
