<div class="managed-content" id="090040be803d6366">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/healthyrelaxed01.png"> 

<p class="left_side">Complete the <b>Mental Wellbeing Assessments</b> online and earn 400 AIA Vitality Points .</p>


<a class="btn sky_blue left_side" href="/vmp-au/know_your_health/mental_wellbeing">Start now</a>
</div>

</div>
