<div class="managed-content" id="090040be803d635b">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/knowyourhealth02.png"> 

<p class="left_side">Complete the <b>AIA Vitality Health Review</b> online and earn 1,000 AIA Vitality Points.</p>


<a class="btn sky_blue left_side" href="/vmp-au/know_your_health/vitality_health_review">Start now</a>
</div>

</div>
