<div class="managed-content" id="090040be803d6355">
                
<div class="promo_banner">
<img src="/vitality_aia_au/web/linked_content/images/banners/improvefood02.png"> 

<p class="left_side">Complete an <b>AIA Vitality Nutrition Assessment</b> and earn 1,500 AIA Vitality Points.</p>


<a class="btn sky_blue left_side" href="/vmp-au/know_your_health/vitality_nutrition_assessment">Start now</a>
</div>

</div>
