<div class="managed-content" id="090040be8037a18d">
                
<div class="product-box">

<div class="title blue">

<h1>Your AIA Vitality Age</h1>

</div>


<div class="box-content">

<p>Your AIA Vitality Age can provide a general indication of how healthy you are relative to your real age. Fill out the <a href="/vmp-au/know_your_health/vitality_health_review">Vitality Health Review</a>&nbsp; to find out your AIA Vitality Age.</p>


<p class="center">
<a class="btn_blue dialog_trigger" data-target="vitality_age" href="#">What does your AIA Vitality Age mean?</a>
</p>


<p class="center">
<a class="btn_blue" href="/vmp-au/know_your_health/health_results">What are your main health risks?</a>
</p>

</div>

</div>


<div class="dialog_content" data-title="What is your Vitality Age" id="vitality_age">

<p>Your AIA Vitality Age indicates how healthy you are relative to your real age: your body may be younger (healthier) or older (less healthy) than your actual age, depending on your health and lifestyle risk factors. The calculation is based on extensive clinical and scientific research. There may also be other factors that determine your health risks. The AIA Vitality Health Check, Fitness Assessment and Nutrition Assessments are other important methods of assessing your health status. Alternatively, visit your doctor for a more detailed consultation.</p>

</div>


<p>&nbsp;</p>

</div>
